<div id="header" class="navbar-fixed-top">
    <a id="header-brand" href="#">
        <img src="components/header/img/logo.png" alt="logo">
    </a>
    <div id="header-title" class="hidden-xs">
        <span style="cursor: pointer" ng-click="back()" class="icon25 icon25-back" ng-if="hasBack()"></span>
        <span>{{console.state | stateTitleFilter}}</span>
    </div>
    <div id="header-menu">
        <a class="icon25 icon25-msg" href="javascript:;" uib-tooltip="消息" tooltip-placement="bottom">
            <div class="header-dot"></div>
        </a>
        <a class="icon25 icon25-guide" href="javascript:;" uib-tooltip="指南" tooltip-placement="bottom"></a>

        <span uib-dropdown on-toggle="toggled(open)">
            <a href="javascript:;" id="user-menu" uib-dropdown-toggle>
                <img src="components/header/img/user-icon-default.png" alt="icon" class="hidden-xs">
                <span>{{user.metadata.name}} | {{namespace}}&nbsp;&nbsp;</span>
                <i class="fa fa-chevron-circle-down" style="color: #e6e9f2;"></i>
            </a>
            <ul uib-dropdown-menu aria-labelledby="user-menu" style="max-height: 300px;overflow-y: scroll;top:45px;">
                <li ng-repeat="project in projects">
                    <a href="javascript:;" ng-click="setNamespace(project.metadata.name)">{{project.metadata.name}}</a>
                </li>
                <li role="separator" class="divider"></li>
                <li><a href="javascript:;" ng-click="logout()">退出</a></li>
            </ul>
        </span>
    </div>
</div>