#header {
    height: 70px;
    background: #f8b551;
}
#header #header-brand {
    padding-left: 27px;
    padding-right: 27px;
    height: 100%;
    background-color: #f6a540;
    float: left;
}

#header #header-brand img {
    padding-top: 10px;
    padding-bottom: 7px;
    height: 100%;
}
#header #header-brand:hover {
    background-color: #f8b551;
}
#header #header-brand img {
    padding-bottom: 13px;
    height: 100%;
}
#header #header-title {
    float: left;
    margin-left: -25px;
    color: #5a6378;
    padding: 20px 15px 22px 40px;
    font-size: 18px;
}
#header #header-menu {
    height: 100%;
    padding-right: 40px;
    float: right;
}
#header #header-menu .icon25 {
    margin: 22px 50px 23px 0;
    position: relative;
}
.icon25-msg {
    background-image: url(img/icon-msg.png);
}
.icon25-msg:hover {
    background-image: url(img/icon-msg-hover.png);
}
.icon25-guide {
    background-image: url(img/icon-guide.png);
}
.icon25-guide:hover {
    background-image: url(img/icon-guide-hover.png);
}
.icon25-back {
    background-image: url(img/back.png);
}
.icon25-back:hover {
    background-image: url(img/back-hover.png);
}
#header .header-dot {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: red;
    position: absolute;
    right: -5px;
    top: -5px;
}
#header #user-menu {
    text-decoration: none;
    color: #5a6378;
}
#header #user-menu img {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    margin-right: 15px;
}
.projectname{
    /*padding:0px 10px;*/
}
.projectname  > li {
    margin-top: 0px;
    padding:0px;
    height: 52px;
    border-bottom: 1px solid #dfe4ef;
}

.projectname > li:hover {
    margin-top: 0px;
    padding:0px;
    height: 52px;
    line-height: 52px;
}
.projectname>.personal>a{
    color: #F8B551;
    line-height: normal;
}
.projectname>.personal>a>span{
    color: #0f0f0f;
}
.projectname > li > a {
    width: 100%;
    height: 60px;
    line-height: 60px;
    display: block;
}
.dropdown-menu{
    padding:0px;
    box-shadow:none;

}
.dropdown-menu > li > a{
    font-size:12px;
    padding-top:0px;
    padding-bottom:0px;
    display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}

.dropdown-menu > li > a:hover{
    background: #dfe4ef;
}
.dropdown-menu > li > a > label{
    color: #f8b551;
    padding-top: 7px;
}
/*20160920 jia begin*/
.dropdown-menu{min-width:200px;}

/*20160920 jia end*/
@media (max-width: 758px) {
    #header {
        height: 50px;
    }
    #header #header-menu .icon25 {
        margin: 12px 30px 12px 0;
        position: relative;
    }
    #header #header-menu {
        padding-right: 15px;
    }
}
.dropdownbw{
    min-width:150px;
}
.dropdownbw li{
    padding:5px 0px;text-align: center;
    cursor: pointer;
    color: #5a6378;
}
.dropdownbw li:hover{
    background: #f8b551;
}