<div id="header" class="navbar-fixed-top">
    <a id="header-brand" href="#">
        <img src="components/header/img/logo.png" alt="logo">
    </a>
    <div id="header-title" class="hidden-xs">
        <span style="float: left;cursor: pointer; margin-right: 10px" ng-click="back()" class="icon25 icon25-back" ng-if="hasBack()">

        </span>
        <span style='float: left;'>{{console.state | stateTitleFilter}}</span>
    </div>
    <div id="header-menu">
        <a class="icon25 icon25-msg" ui-sref="console.notification" uib-tooltip="消息" tooltip-placement="bottom">
            <div class="header-dot"></div>
        </a>
        <!--<a class="icon25 icon25-guide" href="javascript:;" uib-tooltip="指南" tooltip-placement="bottom"-->
        <!--</a>-->

        <span uib-dropdown on-toggle="toggled(open)">
            <a href="javascript:;" id="user-menu" uib-dropdown-toggle>
                <img src="components/header/img/user-icon-default.png" alt="icon" class="hidden-xs">
                <span>{{user.metadata.name}} | {{checked}}&nbsp;&nbsp;</span>
                <i class="fa fa-chevron-circle-down" style="color: #e6e9f2;"></i>
            </a>
            <ul class="projectname" uib-dropdown-menu
                aria-labelledby="user-menu" style="max-height: 300px;overflow-y: scroll;top:45px;">
                <li class='personal'>
                    <a href="javascript:;" ng-click='gotomy()' ui-sref='console.user'>{{namespace}}
                        <br/>
                        <span>切换到个人账户</span>
                    </a>
                </li>
                <li class='personal' ng-repeat='org in userorgs'>
                    <a href="javascript:;" ng-click='goto($index)' ui-sref='console.org({useorg:org.id})'>{{org.name}}
                        <br/>
                        <span>切换到组织账户</span>
                    </a>
                </li>
                <li ng-repeat="project in projects | orderBy: 'metadata.name'">
                    <a href="javascript:;" ng-click="setNamespace(project.metadata.name)">{{project.metadata.name}}</a>
                </li>
                <!--<li role="separator" class="divider"></li>-->
                <li>
                    <a href="javascript:;" ng-click="logout()">退出登录</a>
                </li>
            </ul>
        </span>
    </div>

</div>