.navbar-default {
    background: #f8b551;
    border: none;
    box-shadow: none;
}
.navbar-nav>li>a {
    padding-top: 11px;
    padding-bottom: 11px;
}
#header-title {
    padding: 25px 15px 20px 40px;
    font-size: 18px;
    color: #5a6378;
}
.navbar-default .navbar-toggle {
    margin-top: 18px;
}
.navbar-brand {
    width: 200px;
    height: 70px;
    padding: 0;
    background: url(img/logo.png) #f6a540;
}
#header-msg, #header-guide {
    overflow: hidden;
    margin: 23px 25px;
    padding: 0;
    display: block;
    width: 24px;
    height: 24px;
    text-indent: 9999px;
}
#header-msg {
    background-image: url(img/icon-msg.png);
}
#header-msg:hover {
    background-image: url(img/icon-msg-hover.png);
}
#header-guide {
    background-image: url(img/icon-guide.png);
}
#header-guide:hover {
    background-image: url(img/icon-guide-hover.png);
}
#header-msg-new {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: red;
    position: absolute;
    right: 17px;
    top: 17px;
}
#header-user-icon {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    margin-right: 15px;
}
.icon25-back {
    background-image: url(img/back.png);
}
.icon25-back:hover {
    background-image: url(img/back-hover.png);
}