<div class="date-pick">

    <div uib-dropdown auto-close="disabled">
        <input class="form-control" uib-dropdown-toggle value="{{dt | date: 'yyyy-MM-dd hh:mm:ss'}}" />
        <span style="color: #c9c9c9;"> — </span>
        <input class="form-control" uib-dropdown-toggle value="{{dt | date: 'yyyy-MM-dd hh:mm:ss'}}" />
        <ul uib-dropdown-menu>
            <li>
                <uib-datepicker ng-model="dt"></uib-datepicker>
            </li>
        </ul>
    </div>

    <style>
        .date-pick {

        }
        .date-pick .form-control {
            width: 150px;
            display: inline-block;
            color: #c9c9c9;
            font-size: 12px;
        }
        .date-pick ul {
            border: 1px solid #c9c9c9;
            border-radius: 2px;
            padding: 20px;
        }
        .date-pick .btn {
            color: #666;
        }
        .date-pick .uib-left, .date-pick .uib-right {

        }
    </style>

</div>
