<div id="deployments" style="background:#fff;padding:20px 40px 40px;">
    <style>
        #creat:focus {
            color: #ffffff;
        }
        
        #creatbtn:hover {
            z-index: 0;
        }
    </style>

    <div>
        <div style="margin-right:0;margin-left:-15px;">
            <div class="col-sm-4 col-xs-4 serv_jia_btn new_deploycol" style="" role="group" aria-label="">
                <div class="btn-group " role="group">
                    <a id="creatbtn" class="btn btn-green " ui-sref="console.service_create">
                        <i class="fa fa-plus fa-lg"></i>
                        <span class=""> 新建部署</span>
                    </a>
                    <button type="button" id="creat" class="btn dropdown-toggle ser_drp_set" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <!--<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                    <!--Dropdown-->
                    <!--<span class="caret"></span>-->
                    <!--</button>-->
                    <ul class="dropdown-menu quick_menu">
                        <!--<li ui-sref="console.service_create" ><a href="#">新建服务</a></li>-->
                        <li class="quick_bs" ui-sref="console.quick_deploy"><a href="#">快速部署</a></li>
                    </ul>

                </div>

                <a class="btn build-jia" ng-click="reload()" style="display:inline-block;">
                    <!-- height: 34px;width: 36px;padding: 5px 5px; jias 20161027 change-->
                    <i class="fa fa-refresh fa-lg"></i>
                </a>
            </div>
            <div class="col-sm-4">
                <!--<a class="btn btn-green" ui-sref="console.quick_deploy" style="margin-right:20px;">-->
                <!--<i class="fa fa-plus fa-lg"></i>-->
                <!--<span class="hidden-xs"> 快速部署</span>-->
                <!--</a>-->
            </div>

            <div class="input-group col-sm-4 searchbar">
                <input type="text" class="form-control" placeholder="搜索服务名称" ng-keyup=search($event) ng-model="grid.txt">
                <!--ng-model="txt" ng-focus="showTip=true;" -->
                <span class="input-group-btn">
                        <a class="btn" ng-click="search('search')"></a>
                    </span>
            </div>
        </div>
        <div class="table-responsive" style="margin-top: 20px;">
            <table class="table table-hover table-default">
                <tr>
                    <th style="vertical-align: middle;padding-top:13px;padding-bottom:13px;">Name</th>
                    <th style="vertical-align: middle;padding-top:13px;padding-bottom:13px;">Last Version</th>
                    <th style="vertical-align: middle;padding-top:13px;padding-bottom:13px;">Status</th>
                    <th style="vertical-align: middle;padding-top:13px;padding-bottom:13px;">Created</th>
                    <th style="vertical-align: middle;padding-top:13px;padding-bottom:13px;">Trigger</th>
                </tr>
                <!--<tr ng-repeat="bc in items">-->
                <!--<tr ng-repeat="deployments in items">-->
                    <tr ng-repeat="deployments in deploymentOneItem">
                        <td data-title="Name" style="white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow: hidden;display:block">

                            <a class="href-orange" ui-sref="console.deploymentconfig_detail({name: deployments.metadata.name})">{{deployments.metadata.name}}</a>

                        </td>
                        <td data-title="Last Version">
                            <span ng-if="deployments.status.latestVersion >0" style="color: #f6a540;cursor: pointer;" ui-sref="console.rc({name:deployments.rc.metadata.name})">{{deployments.status.latestVersion}}</span>
                            <span ng-if="deployments.status.latestVersion ==0">No deployments</span>
                        </td>
                        <td data-title="Status">
                            <div row class="status" ng-if="deployments.status.latestVersion>0">
                                <status-icon status="deployments.rc | deploymentStatus" disable-animation></status-icon>
                                <span flex>
                                        {{deployments.rc | deploymentStatus}}<span ng-if="(deployments.rc | deploymentStatus) == 'Active' || (deployments.rc | deploymentStatus) == 'Running'">,
                                        <span ng-if="deployments.rc.spec.replicas !== deployments.rc.status.replicas">{{deployments.rc.status.replicas}}/</span> {{deployments.rc.spec.replicas}} replica<span ng-if="deployments.rc.spec.replicas != 1">s</span></span>
                                </span>
                            </div>
                        </td>
                        <td data-title="Created">
                            <span ng-if="deployments.status.latestVersion>0" uib-tooltip="{{deployments.metadata.creationTimestamp  | timescon}}">
                                {{deployments.metadata.creationTimestamp | dateRelative}}
                            </span>
                        </td>
                        <td data-title="Trigger">
                            <span ng-if="!deployments.status.details.causes.length && deployments.status.latestVersion>0">Unknown</span>
                            <span ng-if="deployments.status.details.causes.length && deployments.status.latestVersion>0">
                                <span ng-repeat="cause in deployments.status.details.causes">
                                    <span ng-switch="cause.type">
                                        <span ng-switch-when="ImageChange">
                                            <span ng-if="cause.imageTrigger.from">
                                                <abbr title="{{cause.imageTrigger.from | imageObjectRef : null : true}}">Image</abbr> change
                                            </span>
                            </span>
                            <span ng-switch-when="ConfigChange">Config change</span>
                            <span ng-switch-default>{{cause.type}}</span>
                            </span>
                            </span>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <!-- <td data-title="Trigger">{{deployments.status.details.message}}</td> -->
                    </tr>
                    <tr>
                        <td colspan="7" style="text-align: center;background: #fff;position:relative" ng-if="items.length===0">
                            <p class="blank_block"> <span class="blank_tit"> {{text}}</span></p>
                        </td>
                    </tr>
            </table>
            <div class="text-center" ng-if="grid.total > 10" class="table_mar_top" style="">
                <uib-pagination class="pagination pagination-sm" ng-model="grid.page" total-items="grid.total"
                                items-per-page="grid.size" boundary-links="false" max-size="12" rotate="true"
                                previous-text="<"
                                next-text=">">
                </uib-pagination>

            </div>

        </div>
        <div class="table-responsive" style="margin-top: 20px;" ng-show="deploymentTwoItem.length>0">
            <table class="table table-hover table-default">
                <tr>
                    <th style="vertical-align: middle;padding-top:13px;padding-bottom:13px;">Name</th>
                    <th style="vertical-align: middle;padding-top:13px;padding-bottom:13px;">Last Version</th>
                    <th style="vertical-align: middle;padding-top:13px;padding-bottom:13px;">Replicas</th>
                    <th style="vertical-align: middle;padding-top:13px;padding-bottom:13px;">Created</th>
                    <th style="vertical-align: middle;padding-top:13px;padding-bottom:13px;">Trigger</th>
                </tr>
                <!--<tr ng-repeat="bc in items">-->
                <!--<tr ng-repeat="deployments in mydeploylist">-->
                <tr ng-repeat="deployment in deploymentTwoItem | orderObjectsByDate : true">
                    <td data-title="Name">
                        <a class="href-orange" ui-sref="console.deployment_detail({name: deployment.metadata.name})">{{deployment.metadata.name}}</a>

                    </td>
                    <td data-title="Last Version">
                        <span>
                          <a class="href-orange" ui-sref="console.rs({name:deployment.rs.metadata.name})" style="color: #f6a540;cursor: pointer;">{{deployment | lastDeploymentRevision}}</a>
                        </span>
                    </td>
                    <td data-title="Replicas">
                        <span>{{deployment.status.replicas}}/</span>{{deployment.spec.replicas}} replica<span ng-if="deployment.spec.replicas != 1">s</span>
                    </td>
                    <td data-title="Created">
                        <span uib-tooltip="{{deployment.metadata.creationTimestamp  | timescon}}">
                                {{deployment.metadata.creationTimestamp | dateRelative}}
                            </span>
                    </td>
                    <td data-title="Strategy">
                        {{deployment.spec.strategy.type | sentenceCase}}
                    </td>
                </tr>
                    <tr>
                        <!-- <td data-title="Trigger">{{deployments.status.details.message}}</td> -->
                    </tr>
                    <tr>
                        <td colspan="7" style="text-align: center;background: #fff;position:relative" ng-if="deploymentTwoItem.length===0">
                            <p class="blank_block"> <span class="blank_tit"> {{text}}</span></p>
                        </td>
                    </tr>
            </table>

            <div class="text-center" ng-if="gridTwo.total > 10" class="table_mar_top" style="">
                <uib-pagination class="pagination pagination-sm" ng-model="gridTwo.page" total-items="gridTwo.total"
                                items-per-page="gridTwo.size" boundary-links="false" max-size="12" rotate="true"
                                previous-text="<"
                                next-text=">">
                </uib-pagination>

            </div>
        </div>
    </div>


</div>
<style>
    .new_deploycol a :hover{
        color:#fff;
    }
</style>