
<div class="pay_wechat">
    <div class="pay_header">
        <div class="pay_l">
            <img src="pub/img/pay_logo.png" class="pay_logo">
            <span class="pay_tit">收银台</span>
        </div>
    </div>
    <div class="pay_number">
        <div class="num_l">
            <p class="pay_num pd_num">订单编号：<span>{{num}}</span></p>
            <p class="pay_kind">订单类型：<span>扫码支付</span></p>
        </div>
        <div class="num_r">
            <p class="pay_money">应付金额&ensp;<span>{{amount}}</span>&ensp;元</p>
        </div>
    </div>

    <div class="pay_main">
        <h3 class="wx_tit">微信支付</h3>

        <div class="pay_er">
            <div id="code"></div>
            <img src="pub/img/pay_detail.png" class="pay_detail">
            <!--<a ui-sref="console.pay"  target="_blank"></a>-->
        </div>

    </div>

    <div class="pay_footer this_footer">
        <p>© 2016 版权所有 北京亚信智慧数据科技有限公司 京ICP备11005544号-15 京公网安备110108007119号</p>
    </div>


</div>





