<div id="user">
    <uib-tabset class="tab-default">
        <uib-tab index="1">
            <uib-tab-heading>
                <span id="inside"></span>&nbsp;&nbsp;站内通知
            </uib-tab-heading>

        </uib-tab>

        <uib-tab index="2">
            <uib-tab-heading>
                <span id="account"></span>&nbsp;&nbsp;账户消息
            </uib-tab-heading>

        </uib-tab>

        <uib-tab index="3">
            <uib-tab-heading>
                <span id="warning"></span>&nbsp;&nbsp;事件警告
            </uib-tab-heading>

        </uib-tab>

    </uib-tabset>
</div>


