<div id="user">
    <uib-tabset class="tab-default">
        <uib-tab index="1">
            <uib-tab-heading>
                <i class="noticebg"></i>&nbsp;&nbsp;站内通知
            </uib-tab-heading>
            <messlist type="zhannei"></messlist>
        </uib-tab>
        <uib-tab index="2">
            <uib-tab-heading>
                <i class="msgbg"></i>&nbsp;&nbsp;账户消息
            </uib-tab-heading>
            <messlist type="user"></messlist>

        </uib-tab>
        <uib-tab index="3">
            <uib-tab-heading>
                <i class="warningbg"></i>&nbsp;&nbsp;事件警告
            </uib-tab-heading>
            <messlist type="event"></messlist>

        </uib-tab>

    </uib-tabset>
</div>


