<div class="dashboard">
    <div class="firstline">
        <div class="block block-left col-md-6">
            <table class="table">
                <h2>账户信息</h2>
                <thead class="thead-inverse">
                <tr>
                    <th>Jingxy</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <p>账户余额</p>
                        <p>300.00元</p>
                        <a href="javascript:;" class="btn btn-green">充值</a>
                    </td>
                    <td>
                        <p>套餐信息</p>
                        <p>20元/月</p>
                    </td>
                    <td>
                        <p>可用代金券</p>
                        <p>0张</p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="block block-right col-md-6">
            <h2>资源统计</h2>
        </div>
    </div>
    <div class="secondline col-md-12">
        <h2>资源监测</h2>
    </div>
    <div class="thirdline col-md-12">
        <h2>统计数值</h2>
        <div class="col-md-3">容器</div>
        <div class="col-md-3">服务</div>
        <div class="col-md-3">后端服务</div>
        <div class="col-md-3">应用</div>
    </div>

    <style>
        .dashboard h2 {
            font-size: 14px;
            font-weight: bold;
        }
    </style>
</div>