<div class="dashboard">
    <div class="firstline">
        <div class="block block-left col-md-6">
            <h2>账户信息</h2>
            <table class="table info">
                <thead class="thead-default">
                <tr>
                    <th colspan="3">{{user.metadata.name}}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <p>账户余额</p>
                        <p><span>300.00</span>元</p>
                        <a href="javascript:;" id="recharge" class="btn btn-green">充值</a>
                    </td>
                    <td>
                        <p>套餐信息</p>
                        <p><span>20</span>元/月</p>
                    </td>
                    <td>
                        <p>可用代金券</p>
                        <p><span>0</span>张</p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="block block-right col-md-6">
            <h2>资源统计</h2>
            <div class="row">
                <div class="col-md-6" >
                    <highchart ng-show="isdata.CpuorMem" config="pieConfigCpu"></highchart>
                </div>
                <div class="col-md-6" >
                    <highchart ng-show="isdata.CpuorMem" config="pieConfigMem"></highchart>
                </div>
            </div>
        </div>
    </div>
    <div class="secondline col-md-12" ng-show="isdata.charts">
        <h2>资源监测</h2>
        <div style="width: 100%;">
            <highchart config="chartConfig"></highchart>
        </div>
    </div>
    <div class="thirdline col-md-12">
        <h2>统计数值</h2>
        <div class="selection ban2">
            <div style="border-right: 1px solid #c9c9c9">
                <a ui-sref="console.service">
                    <p class="num">{{podList}}</p>
                    <img src="pub/img/images_06.png"><br>
                    <a href="javascript:;">POD</a>
                </a>
            </div>
        </div>
        <div class="selection ban2">
            <div style="border-right: 1px solid #c9c9c9">
                <a ui-sref="console.service">
                    <p class="num">{{dcList}}</p>
                    <img src="pub/img/images_08.png"><br>
                    <a href="javascript:;">服务</a>
                </a>
            </div>
        </div>
        <div class="selection ban2">
            <div style="border-right: 1px solid #c9c9c9">
                <a ui-sref="console.backing_service">
                    <p class="num">{{bsiList}}</p>
                    <img src="pub/img/images_10.png"><br>
                    <a href="javascript:;">后端服务实例</a>
                </a>
            </div>
        </div>
        <div class="selection ban2">
            <div>
                <a href="javascript:;">
                    <p class="num">-</p>
                    <img src="pub/img/images_12.png"><br>
                    <a href="javascript:;">应用</a>
                </a>
            </div>
        </div>
    </div>

    <style>
        #highcharts-10 {
            width:1036px !important;
        }
        /*color:blue !important*/
        .selection {
            position: relative;
        }
        .selection img {
            margin-bottom: 10px;
        }
        .ban {
            float: left;
            width: 50%;

        }
        .ban2 {
            padding-top: 20px;
            float: left;
            width:25%;
            text-align: center;
        }

        .dashboard h2 {
            font-size: 14px;
            font-weight: bold;
        }
        .dashboard .info {
            text-align: center;
        }
        .dashboard .firstline .block-left h2 {
            margin-bottom: 20px;
        }
        .dashboard .firstline .block-left .info > tbody > tr > td > p {
            margin-top: 10px;
        }
        .dashboard .firstline .block-left .info > thead > tr {
            background-color: #e6e9f2;
            border: none;
        }
        .dashboard .firstline .block-left .info > thead > tr > th {
            border: none;
        }
        .dashboard .firstline .block-left .info > tbody > tr > td{
            background: #f2f4f8;
            border: none;
        }
        .dashboard .firstline .block-left .info > tbody > tr > td:hover {
            background: #e2e5ee;
        }
        .dashboard .firstline .block-left .info > tbody > tr > td > p > span {
            color: #e5993a;
        }
        .dashboard .thirdline .selection {
            padding-bottom: 10px;
        }
        .dashboard .thirdline .selection:hover {
            background-color: #f2f4f8;
            border-bottom: 7px solid #e5993a;
        }
        .dashboard .thirdline p {
            font-size:14px;
            text-align: center;
        }
        .dashboard .thirdline a {margin-bottom: 20px;
            color: #5a6378;
        }
        .dashboard .thirdline .num {
            font-size: 32px;
            font-weight: 500;
            /*font-size: 18px;*/
            color: #e5993a;
        }
        #recharge {
            color: white;
        }
    </style>
</div>