<div class="loading-box" ng-show='loaded'>
    <div class="loader">
        <div class="loader-inner ball-clip-rotate-multiple">
            <div></div>
            <div></div>
        </div>
    </div>
</div>
<div class="df_frame" id="create_secret" confull-height>
    <form class="form-horizontal" name="frm">
        <div class="panel panel-default">
            <div class="panel-heading" style="padding: 0;line-height: 0;">
                <span class="df_tit create_secret_tit">新建配置卷</span>
            </div>
            <div class="panel-body">
                <div class="row" style="margin-bottom: 20px;">
                    <div class="col-sm-2 require text-left create_secret_name" style="width: 120px;">配置卷名称</div>
                    <div class="col-sm-10" style="padding: 0;">
                        <input ng-model="volume.metadata.name"
                               ng-class="{'err':namerr.nil||namerr.rexed||namerr.repeated}"
                               type="text" name="username"
                               ng-blur="nameblur()"
                               onkeypress="if((event.keyCode > 31 && event.keyCode < 44) || (event.keyCode > 46 && event.keyCode < 48) || (event.keyCode > 57 && event.keyCode < 65) || (event.keyCode > 90 && event.keyCode < 97))event.returnValue = false;"
                               ng-focus="namefocus()"
                               class="form-control create_secret_name_ipt"
                               placeholder="名称只能包含小写字母">
                        <small ng-if="namerr.nil" class="fa fa-info-circle err-tip">请输入正确构建名称
                        </small>
                        <small ng-if="namerr.rexed" class="fa fa-info-circle err-tip">
                            请输入4~30位名称,名称只能包含小写英文、数字以及“-”(不能以数字开头)
                        </small>
                        <small ng-if="namerr.repeated" class="fa fa-info-circle err-tip">输入的名称已重复
                        </small>
                    </div>
                </div>
                <div class="row" ng-if="volume.configitems.length" style="position: relative;">
                    <div class="require"
                         style="width: 120px;font-size: 12px;position: absolute;top: 0;left:15px;z-index: 100;">
                        配置卷文件
                    </div>
                    <div class="row" ng-repeat="item in volume.configitems" style="margin-bottom: 15px;">
                        <div class="col-sm-2 col-md-2" style="width: 120px;"></div>
                        <div class="col-sm-10 col-md-10">
                                <!--<div class="col-sm-2 col-md-2 create_secret_file"></div>-->
                                <div class="col-sm-12 col-md-12 create_secret_content">
                                    <div style="padding: 15px;border-radius: 2px;">
                                        <p class="create_secret_key">
                                            <span>键</span>
                                            <span ng-click="deletekv($index)" class="create_secret_delete">
                                    <i class="uex-icon-cross"></i></span>
                                        </p>
                                        <p class="create_secret_content_p">
                                            <input class="form-control create_secret_content_ipt"
                                                   ng-class="{'err':item.err.key.repeated||item.err.key.rexed||item.err.key.nil}"
                                                   type="text" placeholder="请输入键"
                                                   ng-model="item.key">
                                        </p>
                                        <small ng-if="item.err.key.nil" class="err-tip">
                                            <i
                                                    class="fa fa-info-circle"></i>&nbsp;key值为空
                                        </small>
                                        <small ng-if="item.err.key.rexed" class="err-tip">
                                            <i
                                                    class="fa fa-info-circle"></i>&nbsp;key值不合法
                                        </small>
                                        <small ng-if="item.err.key.repeated" class="err-tip">
                                            <i
                                                    class="fa fa-info-circle"></i>&nbsp;key值重复
                                        </small>
                                        <p class="create_secret_content_p create_secret_content_addfile">
                                            <span>值</span>
                                            <span class="create_secret_add" ng-click="addFile($index)">
                                                <i class="uex-icon-add"></i>
                                                添加文件
                                                <input type="file" id="file-input" class="upload_addfile upLoadFile"
                                                       value="选择"/>
                                            </span>
                                            <span class="create_secret_delete" ng-if="item.value"
                                                  ng-click="clearCode($index)">清空代码</span>
                                        </p>
                                        <p class="create_secret_content_p">
                                            <textarea ng-model="item.value" class="testt"></textarea>
                                        </p>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="line-height: 12px;">
                    <div class="col-sm-2" style="width: 120px"></div>
                    <div class="col-sm-10" style="padding-left: 0;" ng-click="AddConfigurationFile()">
                        <span style="cursor:pointer;font-size: 12px;color: #47B2FB;">
                            <i class="uex-icon-add" style="margin-right: 5px;"></i>添加配置文件
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </form>
    <div class="creatfooter" style="">
        <a href="javascript:;" class="btn create btn-orange btn-resources"
           style="color: white;font-size: 12px;" ng-click="cearteconfig()">创建配置卷</a>
    </div>
</div>
<style>
    #file-input {
        position: absolute;
        right: 0;
        top: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        width: 110px;
        height: 24px
    }

    #create_secret .err {
        border: 1px solid red;
    }
    /*.create_secret_content_p .err {*/
        /*border: 1px solid red;*/
    /*}*/

    .create_secret_tit {
        font-size: 12px;
        color: #1F2D3D;
        line-height: 16px;
    }

    .create_secret_name {
        color: #5a6378;
        font-size: 12px;
        text-align: left;
        font-weight: normal;
    }

    .create_secret_name_ipt {
        width: 358px;
        height: 26px;
        color: #A2B0C4;
    }

    .create_secret_name_ipt:hover {
        border: 1px solid #47B2FB;
    }

    .create_secret_file {
        margin-top: 10px;
        color: #5a6378;
        font-size: 12px;
        text-align: left;
        font-weight: normal;
    }

    .create_secret_content {
        padding: 0;
        width: 889px;
        height: 230px;
        border: solid 1px #e0e6ed;
        border-radius: 2px;
    }

    .create_secret_key {
        width: 100%;
        margin: 0;
        font-size: 12px;
    }

    .create_secret_delete {
        cursor: pointer;
        font-size: 12px;
        float: right;
        color: #47B2FB;
    }

    .create_secret_add {
        cursor: pointer;
        font-size: 12px;
        color: #47B2FB;
        margin-top: 5px;
        padding-left: 20px;
    }

    .create_secret_content_p {
        width: 100%;
        margin: 5px 0 0;
        font-size: 12px;
    }

    .create_secret_content_addfile {
        position: relative;
        margin-top: 15px;
    }

    .upload_addfile {
        position: absolute;
        left: 2%;
        top: 0;
        cursor: pointer;
        opacity: 0;
        z-index: 10;
    }

    .create_secret_content_ipt {
        width: 358px;
        height: 26px;
        border-radius: 4px;
        font-size: 12px;
        color: #A2B0C4;
        padding-left: 10px;
        margin-top: 5px;
    }

    .create_secret_content_ipt:hover {
        border: 1px solid #47B2FB;
    }

    .testt {
        padding: 10px;
        font-size: 12px;
        line-height: 20px;
        background: none;
        color: #A2B0C4;
        height: 300px;
        word-break: break-all;
        word-wrap: break-word;
        white-space: pre-wrap;
        display: block;
        max-height: 100px;
        width: 100%;
        max-width: 100%;
        border: solid 1px #e0e6ed;
        border-radius: 2px;
        resize: none;
    }
</style>