<div id='secret_d' class="secret_detail df_frame">
    <div class="loader" ng-show="!item">
        <div class="loader-inner ball-clip-rotate-multiple">
            <div></div>
            <div></div>
        </div>
    </div>
    <div ng-show="item">
        <!-- module common 公共-->
        <div class="module-heading">
            <div class="module_block_l">
                <div class="img-block"></div>
                <div class="img-detail">
                    <p class="img-tit">{{item.metadata.name}}</p>
                    <p class="img-time">
                        <span classs="module_tit">创建时间：</span>
                        <span class="module_time">
                                    {{item.metadata.creationTimestamp | timescon}}</span>
                    </p>
                </div>
            </div>
            <div class="module_block_r">
                <a class="btn btn-gray pull-right"
                   style=" padding: 6px 12px; margin-left: 15px;font-size:14px;" ng-click="delete()">
                    <i class="uex-icon-delete"></i>
                </a>
            </div>
        </div>
        <!-- module common 公共-->
        <uib-tabset class="tab-default tab-jia-default" active="active">
            <uib-tab index="1">
                <uib-tab-heading style="width: 300px; margin-left: 20px; margin-right: 20px">
                    <!-- <i class="icon20 icon20-paper"></i>  -->
                    密钥卷信息
                </uib-tab-heading>
                <div style="border: solid 1px #E0E6ED;" ng-repeat="item in item.secretarr">
                    <div class="row" style="margin: 0;">
                        <div style="padding: 15px;">
                            <p class="create_secret_key">
                                <span>键</span>
                                <span ng-click="deleteOriginkv($index)" class="create_secret_delete">
                                    <i class="uex-icon-delete"></i>
                                </span>
                            </p>
                            <p class="create_secret_content_p">
                                <input class="create_secret_content_ipt" type="text" placeholder="请输入键"
                                       ng-model="item.key">
                            </p>
                            <p class="create_secret_content_p create_secret_content_addfile">
                                <span>值</span>
                                <span class="create_secret_delete" ng-click="clearOriginCode($index)">清空代码</span>
                            </p>
                            <p class="create_secret_content_p">
                                <textarea ng-model="item.value" class="testt"></textarea>
                            </p>
                        </div>
                    </div>
                </div>
                <div style="border: solid 1px #E0E6ED;margin-top: 10px;" ng-repeat="item in item.newarr">
                    <div class="row" style="margin: 0;">
                        <div style="padding: 15px;">
                            <p class="create_secret_key">
                                <span>键</span>
                                <span ng-click="deletekv($index)" class="create_secret_delete">
                                    <i class="uex-icon-delete"></i>
                                </span>
                            </p>
                            <p class="create_secret_content_p">
                                <input class="create_secret_content_ipt" type="text" placeholder="请输入键"
                                       ng-model="item.key">
                            </p>
                            <p class="create_secret_content_p create_secret_content_addfile">
                                <span>值</span>
                                <span class="create_secret_add" ng-click="addFile($index)">
                                    <i class="uex-icon-add"></i>
                                    添加文件
                                    <input type="file" id="file-input" class="upload_addfile" value="选择"/>
                                </span>
                                <span class="create_secret_delete" ng-show="item.isClearCode"
                                      ng-click="clearCode($index)">清空代码</span>
                            </p>
                            <p class="create_secret_content_p">
                                <textarea ng-model="item.value" class="testt"></textarea>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-left: 0;">
                    <div class="col-sm-12" style="padding-left: 0;" ng-click="AddConfigurationFile()">
                        <span class="uex-icon-add" style="cursor:pointer;font-size: 12px;color: #47B2FB;">添加配置文件</span>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
        <div class="row">
            <div class="col-md-12">
                <a href="javascript:;" ng-if="grid.status" class="btn btn-block create btn-orange"
                   style="margin: 0 auto; margin-top: 35px; color: white;"
                   ng-click="updateSecret()">保存修改</a>
                <a href="javascript:;" ng-if="!grid.status" disabled="disabled" class="btn btn-block create"
                   style="background-color: #ccc;margin: 0 auto; margin-top: 35px;font-size:12px; color: white;">保存修改</a>
            </div>
        </div>
    </div>


    <style>
        #secret_d #file-input {
            position: absolute;
            right: 0;
            top: 0;
            opacity: 0;
            filter: alpha(opacity=0);
            width: 110px;
            height: 24px;
            cursor: pointer;
        }

        #secret_d .tab-default li.active .nav-link,
        #secret_d .tab-default li.active .nav-link:focus,
        #secret_d .tab-default li.active .nav-link:hover {
            border: none;
            border-bottom: 2px solid #47B2FB;
            color: #47B2FB;
        }

        #secret_d .href-add:hover {
            color: #98D4FD
        }

        #secret_d .href-add:active {
            color: #168DDE
        }

        .container-fluid input {
            border: 1px solid #c9c9c9;
        }

        .container-fluid input:hover {
            border: 1px solid #47B2FB
        }

        /*-------change style----*/

        .create_secret_key {
            width: 100%;
            margin: 0;
            font-size: 12px;
        }

        .create_secret_delete {
            cursor: pointer;
            font-size: 12px;
            float: right;
            color: #47B2FB;
        }

        .create_secret_add {
            cursor: pointer;
            font-size: 12px;
            color: #47B2FB;
        }

        .create_secret_content_p {
            width: 100%;
            margin: 10px 0 0;
            font-size: 12px;
        }

        .create_secret_content_addfile {
            position: relative;
        }

        .upload_addfile {
            position: absolute;
            left: 2%;
            top: 0;
            cursor: pointer;
            opacity: 0;
            z-index: 10;
        }

        .create_secret_content_ipt {
            width: 358px;
            height: 26px;
            border-radius: 2px;
            font-size: 12px;
            color: #A2B0C4;
        }

        .uex-icon-delete:before {
            content: '\e925';
        }

        .uex-icon-add:before {
            content: '\e913';
        }

        .testt {
            font-size: 12px;
            line-height: 20px;
            background: none;
            border: none;
            color: #333333;
            height: 300px;
            word-break: break-all;
            word-wrap: break-word;
            white-space: pre-wrap;
            display: block;
            max-height: 100px;
            width: 100%;
            max-width: 100%;
            border: solid 1px #e0e6ed;
        }
    </style>
</div>
