<div class="secret_detail">
    <div class="panel panel-default" style="margin-bottom: 50px">
        <div class="panel-heading">
            <span class="panel-title">
                <span class="icon25 secreticon"></span>&nbsp;&nbsp;{{item.metadata.name}}
            </span>
            <a class="btn btn-gray pull-right" style=" padding: 5px 10px; margin-left: 15px; height:34px; width:36px" ng-click="delete()"><i class="fa fa-trash-o fa-lg"></i></a>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4">
                    <div class="media media-sm">
                        <div class="media-left">
                            <img class="media-object" src="views/build_detail/img/images_104.png">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">更新时间</h4>
                            <small style="color: #5a6378;" uib-tooltip="{{item.metadata.creationTimestamp | timescon}}">{{item.metadata.creationTimestamp | dateRelative}}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <uib-tabset class="tab-default" active="active">
        <uib-tab index="1">
            <uib-tab-heading style="width: 300px;">
                <i class="icon20 icon20-paper"></i> 密钥信息
            </uib-tab-heading>
            <div class="row">
                <div class="col-md-2">
                    <p>手动配置</p>
                </div>
                <div class="col-md-2">
                    <a href="javascript:;" class="href-add" style="margin-left: -20px" ng-click="addSecret()">
                        <i class="fa fa-plus-circle fa-lg"></i>&nbsp;&nbsp;添加密钥项
                    </a>
                </div>
                <div class="col-md-8">
                    <small class="fa fa-info-circle err-tip">&nbsp;请至少保留一个密钥项</small>
                </div>
            </div>
            <div class="panel panel-default" style="width: 840px; margin-top: 30px; margin-left: 60px;">
                <div class="panel-heading" style="height: 50px">
                    <div class="row">
                        <div class="col-md-6">
                            <p style="padding-left: 25px">KEY</p>
                        </div>
                        <div class="col-md-6">
                            <p>VALUE</p>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row" style="padding: 20px 0px 20px 25px; position: relative" ng-repeat="(k,v) in item.data">
                        <div class="col-md-6">
                            <input type="text" style="width: 340px" ng-model="k">
                        </div>
                        <div class="col-md-6">
                            <input type="text" style="width: 340px;" ng-model="v">
                            <a href="javascript:;" style="text-decoration: none; color: #9fa7b7; margin-left: 20px; position: absolute; top: 6px;" class="fa fa-times-circle "></a>
                        </div>
                    </div>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>
</div>