<div id="stateful-sets-detail">
    <uib-tabset class="tab-default tab-image-jia-defautl" active="check">
        <uib-tab index="1">
            <uib-tab-heading>
                <i class="myimage"></i>&nbsp;&nbsp;Details
            </uib-tab-heading>
                <div class="row matgin-bt">
                    <div class="col-md-2">Status:</div>
                    <div class="col-md-10"> <status-icon status="statefulSet | deploymentStatus"></status-icon>{{statefuldetail | deploymentStatus}}</div>
                </div>
            <div class="row matgin-bt">
                <div class="col-md-2">Replicas:</div>
                <div class="col-md-10">{{statefuldetail.status.replicas}} replica</div>
            </div>
            <div class="row matgin-bt">
                <div class="col-md-2">CONTAINER:</div>
                <div class="col-md-10">{{statefuldetail.metadata.name}}</div>
            </div>
            <div class="row matgin-bt">
                <div class="col-md-2">Command:</div>
                <div class="col-md-10"><span ng-repeat="command in statefuldetail.spec.template.spec.containers[0].command">{{command}}&nbsp;&nbsp;</span></div>
            </div>
            <div class="row matgin-bt" ng-repeat="mount in statefuldetail.spec.template.spec.containers[0].volumeMounts">
                <div class="col-md-2">Mount:</div>
                <div class="col-md-10">{{mount.name}}<span ng-if="mount.subPath">{{mount.subPath}}</span>&#8201;&#8594;&#8201;<span>{{mount.mountPath}}</span>
                   </div>
            </div>
            <div class="row matgin-bt">
                <div class="col-md-2">Ports:</div>
                <div class="col-md-10">{{statefuldetail.spec.template.spec.containers[0].ports[0].containerPort}}/{{statefuldetail.spec.template.spec.containers[0].ports[0].protocol}}</div>
            </div>
            <div class="row matgin-bt">
                <div class="col-md-2">CPU:</div>
                <div class="col-md-10">{{statefuldetail.spec.template.spec.containers[0].resources.limits.cpu}} to {{statefuldetail.spec.template.spec.containers[0].resources.requests.cpu}} </div>
            </div>
            <div class="row matgin-bt">
                <div class="col-md-2">Memory:</div>
                <div class="col-md-10">{{statefuldetail.spec.template.spec.containers[0].resources.requests.memory}} to {{statefuldetail.spec.template.spec.containers[0].resources.limits.memory}} </div>
            </div>
            <div class="row matgin-bt">
                <div class="col-md-2">Readiness Probe:</div>
                <div class="col-md-10">GET{{statefuldetail.spec.template.spec.containers[0].readinessProbe.httpGet.path}} on {{statefuldetail.spec.template.spec.containers[0].readinessProbe.httpGet.port}} 2379 ({{statefuldetail.spec.template.spec.containers[0].readinessProbe.httpGet.scheme}})<small>
                    {{statefuldetail.spec.template.spec.containers[0].readinessProbe.initialDelaySeconds}}s delay, {{statefuldetail.spec.template.spec.containers[0].readinessProbe.timeoutSeconds}}s timeout</small></div>
            </div>
            <div class="row matgin-bt">
                <div class="col-md-2">Liveness Probe: </div>
                <div class="col-md-10">GET{{statefuldetail.spec.template.spec.containers[0].livenessProbe.httpGet.path}} on {{statefuldetail.spec.template.spec.containers[0].livenessProbe.httpGet.port}} 2379 ({{statefuldetail.spec.template.spec.containers[0].readinessProbe.httpGet.scheme}})<small>
                    {{statefuldetail.spec.template.spec.containers[0].livenessProbe.initialDelaySeconds}}s delay, {{statefuldetail.spec.template.spec.containers[0].livenessProbe.timeoutSeconds}}s timeout</small></div>
            </div>
            <h4 ng-if="statefuldetail.spec.volumeClaimTemplates" style="border-bottom: 1px solid #c9c9c9;padding:15px 0;color:#666;">volumeClaimTemplates</h4>
            <div ng-repeat="template in statefuldetail.spec.volumeClaimTemplates">
                <div class="row matgin-bt">
                    <div class="col-md-2">Storage claim:</div>
                    <div class="col-md-10">{{template.metadata.name}}</div>
                </div>
                <div class="row matgin-bt">
                    <div class="col-md-2" >Access Modes:</div>
                    <div class="col-md-10"><span ng-repeat="mode in template.spec.accessModes">{{mode}}<span ng-if="!$last">, </span></span></div>
                </div>
                <div class="row matgin-bt">
                    <div class="col-md-2">Capacity:</div>
                    <div class="col-md-10">{{template.spec.resources.requests.storage}}</div>
                </div>
            </div>
            <h4 style="border-bottom: 1px solid #c9c9c9;padding:15px 0;color:#666;">Volumes</h4>
            <div ng-if="statefuldetail.spec.template.spec.volumes"  ng-repeat="volume in statefuldetail.spec.template.spec.volumes">
                <div class="row matgin-bt">
                    <div class="col-md-2">volumeName:</div>
                    <div class="col-md-10">{{volume.name}}</div>
                </div>
                <div ng-if="volume.secret" style="padding-top: 20px;">
                    <div class="row matgin-bt" >
                        <div class="col-md-2">Type:</div>
                        <div class="col-md-10">secret<span class="small text-muted">(populated by a secret when the pod is created)</span></div>
                    </div>
                    <div class="row matgin-bt" >
                        <div class="col-md-2">Secret:</div>
                        <div class="col-md-10"> <a class="href-orange" ui-sref="console.secret_detail({name: volume.secret.secretName})">{{volume.secret.secretName}}</a></div>
                    </div>
                    <div class="row matgin-bt" ng-repeat="item in volume.secret.items">
                        <div class="col-md-2">Key to File:</div>
                        <div class="col-md-10">{{item.key}}&#8201;&#8594;&#8201;{{item.path}}</div>
                    </div>
                </div>
                <div ng-if="volume.configMap" style="padding-top: 20px;">
                    <div class="row matgin-bt" >
                        <div class="col-md-2">Type:</div>
                        <div class="col-md-10">config map<span class="small text-muted">((populated by a config map)</span></div>
                    </div>
                    <div class="row matgin-bt" >
                        <div class="col-md-2">Secret:</div>
                        <div class="col-md-10"><a class="href-orange" ui-sref="console.config_detail({name: volume.configMap.name})">{{volume.configMap.name}}</a></div>
                    </div>
                    <div class="row matgin-bt" ng-repeat="item in volume.configMap.items">
                        <div class="col-md-2">Key to File:</div>
                        <div class="col-md-10">{{item.key}}&#8201;&#8594;&#8201;{{item.path}}</div>
                    </div>
                </div>
                <div ng-if="volume.persistentVolumeClaim" style="padding-top: 20px;">
                    <div class="row matgin-bt" >
                        <div class="col-md-2">Type:</div>
                        <div class="col-md-10">persistent volume claim<span class="small text-muted">(reference to a persistent volume claim)</span></div>
                    </div>
                    <div class="row matgin-bt" >
                        <div class="col-md-2">Claim name:</div>
                        <div class="col-md-10"><a class="href-orange" ui-sref="console.constantly_detail({name:volume.persistentVolumeClaim.claimName})">{{volume.persistentVolumeClaim.claimName}}</a></div>
                    </div>
                    <div class="row matgin-bt">
                        <div class="col-md-10" ng-if="volume.persistentVolumeClaim.readOnly">read-only</div>
                            <div class="col-md-10" ng-if="!volume.persistentVolumeClaim.readOnly">read-write</div>
                    </div>
                </div>

            </div>
            <div ng-if="!statefuldetail.spec.template.spec.volumes" class="row matgin-bt"><div class="col-md-10">none</div></div>
            <h4 style="padding:15px 0;color:#666;">Pods</h4>
            <div class="table-responsive" style="margin-top: 20px;">
                <table class="table table-hover table-default">
                    <tr>
                        <th style="vertical-align: middle;padding-top:13px;padding-bottom:13px;">Name</th>
                        <th style="vertical-align: middle;padding-top:13px;padding-bottom:13px;">Status</th>
                        <th style="vertical-align: middle;padding-top:13px;padding-bottom:13px;">Containers Ready</th>
                        <th style="vertical-align: middle;padding-top:13px;padding-bottom:13px;">Containers Restart</th>
                        <th style="vertical-align: middle;padding-top:13px;padding-bottom:13px;">Age</th>
                    </tr>
                    <tr ng-repeat="pod in statefulPods">
                        <td data-title="Name" style="white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow: hidden;display:block">
                            <!-- <a class="href-orange" ui-sref="console.service_detail({name: pod.metadata.name})">
                                {{pod.metadata.name}}
                            </a> -->
                            <a class="href-orange" ui-sref="console.pods_detail({name: pod.metadata.name})">
                                {{pod.metadata.name}}
                            </a>
                        </td>
                        <td data-title="Status">
                            <!-- {{pod.status}} -->
                            <status-icon status="pod | podStatus" disable-animation></status-icon>
                            <span flex>{{pod | podStatus | humanizePodStatus}}</span>
                        </td>
                        <td data-title="Ready">
                            {{pod | numContainersReady}}/{{pod.spec.containers.length}}
                        </td>
                        <td data-title="Restarts">{{pod | numContainerRestarts}}</td>
                        <td data-title="Age"><span uib-tooltip="{{pod.metadata.creationTimestamp | timescon}}">{{pod.metadata.creationTimestamp  | dateRelative}}</span></td>
                    </tr>
                    <tr>
                        <td colspan="7" style="text-align: center;background: #fff;position:relative" ng-if="items.length===0">
                            <p class="blank_block"> <span class="blank_tit"> {{text}}</span></p>
                        </td>
                    </tr>
                </table>
                <div class="text-center" style="text-align:center;" ng-if="grid.total > 10">
                    <uib-pagination class="pagination" ng-model="grid.page" total-items="grid.total" items-per-page="grid.size" class="pagination-sm" boundary-links="false" max-size="12" rotate="true" previous-text="<" next-text=">">
                    </uib-pagination>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="2">
            <uib-tab-heading>
                <i class="myimage"></i>&nbsp;&nbsp;Environment
            </uib-tab-heading>
            <div class="row matgin-bt" ng-repeat="env in statefuldetail.spec.template.spec.containers[0].env">
                <div class="col-md-6">
                    <input class="col-md-11 input-key" type="text" ng-disabled="true" ng-model="env.name"  style="background:none;border:1px solid #c9c9c9;color: #7d7d7d;">
                </div>
                <div class="col-md-6">
                    <input class="col-md-11 input-key" ng-disabled="true"  type="text" ng-model="env.value"  style="background:none;border:1px solid #c9c9c9;color: #7d7d7d;">
                </div>
             </div>
        </uib-tab>
        <uib-tab index="3">
            <uib-tab-heading>
                <i class="myimage"></i>&nbsp;&nbsp;Metrics
            </uib-tab-heading>
            <highchart config="MemConfig"></highchart>
            <highchart config="CpuConfig" style="margin-top:30px;"></highchart>
            <highchart  config="TxConfig" style="margin-top:30px;"></highchart>
            <highchart  config="RxConfig" style="margin-top:30px;"></highchart>


        </uib-tab>
        <uib-tab index="4">
            <uib-tab-heading>
                <i class="myimage"></i>&nbsp;&nbsp;Events
            </uib-tab-heading>
            <deployments-event></deployments-event>
        </uib-tab>
    </uib-tabset>
</div>