


<uib-tabset class="tab-default tab-upload-image" active="check">
<uib-tab index="1">
    <uib-tab-heading>
        <!-- <i class="myimage"></i>&nbsp;&nbsp; -->
        上传镜像
    </uib-tab-heading>

   <div class="upload_container"> 
    <p class="upload_tit">可以将tar包上传镜像仓库</p>
<!--Upload on form submit or button click-->
<ng-form name="form">
    <!--Single Image with validations-->
    <!--<div class="button" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"-->
    <!--ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"-->
    <!--ngf-resize="{width: 100, height: 100}">Select</div>-->
    <div class="upload_image_main">
    <input type="text" class="upload_input" ng-model="file.name" readonly="" ng-disabled="disabled">
    <a class="btn btn-orange" ngf-select  ngf-pattern="'tar/*'" ngf-accept="'tar/*'" ng-model="file" name="file"
         ngf-max-total-size="10GB">选择tar文件
    </a>
</div>
    <!--Multiple files-->
    <!--<div class="button" ngf-select ng-model="files" ngf-multiple="true">Select</div>-->
    <!--Drop files: <div ngf-drop ng-model="files" class="drop-box">Drop</div>-->
    <!--<button type="submit" ng-click="submit()">submit</button>-->
    <div ng-show="file.name">
        <div class="upload_main">
            <div class="upload_tp">
                <label ng-class="{'active': !images.display}" ng-click="checkoutreg(images,false)">
                    <i class="faa faa-check"></i>
                    替换至已有imagestream
                </label>

                <label ng-class="{'active': images.display}" ng-click="checkoutreg(images,true)">
                    <i class="faa faa-check"></i>
                    上传镜像仓库
                </label>
            </div>
            <div ng-show="!images.display" class="up_data up_one">
                <div class="image_detail">
                    <label>名称</label>
                    <select class="select_down">
                        <option value="TCP">TCP</option>
                        <option value='UDP'>UDP</option>
                    </select>
                </div>
                <div class="image_detail">
                    <label>tag</label>
                    <select class="select_down" ng-show="!isselect">
                        <option value="TCP">TCP</option>
                        <option value='UDP'>UDP</option>
                    </select>
                    <input type="text" ng-model="name" ng-disabled="!deadlineMinutesEnable" name="cdm" ng-show="!isOK">
                    <a href="javascript:void(0);" ng-click="form.cdm.$valid && save()">
                    <span class="fa fa-orange"
                          ng-class="{'fa-pencil': !deadlineMinutesEnable, 'fa-check-circle': deadlineMinutesEnable}"></span>
                    </a>
                </div>
            </div>
            <div ng-show="images.display" class="up_data up_two">
                <div class="image_detail">
                    <label>名称</label>
                    <input type="text" placeholder="单行输入">
                </div>
                <div class="image_detail">
                    <label>tag</label>
                    <input type="text" placeholder="单行输入">
                </div>
            </div>
        </div>
        <a  ng-click="submit(file)" class="btn btn-block btn-orange upload_btn">
            <span style="color: white;" >上传</span>
        </a>
    </div>

</ng-form>
</div>
  
</uib-tab>
</uib-tabset>


