<div class="timeline">
    <ul>
        <li ng-repeat="item in data.items">
            <label>
                <span class="dot"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                {{item.metadata.creationTimestamp | dateRelative}}
            </label>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <span></span>
                        //display branch and commit ID
                    </div>
                    <div class="col-sm-6 text-right">
                        <a ng-click="pull($index)" class="icon25 icon25-pull" uib-tooltip="拉取" href="javascript:;"></a>
                        <a ng-click="deploy($index)" class="icon25 icon25-deploy" uib-tooltip="部署" href="javascript:;"></a>
                        <a ng-click="delete($index)" class="icon25 icon25-delete" uib-tooltip="删除" href="javascript:;"></a>
                    </div>
                </div>
            </div>
            <div uib-collapse="!item.showLog">
                <div class="well">
                    <pre>{{item.buildLog}}</pre>
                </div>
            </div>

        </li>
    </ul>
</div>

