<div>
    <div>
        <p>{{data.metadata.name}}</p>
        <button>部署最新版本</button>
    </div>
    <div>
        <div>
            <img src="" alt="">
            <p>更新时间</p>
            <p>{{data.metadata.creationTimestamp}}</p>
        </div>
        <div>
            <img src="" alt="">
            <p>最新版本:</p>
            <p>master-23567777</p>
        </div>
    </div>
    <uib-tabset>
        <uib-tab index="1" heading="概览">
            <div>
                <p>wwwwwwwwwwwwwwwwwwww</p>
            </div>
        </uib-tab>
        <uib-tab index="2" heading="镜像版本">
            <div>
                <p>5秒以前</p>
                <p>master-23455556666</p>
                <img src="" alt="">
                <img src="" alt="">
                <img src="" alt="">
            </div>
        </uib-tab>
</div>
