<div>
    <div class="panel panel-default" style="margin-bottom: 50px">
        <div class="panel-heading">
            <span class="panel-title">
                <span class="icon25 icon25-panel-repository">
                </span>&nbsp;&nbsp;{{data.metadata.name || nameone}}
            </span>
            <a class="btn btn-green pull-right" ui-sref="console.service_create({image: data})">部署最新版本</a>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4">
                    <div class="media media-sm">
                        <div class="media-left">
                            <i class="fa fa-clock-o fa-2x"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">更新时间</h4>
                            <small>
                                {{data.metadata.creationTimestamp || newlist.Created | dateRelative}}</small>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="media media-sm">
                        <div class="media-left">
                            <i class="fa fa-flag-o fa-2x"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">最新版本</h4>
                            <small>
                                {{data.image.dockerImageMetadata.Config.Labels["io.openshift.build.commit.ref"] || newname}}
                                :
                                <span>{{data.image.dockerImageMetadata.Config.Labels["io.openshift.build.commit.id"] || nameone | limitTo: 7}}
                            </span>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <uib-tabset class="tab-default">
            <uib-tab ng-if=false>
                <uib-tab-heading>
                    <i class="fa fa-file-o fa-lg"></i>&nbsp;&nbsp;概览
                </uib-tab-heading>
                <div marked="readme || '暂无介绍'"></div>
            </uib-tab>
            <uib-tab index="2">
                <uib-tab-heading>
                    <i class="fa fa-file-text-o fa-lg"></i>&nbsp;&nbsp;镜像版本
                </uib-tab-heading>
                <c-timeline name="bcName" type="image"></c-timeline>
            </uib-tab>
        </uib-tabset>
    </div>

</div>


