<div class="config-detail df_frame" id="config-detail">
    <div class="loader" ng-show="!persistents">
        <div class="loader-inner ball-clip-rotate-multiple">
            <div></div>
            <div></div>
        </div>
    </div>
    <div ng-show="persistents">
        <!-- module common 公共-->
        <div class="module-heading">
            <div class="module_block_l">
                <div class="img-block"></div>
                <div class="img-detail">
                    <p class="img-tit">{{name}}

                    </p>
                    <p class="img-time">
                        <span classs="module_tit">创建时间：</span>
                        <span class="module_time">
                            {{persistents.metadata.creationTimestamp | timescon}}</span>
                    </p>
                    <p class="img-new">
                    <div class="module_b_l" style="width: 100px;margin-right: 30px;">
                        <span class="module_tit">存储卷大小：</span>
                        <span class="module_time" style="font-size: 12px;">{{persistents.spec.resources.requests.storage}}</span>
                    </div>

                    <div class="module_b_l">
                        <span class="module_tit">存储卷状态：</span>
                        <span class="module_time" style="font-size: 12px;">{{guazai}}</span>
                    </div>

                    </p>
                </div>
            </div>

            <div class="module_block_r">
                <a class="btn btn-gray pull-right" style=" padding: 6px 12px; margin-left: 15px;font-size:14px;"
                   ng-click="delete()">
                    <i class="uex-icon-delete"></i>
                </a>
            </div>
        </div>
        <!-- module common 公共-->
        <uib-tabset class="tab-default tab-jia-default" active="active">
            <uib-tab index="1">
                <uib-tab-heading>
                    挂载信息
                </uib-tab-heading>
                <div class="table-responsive">
                    <table class="table table-hover table-default df_table">
                        <tr>
                            <th class="col-lg-4 col-md-2 col-sm-1">挂载名称</th>
                            <th class="col-lg-4 col-md-2 col-sm-1"></th>
                            <th class="col-lg-4 col-md-2 col-sm-1"></th>
                        </tr>
                        <tr ng-if="persistents.arr.length>0" ng-repeat="item in persistents.arr">
                            <td data-title="Name"
                                style="white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow: hidden;display:block">
                                <a class="href-orange"
                                   ui-sref="console.deploymentconfig_detail({namespace:namespace,name:item})">
                                    {{item}}
                                </a>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="df_blank">
                            <td colspan="5" class="td_colspan_li" style="text-align: center;"
                                ng-if="persistents.arr.length===0">
                                <p class="blank_block">
                                    <span class="blank_tit">当前列表暂时没有挂载服务</span></p>
                            </td>
                        </tr>
                    </table>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>
<style>
    .constantly_main {
        height: 120px;
        position: relative;
        text-align: center;
    }

    #listitem {
        border-bottom: 1px solid #c9c9c9;
    }

    .listitems {
        padding-left: 20px;
        border-bottom: 1px solid #E6E9F2;
    }

    .listitems:hover {
        background-color: #f7f8fb;
    }

    .listitem {
        color: #47B2FB;
    }

    .listitem:hover {
        color: #98D4FD;
    }

    .listitem:visited {
        color: #168DDE;
    }

    #config-detail .tab-default li.active .nav-link,
    #config-detail .tab-default li.active .nav-link:focus,
    #config-detail .tab-default li.active .nav-link:hover {
        height: 34px;
        width: 78px;
        padding: 10px 7px;
        border: none;
        border-bottom: 3px solid #47B2FB;
        color: #47B2FB;
    }
</style>