<div class="service-config">
    <div class="panel panel-default">
        <div class="panel-heading">
            基础配置
        </div>
        <div class="panel-body" style="padding: 30px 40px;">
            <div class="row">
                <div class="col-md-2" style="padding-top: 8px;">
                    <h3 class="require">服务名称</h3>
                </div>
                <div class="col-md-10">
                    <input type="text" name="serviceName" ng-model="dc.metadata.name" class="form-control input-block"
                           placeholder="创建一个服务名称" required ng-keyup="serviceNamekedown()">
                    <small ng-show="frm.serviceName.$dirty && frm.serviceName.$invalid" class="fa fa-info-circle err-tip">&nbsp;请创建一个服务名,至少2个字符以上</small>
                    <small ng-show="grid.createdcerr" class="fa fa-info-circle err-tip">&nbsp;服务名称重复</small>
                </div>
            </div>
            <hr>

            <div class="row">
                <div class="col-md-2" style="padding-top: 8px;">
                    <h3>POD配置</h3>
                </div>
                <div class="col-md-10">
                    <a href="javascript:;" style="line-height: 40px;" class="href-add" ng-click="addContainer()">
                        <i class="fa fa-plus-circle fa-lg"></i>&nbsp;&nbsp;创建容器
                    </a>
                    <br>
                    <small ng-show="invalid.containerLength" class="fa fa-info-circle err-tip">您至少需要设置一个容器</small>
                    <div ng-repeat="container in dc.spec.template.spec.containers"
                         style="border:1px solid #c9c9c9;border-radius:2px;margin-bottom: 15px;">
                        <div class="container-fluid container-bar" style="border: none;background: #f7f8fb;">
                            <div class="row">
                                <div class="col-sm-6">
                                    设置容器
                                </div>
                                <div class="col-sm-6 text-right">
                                    <a class="fa fa-times-circle fa-lg" ng-click="rmContainer($index)"
                                       style="text-decoration: none;color: #9fa7b7;" href="javascript:;"></a>
                                </div>
                            </div>
                        </div>

                        <div class="container-box" style="margin-bottom: 0;">
                            <div style="margin-bottom: 20px;">

                                <input ng-model="container.strname"
                                       style="width: 95%;display: inline-block;"
                                       type="text" class="form-control"
                                       placeholder="请设置容器名称">
                                <span class="require"></span>
                                <small ng-show="!container.name && container.emptyName"
                                       class="fa fa-info-circle err-tip">&nbsp;请设置容器名,至少2个字符以上
                                </small>

                            </div>
                            <hr>
                            <div style="margin-bottom: 20px;">
                                <a href="javascript:;" class="btn btn-orange"
                                   ng-click="selectImage($index)">选择镜像</a><span class="require"></span>
                                <br>
                                <small ng-if="!container.image && container.emptyImage"
                                       class="fa fa-info-circle err-tip">&nbsp;请选择镜像
                                </small>
                            </div>
                            <div style="font-size: 12px;color: #5a6378;">
                                <div ng-if="container.image">
                                    <p style="margin-bottom: 5px;">镜像名称:&nbsp;&nbsp;{{container.image |
                                        imageStreamName}}</p>
                                    <p style="margin-bottom: 20px;">
                                        镜像版本:&nbsp;&nbsp;{{container.tag}}
                                    </p>
                                </div>
                                <hr>

                                <h4>挂载secret卷&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="javascript:;"
                                       class="fa fa-plus-circle fa-lg href-add" style="font-size: 14px;">
                                        &nbsp;&nbsp;创建</a>
                                </h4>

                                <div class="secret-bar" ng-repeat="vm in container.volumeMounts">
                                    <div class="dropdown dropdown-select" style="width: 200px;margin: 0 15px 15px 0;">
                                        <button class="btn dropdown-toggle" data-toggle="dropdown">
                                            <span>{{vm.name || '请选择'}}</span>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li ng-repeat="s in secrets.items">
                                                <a href="javascript:;" ng-click="vm.name = s.metadata.name">{{s.metadata.name}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <input ng-model="vm.mountPath"
                                           style="width: 300px;display: inline-block;margin: 0 15px 15px 0;" type="text"
                                           class="form-control">
                                    <a href="javascript:;" ng-click="addSecret(container.name, $index, $last,container.$$hashKey)"
                                       class="fa fa-lg"
                                       ng-class="{'fa-times-circle':!$last, 'fa-plus-circle':$last}"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <div class="row">
                <div class="col-md-2" style="padding-top: 8px;">
                    <h3>端口开放</h3>
                </div>
                <div class="col-md-10">
                    <div class="table-responsive">
                        <table class="table table-hover table-default sub-table">
                            <tr>
                                <!--<th style="width: 20%;">容器名称</th>-->
                                <!--<th style="width: 30%; display: none;">镜像</th>-->
                                <th style="width: 50%;">端口</th>
                            </tr>
                            <tr>
                                <!--<td style="vertical-align: middle;">-->
                                    <!--{{container.strname}}-->
                                <!--</td>-->
                                <!--<td style="vertical-align: middle; display: none;">-->
                                    <!--<span>-->
                                        <!--<p style="margin-top: 15px">-->
                                            <!--镜像名称 :-->
                                        <!--</p>-->
                                        <!--<p style="margin-top: -10px">-->
                                            <!--{{container.image | imageStreamName}}-->
                                        <!--</p>-->
                                        <!--<p style="margin-top: 15px">-->
                                            <!--镜像版本 :-->
                                        <!--</p>-->
                                        <!--<p style="margin-top: -10px">-->
                                            <!--{{container.tag}}-->
                                        <!--</p>-->
                                    <!--</span>-->
                                <!--</td>-->
                                <td style="vertical-align: middle;">
                                    <div class="row">
                                        <div class="col-sm-3">协议</div>
                                        <div class="col-sm-3">容器端口</div>
                                        <div class="col-sm-3">服务端口</div>
                                        <div class="col-sm-3"></div>
                                    </div>
                                    <div class="row"  style="margin-top: 15px;" ng-repeat="port in portsArr">
                                        <div class="col-sm-3">
                                            <!--<input type="text" readonly class="input-small" ng-model="port.protocol">-->
                                            <select class="input-small" ng-model='port.protocol'>
                                                <option value='TCP'>TCP</option>
                                                <option value='UDP'>UDP</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-3">
                                            <input type="text" class="input-small"
                                                   ng-class="{'input-error':port.conflict}"
                                                   ng-model="port.containerPort">
                                        </div>
                                        <div class="col-sm-3">
                                            <input type="text" ng-model="port.hostPort" class="input-small"
                                                   ng-class="{'input-error':port.serviceConflict}">
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="javascript:;" style='color: #9fa7b7;'
                                               ng-click="addprot($index,$last)" class="fa fa-lg"
                                               ng-class="{'fa-times-circle':!$last, 'fa-plus-circle':$last}"></a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <small ng-show="grid.conflict" class="fa fa-info-circle err-tip">&nbsp;容器端口冲突,请修改</small>
                    <small ng-show="grid.serviceConflict" class="fa fa-info-circle err-tip">&nbsp;服务端口冲突,请修改</small>
                    <small ng-show="grid.servicepot" class="fa fa-info-circle err-tip">&nbsp;端口为空</small>
                    <small ng-show="grid.servicepoterr" class="fa fa-info-circle err-tip">&nbsp;端口填写错误</small>
                </div>
            </div>
        </div>
    </div>
</div>