<div class="service-create" style="margin-top:50px;padding:20px">
    <form name="frm">
        <div class="row panel">
            <div class="col-md-12">
                <div class="info">
                </div>
            </div>
            <!--<div class="col-md-12" style="padding-bottom: 5px;">-->
            <!--<a class="tab-cube" ng-class="{'active': !grid.checked}" ng-click="jump(false)">基础配置</a>-->
            <!--<span style="margin: 0 20px;"> > </span>-->
            <!--<a class="tab-cube" ng-class="{'active': grid.checked}" ng-click="frm.$valid && jump(true)">高级配置</a>-->
            <!--</div>-->
            <div ng-show="!advancedConfig" class="col-md-12" style="padding:20px">
                <div>
                    <div class="service-config">
                        <div class="" style="">
                            <!--<div class="panel-heading panel-title" style="font-weight: bold;font-size: 16px;background:none;font-weight:normal;">-->
                            <!--基础配置-->
                            <!--</div>-->
                            <h3 class="df_tit" style="padding-left:10px;margin-bottom: 20px;">部署详情</h3>
                            <div class="row">
                                <div class="col-md-2" style="width: 120px;">
                                    <h3 class="require" style="font-weight:normal;font-size:12px;margin:0px;">服务名称</h3>
                                </div>
                                <div class="col-md-10">
                                    <!--onkeypress="if((event.keyCode > 31 && event.keyCode < 44) || (event.keyCode > 46 && event.keyCode < 48) || (event.keyCode > 57 && event.keyCode < 65) || (event.keyCode > 90 && event.keyCode < 97))event.returnValue = false;"-->

                                    <input type="text" id="sevicecreateinp" name="serviceName"
                                           ng-model="dc.metadata.name"
                                           class="form-control input-block foucsinput "
                                           ng-blur="nameblur()"
                                           onkeypress="if((event.keyCode > 31 && event.keyCode < 44) || (event.keyCode > 46 && event.keyCode < 48) || (event.keyCode > 57 && event.keyCode < 65) || (event.keyCode > 90 && event.keyCode < 97))event.returnValue = false;"
                                           ng-focus="namefocus()" type="text" name="name" class="form-control"
                                           style="width: 320px;height: 26px;"
                                           placeholder="例如：datafoundry">
                                    <small ng-if="err.name.null" class="fa fa-info-circle err-tip err">
                                        请输入正确构建名称
                                    </small>
                                    <small ng-if="err.name.pattern" class="fa fa-info-circle err-tip err">
                                        请输入4~30位名称,名称只能包含小写英文、数字以及“-”
                                    </small>
                                    <small ng-if="err.name.repeated" class="fa fa-info-circle err-tip err">输入的名称已重复
                                    </small>
                                </div>
                            </div>
                            <change-image></change-image>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="advancedConfig" class="col-md-12" style="padding: 0px">
                <div class="" style="padding:20px 10px 20px 20px">
                    <h3 class="df_tit" style="padding-left:10px">配置</h3>
                    <div class="col-md-12 continerboxs" style="padding-right:0px;">

                        <dc-containers></dc-containers>
                        <a href="javascript:;" style="" class="href-add"
                           ng-click="addContainer()">
                            <i class="fa fa-plus-circle fa-lg uex-icon-add" style="margin-top:5px;"></i>&nbsp;&nbsp;<span style="font-size: 12px">创建容器</span>
                        </a>
                    </div>
                    <h3 class="df_tit" style="padding-left:10px;width: 100%;float: left;margin: 20px 0px;">访问服务</h3>
                    <div class="row">
                        <div class="col-sm-2" style="width: 105px;">弹性伸缩</div>
                        <div class="col-sm-10">
                            <div class="col-sm-12" style="padding-right: 0px;">
                                <!--<c-checkbox checked="quota.rubustCheck"></c-checkbox>-->
                                <span class="my-checkbox">
                                 <span class="checkbox-check" ng-class="{active: institution.rubustCheck}" ng-click="creathoriz(institution.rubustCheck)" >
                                    <span class="check-btn"></span>
                                    </span>
                                    <!--<span ng-if="text" class="checkbox-text">{{text}}</span>-->
                                </span>

                                <small ng-if="err.horiz.openerr" class="fa fa-info-circle err-tip err">
                                    请确保加入配额
                                </small>
                            </div>

                            <div class="col-sm-3" style="width: 170px;">
                                <p style="margin:10px 0px 5px;">POD数量</p>
                                <input ng-model="dc.spec.replicas" name="cdm" min="1" max="10"
                                       style=""
                                       ng-keyup="mustnum($event,dc.spec.replicas,10)"
                                       type="text" class="form-control">
                            </div>
                            <div class="col-sm-3" style="width: 170px;" ng-show="institution.rubustCheck">
                                <p style="margin:10px 0px 5px;">POD最大数量</p>
                                <input ng-model="horiz.spec.maxReplicas"
                                       ng-class="{'input-error':err.horiz.maxerr}"
                                       ng-keyup="mustnum($event,horiz.spec.maxReplicas,10)"
                                       type="text" class="form-control" placeholder="{{dc.spec.replicas}}">

                            </div>
                            <div class="col-sm-3" style="width: 170px;" ng-show="institution.rubustCheck">
                                <p style="margin:10px 0px 5px;">CPU阀值</p>
                                <input ng-model="horiz.spec.targetCPUUtilizationPercentage"
                                       ng-keyup="mustnum($event,horiz.spec.targetCPUUtilizationPercentage,100)"
                                       style="width: 100%;display: inline-block"
                                       type="text" class="form-control" placeholder="80">

                            </div>
                            <div class="col-sm-3" style="width: 170px;padding-left:0px;" ng-show="quota.rubustCheck">
                                <p style="margin:5px 0px;">&nbsp;</p>
                                <div style="line-height: 26px;">%</div>
                            </div>
                            <!--<div style="margin-top:15px;">-->
                            <!--<span style="font-size: 12px;">POD数量-->
                            <!--<input ng-model="dc.spec.replicas" name="cdm" min="1" max="10"-->
                            <!--style="width: 80px;display: inline-block;"-->
                            <!--ng-keyup="mustnum($event,dc.spec.replicas,10)"-->
                            <!--type="text" class="form-control">-->
                            <!--</span>-->
                            <!--<span ng-show="quota.rubustCheck">-->
                            <!--<span style="font-size: 12px">POD最大数量-->
                            <!--<input ng-model="horiz.spec.maxReplicas"-->
                            <!--ng-keyup="mustnum($event,horiz.spec.maxReplicas,10)"-->
                            <!--ng-class="{'input-error':horiz.spec.maxReplicas-0<dc.spec.replicas-0}"-->
                            <!--style="width: 80px;display: inline-block;"-->
                            <!--type="text" class="form-control" placeholder="{{dc.spec.replicas}}">-->
                            <!--</span>-->
                            <!--<span  style="font-size: 12px">CPU阀值-->
                            <!--&lt;!&ndash;<div class="input-group">&ndash;&gt;-->
                            <!--<input ng-model="horiz.spec.targetCPUUtilizationPercentage"-->
                            <!--ng-keyup="mustnum($event,horiz.spec.targetCPUUtilizationPercentage,100)"-->
                            <!--style="width: 80px;display: inline-block;"-->
                            <!--type="text" class="form-control" placeholder="80">-->
                            <!--<span>%</span>-->
                            <!--</span>-->

                            <!--</span>-->
                            <!--</div>-->
                        </div>
                    </div>
                    <div class="row" style="margin:20px 0px;">
                        <div class="col-sm-2" style="width: 105px;">自动部署</div>
                        <div class="col-sm-10">
                            <p style="padding-left: 15px;margin-bottom: 0px;">
                                <label ng-class="{'active':dc.spec.ConfigChange}"
                                       ng-click="dc.spec.ConfigChange=!dc.spec.ConfigChange"
                                       style="cursor: pointer;">
                                    <i class="faa faa-check"></i>
                                </label>
                                <span>
                             配置变化触发自动部署
                        </span>
                            </p>
                        </div>
                    </div>
                    <h3 class="df_tit" style="padding-left:10px;width: 100%;float: left;margin-bottom: 20px;">端口映射</h3>
                    <div class="row">
                        <div class="col-sm-2" style="width: 105px;">端口设置</div>
                        <set-ports></set-ports>
                    </div>
                </div>

            </div>
            <div class="row" style=" width: 100%; float: left; padding-left: 20px;">
                <div style="border-top: 1px solid #E0E6ED; overflow: hidden; height: 70px;padding:20px 20px 20px 0px;">

                    <a href="javascript:;" ng-click="createDc()"
                       class="btn btn-block btn-orange"
                       style="color: white;width: 80px;height: 26px;display:inline-block;margin-top:0px;padding:0px;line-height: 26px;margin-right:20px;">
                        创建服务
                    </a>
                    <a href="javascript:;" class="btn btn-block btn-orange" ng-show="!advancedConfig"
                       style="color: #47B2FB;width: 80px;height: 26px;display:inline-block;padding:0px;line-height: 26px;margin-top:0px;background: #fff;border: 1px solid #47B2FB;"
                       ng-click="jump()">
                        高级设置
                    </a>
                </div>


            </div>
            <!--<div class="col-md-6" style="padding-left: 40px;">-->
            <!--<a href="javascript:;" ng-click="frm.$valid && createDc()"-->
            <!--class="btn btn-block"-->
            <!--ng-class="{'btn-orange':frm.$valid, 'btn-disabled': frm.$invalid}"-->
            <!--ng-disabled="frm.$invalid" style="color: white">-->
            <!--创建服务-->
            <!--</a>-->
            <!--</div>-->
            <!--<div class="col-md-6" style="padding-left: 40px;">-->

            <!--</div>-->
        </div>
    </form>
</div>