.service-create .tab-cube {
    display: inline-block;
    /*width: 300px;*/
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    /*border: 1px solid #5a6378; /!*16 12-14 by zn for zhongxin*!/*/
    border-radius: 2px;
    text-decoration: none;
    color: #A2B0C4;

    cursor: pointer;
}
.service-create .tab-cube.active {
    /*border: 1px solid #55c45f;*/
    color: #475669;
    /*color: #4960e6;*/
}
.bgcgray {
    background-color: #c9c9c9;
}
.service-create .dropdown-menu > li > a {
    font-size: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    line-height: 30px;
    text-overflow: ellipsis;
    height:42px;line-height:42px!important;
}
.btn_file{
    color: #5a6378;margin-right:0px;text-shadow:0 0 0 #fff;border: none;border-left: 1px solid #c9c9c9;background: #e6e9f2;padding: 5px 12px;
}
.btn_file:hover{
    background: #5a6378;
}

/*20161214 jia add*/
.panel-jia-create{border:0;}

.input-group-btn .btn {
    background: url(../../pub/img/search.png) no-repeat;
    width: 15px;
    height: 15px;
    display: inline-block;
    -webkit-box-shadow: none;
}
.create_deploy_nanji .tab-default .tab-content{
    border:none;
}
.create_deploy_nanji .tab-default .nav-tabs{
    border:none;
}
.create_deploy_nanji .tab-default li.active .nav-link{
    border: 1px solid #47B2FB;
    border-radius: 4px 4px 0px 0px;
    color: #47B2FB;
}
.create_deploy_nanji .nav-tabs>li a{
    border: 1px solid #CCD5E0;
    margin:0px;
}
.row{
    margin:0px;
}
.create_deploy_nanji .tab-default .tab-content{
    padding-left:0px;
}
.create_deploy_nanji .input-group-btn{
    position: absolute;right: -50px;top:-0px;z-index: 1;border: 1px solid #CCD5E0;border-radius: 4px;width: 32px;height: 24px;display:inline-block;text-align: center;padding:0;
}
.child-no-padding div{
    padding-left:0;
    padding-right:0;
}
.del-margin{
    margin-top:10px;
}
.create_deploy_nanji .tab-default li .nav-link {
    font-size: 12px;
    padding: 0px;
    line-height: 24px;
    width: 80px;
    text-align: center;

}
.service-create{
    font-size: 12px;
}