<!--
  Expects the following variables:
  volumes
  namespace
 -->
<div ng-repeat="volume in volumes">
    <h4 class='tit_f df_left_set'>
        {{volume.name}}
        <span ng-if="canRemove" class="header-actions">
            <a href="" ng-click="removeFn({volume: volume})">Remove</a>
        </span>
    </h4>
    <dl class="dl-horizontal left df_left_set">
        <div ng-if="volume.secret">
            <dt>类型:</dt>
            <dd>
                密钥卷
                <!--secret-->
                <span class="small text-muted">
                    （secret）
                    <!--(populated by a secret when the pod is created)-->
                </span>
            </dd>
            <dt>
                卷名称:
                <!--Secret:-->
            </dt>
            <dd>
                <span ng-if="'secrets'">
                    <span id="dt_set" ui-sref="console.secret_secret({namespace:name,name: volume.secret.secretName})">{{volume.secret.secretName}}</span>
                </span>
                <span ng-if="!('secrets')">
                    {{volume.secret.secretName}}
                </span>
            </dd>
            <div ng-repeat="item in volume.secret.items">
                <dt>Key to File:</dt>
                <dd>{{item.key}}&#8201;&#8594;&#8201;{{item.path}}</dd>
            </div>
        </div>
        <div ng-if="volume.persistentVolumeClaim">
            <dt>类型:</dt>
            <dd>
                存储卷
                <span class="small text-muted">
                    （persistent volume claim）
                    <!--(reference to a persistent volume claim)-->
                </span>
            </dd>
            <dt>
                卷名称:
                <!--Claim name:-->
            </dt>
            <dd>
                <span id="dt_set"
                      ui-sref="console.constantly_persistentVolume({namespace:name,name:volume.persistentVolumeClaim.claimName})">
                    {{volume.persistentVolumeClaim.claimName}}</span>
            </dd>
            <dt>
                模式:
                <!--Mode:-->
            </dt>
            <dd>
                <span ng-if="volume.persistentVolumeClaim.readOnly">read-only</span>
                <span ng-if="!volume.persistentVolumeClaim.readOnly">read-write</span>
            </dd>
        </div>
        <div ng-if="volume.hostPath">
            <dt>类型:</dt>
            <dd>

                主机目录
                <span class="small text-muted">
                    （hostpath）
                    <!--(bare host directory volume)-->
                </span>
            </dd>
            <dt>路径:</dt>
            <dd>{{volume.hostPath.path}}</dd>
        </div>
        <div ng-if="volume.emptyDir">
            <dt>类型:</dt>
            <dd>
                临时目录
                <span class="small text-muted">
                    （emptydir）
                    <!--(temporary directory destroyed with the pod)-->
                </span>
            </dd>
            <dt>
                介质:
                <!--Medium:-->
            </dt>
            <dd>
                <span ng-if="!volume.emptyDir.medium">节点默认</span>
                <!--<span ng-if="!volume.emptyDir.medium">node's default</span>-->
                <span ng-if="volume.emptyDir.medium">{{volume.emptyDir.medium}}</span>
            </dd>
        </div>
        <div ng-if="volume.gitRepo">
            <dt>类型:</dt>
            <dd>
                git repo
                <span class="small text-muted">(pulled from git when the pod is created)</span>
            </dd>
            <dt>Repository:</dt>
            <dd>{{volume.gitRepo.repository}}</dd>
            <dt ng-if-start="volume.gitRepo.revision">Revision:</dt>
            <dd ng-if-end>{{volume.gitRepo.revision}}</dd>
        </div>
        <div ng-if="volume.downwardAPI">
            <dt>类型:</dt>
            <dd>
                downward API
                <span class="small text-muted">(populated with information about the pod)</span>
            </dd>
            <div ng-repeat="item in volume.downwardAPI.items">
                <dt>Volume File:</dt>
                <dd>{{item.fieldRef.fieldPath}}&#8201;&#8594;&#8201;{{item.path}}</dd>
            </div>
        </div>
        <div ng-if="volume.configMap">
            <dt>类型:</dt>
            <dd>
                配置卷
                <span class="small text-muted">
                    （configmap）
                    <!--(populated by a config map)-->
                </span>
            </dd>
            <dt>卷名称:</dt>
            <dd>
                <span id="dt_set" ui-sref="console.config_configMap({namespace:name,name:volume.configMap.name})">
                    {{volume.configMap.name}}</span>
            </dd>
            <div ng-repeat="item in volume.configMap.items">
                <dt>Key to File:</dt>
                <dd>{{item.key}}&#8201;&#8594;&#8201;{{item.path}}</dd>
            </div>
        </div>
    </dl>
</div>