<div class="pod-logs">
    <!--showcon-->
    <div class="row">
        <div class="col-lg-10"></div>
        <div class="col-lg-2">
            <!--<button ng-click="Expandlog($index)" style="float: right;margin-left: 5px;">Expand</button>-->
            <span ng-click="savelog()" uib-tooltip="下载" tooltip-placement="left" style="float: right;width: 26px;height: 26px;line-height: 26px;text-align: center;cursor: pointer;">
                <i class="uex-icon-download"></i>
            </span>
        </div>
    </div>
    <div
         style="margin-bottom: 10px;
         line-height: 32px;
         height: 32px;"
    >
        <span ng-if="isPlay" style="float:left;cursor: pointer;margin-right: 15px;" ng-click="playLog()"><i class="fa fa-play" style="margin-right: 15px;"></i>Log stream paused.</span>
        <span ng-if="!isPlay" style="float:left;cursor: pointer;margin-right: 15px;" ng-click="playLog()"><i class="fa fa fa-pause" style="margin-right: 15px;"></i>Log streaming...</span>
        <span ng-show="showcon">container</span>
        <div ng-show="showcon" class="dropdown dropdown-select" style="min-width:158px;height: 32px;">
            <button class="btn dropdown-toggle" data-toggle="dropdown" style="height: 32px;">
                <span>{{selectcon}}</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu"
                style="overflow-y:auto;width:158px;border-color: #c9c9c9">
                <li ng-repeat="con in conlist" style="height: 34px;font-size: 12px;padding-left: 12px;"
                    ng-click="changecon(con.name)">
                    <span class="dropdown-menu-span"
                          style="">{{con.name}}</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="well well-log" style="margin: 0;">
        <pre style="color:#e4e4e4" id="sc" ng-bind-html=log></pre>
    </div>
</div>