<div class="pod-template">
    <div class="component-label pod_list_mt" style="text-transform: uppercase;font-size:12px;">
        <span class='pd_tem_l' ng-bind-template="{{labelPrefix||'Container'}}:">

        </span>
        <span class='pd_tem_r' style='text-transform: uppercase'>{{container.name}}</span>
    </div>

    <div row ng-if="container.image" class="pod-template-image icon-row">
        <!-- <div class="icon-wrap" style="margin-right:4px;">
            <span class="pficon pficon-image" aria-hidden="true"></span>
        </div> -->
        <div flex class="word-break pod_list_mt">
            <span class="pod-template-key" style="width:200px;float:left;font-size:12px;color:#475669">镜像:
                <!--Image:-->
            </span>
            <span ng-if="!imagesByDockerReference[container.image]" style="font-size:12px;color:#475669">{{container.image | imageStreamName}}</span>
            <span ng-if="imagesByDockerReference[container.image]" style="font-size:12px;color:#475669">
                <a ng-href="{{imagesByDockerReference[container.image].imageStreamName | navigateResourceURL : 'ImageStream' : imagesByDockerReference[container.image].imageStreamNamespace}}">{{container.image | imageStreamName}}</a>
                <span class="hash" title="{{imagesByDockerReference[container.image].metadata.name}}">{{imagesByDockerReference[container.image].metadata.name | stripSHAPrefix | limitTo: 7}}</span>
                <span ng-if="imagesByDockerReference[container.image].dockerImageMetadata.Size" class="small text-muted nowrap">
                    {{imagesByDockerReference[container.image].dockerImageMetadata.Size | humanizeSize}}
                </span>
            </span>
        </div>
    </div>

    <div ng-if="imagesByDockerReference && container.image && (image = imagesByDockerReference[container.image])" class="pod-template-build">
        <div row class="icon-row" ng-if="build = (image | buildForImage : builds)">
            <div class="icon-wrap">
                <span class="fa fa-refresh" aria-hidden="true"></span>
            </div>
            <div flex class="word-break pod_list_mt">
                <span class="pod-template-key">Build:</span>
                <span ng-if="build | configURLForResource">
                    <a ng-href="{{build | configURLForResource}}">{{build | buildConfigForBuild}}</a>,
                </span>
                <a ng-href="{{build | navigateResourceURL}}">
                    <span ng-if="(build | annotation : 'buildNumber')">#{{build | annotation : 'buildNumber'}}</span>
                    <span ng-if="!(build | annotation : 'buildNumber')">{{build.metadata.name}}</span>
                </a>
            </div>
        </div>
        <div row class="icon-row" ng-if="build.spec.source">
            <div class="icon-wrap">
                <span class="fa fa-code" aria-hidden="true"></span>
            </div>
            <div flex class="word-break pod_list_mt">
                <span class="pod-template-key">Source:</span>
                <span ng-switch="build.spec.source.type">
                    <span ng-switch-when="Git">
                        <span ng-if="build.spec.revision.git.commit">
                            {{build.spec.revision.git.message}}
                            <osc-git-link class="hash" uri="build.spec.source.git.uri" ref="build.spec.revision.git.commit">{{build.spec.revision.git.commit | limitTo:7}}</osc-git-link>
                            <span ng-if="detailed && build.spec.revision.git.author">
                                authored by {{build.spec.revision.git.author.name}}
                            </span>
                        </span>
                        <span ng-if="!build.spec.revision.git.commit">
                            <osc-git-link uri="build.spec.source.git.uri">{{build.spec.source.git.uri}}</osc-git-link>
                        </span>
                    </span>
                    <span ng-switch-default>
                        {{build.spec.source.type || 'Unknown'}}
                    </span>
                </span>
            </div>
        </div>
    </div>

    <div row ng-if="detailed && (container.command.length || container.args.length)" class="icon-row">
        <div class="icon-wrap" style="margin-right:5px;">
            <!-- <span aria-hidden="true" class="fa fa-terminal"></span> -->
        </div>
        <div flex class="word-break pod_list_mt" style="clear:both;overflow:hidden;">
            <span class="pod-template-key" style="width:200px;float:left;color:#475669">
                命令:
            </span>
            <span style="width:60%;float:left;">
                <code class="command" style="padding:2px 0;background:none;font-size:12px;">
                    <!-- {{container}} -->
                    <span ng-if="!container.command">&lt;image-entrypoint&gt;</span>
                    <span ng-repeat="podtnamecom in container.command">
                            {{podtnamecom}}&nbsp;
                    </span>
                    <span ng-repeat="podtname in container.args">{{podtname}}&nbsp;</span>
                        <!-- <dt ng-if-start="volume.gitRepo.revision">Revision:</dt>
            <dd ng-if-end>{{volume.gitRepo.revision}}</dd> -->
                    
              <!-- <truncate-long-text
                      content="container | entrypoint : imagesByDockerReference[container.image]"
                      limit="80"
                      newline-limit="1"
                      expandable="true"
                      use-word-boundary="false">
              </truncate-long-text> -->
            </code>
            </span>
        </div>
    </div>

    <div row ng-if="container.ports.length > 0" class="pod-template-ports icon-row">
        <div class="icon-wrap">
            <span data-icon="" aria-hidden="true" style="font-size:16px;line-height:normal"></span>
        </div>
        <div flex class="word-break pod_list_mt">
            <span class="pod-template-key" style='width:200px;float:left;font-size:12px;color:#475669'>端口:</span>
            <span ng-repeat="port in container.ports | orderBy: 'containerPort' | limitToOrAll : detailed ? undefined : 1">
                <span class="nowrap" style="font-size:12px;color:#475669;">{{port.containerPort}}/{{port.protocol}}</span>
                <span ng-if="port.name">
                    <span class="nowrap"> ({{port.name}})</span>
                </span>
                <span ng-if="port.hostPort">
                    <span class="nowrap">
                        <span class="port-icon"> &#8594;</span> {{port.hostPort}}</span>
                </span>
                <span ng-if="!$last">, </span>
            </span>
            <span ng-if="!detailed && container.ports.length >= 2">
                and {{container.ports.length - 1}}
                <span ng-if="container.ports.length > 2">others</span>
                <span ng-if="container.ports.length === 2">other</span>
            </span>
        </div>
    </div>

    <div row ng-if="detailed" ng-repeat="mount in container.volumeMounts" class="icon-row">
        <div class="icon-wrap">
            <!-- <span aria-hidden="true" class="fa fa-database"></span> -->
        </div>
        <div flex class="word-break pod_list_mt">
            <span class="pod-template-key" style="width:200px;float:left;color:#475669;font-size:12px;">
                挂载:
                <!--Mount:-->
            </span>
            <span>
                {{mount.name}}
                <span ng-if="mount.subPath">, subpath {{mount.subPath}}</span>&#8201;&#8594;&#8201;
                <span>{{mount.mountPath}}</span>
                <!--<small class="text-muted">{{mount | volumeMountMode : podTemplate.spec.volumes}}</small>-->
            </span>
        </div>
    </div>

    <div row ng-if="detailed && (container.resources.requests.cpu || container.resources.limits.cpu)" class="icon-row">
        <!-- <div class="icon-wrap" style="margin-right:2px;">
            <i class="fa fa-area-chart" aria-hidden="true"></i>
        </div> -->
        <div flex class="pod_list_mt">
            <span class="pod-template-key">CPU:</span>
            <span ng-if="container.resources.requests.cpu && container.resources.limits.cpu">{{container.resources.requests.cpu}} to {{container.resources.limits.cpu}}</span>
            <span ng-if="!container.resources.requests.cpu">
                {{container.resources.limits.cpu}} limit
            </span>
            <span ng-if="!container.resources.limits.cpu">
                {{container.resources.requests.cpu }} requested
            </span>
        </div>
    </div>

    <div row ng-if="detailed && (container.resources.requests.memory || container.resources.limits.memory)" class="icon-row">
        <!-- <div class="icon-wrap" style="margin-right:2px;">
            <i class="fa fa-area-chart" aria-hidden="true"></i>
        </div> -->
        <div flex class="pod_list_mt">
            <span class="pod-template-key">内存:</span>
            <span ng-if="container.resources.requests.memory && container.resources.limits.memory">
                {{container.resources.requests.memory}} to {{container.resources.limits.memory}}
            </span>
            <span ng-if="!container.resources.requests.memory">
                {{container.resources.limits.memory }} limit
            </span>
            <span ng-if="!container.resources.limits.memory">
                {{container.resources.requests.memory }} requested
            </span>
        </div>
    </div>

    <div row ng-if="detailed && container.readinessProbe" class="icon-row">
        <!-- <div class="icon-wrap" style="margin-right:4px;">
            <i class="fa fa-medkit" aria-hidden="true"></i>
        </div> -->
        <div flex class="pod_list_mt">
            <span class="pod-template-key" style="width:160px;float:left;color:#475669;font-size:12px;">健康检查:</span>
            <probe style="font-size:12px;" probe="container.readinessProbe"></probe>
        </div>
    </div>

    <div row ng-if="detailed && container.livenessProbe" class="icon-row">
        <!-- <div class="icon-wrap" style="margin-right:4px;">
            <i class="fa fa-medkit" aria-hidden="true"></i>
        </div> -->
        <div flex class="pod_list_mt">
            <span class="pod-template-key" style="width:160px;float:left;color:#475669;font-size:12px;">保活检查:</span>
            <probe style="font-size:12px;" probe="container.livenessProbe"></probe>
        </div>
    </div>

</div>