<div id="user">
    <uib-tabset class="tab-default">
        <uib-tab index="1">
            <uib-tab-heading>
                <i class="notice"></i>&nbsp;&nbsp;站内通知
            </uib-tab-heading>
        </uib-tab>
        <uib-tab index="2">
            <uib-tab-heading>
                <i class="fa2-bsi"></i>&nbsp;&nbsp;账户消息
            </uib-tab-heading>
        </uib-tab>
        <uib-tab index="3">
            <uib-tab-heading>
                <i class="fa2-bs"></i>&nbsp;&nbsp;事件警告
            </uib-tab-heading>
        </uib-tab>

    </uib-tabset>
</div>


