<div id="image" style="background:#fff;padding:20px 38px 38px;">
    <div class="loader" ng-if="!testlist">
        <div class="loader-inner ball-clip-rotate-multiple">
            <div></div>
            <div></div>
        </div>
    </div>
    <div ng-if="testlist">
        <uib-tabset class="tab-default tab-image-jia-defautl" active="check">
            <uib-tab index="1">
                <uib-tab-heading>
                    <i class="myimage"></i>&nbsp;&nbsp;构建镜像
                </uib-tab-heading>
                <div class="row image_jia_btn" style="margin-bottom: 25px;margin-left: 0;margin-right: 0;">
                    <div class="input-group col-sm-4 searchbar">
                        <input type="text" class="form-control" ng-model="txt"
                               ng-focus="showTip=true;" placeholder="搜索镜像" ng-keyup="search('all', txt)">
                    <span class="input-group-btn">
                        <a class="btn" ng-click="search('all', txt)"></a>
                    </span>
                    </div>
                </div>
                <div class="row image_jia_btn">
                    <div class="col-md-3 col-sm-4 col-xs-6" ng-repeat="item in testlist">
                        <c-card></c-card>
                    </div>

                    <div style="margin: 0 15px;text-align: center;background:#f7f8fb;position:relative;border:1px solid #ccc;padding-top:15px;padding-bottom:15px;"
                         ng-if="testlist.length===0"><p class="blank_block">  <span class="blank_tit"> {{text1}}</span></p></div>

                </div>
                <div class="text-center" style="text-align:center;" ng-if="grid.total > 8">
                    <uib-pagination
                            ng-model="grid.page"
                            ng-show='fyshow'
                            total-items="grid.total"
                            items-per-page="grid.size"
                            class="pagination-sm"
                            boundary-links="false"
                            max-size="12"
                            rotate="true"
                            previous-text="<"
                            next-text=">"
                            >
                    </uib-pagination>
                </div>
            </uib-tab>
            <uib-tab index="2">
                <uib-tab-heading>
                    <i class="myimage"></i>&nbsp;&nbsp;仓库镜像
                </uib-tab-heading>
                <div class="row image_jia_btn" style="margin-bottom: 25px;margin-left: 0;margin-right: 0;">
                    <div class="row image_jia_btn" style="margin-bottom: 25px;margin-left: 0;margin-right: 0;">
                        <div class="input-group col-sm-4 searchbar">
                            <input type="text" class="form-control" ng-model="cktxt"
                                   ng-focus="showTip=true;" placeholder="搜索镜像" ng-keyup="cksearch('all', cktxt)">
                            <span class="input-group-btn">
                        <a class="btn" ng-click="cksearch('all', cktxt)"></a>
                    </span>
                        </div>
                    </div>
                </div>
                <div class="row image_jia_btn">
                    <div class="col-md-3 col-sm-4 col-xs-6" ng-repeat="item in newprimage">
                        <div class="thumbnail">
                            <div class="thumb-content">
                                <div class="thumb-slide">
                                    <div class="thumb-op">
                                        <!--<p><i class="fa fa-clock-o"></i>&nbsp;&nbsp;{{item.status.tags[0].items[0].created | dateRelative}}</p>-->
                                        <p><i class="fa fa-flag-o"></i>&nbsp;&nbsp;<!--{{gitStore[item.spec.output.to.name]["ref"]}} - -->
                                            {{item.tags[0]}}
                                            <!--{{item.status.tags[0].port}}-->

                                        </p>
                                        <p class="thumb-btn">
                                            <a class="btn btn-green"
                                               ng-if='item.tags[0]'
                                               href="javascript:;"
                                               ui-sref="console.service_create({image:item.image+':'+item.tags[0]})">部署最新版本</a>
                                            <a class="btn btn-gray"
                                               ng-if='!item.tags[0]'
                                               href="javascript:;"
                                               disabled='ture'>暂无最新版本</a>

                                        </p>
                                    </div>
                                    <img src="components/card/img/image.png" alt="image">
                                </div>
                            </div>
                            <div class="caption">
                                <a class="href-orange" style='white-space:nowrap;overflow: hidden;text-overflow: ellipsis' ui-sref="console.primage_detail({name:item.name})">{{item.name}}</a>
                            </div>
                            <!--<div>-->
                            <!--<p></p>-->
                            <!--<span id="updateTime"></span>-->
                            <!--<p id="releaseVersion"></p>-->
                            <!--<span><button id="deployLastest">部署最新版本</button></span>-->
                            <!--</div>-->
                        </div>
                    </div>
                    <div style="margin: 0 15px;text-align: center;background:#f7f8fb;position:relative;border:1px solid #ccc;padding-top:15px;padding-bottom:15px;"
                         ng-if="newprimage.length===0"><p class="blank_block">  <span class="blank_tit"> 没有查询到相关数据</span></p></div>

                    <!--<div style="margin: 0 15px;text-align: center;background:#f7f8fb;position:relative;border:1px solid #ccc;padding-top:15px;padding-bottom:15px;"-->
                         <!--ng-if="testlist.length===0"><p class="blank_block">  <span class="blank_tit"> {{text1}}</span></p></div>-->

                </div>
                <div class="text-center" style="text-align:center;" ng-if="grid.ckTotal > 12">
                    <uib-pagination
                            ng-model="grid.ckPage"
                            total-items="grid.ckTotal"
                            items-per-page="grid.size"
                            class="pagination-sm"
                            boundary-links="false"
                            max-size="12"
                            rotate="true"
                            previous-text="<"
                            next-text=">"
                            >
                    </uib-pagination>
                </div>
            </uib-tab>


            <uib-tab index="3" ng-show="false">
                <uib-tab-heading>
                    <i class="imagecenter"></i>&nbsp;&nbsp;公共镜像
                </uib-tab-heading>
                <div class="row" style="margin-bottom: 30px;position: relative;">
                    <div class="fenlei col-sm-6">
                        <label>提供者</label>
                        <!--<div class="btn-group fw">-->

                        <div class="btn-group fw" style="margin-left: 30px;" ng-repeat='item in serviceper'>
                            <label class="btn pull-left sc" ng-class="{'active':grid.vendor == item.class}"
                                   ng-click="selectsc('vendor',item.class)">{{item.name}}</label>
                        </div>

                    </div>
                    <div class="input-group col-sm-4 col-sm-offset-8 searchbar" id="sousuo">
                        <input type="text" class="form-control" ng-model="ctxt"
                               ng-focus="showTip=true;" placeholder="搜索镜像" ng-keyup="imagecenterreg('all', ctxt,$event)">
                    <span class="input-group-btn">
                        <a class="btn" ng-click="imagecenterreg('all', ctxt)"></a>
                    </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-6" ng-repeat="item in imagecenter">
                        <imagecard></imagecard>
                    </div>
                </div>
                <div style="text-align: center;background:#f7f8fb;position:relative;border:1px solid #ccc;padding-top:15px;padding-bottom:15px;" ng-if="imagecenter.length===0"><p class="blank_block">  <span class="blank_tit"> {{text3}}</span></p></div>
                <div class="text-center" style="text-align:center;" ng-if="grid.imagecentertotal > 8">
                    <uib-pagination
                            ng-model="grid.imagecenterpage"
                            total-items="grid.imagecentertotal"
                            items-per-page="grid.size"
                            class="pagination-sm"
                            boundary-links="false"
                            boundary-link-numbers="true"
                            max-size="3"
                            force-ellipses="'3'"
                            previous-text="<"
                            next-text=">"
                            rotate="true">
                    </uib-pagination>
                </div>
            </uib-tab>
            <uib-tab index="4" ng-if="false">
                <uib-tab-heading>
                    <i class="noticebg collection"></i>&nbsp;&nbsp;我的收藏
                </uib-tab-heading>
                <div class="row" style="margin-bottom: 30px;">
                    <div class="input-group col-sm-4 col-sm-offset-8 searchbar">
                        <input type="text" class="form-control" ng-model="txt"
                               ng-focus="showTip=true;" placeholder="搜索镜像" ng-keyup="search('all', txt)">
                    <span class="input-group-btn">
                        <a class="btn" ng-click="search('all', txt)"></a>
                    </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-6" ng-repeat="item in testlist">
                        <c-card></c-card>
                    </div>
                </div>
                <div class="text-center" style="text-align:center;" ng-if="grid.total > 10">
                    <uib-pagination
                            ng-model="grid.page"
                            ng-show='fyshow'
                            total-items="grid.total"
                            items-per-page="grid.size"
                            class="pagination-sm"
                            boundary-links="false"
                            force-ellipses="'3'"
                            max-size="12"
                            rotate="true"
                            previous-text="<"
                            next-text=">"
                            >
                    </uib-pagination>
                </div>
            </uib-tab>
            <!--
            <uib-tab index="3" heading="DockerHub镜像">
                <div class="text-center" style="padding: 130px 0 200px 0;">
                    <p style="font-size: 16px;color: #5a6378;">Docker镜像 一键搜索</p>

                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <c-search></c-search>
                        </div>
                    </div>
                </div>
            </uib-tab>
            -->
        </uib-tabset>
    </div>

</div>
<style>
    .fenlei label {
        font-size: 12px;
        font-weight: normal;
    }
    .fenlei .sc {
        background-color: #E6E9F2;
        color: white;
    }
    .fenlei .btn {
        font-size: 12px;
        font-weight:normal;
        background-color: #EAEBEF;
        color:#0f0f0f;
        padding-left:25px;padding-right:25px;border-radius:0;
    }
    /*.fl :first-child{*/
        /*margin-left: 30px;*/
        /*margin-right: 30px;*/
    /*}*/
    .fenlei .btn.active {
        border-color: #f6a540;
        box-shadow: inset 0 0px 0px rgba(0,0,0,.125);
        font-weight: bold;
        background: url(views/backing_service/img/images_48.png) no-repeat #fff;
        color: black;
    }
    .list-group-item {
        height: 40px;
        line-height: 40px;
        border: none;
        border-radius: 0;
        margin: 0;
        padding: 0;
        display: block;
        border-bottom: 1px solid #d4d4d4;
    }

    .list-group-item a {
        font-size: 12px;
        color: #f6a540;
        font-weight: bold;
    }

    .list-group-item a:hover {
        color: #5b73eb;
    }
    #sousuo {
        position: absolute;
        right: 16px;
    }
    /*.fw:last-child .btn {*/
         /*width: 112px;*/
    /*!*}*!*/
    .list-group-item:last-child {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
</style>
