<div id="image">
    <uib-tabset class="tab-default">
        <uib-tab index="1" heading="用户私有镜像仓库">
            <div class="row" style="margin-bottom: 30px;">
                <div class="input-group col-sm-4 col-sm-offset-8 searchbar">
                    <input type="text" class="form-control" ng-model="txt" ng-focus="showTip=true;" placeholder="搜索镜像">
                    <span class="input-group-btn">
                        <a class="btn" ng-click="search('all', txt)"></a>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-6" ng-repeat="item in items">
                    <c-card></c-card>
                </div>
            </div>
            <div class="text-right">
                <uib-pagination
                        ng-model="grid.page"
                        total-items="grid.total"
                        items-per-page="grid.size"
                        class="pagination-sm"
                        boundary-links="true"
                        max-size="12"
                        rotate="true"
                        previous-text="上一页"
                        next-text="下一页"
                        first-text="首页"
                        last-text="末页">
                </uib-pagination>
            </div>
        </uib-tab>
        <uib-tab index="2" heading="平台公有镜像" ng-if="false">
            <div>
                <div class="row" style="margin-bottom: 30px;">
                    <div class="col-sm-4 col-sm-offset-8">
                        <c-search></c-search>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 col-xs-6" ng-repeat="item in [1]">
                        <c-card item="item" gitStore="gitStore"></c-card>
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="3" heading="DockerHub镜像" ng-if="false">
            <div class="text-center" style="padding: 130px 0 200px 0;">
                <p style="font-size: 16px;color: #5a6378;">Docker镜像 一键搜索</p>

                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <c-search></c-search>
                    </div>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>
</div>