<div class="recharge">
    <div class="recharge_main">
        <p class="h_tit">简单透明的定价</p>
        <p class="h_detail">以超高的性价比 全面助力开发者</p>
        <div class="tab_area">
            <li class="active">华北一区</li>
            <li>华南地区</li>
        </div>
        <div class="list">
            <ul class="list_one">
                <li>
                    <div class="block trans_height">
                        <p class="name_tit">基础版1</p>
                        <p class="mon_tit">￥29<span>&nbsp;元/月 起</span></p>
                        <p class="hour_tit">0.02元/小时</p>
                        <p class="cpu_tit">1核  CPU</p>
                        <p class="rom_tit">2GB  内存</p>
                        <p class="all_tit">所有基础的功能</p>
                        <span class="buy_btn trans_background">立即购买</span>
                    </div>
                </li>
                <li>
                    <div class="block trans_height">
                        <p class="name_tit">高级版</p>
                        <p class="mon_tit">￥159<span>&nbsp;元/月 起</span></p>
                        <p class="hour_tit">0.02元/小时</p>
                        <p class="cpu_tit">4核  CPU</p>
                        <p class="rom_tit">16GB  内存</p>
                        <p class="hard_tit">500GB  SSD硬盘</p>
                        <p class="all_tit">所有高级版的功能</p>
                        <span class="buy_btn trans_background">立即购买</span>
                    </div>
                </li>
                <li>
                    <div class="block trans_height">
                        <p class="name_tit">专业版</p>
                        <p class="mon_tit">￥59<span>&nbsp;元/月 起</span></p>
                        <p class="hour_tit">0.08元/小时</p>
                        <p class="cpu_tit">2核  CPU</p>
                        <p class="rom_tit">8GB  内存</p>
                        <p class="all_tit">所有专业版的功能</p>
                        <span class="buy_btn trans_background">立即购买</span>
                    </div>
                </li>
            </ul>

            <ul class="list_one" style="display:none;">
                <li>
                    <div class="block trans_height">
                        <p class="name_tit">基础版2</p>
                        <p class="mon_tit">￥29<span>&nbsp;元/月 起</span></p>
                        <p class="hour_tit">0.02元/小时</p>
                        <p class="cpu_tit">1核  CPU</p>
                        <p class="rom_tit">2GB  内存</p>
                        <p class="all_tit">所有基础的功能</p>
                        <span class="buy_btn trans_background">立即购买</span>
                    </div>
                </li>
                <li>
                    <div class="block trans_height">
                        <p class="name_tit">高级版2</p>
                        <p class="mon_tit">￥159<span>&nbsp;元/月 起</span></p>
                        <p class="hour_tit">0.02元/小时</p>
                        <p class="cpu_tit">4核  CPU</p>
                        <p class="rom_tit">16GB  内存</p>
                        <p class="hard_tit">500GB  SSD硬盘</p>
                        <p class="all_tit">所有高级版的功能</p>
                        <span class="buy_btn trans_background">立即购买</span>
                    </div>
                </li>
                <li>
                    <div class="block trans_height">
                        <p class="name_tit">专业版</p>
                        <p class="mon_tit">￥59<span>&nbsp;元/月 起</span></p>
                        <p class="hour_tit">0.08元/小时</p>
                        <p class="cpu_tit">2核  CPU</p>
                        <p class="rom_tit">8GB  内存</p>
                        <p class="all_tit">所有专业版的功能</p>
                        <span class="buy_btn trans_background">立即购买</span>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</div>