<div class="index">
    <div class="banner">
        <img style="width:100%;" src="views/home/index/img/banner.png">
    </div>
    <div class="second">
        <div class="info col-sm-7">
            <h3>大数据服务</h3>
            <p class="infocont">一站式大数据云服务，提供广泛的大数据服务组件，可在数十秒钟即可获得<br/>
                一个可扩展的弹性分布式大数据服务组件。支持多种数据应用场景，同时满<br/>
                足数据迁移及开放的需求。
            </p>
            <a class="btn btn-green">进入大数据服务列表</a>
        </div>
        <div class="rightpic col-sm-5">
            <img class="imgwd" src="views/home/index/img/index_06.png">
        </div>
    </div>
    <div class="third">
        <div class="leftpic col-sm-5">
            <img class="imgwd" src="views/home/index/img/index_11.png">
        </div>
        <div class="info col-sm-7">
            <h3>容器云管理</h3>
            <p class="infocont">一键完成应用代码到云端的部署，得到一个灵活、高度可扩展、低成本的应<br/>
                用。同时利用容器服务优势，提供从开发、构建、测试、部署、运行的完整<br/>
                应用生命周期服务，并支持负载均衡、弹性伸缩、日志监控、灰度升级等特<br/>性。
            </p>
            <a class="btn btn-green">进入产品介绍</a>
        </div>
    </div>
    <div class="forth">
        <div class="info col-sm-7">
            <h3>合作共赢的应用</h3>
            <p>打造开放、合作、共赢的云端应用生态，共同拓展全面聚合优秀的应<br/>
                用，为用户提供丰富且一致的应用体验。
            </p>
            <a class="btn btn-green">进入应用市场</a>
        </div>
        <div class="rpic col-sm-5">
            <img class="imgwd" src="views/home/index/img/index_14.png">
        </div>
    </div>
    <!--<div class="Partner">-->
    <!--<div style="width:12%;line-height: 60px; text-align: center;font-size: 16px;">合作伙伴</div>-->
    <!--<div class="Partner1"></div>-->
    <!--<div class="Partner2"></div>-->
    <!--<div class="Partner3"></div>-->
    <!--<div class="Partner4"></div>-->
    <!--<div class="Partner5"></div>-->
    <!--<div class="Partner6"></div>-->
    <!--</div>-->

    <div class="Partner row">

        <div class='col-xs-12 one col-md-2'>合作伙伴</div>
        <div class="col-xs-12 col-md-10">
            <div class="Partner1 col-md-2 col-xs-4"></div>
            <div class="Partner2 col-md-2 col-xs-4"></div>
            <div class="Partner3 col-md-2 col-xs-4"></div>
            <div class="Partner4 col-md-2 col-xs-4"></div>
            <div class="Partner5 col-md-2 col-xs-4"></div>
            <div class="Partner6 col-md-2 col-xs-4"></div>
        </div>

    </div>
    <style>
        h3 {
            font-size: 22px;
        }

        .imgwd {
            width: 100%;
        }

        .infocont {
            font-size: 14px;
            line-height: 24px;
            color: #5a6378;
        }

        .index {
            overflow: hidden;
            padding-top: 70px;
        }

        .info {
            margin-top: 7%;
        }

        .index .banner {
            overflow: hidden;
        }

        .index .second {
            overflow: hidden;
        }

        .index .second, .index .third, .index .forth {
            width: 100%;
            padding: 40px 10%;
        }

        .index .third .info {
            padding-left: 10%;
        }

        .index .second .info h2 {
            color: #ff9423;
            font-size: 22px;
            margin-bottom: 20px;
        }

        .index .second .info p {
            font-size: 14px;
            color: #5a6378;
            margin-bottom: 12px;
        }

        .index .third {
            overflow: hidden;
            background-color: #f8f8f8;
        }

        .index .forth {
            overflow: hidden;
        }

        .Partner {
            width: 100%;
            padding: 90px 30px;
            overflow: hidden;
            background: #eeeff1;
            margin-left: 0;
            margin-right: 0;
        }

        .one {
            white-space: nowrap;
            line-height: 60px;
            text-align: center;
            font-size: 16px;
            font-size: 16px;
            font-weight: bold;

        }

        @media (max-width: 640px) {
            .Partner {
                padding-top: 10px;
                padding-bottom: 110px;
            }

            .one {
                font-size: 16px;
                font-weight: bold;
                /*line-height: 157px;*/
                /*display: none;*/
            }
        }

        .Partner div {
            float: left;
            height: 60px;
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;

        }

        .Partner1 {
            background-image: url("views/home/index/img/01_1.png");
            /*width: 13%;*/
        }

        .Partner2 {
            background-image: url("views/home/index/img/01_2.png");
            /*width: 13%;*/
        }

        .Partner3 {
            background-image: url("views/home/index/img/01_3.png");
            /*width: 13%;*/
        }

        .Partner4 {
            background-image: url("views/home/index/img/01_4.png");
            /*width: 13%;*/
        }

        .Partner5 {
            background-image: url("views/home/index/img/01_5.png");
            /*width: 17%;*/
        }

        .Partner6 {
            background-image: url("views/home/index/img/01_6.png");
            /*width: 17%;*/
        }

        .Partner1:hover {
            background-image: url("views/home/index/img/01_hover.png");
        }

        .Partner2:hover {
            background-image: url("views/home/index/img/02_hover.png");
        }

        .Partner3:hover {
            background-image: url("views/home/index/img/03_hover.png");
        }

        .Partner4:hover {
            background-image: url("views/home/index/img/04_hover.png");
        }

        .Partner5:hover {
            background-image: url("views/home/index/img/05_hover.png");
        }

        .Partner6:hover {
            background-image: url("views/home/index/img/06_hover.png");
        }
    </style>
</div>

