<div class="index">
    <div class="bannertopbox"></div>
    <div class="banner">
    </div>
    <div class="second">
        <div class="info col-sm-7">
            <h3>即买即用的大数据服务能力</h3>
            <p class="infocont">一站式大数据云服务，提供广泛的大数据服务组件，可在数十秒钟即可获得一个可扩展的弹性分布式大数据服务组件。支持多种数据应用场景，同时满足数据迁移及开放的需求。
            </p>
            <a class="btn btn-green">进入大数据服务列表</a>
        </div>
        <div class="rightpic col-sm-5">
            <img class="imgwd" src="views/home/index/img/index_06.png">
        </div>
    </div>
    <div class="third">

        <div class="leftpic col-sm-5">
            <img class="imgwd" src="views/home/index/img/index_11.png">
        </div>
        <div class="info col-sm-7">
            <h3>快速简单的大数据应用托管能力</h3>
            <p class="infocont">一键完成应用代码到云端的部署，得到一个灵活、高度可扩展、低成本的应用。同时利用容器服务优势，提供从开发、构建、测试、部署、运行的完整应用生命周期服务，并支持负载均衡、弹性伸缩、日志监控、灰度升级等特性。
            </p>
            <a class="btn btn-green">进入产品介绍</a>
        </div>
    </div>
    <div class="forth">
        <div class="info col-sm-7">
            <h3>合作共赢的应用生态</h3>
            <p>打造开放、合作、共赢的云端应用生态，共同拓展全面聚合优秀的应用，为用户提供丰富且一致的应用体验。
            </p>
            <a class="btn btn-green">进入应用市场</a>
        </div>
        <div class="rpic col-sm-5">
            <img class="imgwd" src="views/home/index/img/index_14.png">
        </div>
    </div>

    <div class="Partner row">
        <div class='col-xs-12 one col-md-2'>合作伙伴</div>
        <div class="col-xs-12 col-md-10">
            <div class="Partne Partner1" style="padding: 0;width: 15%"></div>
            <div class="Partne Partner2" style="padding: 0; width: 16%"></div>
            <div class="Partne Partner3" style="padding: 0;width: 15%"></div>
            <div class="Partner4" style="padding: 0;width: 15%"></div>
            <div class="Partner5" style="padding: 0;width: 19%"></div>
            <div class="Partner6" style="padding: 0;width: 18%"></div>
        </div>

    </div>
    <div class="row footer">
        <div class="col-xs-3 col-lg-2 col-sm-3 footer-td" style='text-align: center;'>
            <p style="height: 50px;line-height: 32px;">团队介绍</p>
            <p style="height: 50px;line-height: 32px;">合作方式</p>
            <!--<p>联系我们</p>-->
        </div>
        <div class="col-xs-9 col-lg-8 col-sm-9 col-lg-offset-2 footer-lx" style='text-align: left;'>
            <p>联系我们</p>
            <p>电话&nbsp;:&nbsp;010-82166688</p>
            <p>邮箱&nbsp;:&nbsp;datafoundry@asiainfo.com</p>
            <p>地址&nbsp;:&nbsp;北京市海淀区中关村软件园二期西北旺东路10号院亚信大厦</p>
        </div>
        <div class="col-xs-12" style='text-align: center; margin-top: 20px;'>© 2016版权所有 北京亚信智慧数据科技有限公司 京ICP备11005544号-15 京公网安备110108007119号</div>
    </div>
    <style>
        .footer {
            background: #5a6378;
            font-size: 14px;
            font-weight:bold;
            color: #bdc0c7;
            text-align: center;
            height: 300px;
            line-height: 50px;
            width: 100%;
            paddin: 0px 30px;
            padding-top: 40px;
            margin-left: 0;
            margin-right: 0;
        }

        @media (max-width: 640px) {
            #nav {
                display: none;
            }
            #mobilenav {
                display: block;
            }

            .footer {
                height: 380px;
            }

            #header #header-brand img{
                padding-top:30px;
                margin-left:21%;
                margin-right: 30px;
            }
            #header #btnk {
                margin-left: 76px;
            }

            #header #header-brand {
                padding-left: 0px;
                padding-right: 0px;
            }
            .footer-td {
                display: none;
            }
            .footer-lx {
                margin-left: 7%;
            }

        }

        .footer-lx p {
            margin-bottom: 15px;
            line-height: 30px;
        }

        .footer-td {
            border-right: 1px solid #3d4458;
        }

        h3 {
            font-size: 22px;
        }

        .imgwd {
            width: 100%;
        }

        .infocont {
            font-size: 14px;
            line-height: 24px;
            color: #5a6378;
        }

        .index {
            overflow: hidden;
            padding-top: 70px;
        }

        .info {
            margin-top: 7%;
        }

        .index .banner {
            overflow: hidden;
            background-image: url("views/home/index/img/banner.png");
            background-repeat: no-repeat ;
            background-position: center;
            background-size:contain;
            background-color: #5B6177;
        }

        .bannertopbox{
            background-color: #5B6177;
            height: 30px;
        }
        .index .second {
            overflow: hidden;
        }

        .index .second, .index .third, .index .forth {
            width: 100%;
            padding: 40px 10%;
        }

        .index .third .info {
            padding-left: 10%;
        }

        .index .second .info h2 {
            color: #ff9423;
            font-size: 22px;
            margin-bottom: 20px;
        }

        .index .second .info p {
            font-size: 14px;
            color: #5a6378;
            margin-bottom: 12px;
        }

        .index .third {
            overflow: hidden;
            background-color: #f8f8f8;
        }

        .index .forth {
            overflow: hidden;
        }

        .Partner {
            width: 100%;
            padding: 90px 30px;
            overflow: hidden;
            background: #eeeff1;
            margin-left: 0;
            margin-right: 0;
        }

        .one {
            white-space: nowrap;
            line-height: 60px;
            text-align: center;
            font-size: 16px;
            font-size: 16px;
            font-weight: bold;

        }

        @media (max-width: 640px) {

            .Partner {
                padding-top: 10px;
                padding-bottom: 110px;
            }

            .one {
                font-size: 16px;
                font-weight: bold;
                /*line-height: 157px;*/
                /*display: none;*/
            }
        }

        .Partner div {
            float: left;
            height: 60px;
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;

        }

        .Partner1 {
            background-image: url("views/home/index/img/01_1.png");
            /*width: 13%;*/
        }

        .Partner2 {
            background-image: url("views/home/index/img/01_2.png");
            /*width: 13%;*/
        }

        .Partner3 {
            background-image: url("views/home/index/img/01_3.png");
            /*width: 13%;*/
        }

        .Partner4 {
            background-image: url("views/home/index/img/01_4.png");
            /*width: 13%;*/
        }

        .Partner5 {
            background-image: url("views/home/index/img/01_5.png");
            /*width: 17%;*/
        }

        .Partner6 {
            background-image: url("views/home/index/img/01_6.png");
            /*width: 17%;*/
        }

        .Partner1:hover {
            background-image: url("pub/img/01_hover.png");
        }

        .Partner2:hover {
            background-image: url("pub/img/02_hover.png");
        }

        .Partner3:hover {
            background-image: url("pub/img/03_hover.png");
        }

        .Partner4:hover {
            background-image: url("pub/img/04_hover.png");
        }

        .Partner5:hover {
            background-image: url("pub/img/05_hover.png");
        }

        .Partner6:hover {
            background-image: url("pub/img/06_hover.png");
        }
    </style>
</div>

