<div id="rc">
    <p>
        <span class="pd_name">{{replicaSet.metadata.name}}</span>
        &nbsp;&nbsp;
        <span class="pd_dt">created&nbsp;{{replicaSet.metadata.creationTimestamp | dateRelative}}</span>
    </p>
    <uib-tabset class="tab-default tab-pods">
        <uib-tab index="1">
            <uib-tab-heading>
                Details
            </uib-tab-heading>
            <div ng-include="'views/rc/tpl/details.html'"></div>
        </uib-tab>
        <uib-tab index="2">
            <uib-tab-heading>
                Environment
            </uib-tab-heading>
            <div ng-include="'views/rc/tpl/environment.html'"></div>
        </uib-tab>
        <uib-tab index="3">
            <uib-tab-heading>
                Metrics
            </uib-tab-heading>
            <public-metrics conname="conname"
                            podid="poduid"
                            stateful-pods="replicaPods">
            </public-metrics>
        </uib-tab>
        <uib-tab index="4">
            <uib-tab-heading>
                Logs
            </uib-tab-heading>
            <pod-logs pod-name="{{replicaSet.metadata.annotations['openshift.io/deployment-config.name']}}"
                      type="deploymentconfigs"></pod-logs>
        </uib-tab>
        <uib-tab index="5">
            <uib-tab-heading>
                Events
            </uib-tab-heading>
            <deployments-event dcname="replicaSet.metadata.name" dcfit="ReplicationController"></deployments-event>
        </uib-tab>
    </uib-tabset>

</div>