<div class="backing-service-detail">
    <div class="info">
        <div class="info-image">

        </div>
        <div class="info-desc">
            <h2 ng-bind="data.metadata.name"></h2>
            <p>类型: Devops</p>
            <p>类型:{{data.spec.metadata.providerDisplayName}}</p>
            <p>版本: bete.sodsf.sdfe</p>
            <p>服务文档: <a href="" class="href-orange">www.heihei.com</a></p>
            <p>帮助文档: <a href="" class="href-orange">www.haha.com</a></p>
        </div>
    </div>

    <uib-tabset class="tab-default">
        <uib-tab index="1">
            <uib-tab-heading>
                <i class="faa faa-edit"></i>&nbsp;&nbsp;服务信息
            </uib-tab-heading>
            <div ng-include="'views/backing_service_detail/plan.html'"></div>
        </uib-tab>

        <uib-tab index="2">
            <uib-tab-heading>
                <i class="faa faa-edit"></i>&nbsp;&nbsp;已申请的实例
            </uib-tab-heading>
            <div ng-include="'views/backing_service_detail/applied_instance.html'"></div>
        </uib-tab>
    </uib-tabset>
</div>