<div class="plan" style="margin: -15px;">
    <p>
        {{data.spec.metadata.longDescription}}
    </p>

    <h3>套餐列表</h3>

    <div class="panel panel-default" ng-repeat="item in data.spec.plans">
        <div class="panel-heading">
            <span class="panel-title">{{item.name}}</span>
            <button class="btn btn-orange pull-right">申请实例</button>
        </div>
        <div class="panel-body">
            <table class="" style="border:0 none;padding:0px;margin:0px;width:100%;" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td class="col-md-5" style="border-right: 1px solid #c9c9c9;">
                    <label><i class="faa faa-price"></i>&nbsp;&nbsp;价格</label>
                    <p ng-repeat="ct in item.metadata.costs">
                            {{ct.unit}}:€{{ct.eur}}&nbsp;|&nbsp;${{ct.usd}}
                    </p>
                </td>
                <td class="col-md-3" style="border-right: 1px solid #c9c9c9;">
                    <label><i class="faa faa-price"></i>&nbsp;&nbsp;内容</label>
                    <p ng-repeat="bl in item.metadata.bullets">
                           {{bl}}
                    </p>
                </td>
                <td class="col-md-4">
                    <label><i class="faa faa-price"></i>&nbsp;&nbsp;描述</label>
                    <p>{{item.description}}</p>
                </td>
            </tr>
            </table>
        </div>
    </div>
</div>