<div id="sidebar">
    <ul class="nav nav-pills nav-stacked">
        <li ui-sref-active="active">
            <a ui-sref="console.dashboard">
                <span class="sidebar-icon sidebar-icon-dashboard"></span>&nbsp;&nbsp;仪表盘
            </a>
        </li>
        <li ui-sref-active="active"
            ng-class="{'active':$state.includes('console.build_create')||$state.includes('console.build_detail')}">
            <a ui-sref="console.build">
                <span class="sidebar-icon sidebar-icon-build"></span>&nbsp;&nbsp;代码构建
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="console.image">
                <span class="sidebar-icon sidebar-icon-repository"></span>&nbsp;&nbsp;镜像仓库
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="console.service">
                <span class="sidebar-icon sidebar-icon-deployment"></span>&nbsp;&nbsp;服务部署
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="console.service">
                <span class="sidebar-icon sidebar-icon-service"></span>&nbsp;&nbsp;外部服务市场
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="console.service">
                <span class="sidebar-icon sidebar-icon-make"></span>&nbsp;&nbsp;应用编排
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="console.service">
                <span class="sidebar-icon sidebar-icon-resource"></span>&nbsp;&nbsp;资源管理
            </a>
        </li>
    </ul>
</div>

