<div>
    <ul class="nav nav-pills nav-stacked">
        <li ui-sref-active="active">
            <a ui-sref="console.dashboard">仪表盘</a>
        </li>
        <li ui-sref-active="active"
            ng-class="{'active':$state.includes('console.build_create')||$state.includes('console.build_detail')}">
            <a ui-sref="console.build">代码构建</a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="console.image">镜像仓库</a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="console.service">服务部署</a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="console.service">外部服务市场</a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="console.service">应用编排</a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="console.service">资源管理</a>
        </li>
    </ul>
</div>
