<div class="build-detail">
    <div class="panel panel-default" style="margin-bottom: 50px">
        <div class="panel-heading">
            <span class="panel-title">
                <span class="icon25 icon25-panel"></span>&nbsp;&nbsp;{{data.metadata.name}}
            </span>
            <a class="btn btn-gray pull-right" style="padding: 5px 10px;margin-left: 15px;" ng-click="delete()"><img src="views/build_detail/img/images_141.png" ></a>
            <a class="btn btn-green pull-right" ng-click="startBuild()">构建</a>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4">
                    <div class="media media-sm">
                        <div class="media-left">
                            <img class="media-object" src="views/build_detail/img/images_104.png">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">创建时间</h4>
                            <small>{{data.metadata.creationTimestamp | dateRelative}}</small>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="media media-sm">
                        <div class="media-left">
                            <img class="media-object" src="views/build_detail/img/images_106.png">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">代码URL</h4>
                            <small>
                                <a class="href-orange text-overflow" href="{{data.spec.source.git.uri}}" target="_blank">{{data.spec.source.git.uri}}</a>
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4" ng-if="data.spec.output && data.spec.output.to && data.spec.output.to.name">
                    <div class="media media-sm">
                        <div class="media-left">
                            <img class="media-object" src="views/build_detail/img/images_108.png">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">镜像</h4>
                            <small>
                                <a class="href-orange" ui-sref="console.image_detail({name: data.spec.output.to.name})">{{data.spec.output.to.name}}</a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <uib-tabset class="tab-default">
        <uib-tab index="1">
            <uib-tab-heading>
                <span class="icon20 icon20-log"></span> 构建记录
            </uib-tab-heading>
            <c-timeline data="history"></c-timeline>
        </uib-tab>
        <uib-tab index="2">
            <uib-tab-heading>
                <span class="icon20 icon20-paper"></span> 配置信息
            </uib-tab-heading>
            <form class="form-horizontal">
                <div class="form-group" style="border-bottom-color: #c9c9c9">
                    <!--<label class="col-sm-2 text-left" id="autobuild">自动构建触发条件</label>-->
                    <label class="col-sm-2 text-left" id="autobuild">是否自动构建</label>
                    <div class="font12 col-sm-10">
                        <label class="font12" id="URL" style="margin-left: 60px;">Payload URL : </label>
                        <label class="font12" id="address" style="margin-left: 60px;">example</label><br>
                        <label class="font12" id="paste" style="margin-left: 60px;">请去代码仓库创建Webhook</label>

                        <!--<label id="condition" style="margin-left: 60px">当代码仓库发生以下变化触发持续集成</label><br>-->
                        <!--<label id="pushtag" style="margin-left: 60px"><input type="checkbox" style="margin-right:15px">提交Tag</label>-->
                        <!--<div>-->
                            <!--<label id="pushbranch" style="margin-left: 60px">-->
                                <!--<input type="checkbox" style="margin-right: 15px">提交代码到分支-->
                                <!--<input ng-disabled="!chosenbranch" type="text" class="form-line" id="branchname" placeholder="请输入分支名称" style="margin-left: 15px">-->
                                <!--<a ng-click="chosenbranch = true" class="icon12 icon-edit" id="edit-branch" style="margin-left: 15px" href="javascript:;"></a>-->
                                <!--<a ng-if="chosenbranch" ng-click="chosenbranch = false" class="icon12 icon-save" id="save-branch" style="margin-left: 15px; display: none;" href="javascript:;"></a>-->
                            <!--</label>-->
                        <!--</div>-->
                    </div>
                </div>
            </form>
            <form class="form-horizontal" id="cigroup">
                <div class="form-group" style="border-bottom-color: #c9c9c9">
                    <label class="col-sm-2 text-left">是否持续集成</label>
                    <div class="col-sm-5">
                        <label class="font12" style="margin-left: 60px;"><input type="checkbox" style="margin-right: 30px" >点击按钮,进行持续集成配置</label>
                    </div>
                    <div class="col-sm-5">
                        <button class="btn btn-orange" id = "ci">持续集成配置</button>
                    </div>
                </div>
            </form>
            <form class="form-horizontal" id="buildingtime">
                <div class="form-group" style="border-bottom-color: #fff; padding-bottom: 10px">
                    <label class="col-sm-3 text-left" ng-model="setmaxduration">构建超时时长</label>
                    <div class="col-sm-9">
                        <label class="font12" style="margin-right: 20px"><input ng-disabled="!chosentime" ng-model="set" type="text" style="margin-left: -10px; margin-right:10px ">mins
                            <a ng-click="chosentime = true" class="icon12 icon-edit" style="margin-left: 15px;" href="javascript:;"></a>
                            <a ng-if="chosentime" ng-click="chosentime" class="icon12 icon-edit" style="margin-left: 15px; display: none;" href="javascript:;"></a></label>
                        <label class="font12" style="display:none"><img style="margin-left: -10px" src="views/build_detail/img/images_131.png" >构建时长请不要超过30mins.</label>
                        <label class="font12" style="margin-left: 60px; margin-top: 12px; color: red; display: none">您设置的时长超过了最大限制,请重新设置.</label>
                    </div>
                </div>
            </form>
        </uib-tab>
    </uib-tabset>
</div>
