<div>
    <div class="panel panel-default" style="margin-bottom: 50px">
        <div class="panel-heading">
            <span class="panel-title" id = "buildName"><img  id = "header_img" src="views/build_detail/img/images_113.png"> {{data.metadata.name}}</span>
            <button ng-click="delete()" class="btn btn-grey pull-right" id = "delButton"><img src="views/build_detail/img/images_141.png" ></button>
            <button class="btn btn-green pull-right" id = "biildButton">构建</button>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4">
                    <img src="views/build_detail/img/images_104.png">
                    <p class="firstLine">创建时间</p>
                    <p class="secondLine">{{data.metadata.creationTimestamp | dateRelative}}</p>
                </div>
                <div class="col-sm-4">
                    <img src="views/build_detail/img/images_106.png">
                    <p class="firstLine">代码URL</p>
                    <p class="secondLine">
                        <a class="href-orange text-overflow" href="{{data.spec.source.git.uri}}" target="_blank">{{data.spec.source.git.uri}}</a>
                    </p>
                </div>
                <div class="col-sm-4">
                    <img src="views/build_detail/img/images_108.png">
                    <p class="firstLine">镜像</p>
                    <p class="secondLine">
                        <a class="href-orange" ui-sref="console.image">{{data.spec.output.to.name}}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <uib-tabset class="tab-default">
        <uib-tab index="1" heading="构建记录">
            <c-timeline data="history"></c-timeline>
        </uib-tab>
        <uib-tab index="2" heading="配置信息">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label" id="autobuild">自动构建触发条件</label>
                    <div class="font12 col-sm-10">
                        <label id="condition">当代码仓库发生以下变化触发持续集成</label><br>
                        <label id="pushtag"><input type="checkbox" style="margin-right:15px">提交Tag</label>
                        <div>
                            <label id="pushbranch">
                                <input type="checkbox" style="margin-right: 15px">提交代码到分支
                                <input type="text" class="form-line" id="branchname" placeholder="请输入分支名称" style="margin-left: 15px">
                                <a class="icon12 icon-edit" style="margin-left: 15px" href="javascript:;"></a>
                            </label>
                        </div>
                    </div>
                </div>
            </form>
            <form class="form-horizontal" id="cigroup">
                <div class="form-group">
                    <label class="col-sm-2 control-label">是否持续集成</label>
                    <div class="col-sm-5">
                        <button class="btn btn-orange pull-right" id = "ci">持续集成配置</button>
                    </div>
                </div>
            </form>
            <form class="form-horizontal" id="buildingtime">
                <div class="form-group">
                    <label class="col-sm-2 control-label">构建超时时长</label>
                    <div class="col-sm-6">
                        <select name="" id="choosentime" style="margin-left: 60px"></select>
                        <label>构建时长请不要超过30mins.</label>
                        <label><img src="" alt="">您设置的时长超过了最大限制,请重新设置.</label>
                    </div>
                    <div class="col-sm-4">
                        <label><input type="text" class="form-line" id="time" style="margin-right:15px;">mins</label>
                    </div>
                </div>
            </form>
        </uib-tab>
    </uib-tabset>
</div>