.build-detail .form-group {
    padding-bottom: 30px;
    border-bottom: 1px solid #c9c9c9;
}
.build-detail .form-group:last-child {
    border-bottom: none;
}
.icon-edit {
    background-image: url(img/images_134.png);
}
#condition {
    padding-top: 10px;
}
#pushtag {
    margin-top: 25px;
    margin-bottom: 30px;
}
.font12 {
    font-size: 12px;
    color: #5a6378;
    font-weight:normal;
}
.text-left {
    font-weight: normal;
}

.till{
    display: none;
}
.tell:hover>.till{
    display: block;
}
/*.href-orange{*/
    /*color: #f6a540;*/
    /*text-decoration: none;*/
/*}*/
/*.href-orange:hover {*/
    /*color: #5b73eb;*/
    /*text-decoration: none;*/
/*}*/
/*.href-orange:active {*/
    /*color: #5b73eb;*/
    /*text-decoration: none;*/
/*}*/
/*����Ϊ��ʱ״̬*/
.blank_block{margin-bottom:0;}
.blank_tit{font-size:14px;color:#5a6378;margin-left:10px;vertical-align:middle;}

.tab-jia-default li.active .nav-link, .tab-jia-default li.active .nav-link:focus, .tab-jia-default li.active .nav-link:hover{
    border:0;
    border-bottom:2px solid #47B2FB;color:#47B2FB;
}
.tab-jia-default .tab-content{border: 0;}
.tab-jia-default li .nav-link:hover{color:#333;}
/*new code*/

#build-detail{
    background:#fff;padding:20px 40px 40px;
    /*margin-top: 20px;*/
    /*margin-left: 20px;*/
}
#build-detail .panel_marginBottom{
    /*margin-bottom: 50px;*/
}
#build-detail .btn_a{
    /*padding: 6px 12px;*/
    margin-left: 15px;
    /*height:34px;*/
    font-size:14px;
}

#build-detail .small_col{
    color: #5a6378;
}
#build-detail .media-body_tell{
    width: 100%;
}
#build-detail .till{
    position: absolute;
    top: -6px;
    padding: 0 8px;
    border-radius:3px;
    white-space:nowrap;
    left: 0;
    background-color: black;
    color: white;
}
#build-detail .href-orange_a{
    /*width:60%;*/
}
#build-detail .tell_position{
    position: relative;
}
#build-detail .till_position{
    position: absolute;top: -30px;padding: 0 8px;border-radius:3px;left: 0;background-color: black;color: white
}
#build-detail .tell_white_space{
    white-space:nowrap;overflow: hidden;text-overflow: ellipsis;
}
#build-detail .well-log_overflow{
    height: 300px;
    overflow: auto;
}
#build-detail .icon25-stop {
    background-image: url(img/stop.png);
}
#build-detail .icon25-stop:hover {
    background-image: url(img/stop-hover.png);
}

#build-detail .sa_color{
    color:#e4e4e4;
}
#build-detail .border_background{
    border:1px solid #e5e5e5;
    padding-top:10px;
    padding-bottom:10px;
    background:#f7f8fc;
    text-align: center;
    position:relative;
}
#build-detail .text-left_color{
    color: darkgray;
}
#build-detail .form-group_padding{
    padding-top: 30px;
}
#build-detail .small_margin{
    margin-right: 20px;
}
#build-detail .form-group_paddingTop{
    padding-top: 50px;
}
#build-detail .input_sty{
    width: 80px;display: inline-block;
}
#build-detail .input_sty:hover{border:1px solid #47B2FB}
#build-detail .input_sty[disabled]{cursor:not-allowed;background:#EFF2F7;border:1px solid #E0E6ED}

#build-detail .form_group_span{
    display: inline-block;
}
#build-detail .form_group_a{
    text-decoration: none;
}
#build-detail .fa_small{
    font-size: 12px;color: #ec6941;
}
#build-detail .till{
    display: none;
}
#build-detail .tell:hover>.till{
    display: block;
}
/*new code end*/
#build-detail .detail_tit{font-size:12px;color:#A2B0C4;}
#build-detail .build_name{color:#000;font-weight: normal;}

#build-detail .pip_block{overflow:hidden;margin-bottom:14px;}
#build-detail .pit_left{float:left;width:160px;margin:0px;font-size:12px;line-height:26px;color: #475669;}
#build-detail .pip_btn{border-radius:4px;cursor:pointer;width:32px;height:26px;display:block;border:1px solid #CCD5E0;margin-left:10px;float:left;line-height:26px;text-align:center;}
#build-detail .pip_btn:hover{color:#47B2FB;border:1px solid #47B2FB;}

#build-detail .set_tit{width:40px;height:40px;border:1px solid #000;}
#build-detail .set_tit:before{content:"\f0ea"}

#build-detail .trig_tp{margin-top:16px;}
#build-detail .pip_tit{width: 320px;display:block;float:left;height:26px;line-height:26px;border:1px solid #CCD5E0;overflow:hidden;
    padding-left:10px;padding-right:4px;white-space:nowrap;font-size:12px;color: #A2B0C4;border-radius: 4px;}
