<div class="thumbnail">
    <div class="thumb-content">
        <p><img src="components/bscard/img/images01_08.png">{{item.spec.metadata.providerDisplayName}}</p>
        <p><img src="components/bscard/img/images01_06.png">version</p>
        <div class="thumb-slide">
            <div class="thumb-op">
                <small>{{item.spec.description}}</small>
                <p class="thumb-btn">
                    <a class="btn btn-skyblue" href="javascript:;" ng-click="bsdetails()">
                       <!--ui-sref="console.service_create({image: item.ist})">-->
                        查看详情</a>
                </p>
            </div>
            <img src="components/bscard/img/images01_03.png" alt="image">
        </div>
    </div>
    <div class="caption">
        <p calss="bsname">{{item.metadata.name}}</p>
        <a class="btn btn-orange" href="javascript:;">申请实例</a>
    </div>
</div>
