<div class="thumbnail">
    <div class="thumb-content">
        <p class="providername"><img src="components/bscard/img/images01_08.png">{{item.spec.metadata.providerDisplayName}}</p>
        <!--<p><img src="components/bscard/img/images01_06.png">&nbsp;version</p>-->
        <div class="thumb-slide">
            <div class="thumb-op">
                <small>{{item.spec.description}}</small>
                <p class="thumb-btn">
                    <a class="btn btn-skyblue" href="javascript:;" ui-sref="console.backing_service_detail({name: item.metadata.name})">
                        查看详情</a>
                </p>
            </div>
            <div ng-if="item.spec.metadata.imageUrl" class="tes11" style="background-image:url('{{item.spec.metadata.imageUrl}}');"></div>
            <div ng-if="!item.spec.metadata.imageUrl" class="tes11" style="background-image:url('components/bscard/img/images01_03.png');width: 68px;height:66px;background-color: #EAEBEF;"></div>
        </div>
    </div>
    <div class="caption">
        <p class="bsname">{{item.metadata.name}}</p>
        <a class="btn btn-orange"  ui-sref="console.apply_instance({name: item.metadata.name})">申请实例</a>
    </div>
</div>
