<h3>ng-file-upload demo</h3>
<hr>
<div>
    <form name="myForm" class="form-horizontal" role="form">
        <h4>Upload on form submit</h4>

        <div class="form-group"
             ng-class="{'has-error': myForm.username.$dirty && myForm.username.$invalid}">
            <label class="col-sm-5 control-label">Username:</label>

            <div class="col-sm-5">
                <input type="text" name="username" ng-model="username" class="form-control" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-5 control-label">Profile Picture:</label>

            <div class="col-sm-5">
                <button class="btn btn-primary" ngf-select required name="picFile"
                        ng-model="picFile"
                        ngf-pattern="'image/*'"
                        ngf-accept="'image/*'"
                        ngf-resize="{width: 200, height: 100}">
                    Select
                </button>
            </div>
        </div>

        <div class="form-group" ng-show="myForm.picFile.$valid">
            <div class="col-sm-5 col-sm-offset-5">
                <img ngf-src="picFile" class="thumb">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-5 col-sm-offset-5">
                <button class="btn btn-default" ng-disabled="!myForm.$valid" ng-click="uploadPic(picFile)">Submit
                </button>
            </div>
        </div>

      <span class="progress" ng-show="picFile.progress >= 0">
          <div style="width:{{picFile.progress}}%" ng-bind="picFile.progress + '%'" class="ng-binding"></div>
      </span>
        <span ng-show="picFile.result">Upload Successful</span>
    </form>
</div>
<hr>
<div>
    <h4>Play with options</h4>
    <div class="row" style="padding-bottom:15px;">
        <div class="col-sm-6">
            <div ngf-select ngf-drop ng-model="files"
                 style="height:100px;border:1px solid #ddd;text-align:center;line-height:100px;"
                 ngf-model-invalid="invalidFiles"
                 ng-model-options="{debounce: 100}"
                 ngf-multiple="multiple"
                 ngf-pattern="pattern"
                 ngf-accept="acceptSelect"
                 ng-disabled="disabled"
                 ngf-capture="capture"
                 ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', pattern:'image/*,audio/*,video/*,text/*'}"
                 ngf-validate="{size: {max: '20MB', min: '10B'}, height: {max: 12000}, width: {max: 12000}, duration: {max: '5m'}}"
                 ngf-resize="{width: 100, height: 100, centerCrop: true}"
                 ngf-resize-if="$width > 100 || $height > 100"
                 ngf-dimensions="$width < 12000 || $height < 12000"
                 ngf-duration="$duration < 10000"
                 ngf-keep="keepDistinct ? 'distinct' : keep"
                 ngf-fix-orientation="orientation"
                 ngf-allow-dir="allowDir"
                 ngf-drop-available="dropAvailable">
                Select File
                <span ng-show="dropAvailable"> or Drop File</span>
            </div>
        </div>
        <div class="col-sm-6">
            <div ngf-drop ng-model="files"
                 style="height:100px;border:1px solid #ddd;text-align:center;line-height:100px;"
                 ngf-model-invalid="invalidFiles"
                 ng-model-options="{debounce: 100}"
                 ngf-multiple="multiple"
                 ngf-pattern="pattern"
                 ng-disabled="disabled"
                 ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', pattern:'image/*,audio/*,video/*,text/*'}"
                 ngf-validate="{size: {max: '20MB', min: '10B'}, height: {max: 12000}, width: {max: 12000}, duration: {max: '5m'}}"
                 ngf-resize="{width: 1000, height: 1000, centerCrop: true}"
                 ngf-resize-if="$width > 5000 || $height > 5000"
                 ngf-dimensions="$width < 12000 || $height < 12000"
                 ngf-duration="$duration < 10000"
                 ngf-keep="keepDistinct ? 'distinct' : keep"
                 ngf-enable-firefox-paste="true"
                 ngf-fix-orientation="orientation"
                 ngf-allow-dir="allowDir"
                 ng-show="dropAvailable">
                <span>Paste or Drop Image from browser</span>
            </div>
        </div>
    </div>

    <div style="padding-bottom:15px;">
        <div>Preview image/audio/video:</div>
        <img ngf-src="files[0] && !files[0].$error">
        <audio controls="" ngf-src="files[0] && !files[0].$error"></audio>
        <video controls="" ngf-src="files[0] && !files[0].$error"></video>
    </div>

    <form name="myForm2" class="form-horizontal" role="form">

        <div class="form-group">
            <label class="col-sm-5 control-label">accept (for select browser dependent):</label>
            <div class="col-sm-5">
                <input type="text" ng-model="acceptSelect" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-5 control-label">ngf-pattern (validate file model): </label>
            <div class="col-sm-5">
                <input type="text" ng-model="pattern" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-5 control-label">ngf-capture (for mobile): </label>
            <div class="col-sm-5">
                <input type="text" ng-model="capture" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-5 col-sm-offset-5">
                <input type="checkbox" ng-model="multiple">
                ngf-multiple (allow multiple files)
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-5 col-sm-offset-5">
                <input type="checkbox" ng-model="disabled">
                ng-disabled
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-5 col-sm-offset-5">
                <input type="checkbox" ng-model="allowDir">
                ngf-allow-dir (allow directory drop Chrome only)
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-5 col-sm-offset-5">
                <input type="checkbox" ng-model="keep">
                ngf-keep (keep the previous model values in ng-model)
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-5 col-sm-offset-5">
                <input type="checkbox" ng-model="keepDistinct">
                ngf-keep="distinct" (do not allow duplicates)
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-5 col-sm-offset-5">
                <input type="checkbox" ng-model="orientation">
                ngf-fix-orientation (for exif jpeg files)
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-5 control-label">Upload resumable chunk size: </label>
            <div class="col-sm-5">
                <input type="text" ng-model="chunkSize" class="form-control">
            </div>
        </div>
    </form>
</div>
