<div id="monitoring">
    <!--左侧边栏-->
    <!--<pageslide ps-open='open'-->
    <!--ps-body-class="bodyclass"-->
    <!--ps-click-outside="false"-->
    <!--ps-key-listener="true"-->
    <!--ps-zindex="10"-->
    <!--ps-size="390px"-->
    <!--onclose="closesider">-->
    <!--<monitoring-slide></monitoring-slide>-->
    <!--</pageslide>-->
    <!--内容区-->
    <div class="monitoring-container" style="margin: 0 25px;">
        <div class="nav_top_li" add-classes-top>
            <div class="row" style="margin-top: 8px;margin-right: 0;">
                <div class="col-sm-3">
                    <div class="dropdown dropdown-select" style="display: block;float: left;width: 100%;">
                        <button class="dropdown-toggle list-btn" data-toggle="dropdown"
                                style="width: 100%;font-size: 12px;height: 24px;">
                            <span style="float: left;color: gray;">{{curListName}}</span>
                            <span class="caret caret-btn-bottom"></span>
                        </button>
                        <ul class="dropdown-menu" style="max-height: 156px;margin-top: -1px;overflow-y: auto">
                            <li ng-repeat="name in allList">
                                <a href="javascript:;" ng-click="checkCurListName(name)">{{name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div style="color: #ddd;float: left;">|</div>
                <div class="col-sm-3">
                    <div class="filter-name filter-name-father">
                        <input type="text" class="list-btn" style="width: 100%;" placeholder="Filter by name">
                        <span class="uex-icon-search filter-name-sarch">
                </span>
                    </div>
                </div>
                <div style="float: right;font-size: 12px;">
                    <span style="cursor: pointer;color: #47b2fb;margin-right: 10px;"
                          ng-click="editEvent()">Events</span>
                    <input type="checkbox">Hide older resources
                </div>
            </div>
        </div>
        <div style="margin-top: 62px;">
            <div ng-show="curListName == 'All' || curListName =='Pods'">
                <h2 style="font-size: 16px;font-weight: bold;">Pods</h2>
                <div ng-repeat="pod in podsItem.items">
                    <div class='monitoring-container-other'>
                        <div class="row">
                            <div class="col-sm-2">
                                <span class="detail_tit">名称：</span>
                                <span class="build_name">{{pod.metadata.name}}</span>
                            </div>
                            <div class="col-sm-2">
                                <span class="detail_tit">创建时间：</span>
                                <label class="build_name">
                                    {{pod.metadata.creationTimestamp | dateRelative}}
                                </label>
                            </div>

                            <div class="col-sm-2">
                                <span class="detail_tit">状态：</span>
                                <label class="build_name">
                                    <status-icon status="pod | podStatus" disable-animation></status-icon>
                                    {{pod | podStatus | sentenceCase}}
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <span class="detail_tit">版本：</span>
                                <label class="build_name">
                                    <span class="pficon pficon-image" aria-hidden="true"></span>
                                    <image-names pod-template="pod" pods="[pod]"></image-names>
                                </label>
                            </div>
                            <div class="col-sm-2">
                                <span class="detail_tit">查看：</span>
                                <label class="build_name" ng-click="openCon($index,'pod')">
                                    <i class="icon25 icon25-collapse"></i>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div ng-if="pod.isLog" class="show-log-style">
                        <pod-logs pod-name="{{pod.metadata.name}}"
                                  pod-container="pod.spec.containers"
                                  pod-resource-version="{{pod.metadata.resourceVersion}}"
                                  type="pods"
                                  api="k8s"
                        ></pod-logs>
                        <public-metrics conname="pod.spec.containers[0].name"
                                        podid="pod.metadata.uid"
                                        podname="pod.metadata.name">
                        </public-metrics>
                    </div>
                    <div ng-if="podsItem.items.length===0">
                        <div class="blank_block">
                            <span class="blank_pic"></span>
                            <span class="blank_tit">{{text}} </span>
                            <div class="blank_create_tit" ng-if="begin_blank">
                                <!--<span class="blank_des">，点击</span>-->
                                <!--<a class="df_go_create" ui-sref="console.build_create({namespace:namespace})">-->
                                    <!--<span class="hidden-xs">去创建</span>-->
                                <!--</a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="curListName == 'All' || curListName =='Deployments'">
                <h2 style="font-size: 16px;font-weight: bold;">Deployments</h2>
                <div ng-repeat="rc in replicasItem.items">
                    <div class='monitoring-container-other'>
                        <div class="row">
                            <div class="col-sm-2">
                                <span class="detail_tit">名称：</span>
                                <span class="build_name">{{rc.metadata.name}}</span>
                            </div>
                            <div class="col-sm-2">
                                <span class="detail_tit">创建时间：</span>
                                <label class="build_name">
                                    {{rc.metadata.creationTimestamp | dateRelative}}
                                </label>
                            </div>

                            <div class="col-sm-2">
                                <span class="detail_tit">状态：</span>
                                <label class="build_name">
                                    <status-icon status="rc | deploymentStatus"></status-icon>
                                    {{rc | deploymentStatus}}
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <span class="detail_tit">版本：</span>
                                <label class="build_name">
                                    <span class="pficon pficon-image" aria-hidden="true"></span>
                                    <image-names
                                            pod-template="rc.spec.template"
                                            pods="podsByOwnerUID[rc.metadata.uid]">
                                    </image-names>
                                </label>
                            </div>
                            <div class="col-sm-2">
                                <span class="detail_tit">查看：</span>
                                <label class="build_name" ng-click="openCon($index,'rc')">
                                    <i class="icon25 icon25-collapse"></i>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div ng-if="rc.isLog" class="show-log-style">
                        <pod-logs pod-name="{{rc.metadata.annotations['openshift.io/deployment-config.name']}}"
                                  type="deploymentconfigs"></pod-logs>
                        <public-metrics conname="rc.spec.template.spec.containers[0].name"
                                        podid="rcPoduid"
                                        stateful-pods="rcPods">
                        </public-metrics>
                    </div>
                </div>
            </div>
            <div ng-show="curListName == 'All' || curListName =='Stateful Sets'">
                <h2 style="font-size: 16px;font-weight: bold;">Stateful Sets</h2>
                <!--<h2 style="font-size: 12px;color: #363636;" ng-show="statefulSets.items.length<0">-->
                <!--There are no stateful sets in this project.-->
                <!--</h2>-->
                <div ng-repeat="stateful in statefulSets.items">
                    <div class='monitoring-container-other'>
                        <div class="row">
                            <div class="col-sm-2">
                                <span class="detail_tit">名称：</span>
                                <span class="build_name">{{stateful.metadata.name}}</span>
                            </div>
                            <div class="col-sm-2">
                                <span class="detail_tit">创建时间：</span>
                                <label class="build_name">
                                    {{stateful.metadata.creationTimestamp | dateRelative}}
                                </label>
                            </div>

                            <div class="col-sm-2">
                                <span class="detail_tit">状态：</span>
                                <label class="build_name">
                                    <status-icon status="rc | deploymentStatus"></status-icon>
                                    {{stateful | deploymentStatus}}
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <span class="pficon pficon-image" aria-hidden="true"></span>
                                <image-names
                                        pod-template="stateful.spec.template"
                                        pods="podsByOwnerUID[stateful.metadata.uid]">
                                </image-names>
                            </div>
                            <div class="col-sm-2">
                                <span class="detail_tit">查看：</span>
                                <label class="build_name" ng-click="openCon($index,'pod')">
                                    <i class="icon25 icon25-collapse"></i>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div ng-if="stateful.isLog" class="show-log-style">
                        <public-metrics conname="stateful.spec.template.spec.containers[0].name"
                                        podid="statefulPoduid"
                                        stateful-pods="statefulPods">
                        </public-metrics>
                    </div>
                </div>
            </div>
            <div ng-show="curListName == 'All' || curListName =='Builds'">
                <h2 style="font-size: 16px;font-weight: bold;">Builds</h2>
                <div ng-repeat="bc in builds.items">
                    <div class='monitoring-container-other'>
                        <div class="row">
                            <div class="col-sm-2">
                                <span class="detail_tit">名称：</span>
                                <span class="build_name">{{bc.metadata.name}}</span>
                            </div>
                            <div class="col-sm-2">
                                <span class="detail_tit">创建时间：</span>
                                <label class="build_name">
                                    {{bc.metadata.creationTimestamp | dateRelative}}
                                </label>
                            </div>

                            <div class="col-sm-2">
                                <span class="detail_tit">状态：</span>
                                <label class="build_name">
                                    <status-icon status="bc.status.phase" disable-animation></status-icon>
                                    <span ng-if="!bc.status.reason || bc.status.phase === 'Cancelled'">{{bc.status.phase}}</span>
                                    <span ng-if="bc.status.reason && bc.status.phase !== 'Cancelled'">{{bc.status.phase}}</span>
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <span class="detail_tit">版本：</span>
                                <label class="build_name">
                                <span ng-if="bc.spec.source.type || bc.spec.revision.git.commit || bc.spec.source.git.uri">
                                            <span class="fa fa-fw fa-code"></span>
                                            <span ng-if="bc.spec.revision.git.commit">
                                              {{bc.spec.revision.git.message}}
                                              <osc-git-link
                                                      class="hash"
                                                      uri="bc.spec.source.git.uri"
                                                      ref="bc.spec.revision.git.commit">{{bc.spec.revision.git.commit | limitTo:7}}</osc-git-link>
                                              <span ng-if="detailed && bc.spec.revision.git.author">
                                                authored by {{bc.spec.revision.git.author.name}}
                                              </span>
                                            </span>
                                            <span ng-if="!bc.spec.revision.git.commit && bc.spec.source.git.uri">
                                              <osc-git-link
                                                      uri="bc.spec.source.git.uri">{{bc.spec.source.git.uri}}</osc-git-link>
                                            </span>
                                            <span ng-if="bc.spec.source.type && !bc.spec.source.git">
                                              Source: {{bc.spec.source.type}}
                                            </span>
                                        </span>
                                </label>
                            </div>
                            <div class="col-sm-2">
                                <span class="detail_tit">查看：</span>
                                <label class="build_name" ng-click="openCon($index,'bc')">
                                    <i class="icon25 icon25-collapse"></i>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div ng-if="bc.isLog" class="show-log-style">
                        <pod-logs pod-name="{{bc.metadata.name}}"
                                  type="builds">
                        </pod-logs>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

