<div class="service-config">
    <!--配置信息-->
    <div class="tittle">
        <span>部署详情</span>
    </div>
    <div class="row condigmaarginbottom">
        <div class="col-md-12 bushu_marginBottom">
            <div class="col-md-2 col-md-2_padding">Selectors</div>
            <div class="col-md-10">app = {{dc.metadata.name}} <br/> deploymentconfig = {{dc.metadata.name}}</div>
        </div>
        <div class="col-md-12 bushu_marginBottom">
            <div class="col-md-2 col-md-2_padding">Stratege</div>
            <div class="col-md-10">{{dc.spec.strategy.type}}</div>
        </div>
        <div class="col-md-12 bushu_marginBottom">
            <div class="col-md-2 col-md-2_padding">Timeout</div>
            <div class="col-md-10">{{dc.spec.strategy.rollingParams.timeoutSeconds}} sec</div>
        </div>
        <div class="col-md-12 bushu_marginBottom">
            <div class="col-md-2 col-md-2_padding">Update Period</div>
            <div class="col-md-10">{{dc.spec.strategy.rollingParams.updatePeriodSeconds}} sec</div>
        </div>
        <div class="col-md-12 bushu_marginBottom">
            <div class="col-md-2 col-md-2_padding">Intervel</div>
            <div class="col-md-10">{{dc.spec.strategy.rollingParams.intervalSeconds}} sec</div>
        </div>
        <div class="col-md-12 bushu_marginBottom">
            <div class="col-md-2 col-md-2_padding">Max Unavailable</div>
            <div class="col-md-10">{{dc.spec.strategy.rollingParams.maxUnavailable}}</div>
        </div>
        <div class="col-md-12">
            <div class="col-md-2 col-md-2_padding">Max Surge</div>
            <div class="col-md-10">{{dc.spec.strategy.rollingParams.maxSurge}}</div>
        </div>
    </div>
    <div class="row condigmaarginbottom">
        <div class="col-md-12">
            <div class="col-md-2 col-md-2_padding tittle">
                <span>弹性伸缩</span>
            </div>
            <div class="col-md-10">
                <checkbox-small checked="quota.rubustCheck"></checkbox-small>
            </div>
            <!--<h3>弹性伸缩 </h3>-->

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="podlist" style="margin-left:15px;">Pod数
                    <input class="podnum" ng-model="dc.spec.replicas" name="cdm"
                           type="text" placeholder=""
                           style="">
                </div>
                <div class="podlist" ng-show="quota.rubustCheck">
                    Pod最大数
                    <input class="podnum" ng-model="horiz.spec.maxReplicas"
                           value="{{dc.spec.replicas}}" type="text"
                           placeholder="{{dc.spec.replicas}}"
                           style="">

                </div>
                <div class="podlist" ng-show="quota.rubustCheck">
                    CPU阀值
                    <input class="podnum" ng-model="horiz.spec.targetCPUUtilizationPercentage"
                           type="text"
                           placeholder="80"
                           style=""> <span class="baifen">%</span>

                </div>
            </div>


        </div>
    </div>
    <div class="row condigmaarginbottom">
        <div class="col-sm-12">
            <div class="tittle">
                <span>自动部署</span>
            </div>
            <label ng-class="{'active': grid.configChange}" ng-click="grid.configChange=!grid.configChange"
                   style="cursor: pointer;">
                <i class="faa faa-check"></i>
                &nbsp;&nbsp;配置变化触发自动部署
            </label>
            <!--<i class="faa faa-check"></i>-->
            <!--&nbsp;&nbsp;配置变化触发自动部署-->
        </div>
    </div>
    <div class="continerboxs" style="width: 70%;">
        <div class="tittle">
            <span>镜像信息</span>
        </div>
        <div style="min-width: 750px;" class="container-fluid container-bar" ng-repeat="container in dc.spec.template.spec.containers"
             ng-init="outerIndex = $index">
            <div style="margin-bottom: 10px; width: 100%;">
                <div style="display: inline-block;" class="text-left">
                    <label ng-class="{'active': container.display}" ng-click="checkoutreg(container,true)"
                           style="cursor: pointer;">
                        <i class="faa faa-check"></i>
                        &nbsp;&nbsp;私有
                    </label>
                    <label ng-class="{'active': !container.display}" ng-click="checkoutreg(container,false)"
                           style="cursor: pointer;margin-left:8px;">
                        <i class="faa faa-check"></i>
                        &nbsp;&nbsp;公有
                    </label>
                </div>
                <div style="display: inline-block; float: right;" ng-show="dc.spec.template.spec.containers.length>1">
                    <a class="fa fa-lg fa-times-circle" style="color: #9fa7b7;" ng-click="rmContainer($index)"
                       href="javascript:;"></a>
                </div>
            </div>
            <div ng-show="container.display">
                <div class="dropdown dropdown-select" style="min-width:300px;height: 34px;">
                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                        <span>{{container.annotate.image}}</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu"
                        style="max-height: 250px;overflow-y:auto;min-width:300px;;border-color: #c9c9c9">
                        <li ng-repeat="(i,item) in container.annotate.images" style="font-size: 12px;"
                            ng-click="selectimage(i,item,container)">
                            <span class="dropdown-menu-span" style="overflow-y: auto;">{{i}}</span>
                        </li>
                    </ul>
                </div>
                <span class="biaodian">
                    :
                </span>
                <div class="dropdown dropdown-select" style="min-width:300px;height: 34px;">
                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                        <span>{{container.annotate.tag}}</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu"
                        style="max-height: 150px;overflow-y:auto;min-width:300px;border-color: #c9c9c9">
                        <li ng-repeat="tag in container.annotate.tags" style="font-size: 12px;"
                            ng-click="selecttag($index,container)">
                            <span class="dropdown-menu-span" style="overflow: inherit;">{{tag.tag}}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div ng-show="!container.display">
                <input style="width: 627px;" type="text" name="serviceName" ng-model="container.annotate.regimage"
                       class="form-control input-block foucsinput"
                       name="name" class="form-control">
            </div>
            <div style="margin-top: 30px">
                <span class="usetest">可用性探测</span>
                <span class="my-checkbox">
                <span class="checkbox-check usetest" ng-class="{active: container.doset}"
                      ng-click="survey(outerIndex)">
                                            <span class="check-btn"></span>
                                        </span>
                </span>

                <div ng-if="container.doset" class="row">
                    <div class="col-md-12 mt10" style="padding-left: 0;">
                        <div>
                            <br/>
                            <label style="font-size: 14px; font-weight: normal;">类型&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <br/>
                            <div class="col-md-11" style="padding-top: 5px;padding-left:0px;">
                                <div class="dropdown dropdown-select open" style="width: 627px;">
                                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                                        <span>{{container.dosetcon}}</span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="javascript:;" ng-click="container.dosetcon = 'HTTP'">{{'HTTP'}}</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" ng-click="container.dosetcon = '命令'">{{'命令'}}</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" ng-click="container.dosetcon = 'TCP'">{{'TCP'}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <br>


                        </div>
                    </div>
                    <div class="dohttp" ng-if="container.dosetcon === 'HTTP'">
                        <div class="col-md-12 mt10" style="padding-left: 0;">
                            <div>
                                <br/>
                                <label style="font-size: 14px; font-weight: normal;padding-left: 0;">路径&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                <br/>
                                <div class="col-md-11" style="padding-top: 5px;padding-left:0px;">
                                    <input type="text" name="candopath"
                                           class="form-control" style="width: 627px;font-size: 12px;"
                                           ng-model="container.readinessProbe.httpGet.path"
                                           required
                                           placeholder="/"/>
                                </div>
                                <br>
                            </div>
                        </div>
                        <div class="col-md-12 mt10" style="padding-left: 0;">
                            <div>
                                <br/>
                                <label style="font-size: 14px; font-weight: normal;">端口&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                <br/>
                                <div class="col-md-11" style="padding-left: 0;">
                                    <input type="text" name="candopath"
                                           class="form-control" style="width: 627px;font-size: 12px;"
                                           ng-model="container.readinessProbe.httpGet.port"
                                           min="0"
                                           max="65535"
                                           ng-pattern="/^\d+$/"
                                           required
                                           placeholder=""/>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="dohttp" ng-show="container.dosetcon === '命令'">
                        <div class="col-md-11 mt10" style="padding-left: 0;padding-right: 30px;">
                            <div>
                                <br/>
                                <label style="font-size: 14px; font-weight: normal;">命令&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                <br/>
                                <div class="row"
                                     ng-repeat="com in container.readinessProbe.exec.command track by $index"
                                     ng-init="innerindex=$index">
                                    <div class="col-md-12" style="padding-top: 5px;">
                                        <input type="text" name="candoname"
                                               class="form-control" style="width: 627px;font-size: 12px;"
                                               ng-model=com.key
                                               required
                                               placeholder=""/>

                                    </div>
                                    <!--<div class="col-md-1" style="height: 39px;line-height: 39px;padding:0px;">-->
                                    <!--<i class="fa fa-lg" style="cursor: pointer"-->
                                    <!--ng-click="innerindex==0?addexec(outindex,innerindex,$event):deleexec(outindex,innerindex)"-->
                                    <!--ng-class="{'fa-times-circle':!$first, 'fa-plus-circle':$first}"></i>-->
                                    <!--</div>-->
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="dohttp" ng-if="container.dosetcon === 'TCP'">
                        <div class="col-md-12 mt10" style="padding-left: 0;">
                            <div>
                                <br/>
                                <label style="font-size: 14px; font-weight: normal;padding-left: 0;">端口&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                <br/>
                                <div class="col-md-11" style="padding-left: 0;">
                                    <input type="text" name="candopath"
                                           class="form-control" style="width: 627px;font-size: 12px;"
                                           ng-model="container.readinessProbe.tcpSocket.port"
                                           min="0"
                                           max="65535"
                                           ng-pattern="/^\d+$/"
                                           required
                                           placeholder=""/>
                                </div>


                                <br>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div style="margin-top: 30px">
                <span class="usetest">挂载卷</span>
                <span class="my-checkbox">
                    <span class="checkbox-check usetest" ng-class="{active: container.volment}"
                          ng-click="addvol(outerIndex)">
                                            <span class="check-btn"></span>
                                        </span>
                </span>
                <div ng-show="container.volment" style="margin-top:10px;">
                    <div><span>密钥</span></div>
                    <div class="service-ctrl" style="">
                        <div ng-if="container.volments.secret.length > 0" style="margin-bottom: 10px;"
                             ng-repeat="secret in container.volments.secret"
                             ng-init="innerIndex = $index">

                            <div class="dropdown dropdown-select" style="min-width:300px;height: 32px;">
                                <button class="btn dropdown-toggle" data-toggle="dropdown" style="height: 32px;">
                                    <span style="color: #999999" ng-show="!secret.secretName">请选择卷名称</span>
                                    <span style="color: #333333" ng-show="secret.secretName">{{secret.secretName}}</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu"
                                    style="max-height: 250px;overflow-y:auto;min-width:300px;;border-color: #c9c9c9">
                                    <li ng-repeat="Sec in SecretList" style="font-size: 12px;"
                                        ng-click="secret.secretName=Sec.metadata.name">
                                        <span class="dropdown-menu-span"
                                              style="overflow-y: auto;">{{Sec.metadata.name}}</span>
                                    </li>
                                </ul>
                            </div>

                            <div class="envlist" style="width: 20px;">

                            </div>
                            <div class="envlist">
                                <!--<span style="margin-right:12px;padding-right:0;">值</span>-->
                                <input type="text" ng-model="secret.mountPath" placeholder="请填写挂载路径"
                                       style="width: 300px;;height: 32px;padding:6px 12px;">
                            </div>
                            <div class="envlist" style="width: 13px;">

                            </div>
                            <div class="envlist" style="padding-left:0;">
                                <a href="javascript:;" style='color: #9fa7b7;'
                                   ng-click="delconvol(outerIndex,$index,'secret')"
                                   class="fa fa-lg fa-times-circle">
                                </a>
                            </div>
                        </div>
                        <div class="" ng-click="addconvol(outerIndex,'secret','secretName')"
                             style="cursor: pointer;margin-top: 3px; font-size: 14px;margin-bottom: 15px;">
                            <i class="fa fa-plus-circle fa-lg" style="cursor:pointer;"></i>
                            &nbsp;<span style="color: #55c45f;">增加密钥</span>
                        </div>
                    </div>
                    <div><span>配置卷</span></div>
                    <div class="service-ctrl" style="">
                        <div ng-if="container.volments.configMap.length > 0" style="margin-bottom: 10px;"
                             ng-repeat="config in container.volments.configMap"
                             ng-init="innerIndex = $index">

                            <div class="dropdown dropdown-select" style="min-width:300px;height: 32px;">
                                <button class="btn dropdown-toggle" data-toggle="dropdown" style="height: 32px;">

                                    <span style="color: #999999" ng-show="!config.name">请选择卷名称</span>
                                    <span style="color: #333333" ng-show="config.name">{{config.name}}</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu"
                                    style="max-height: 250px;overflow-y:auto;min-width:300px;;border-color: #c9c9c9">
                                    <li ng-repeat="con in ConfigMapList" style="font-size: 12px;"
                                        ng-click="config.name=con.metadata.name">
                                        <span class="dropdown-menu-span"
                                              style="overflow-y: auto;">{{con.metadata.name}}</span>
                                    </li>
                                </ul>
                            </div>

                            <div class="envlist" style="width: 20px;">

                            </div>
                            <div class="envlist">
                                <!--<span style="margin-right:12px;padding-right:0;">值</span>-->
                                <input type="text" ng-model="config.mountPath" placeholder="请填写挂载路径"
                                       style="width: 300px;;height: 32px;padding:6px 12px;">
                            </div>
                            <div class="envlist" style="width: 13px;">

                            </div>
                            <div class="envlist" style="padding-left:0;">
                                <a href="javascript:;" style='color: #9fa7b7;'
                                   ng-click="delconvol(outerIndex,$index,'configMap')"
                                   class="fa fa-lg fa-times-circle">
                                </a>
                            </div>
                        </div>
                        <div class="" ng-click="addconvol(outerIndex,'configMap','name')"
                             style="cursor: pointer;margin-top: 3px; font-size: 14px;margin-bottom: 15px;">
                            <i class="fa fa-plus-circle fa-lg" style="cursor:pointer;"></i>
                            &nbsp;<span style="color: #55c45f;">增加配置卷</span>
                        </div>
                    </div>
                    <div><span>持久化卷</span></div>
                    <div class="service-ctrl" style="">
                        <div ng-if="container.volments.persistentVolumeClaim.length > 0" style="margin-bottom: 10px;"
                             ng-repeat="persistentVolume in container.volments.persistentVolumeClaim"
                             ng-init="innerIndex = $index">

                            <div class="dropdown dropdown-select" style="min-width:300px;height: 32px;">
                                <button class="btn dropdown-toggle" data-toggle="dropdown" style="height: 32px;">
                                    <span style="color: #999999" ng-show="!persistentVolume.claimName">请选择卷名称</span>
                                    <span style="color: #333333" ng-show="persistentVolume.claimName">{{persistentVolume.claimName}}</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu"
                                    style="max-height: 250px;overflow-y:auto;min-width:300px;;border-color: #c9c9c9">
                                    <li ng-repeat="Persistent in PersistentVolumeClaimList" style="font-size: 12px;"
                                        ng-click="persistentVolume.claimName=Persistent.metadata.name">
                                        <span class="dropdown-menu-span"
                                              style="overflow-y: auto;">{{Persistent.metadata.name}}</span>
                                    </li>
                                </ul>
                            </div>

                            <div class="envlist" style="width: 20px;">

                            </div>
                            <div class="envlist">
                                <!--<span style="margin-right:12px;padding-right:0;">值</span>-->
                                <input type="text" ng-model="persistentVolume.mountPath" placeholder="请填写挂载路径"
                                       style="width: 300px;;height: 32px;padding:6px 12px;">
                            </div>
                            <div class="envlist" style="width: 13px;">

                            </div>
                            <div class="envlist" style="padding-left:0;">
                                <a href="javascript:;" style='color: #9fa7b7;'
                                   ng-click="delconvol(outerIndex,$index,'persistentVolumeClaim')"
                                   class="fa fa-lg fa-times-circle">
                                </a>
                            </div>
                        </div>
                        <div class="" ng-click="addconvol(outerIndex,'persistentVolumeClaim','claimName')"
                             style="cursor: pointer;margin-top: 3px; font-size: 14px;margin-bottom: 15px;">
                            <i class="fa fa-plus-circle fa-lg" style="cursor:pointer;"></i>
                            &nbsp;<span style="color: #55c45f;">增加持久化卷</span>
                        </div>
                    </div>


                </div>

            </div>
            <div style="margin-top: 30px">
                <span class="usetest" style="margin-right: 18px;">
                    环境变量
                </span>
                <span style="font-size: 14px;font-weight: 300; cursor: pointer; color: orange;margin-left: 10px;"
                      ng-click="container.annotate.isShowEnv=!container.annotate.isShowEnv">
                    <i style="font-style: normal;" ng-show="!container.annotate.isShowEnv">展开</i>
                    <i style="font-style: normal;" ng-show="container.annotate.isShowEnv">收起</i>
                </span>
                <div ng-show="container.annotate.isShowEnv" style="margin-top:10px;">
                    <div class="service-ctrl" style="">
                        <div ng-if="container.env.length > 0" style="margin-bottom: 10px;"
                             ng-repeat="env in container.env"
                             ng-init="innerIndex = $index">
                            <div class="envlist">
                                <!--<span style="margin-right:12px;">键</span>-->
                                <input type="text" ng-model="env.name" placeholder="键"
                                       style="width: 300px;;height: 32px;padding:6px 12px;">
                            </div>
                            <div class="envlist" style="width: 20px;">

                            </div>
                            <div class="envlist">
                                <!--<span style="margin-right:12px;padding-right:0;">值</span>-->
                                <input type="text" ng-model="env.value" placeholder="值"
                                       style="width: 300px;;height: 32px;padding:6px 12px;">
                            </div>
                            <div class="envlist" style="width: 13px;">

                            </div>
                            <div class="envlist" style="padding-left:0;">
                                <a href="javascript:;" style='color: #9fa7b7;'
                                   ng-click="delcontainerEnv(outerIndex,$index)"
                                   class="fa fa-lg fa-times-circle">
                                </a>
                            </div>
                        </div>
                        <div class="" ng-click="addContainerEnv(outerIndex)"
                             style="cursor: pointer;margin-top: 10px; font-size: 14px;">
                            <i class="fa fa-plus-circle fa-lg" style="cursor:pointer;"></i>
                            &nbsp;<span style="color: #55c45f;">增加环境变量</span>
                        </div>
                        <style>
                            .hhh .sss:last-child {
                                border-bottom: none;
                            }

                            .sss {

                                height: 40px;
                                line-height: 40px;
                                padding-right: 0;
                                padding-left: 0px;
                                padding-bottom: 0px;
                                border-bottom: 1px solid #e6e9f2;
                            }

                            .rongqi li {
                                text-align: center;
                            }

                            .col_md_5_margin {
                                margin-right: -90px;
                            }
                        </style>
                    </div>

                </div>
            </div>
        </div>
        <div class="row col-md-12">
            <span style="cursor: pointer;" ng-click="addcon()"><i class="fa fa-plus-circle fa-lg"
                                                                  style="cursor:pointer;"></i>
            &nbsp;&nbsp;<span style="color: #55c45f">添加容器</span></span>

        </div>
    </div>
</div>


