<div class="service-config">
    <!--配置信息-->
    <h2 style="margin-bottom: 19px;">部署详情</h2>

    <div class="row condigmaarginbottom">
        <div class="col-md-12 bushu_marginBottom">
            <div class="col-md-2 col-md-2_padding">Selectors</div>
            <div class="col-md-10">app = {{dc.metadata.name}} deploymentconfig={{dc.metadata.name}}</div>
        </div>
        <div class="col-md-12 bushu_marginBottom">
            <div class="col-md-2 col-md-2_padding">Stratege</div>
            <div class="col-md-10">{{dc.spec.strategy.type}}</div>
        </div>
        <div class="col-md-12 bushu_marginBottom">
            <div class="col-md-2 col-md-2_padding">Timeout</div>
            <div class="col-md-10">{{dc.spec.strategy.rollingParams.timeoutSeconds}} sec</div>
        </div>
        <div class="col-md-12 bushu_marginBottom">
            <div class="col-md-2 col-md-2_padding">Update Period</div>
            <div class="col-md-10">{{dc.spec.strategy.rollingParams.updatePeriodSeconds}} sec</div>
        </div>
        <div class="col-md-12 bushu_marginBottom">
            <div class="col-md-2 col-md-2_padding">Intervel</div>
            <div class="col-md-10">{{dc.spec.strategy.rollingParams.intervalSeconds}} sec</div>
        </div>
        <div class="col-md-12 bushu_marginBottom">
            <div class="col-md-2 col-md-2_padding">Max Unavailable</div>
            <div class="col-md-10">{{dc.spec.strategy.rollingParams.maxUnavailable}}</div>
        </div>
        <div class="col-md-12">
            <div class="col-md-2 col-md-2_padding">Max Surge</div>
            <div class="col-md-10">{{dc.spec.strategy.rollingParams.maxSurge}}</div>
        </div>
    </div>
    <div class="row condigmaarginbottom">
        <div class="col-md-12">
            <div class="col-md-2 col-md-2_padding"> <h3>弹性伸缩</h3></div>
            <div class="col-md-10"><checkbox-small checked="quota.rubustCheck"></checkbox-small></div>
            <!--<h3>弹性伸缩 </h3>-->

        </div>
        <div class="row">
            <div class="col-sm-12">
                <span class="col-sm-4" style="margin-right:-90px;">POD数量
                    <input ng-model="dc.spec.replicas" name="cdm" min="1" max="10"
                           type="text" placeholder=""
                           style="width:68px; height:30px;padding:6px 12px;">
                </span>
                <span ng-show="quota.rubustCheck">
                  <span class="col-sm-4" style="margin-right:-80px;">POD最大阀值
                    <input ng-model="horiz.spec.maxReplicas"
                           value="{{dc.spec.replicas}}" type="text"
                           placeholder="{{dc.spec.replicas}}" style="width:68px; height:30px;padding:6px 12px;">
                  </span>
                </span>
                <span ng-show="quota.rubustCheck">
                    <span class="col-sm-4">CPU阀值
                        <input ng-model="horiz.spec.targetCPUUtilizationPercentage"
                               placeholder="80"
                               style="width:68px; margin-right:;height:30px;padding:6px 12px;">%
                    </span>
                </span>
            </div>
        </div>
    </div>
    <div class="row condigmaarginbottom">
        <div class="col-sm-12">
            <h3>自动部署</h3>
            <label ng-class="{'active': grid.configChange}" ng-click="grid.configChange=!grid.configChange"
                   style="cursor: pointer;">
                <i class="faa faa-check"></i>
                &nbsp;&nbsp;配置变化触发自动部署
            </label>
            <!--<i class="faa faa-check"></i>-->
            <!--&nbsp;&nbsp;配置变化触发自动部署-->
        </div>
    </div>
    <div class="continerboxs" style="width: 70%;">
        <h3>镜像信息</h3>

        <div class="container-fluid container-bar" ng-repeat="container in dc.spec.template.spec.containers"
             ng-init="outerIndex = $index">
            <div class="text-right" ng-show="dc.spec.template.spec.containers.length>1">
                <a class="fa fa-lg fa-times-circle" style="color: #9fa7b7;" ng-click="rmContainer($index)"

                   href="javascript:;"></a>
            </div>
            <div class="text-left" style="padding-left: 20px; margin-bottom: 20px;">
                <label ng-class="{'active': container.display}" ng-click="checkoutreg(container,true)"
                       style="cursor: pointer;">
                    <i class="faa faa-check"></i>
                    &nbsp;&nbsp;私有
                </label>
                <label ng-class="{'active': !container.display}" ng-click="checkoutreg(container,false)"
                       style="cursor: pointer;">
                    <i class="faa faa-check"></i>
                    &nbsp;&nbsp;公有
                </label>
            </div>


            <div class="row col-md-12" style="padding-left: 35px;" ng-show="container.display">
                <div class="dropdown dropdown-select" style="width:210px;height: 32px;">
                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                        <span>{{container.annotate.image}}</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu"
                        style="max-height: 250px;overflow-y:scroll;min-width: 156px;border-color: #c9c9c9">
                        <li ng-repeat="(i,item) in container.annotate.images" style="height: 34px;font-size: 12px;"
                            ng-click="selectimage(i,item,container)">
                            <span class="dropdown-menu-span">{{i}}</span>
                        </li>
                    </ul>
                </div>
                <div class="dropdown dropdown-select" style="width:156px;height: 32px;">
                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                        <span>{{container.annotate.tag}}</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu"
                        style="max-height: 250px;overflow-y:scroll;min-width: 156px;border-color: #c9c9c9">
                        <li ng-repeat="tag in container.annotate.tags" style="height: 34px;font-size: 12px;"
                            ng-click="selecttag($index,container)">
                            <span class="dropdown-menu-span">{{tag.tag}}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row col-md-11" style="padding-right: 0;padding-left: 35px;" ng-show="!container.display">
                <input type="text" name="serviceName" ng-model="container.annotate.regimage"
                       class="form-control input-block foucsinput"
                       name="name" class="form-control">
            </div>
            <div class="col-md-12" style="padding-top: 10px;padding-left: 20px;  margin-bottom: 20px;">
                <div class="col-md-2 col-md-2_padding" style="margin-top: 8px;"> <h3 style="margin-bottom: 0;">可用性探测</h3></div>
                <div class="col-md-10"><div>
                   <span class="my-checkbox">
                    <span class="checkbox-check" ng-class="{active: container.doset}"
                          ng-click="survey(outerIndex)">
                                            <span class="check-btn"></span>
                                        </span>
                </span>
                </div></div>
                <!--<h3>可用性探测</h3>-->

                <div ng-if="container.doset" class="row">
                    <div class="col-md-12 mt10" style="padding-left: 0;">
                        <div>
                            <br/>
                            <label style="font-size: 14px; font-weight: normal;">类型&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <br/>
                            <div class="col-md-11" style="padding-top: 5px;padding-left:0px;">
                                <div class="dropdown dropdown-select" style="width: 100%;">
                                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                                        <span>{{container.dosetcon}}</span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="javascript:;" ng-click="container.dosetcon = 'HTTP'">{{'HTTP'}}</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" ng-click="container.dosetcon = '命令'">{{'命令'}}</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" ng-click="container.dosetcon = 'TCP'">{{'TCP'}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <br>


                        </div>
                    </div>
                    <div class="dohttp" ng-if="container.dosetcon === 'HTTP'">
                        <div class="col-md-12 mt10" style="padding-left: 0;">
                            <div>
                                <br/>
                                <label style="font-size: 14px; font-weight: normal;padding-left: 0;">路径&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                <br/>
                                <div class="col-md-11" style="padding-top: 5px;padding-left:0px;">
                                    <input type="text" name="candopath"
                                           class="form-control" style="font-size: 12px;"
                                           ng-model="container.readinessProbe.httpGet.path"
                                           required
                                           placeholder="/"/>
                                </div>
                                <br>
                            </div>
                        </div>
                        <div class="col-md-12 mt10" style="padding-left: 0;">
                            <div>
                                <br/>
                                <label style="font-size: 14px; font-weight: normal;">端口&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                <br/>
                                <div class="col-md-11" style="padding-left: 0;">
                                    <input type="text" name="candopath"
                                           class="form-control" style="font-size: 12px;"
                                           ng-model="container.readinessProbe.httpGet.port"
                                           min="0"
                                           max="65535"
                                           ng-pattern="/^\d+$/"
                                           required
                                           placeholder=""/>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="dohttp" ng-show="container.dosetcon === '命令'">
                        <div class="col-md-11 mt10" style="padding-left: 0;padding-right: 30px;">
                            <div>
                                <br/>
                                <label style="font-size: 14px; font-weight: normal;">命令&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                <br/>
                                <div class="row"
                                     ng-repeat="com in container.readinessProbe.exec.command track by $index"
                                     ng-init="innerindex=$index">
                                    <div class="col-md-12" style="padding-top: 5px;">
                                        <input type="text" name="candoname"
                                               class="form-control" style="font-size: 12px;"
                                               ng-model=com.key
                                               required
                                               placeholder=""/>

                                    </div>
                                    <!--<div class="col-md-1" style="height: 39px;line-height: 39px;padding:0px;">-->
                                        <!--<i class="fa fa-lg" style="cursor: pointer"-->
                                           <!--ng-click="innerindex==0?addexec(outindex,innerindex,$event):deleexec(outindex,innerindex)"-->
                                           <!--ng-class="{'fa-times-circle':!$first, 'fa-plus-circle':$first}"></i>-->
                                    <!--</div>-->
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="dohttp" ng-if="container.dosetcon === 'TCP'">
                        <div class="col-md-12 mt10" style="padding-left: 0;">
                            <div>
                                <br/>
                                <label style="font-size: 14px; font-weight: normal;padding-left: 0;">端口&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                <br/>
                                <div class="col-md-11"  style="padding-left: 0;">
                                    <input type="text" name="candopath"
                                           class="form-control" style="font-size: 12px;"
                                           ng-model="container.readinessProbe.tcpSocket.port"
                                           min="0"
                                           max="65535"
                                           ng-pattern="/^\d+$/"
                                           required
                                           placeholder=""/>
                                </div>


                                <br>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-md-12" style="padding-top: 10px;padding-left: 20px;">
                <h3>环境变量
                    <span style="font-size: 14px;font-weight: 300; cursor: pointer; color: orange;margin-left: 10px;" ng-click="container.annotate.isShowEnv=!container.annotate.isShowEnv">
                    <i style="font-style: normal;" ng-show="!container.annotate.isShowEnv">Show</i>
                    <i style="font-style: normal;" ng-show="container.annotate.isShowEnv">Hide</i>
                    </span>
                </h3>

                <div ng-if="container.annotate.isShowEnv" style="margin-top:20px;" class="row">
                    <div class="service-ctrl" style="">
                        <div class="row" ng-if="container.env.length > 0" ng-repeat="env in container.env"
                             ng-init="innerIndex = $index" style="margin: 30px 0;">
                            <div class="col-md-5">
                                <span style="margin-right:12px;">键</span>
                                <input type="text" ng-model="env.name" style="width:90%;height: 32px;padding:6px 12px;">
                            </div>
                            <div class="col-md-5">
                                <span style="margin-right:12px;padding-right:0;">值</span>
                                <input type="text" ng-model="env.value" style="width:90%;height: 32px;padding:6px 12px;">
                            </div>
                            <div class="col-sm-2" style="padding-left:0;">
                                <a href="javascript:;" style='color: #9fa7b7; height: 32px;line-height:32px;'
                                   ng-click="delcontainerEnv(outerIndex,innerIndex)"
                                   class="fa fa-lg fa-times-circle">
                                </a>
                            </div>
                        </div>
                        <div class="row col-md-12" ng-click="addContainerEnv(outerIndex)" style="margin:0 0 20px 0;">
                            <i class="fa fa-plus-circle fa-lg" style="cursor:pointer;"></i>
                            &nbsp;&nbsp;增加环境变量
                        </div>
                        <style>
                            .hhh .sss:last-child {
                                border-bottom: none;
                            }

                            .sss {

                                height: 40px;
                                line-height: 40px;
                                padding-right: 0;
                                padding-left: 0px;
                                padding-bottom: 0px;
                                border-bottom: 1px solid #e6e9f2;
                            }

                            .rongqi li {
                                text-align: center;
                            }

                            .col_md_5_margin {
                                margin-right: -90px;
                            }
                        </style>
                    </div>

                </div>
            </div>
        </div>
        <div class="row col-md-12">
            <i class="fa fa-plus-circle fa-lg" style="cursor:pointer;" ng-click="addcon()"></i>
            &nbsp;&nbsp;添加容器
        </div>
    </div>
</div>
<style>
    .bushu_marginBottom {
        margin-bottom: 21px;
    }

    .file-input {
        position: absolute;
        width: 54px;
        height: 34px;
        top: 0;
        right: 0;
        filter: alpha(opacity:0);
        opacity: 0;
    }

    .btnout {
        background: #e0e0e0;
    !important;
        color: #000;
    !important;
    }

    .btnout:focus {
        background: #e0e0e0;
    !important;
    }

    .btnout:hover {
        color: black;
    !important;
    }

    .faa-zn-size {
        background-size: contain;
    }

    .dropdown-menu > li > a {
        height: auto !important;
    }

    .timee ul > li {
        margin: 0;
        margin-bottom: 20px;
    }

    .file-input {
        position: absolute;
        width: 54px;
        height: 34px;
        top: 0;
        right: 0;
        filter: alpha(opacity:0);
        opacity: 0;
    }

    .mt {
        margin-top: 5px;
    }

    #btnout {
        background: #e0e0e0;
        color: #000;
    }

    #btnout:focus {
        background: #e0e0e0;
    }

    #btnout:hover {
        color: black;
    }

    .testt {
        font-size: 12px;
        line-height: 20px;
        background: none;
        border: none;
        color: #333333;
        height: 300px;
        word-break: break-all;
        word-wrap: break-word;
        white-space: pre-wrap;
        display: block;
        max-height: 300px;
        width: 100%;
        max-width: 100%;
    }

    .col-md-2_padding {
        padding: 0px;
    }
</style>

