
<!--<div class="bounce3"></div>-->
<!--<img ng-show='lding' class="spinner" src="pub/img/loading.gif" alt="">-->
<!--</div>-->
<div class="timeline">
    <ul>
        <li ng-repeat="item in rcs.items">
            <label>
                <span class="dot"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                {{item.metadata.creationTimestamp | dateRelative}}
            </label>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-3 dcList" ui-sref="console.rc({name:item.metadata.name})">
                        #{{item.metadata.annotations['openshift.io/deployment-config.latest-version']}}
                    </div>
                    <div class="col-sm-3">
                        <span class="icon12 icon12-{{item.metadata.annotations['openshift.io/deployment.phase']}}"
                              ng-class="{'fa-spin': item.metadata.annotations['openshift.io/deployment.phase'] == 'Running' || item.metadata.annotations['openshift.io/deployment.phase'] == 'Pending'}">

                        </span>
                        <!--switch to Chinese-->
                        {{item.metadata.annotations['openshift.io/deployment.phase'] | rcStatusFilter}}
                    </div>
                    <div class="col-sm-3">

                    </div>
                    <div class="col-sm-3">
                        <span ng-if="!item.dc.status.details.causes.length">未知</span>
                        <span ng-if="item.dc.status.details.causes.length">
                            <span ng-repeat="cause in item.dc.status.details.causes">
                              <span ng-switch="cause.type">
                                <span ng-switch-when="ImageChange">镜像变化</span>
                                <span ng-switch-when="ConfigChange">配置变化</span>
                                <span ng-switch-default>{{cause.type}}</span>
                              </span>
                            </span>
                          </span>
                    </div>
                </div>
            </div>
            <!--<div class="collapse" ng-class="{'in': item.showLog}">-->
            <!--<div uib-collapse="!item.showLog">-->
            <!--<div class="well well-log">-->
            <!--<pre id='sc'>{{item.log}}</pre>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div uib-collapse="!item.showConfig">-->
            <!--<div ng-include="'views/service_detail/config.html'"></div>-->
            <!--</div>-->

        </li>
    </ul>
</div>

