.backing-service-detail .info {
    height: 160px;
    overflow: hidden;
    margin-bottom: 30px;
}
.backing-service-detail .info .info-image {
    height: 100%;
    width: 160px;
    float: left;
    border: 1px solid #c9c9c9;
    border-radius: 2px;
    /*background: url(../../pub/img/bsi.png) no-repeat;*/
    /*background-size: 160px 160px;*/
    margin-right: 20px;
}
.backing-service-detail .info .info-desc {
    overflow: hidden;
    border-bottom: 1px solid #c9c9c9;
    height: 100%;
}
.backing-service-detail .info .info-desc h2 {
    font-size: 16px;
    color: #393f4f;
    margin: 10px 0;
}
.backing-service-detail .info .info-desc p {
    font-size: 12px;
    color: #5a6378;
    margin-bottom: 6px;
}
/*20161103 jia 数据集成-详情*/
ul,li{list-style:none;margin:0px;padding:0px;}
.integ_detail{border:1px solid #c9c9c9;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;height:auto;overflow:hidden;}
.integ_d_tit{height:56px;line-height:56px;background:#e6e9f2;font-size:16px;color:#393f4f;text-indent:12px;}
.integ_main{margin:30px;overflow:hidden;height:auto;}
.integ_mid{height:auto;border-bottom:1px solid #e5e5e5;padding-bottom:16px;}
.integ_tit{float:left;width:114px;font-size:14px;color:#5a6378;}
.integ_r{margin-left:114px;}
.integ_r .integ_name{color:#333;font-size:16px;margin-bottom:6px;}
.integ_r .integ_content{color:#5a6378;font-size:12px;line-height:20px;}
.integ_list{margin-top:28px;}
.integ_list_detail{margin-left:114px;}
.integ_list_detail li{height:60px;line-height:60px;border:1px solid #c9c9c9;margin-bottom:24px;
    -webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px; }
.integ_list_detail li:last-child{margin-bottom:0;}
.in_l{float:left;width:50%;}
.pic_tu{width:58px;height:58px;background:#e6e9f2;position:relative;float:left;margin-right:10px;}
.in_l img{position:absolute;width:40px;height:40px;top:50%;left:50%;margin-left:-20px;margin-top:-20px;}
.in_l_detail{display:block;float:left;width:182px;}
.in_l_name{font-size:12px;color:#f6a540;font-weight:bold;}
.in_l_name:hover{color:#5a6378;}
.in_m{width:20%;float:left;}
.in_m p{margin:0px;font-size:12px;color:#5a6378;}
.in_r{width:30%;float:left;}
.in_r span{-webkit-transition:all .2s;transition:all .2s;cursor:pointer;display:block;float:left;display:block;margin-top:18px;
width:26px;height:26px;}
.in_r_main{width:54px;float:right;}
.down_cion{background:url(../../views/Integration_detail/img/down.png) no-repeat;}
.down_cion:hover{background:url(../../views/Integration_detail/img/down_hover.png) no-repeat;}
/*预览按钮 20161103 jia 暂时预览按钮新需求不添加*/
.show_cion{background:url(../../views/Integration_detail/img/show.png) no-repeat;margin-right:20px;}
.show_cion:hover{background:url(../../views/Integration_detail/img/show_hover.png) no-repeat;}
/*预览按钮 20161103 jia 暂时预览按钮新需求不添加*/





