ul { list-style: none;}
html { overflow: hidden;}

#pageContain { overflow: hidden;}
.page { display: none; width: 100%; height: 100%; overflow: hidden; position: absolute; top: 70px; left: 0;}
.contain { width: 90%; height: 100%; display: none; position: relative; z-index: 0;margin-left:5%}
.current .contain, .slide .contain { display: block;}
.current { display: block; z-index: 1;}
.slide { display: block; z-index: 2;}
.swipe { display: block; z-index: 3; transition-duration: 0ms !important; -webkit-transition-duration: 0ms !important;}
.page1 {color:#fff;}
.page2 { background: #ffffff;}
.page3 { background: #ffffff;}
.page4 { background: #5a6378; color: #fff;}
.page5 { background: #f6f7f8;}
/*.page6 { background: #22ffff;}*/
#navBar { z-index: 3; position: absolute; top: 30%; right: 3%;}
#navBar .active { background: #ccc;}
#navBar li { cursor: pointer; margin-bottom: 10px; transition: all .7s ease; font-size: 12px; border-radius: 50%; line-height: 20px; text-align: center; width: 20px; height: 20px;}
.page4 .col-md-4,.page4 .col-md-8{
    padding:0px;
}
.page4 .col-md-8{
    line-height:30px;
}
.ability{
    width: 200px;
    height: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    background-position:center;
}
.abilitycon{
    width: 220px;
    height: 100%;
    float: left;
}
.accordioncon{
    height: 20% ;text-align: center; float:left;width: 100%;margin-top:10px;
}
.txt { margin-top: 20%; font-size: 50px; color: #fff; text-align: center;}
.accordion{
    width: 100%;
    height: 100%;
    margin:0px;
}
.accordion li{
    width: 200px;
    height: 100%;
    float: left;
    overflow: hidden;
}
.accordion li.active{
    width: 420px;
}
.bigbg{
    background-size: contain;
    background-repeat: no-repeat;
    height: 80%;
    width: 80%;
    margin-top:30px;
}
.funbg{
    /*background-image: url("");*/
    background-size: contain;
    width: 80px;
    height: 80px;
    margin:0 auto;

}
.smallbg{
    width: 60px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
}
.row{
    margin:0;
    padding:0;
}
.firstnomgtp{
    margin-top:30px;
}
.firstnomgtp:first-child{
    margin-top:0px;
}
.aboutindustry{
    width: 30px;
    height: 30px;
    background-color: #5b6178;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    
}
.testcon,.testcon li{
    width: 100%;
    height: 100%;
}
.testcon{
    overflow: hidden;
}
.footer {
    background: #5a6378;
    font-size: 14px;
    font-weight:bold;
    color: #bdc0c7;
    text-align: center;
    line-height: 30px;
    width: 100%;
    paddin: 0px 30px;
    padding-top: 20px;
    margin-left: 0;
    margin-right: 0;
}

@media (max-width: 640px) {
    #nav {
        display: none;
    }
    #mobilenav {
        display: block;
    }

    .footer {
        height: 380px;
    }

    #header #header-brand img{
        padding-top:30px;
        margin-left:21%;
        margin-right: 30px;
    }
    #header #btnk {
        margin-left: 76px;
    }

    #header #header-brand {
        padding-left: 0px;
        padding-right: 0px;
    }
    .footer-td {
        display: none;
    }
    .footer-lx {
        margin-left: 7%;
    }

}
.tbtn{
    width: 200px;height: 50px; text-align: center;display: inline-block;background:#55c45f;font-size: 18px;line-height: 50px;color: #fff;cursor: pointer;
}
.tbtn:hover{
    background: #469450;
}
.footer-lx p {
    line-height: 20px;
}

.footer-td {
    border-right: 1px solid #3d4458;
}
.imgdown{
    display: none;
}

#particles-js{ width: 100%; height: 100%; background-color: #202538; background-image: url(''); background-size: cover; background-position: 50% 50%; background-repeat: no-repeat; }