/*按钮*/
.btn {
    border-radius: 2px;
    color: #fff;
}
.btn:hover {
    color: #fff;
}
.btn-green {
    background-color: #55c45f;
}
.btn-green:hover {
    background-color: #469450;
}
.btn-grey {
    border-radius: 2px;
    background-color: #9fa7b7;
    color: #fff;
}
.btn-grey:hover {
    background-color: #3c4251;
    color: #fff;
}
.btn-skyblue {
    background-color: #4eb7cd;
}
.btn-skyblue:hover {
    background-color: #418b9e;
}
.btn-orange {
    background-color: #f6a540;
}
.btn-orange:hover {
    background-color: #e5993a;
}

/*表格*/
.table-default {
    overflow: hidden;
    border: 1px solid #e5e5e5;
    border-top: none;
    border-radius: 2px;
    border-collapse: separate;
    margin-bottom: 0;
}
.table-default > tbody > tr > th,
.table-default > tbody > tr > td {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #5a6378;
}
.table-default > tbody > tr > th {
    background: #e6e9f2;
    color: #393f4f;
}
.table-default > tbody > tr > td > a {
    color: #f6a540;
    text-decoration: none;
}
.table-default > tbody > tr > td > a:hover {
    color: #e5993a;
}

/*图标*/
.icon25 {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-size: contain;
    vertical-align: middle;
}

.icon12 {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-size: contain;
    vertical-align: middle;
}

/*输入框*/
.form-control {
    border: 1px solid #c9c9c9;
    border-radius: 2px;
    box-shadow: none;
    color: #5a6378;
}
.form-control:focus {
    box-shadow: none;
    border: 1px solid #c9c9c9;
    border-radius: 2px 2px 0 0;
}

/*tab默认样式*/
.tab-default .nav-tabs {
    border-bottom: 1px solid #c9c9c9;
}
.tab-default li .nav-link {
    border: none;
    color: #333;
}
.tab-default li .nav-link:hover {
    background: transparent;
    color: #e5993a;
}
.tab-default li.active .nav-link,
.tab-default li.active .nav-link:focus,
.tab-default li.active .nav-link:hover {
    border: 1px solid #c9c9c9;
    border-bottom: none;
    border-radius: 2px 2px 0 0;
    color: #e5993a;
}
.tab-default .tab-content {
    border: 1px solid #c9c9c9;
    border-top: none;
    border-radius: 0 0 2px 2px;
    padding: 50px;
}