.backing-service .tabs {
    margin-top: 40px;
    margin-bottom: 40px;
}
.backing-service .sc {
    /*margin-bottom: 10px;*/
}
.backing-service .sc label {
    margin-right: 15px;
    width: 72px;
}

.backing-service .sc .btn {
    font-size: 12px;
    background: #eaebef;
    width: 80px;
    text-align: center;
    border:1px solid #eaebef;
    border-radius: 2px;
    color: #333;
}
.backing-service .sc .btn.active {
    border-color: #f6a540;
    font-weight: bold;
    background: url(../../views/backing_service/img/images_48.png) no-repeat #fff;
}