<div id="backingService">
    <div class="tabs">
        <div class="sc">
            <label>服务分类</label>
            <span>Devops</span>
            <span>数据</span>
            <span>分析</span>
            <span>IOT</span>

        </div>
        <div class="sc">
            <label>服务提供者</label>
            <span>平台</span>
            <span>HBase</span>
            <span>第三方</span>
        </div>
    </div>
    <uib-tabset class="tab-default">
        <uib-tab index="1">
            <uib-tab-heading>
            <i class="faa faa-edit"></i>后端服务市场
            </uib-tab-heading>
            <div class="row" style="margin-bottom: 30px;">
                <div class="input-group col-sm-4 col-sm-offset-8 searchbar">
                    <input type="text" class="form-control" placeholder="搜索后端服务名称" ng-model="txt">
                           <!--ng-model="txt" ng-focus="showTip=true;" -->

                    <span class="input-group-btn">
                        <a class="btn" ng-click="search(txt)"></a>
                    </span>
                </div>
            </div>
            <div class="row">
                <p>Devops</p>
                <hr>
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-6" ng-repeat="item in items">
                        <bs-card></bs-card>
                    </div>
                </div>
            </div>
        </uib-tab>

        <uib-tab index="2">
            <uib-tab-heading>
                <i class="faa faa-edit"></i>我的后端服务实例
            </uib-tab-heading>
            <div ng-include="'views/backing_service/backing_service_instance.html'"></div>
        </uib-tab>
    </uib-tabset>
</div>