.tabs {
    margin-top: 40px;
}
.sc {
    margin-bottom: 20px;
}
.sc label {
    margin-right: 15px;
    width: 70px;
}

.sc .btn {
    font-size: 12px;
    background: #eaebef;
    width: 80px;
    text-align: center;
    border:1px solid #eaebef;
    border-radius: 2px;
    color: #333;
}
.sc .btn.active {
    border-color: #f6a540;
    font-weight: bold;
    background: url(../../views/backing_service/img/images_48.png) no-repeat #fff;
}
.row p {
    font-size:16px;
    font-weight: bold;
    color: #5a6378;
}
.row hr {
    margin-top: -20px;
    margin-left: 70px;
    margin-bottom: 25px;
    border: 1px solid #c9c9c9;

}
