<div class="backing-service">
    <uib-tabset class="tab-default" active="active" ng-init="active=2">
        <uib-tab index="1">
            <uib-tab-heading>
                <i class="fa fa-file-o fa-lg"></i>&nbsp;&nbsp;后端服务市场
            </uib-tab-heading>
            <div ng-include="'views/backing_service/backing_service_list.html'"></div>
        </uib-tab>
        <uib-tab index="2">
            <uib-tab-heading>
                <i class="fa fa-file-text-o fa-lg"></i>&nbsp;&nbsp;我的后端服务实例
            </uib-tab-heading>
            <div ng-include="'views/backing_service/backing_service_instance.html'"></div>
        </uib-tab>
    </uib-tabset>
</div>