<div class="backing-service">
    <div class="tabs">
        <div class="sc">
            <label>服务分类</label>
            <div class="btn-group ft" ng-repeat='item in cation'>
                <label class="btn" ng-class='{"active":grid.serviceCat == $index}'
                       ng-click='select("serviceCat", $index)'>{{item}}</label>
            </div>
        </div>
        <div class="sc">
            <label>服务提供者</label>
            <div class="btn-group fw" ng-repeat='item in dev'>
                <label class="btn" ng-class="{'active':grid.vendor == $index}"
                       ng-click="selectsc('vendor',$index)">{{item}}</label>
            </div>
        </div>
    </div>
    <uib-tabset class="tab-default">
        <uib-tab index="1">
            <uib-tab-heading style="width:468px">
                <i class="fa2 fa2-bs"></i>&nbsp;&nbsp;后端服务市场
            </uib-tab-heading>
            <div class="row">
                <div class="input-group col-sm-4 col-sm-offset-8 searchbar">
                    <input type="text" class="form-control" placeholder="搜索后端服务名称"
                           ng-model="grid.txt">
                    <!--ng-model="txt" ng-focus="showTip=true;" -->
                    <span class="input-group-btn">
                        <a class="btn" ng-click="search()"></a>
                    </span>
                </div>
            </div>

            <div class='change' ng-repeat='items in test'>
                <div class="row" ng-show="items.isshow">
                    <h2 id=t{{items.id}} class="h2-border" ng-show="items.showTab"
                        style="margin-bottom: 15px;">
                        {{items.name}}</h2>
                    <div class="row">
                        <div class="col-md-3 col-sm-4 col-xs-6"
                             ng-repeat="item in items.item | myfilter:isComplete"
                             ng-show="item.show">
                            <bs-card></bs-card>
                        </div>
                    </div>
                </div>
            </div>

        </uib-tab>

        <uib-tab index="2">
            <uib-tab-heading>
                <i class="fa2 fa2-bsi"></i>&nbsp;&nbsp;我的后端服务实例
            </uib-tab-heading>
            <div ng-include="'views/backing_service/backing_service_instance.html'">

            </div>
        </uib-tab>
    </uib-tabset>
</div>
<style>
    .btn.active, .btn:active {
        box-shadow: none;
        -webkit-box-shadow: none;
    }

    .backing-service .sc .btn {
        width: 85px;
    }

    .fw:last-child .btn {
        width: 90px;
    }

    #t0:after {
        left: 80px;
    }


</style>