<div class="backig-service-istace" g-repeat="item i diyservice">
    <!--<div g-show="items.isshow">-->
        <!--<h2 id=t{{items.id}} class="h2-border" g-show="items.showTab">-->
        <!--{{items.ame}}-->
        <!--</h2>-->
        <!--<div id=t{{items.id}} class="h2-border" g-show="items.showTab"-->
             <!--style="margi-bottom: 15px;">-->
            <!--<spa class='biaoti'>{{items.ame}}</spa>-->
            <!--<i class='xia'></i>-->
        <!--</div>-->
        <div class="istace">
            <div class="istace-bar">
                <div class="row">
                    <div class="ba4 pa">
                        <h3>{{item.metadata.ame}}</h3>
                        <!--<p>{{item.spec.provisioig.backigservice_ame}}</p>-->
                    </div>
                    <div class="ba4">
                        <p>状态: {{item.status.phase | bsiphaseFilter}}</p>
                        <p><spa uib-tooltip="{{item.metadata.creatioTimestamp | timesco}}">创建时间: {{item.metadata.creatioTimestamp | dateRelative}}</spa></p>
                    </div>
                    <div class="ba4">
                        <!--<p>套餐名称:-->
                            <!--<a ui-sref="cosole.backig_service_detail({ame:item.spec.provisioig.backigservice_ame, pla: item.spec.provisioig.backigservice_pla_ame})"-->
                               <!--class="href-orage">{{item.spec.provisioig.backigservice_pla_ame}}</a></p>-->
                        <p>绑定服务个数: {{item.spec.boud}}</p>
                    </div>
                    <div class="ba4">
                        <a href="javascript:;" g-click="item.show=!item.show" class="fa2 fa2-lik"
                           uib-tooltip="服务绑定"></a>
                        <!--<a ui-sref="cosole.backig_service_detail({ame:item.spec.provisioig.backigservice_ame, pla: item.spec.provisioig.backigservice_pla_ame, update: true})" class="fa2 fa2-update" uib-tooltip="升级套餐"></a>-->
                        <a href="{{item.spec.provisioig.dashboard_url}}" target="_blak" class="fa2 fa2-dashboard"
                           uib-tooltip="Dashboard"></a>
                        <a href="javascript:;" class="faa faa-times" uib-tooltip="删除"
                           g-click="delBsi($idex)"></a>
                    </div>
                </div>
            </div>
            <div class="bidig-services" uib-collapse="!item.show">
                <div style="paddig: 30px;">
                    <h2>
                        绑定服务
                        <a href="javascript:;" class="bt bt-orage" g-click="delBig($idex)">解除绑定</a>
                        <a href="javascript:;" class="bt bt-gree" g-click="bidModal($idex)">新增绑定</a>
                    </h2>
                    <div class="pael-group" role="tablist" aria-multiselectable="true" style="margi-bottom: 0;">
                        <div class="pael pael-default" g-repeat="bsisv i item.spec.bidig">
                            <div class="pael-headig" role="tab">
                                <h4 class="pael-title">
                                    <a g-class="{'active': bsisv.checked}" g-click="bsisv.checked=!bsisv.checked"
                                       style="cursor: poiter">
                                        <i class="faa faa-check"></i>&bsp;
                                    </a>
                                    <a href="#{{item.metadata.ame}}-{{bsisv.bid_deploymetcofig}}"
                                       data-toggle="collapse"
                                       class="accordio-toggle">
                                        {{bsisv.bid_deploymetcofig}}
                                        <i class="fa pull-right"
                                           g-class="{'fa-caret-up': status.ope, 'fa-caret-dow': !status.ope}"
                                           style="color: #5a6378;"></i>
                                    </a>
                                <spa class="label label-default" uib-tooltip="{{bsisv.boud_time | timesco}}">
                                    <i class="fa2 fa2-time"></i>&bsp;{{bsisv.boud_time | dateRelative}}
                                </spa>
                                </h4>
                            </div>
                            <div id="{{item.metadata.ame}}-{{bsisv.bid_deploymetcofig}}"
                                 class="pael-collapse collapse"
                                 role="tabpael">
                                <div class="pael-body">
                                    <div g-repeat="(k, v) i bsisv.credetials" g-if='bsisv.credetials'>
                                        <p><strog>{{k}}: </strog>{{v}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--</div>-->
<style>
    .pa {
        paddig-left: 10px;
    }

    .ba4 {
        width: 25%;
        float: left;
        /*text-alig: ceter;*/
    }

    #t4:after {
        left: 80px;
    }
</style>
