<div id="home" style="margin-top: -70px;">
    <style>
        #header {
            height: 70px;
            background: #f8b551;
            padding-right: 40px;
            width: 100%;
            position: fixed;
            z-index: 999;
        }
        #header #header-brand {
            height: 100%;
            float: left;
        }
        #header #header-brand img {
            padding-top: 10px;
            padding-bottom: 7px;
            height: 100%;
        }
        #header .menu > li > a {
            padding: 25px;
            color: #5a6378;
        }
        #header .menu > li > a:hover,
        #header .menu > li > a:focus {
            background: none;
            color: #3c4251;
        }
        #header .menu > li.active > a {
            color: #3c4251;
        }
        .footer {
            background: #5a6378;
            font-size: 14px;
            color: #fff;
            text-align: center;
            height: 250px;
            line-height: 50px;
            paddin:0px 30px;
            padding-top: 40px;
        }
        #header .btn-green {
            padding-left: 10px;
            padding-right: 10px;
        }
        #header .btn-border {
            border: 1px solid #5a6378;
            border-radius: 2px;
            background: none;
            color: #5a6378;
        }
        .loading-box{
            position: fixed;
            /*overflow: hidden;*/
            top: 0;
            left: 0;
            height: 100%;
            /*top:100px;*/
            width: 100%;
            background-color: rgba(255,255,255,0.7);

            z-index: 999;
        }

        /*loading 动画*/
        .spinner {
            margin: 250px auto;
            width: 76px;
            text-align: center;
            display: block;
        }

        .spinner > div {
            width: 30px;
            height: 30px;
            background-color: #f8b551;

            border-radius: 100%;
            display: inline-block;
            -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
            animation: bouncedelay 1.4s infinite ease-in-out;
            /* Prevent first frame from flickering when animation starts */
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }

        .spinner .bounce1 {
            -webkit-animation-delay: -0.32s;
            animation-delay: -0.32s;
        }

        .spinner .bounce2 {
            -webkit-animation-delay: -0.16s;
            animation-delay: -0.16s;
        }

        @-webkit-keyframes bouncedelay {
            0%, 80%, 100% {
                -webkit-transform: scale(0.0)
            }
            40% {
                -webkit-transform: scale(1.0)
            }
        }

        @keyframes bouncedelay {
            0%, 80%, 100% {
                transform: scale(0.0);
                -webkit-transform: scale(0.0);
            }
            40% {
                transform: scale(1.0);
                -webkit-transform: scale(1.0);
            }
        }

        .information{
            width: 100%;
        }
        .ifml{
            width: 15%;
            overflow: hidden;
            float: left;
            border-right: 1px solid #3d4458;
        }
        .ifml a:link,.ifml a:visited{
            display: inline-block;
            width: 100%;
            height: 17px;
            line-height:17px;
            color: #fff;
        }
        .ftpic{
            width: 115px;
            height: 115px;
            margin-left:50px;
            float: left;
        }
        .ftcon{
            float: left;
            width:65%;
            overflow: hidden;
        }
        .ftcon p{
            color: #fff;
            line-height:24px;
            text-align: left;
        }
        .dropdown {
            alignment: right;
            margin-top: -34px;
            margin-right: -20px;
        }
        .navbar-collapse {
            padding-top: 39px;
            margin-right: -81px;
            background-color: #f8b551;
            width:30%;
        }
        .mobilelogoimg {
            padding-top: 5px;
        }
        #mobilenav{
            display: none;
        }
        .mobilefooter {
            float:left;
            display: none;
            background: #5a6378;
        }
        .minformation p{
            font-size: 14px;
            padding-left: 30px;
            padding-right: 30px;
        }

        .weblogo{
            display: block;
        }

        #mobilelogo{
            display: none;
        }


        @media (max-width:640px) {
            #nav {
                display: none;
            }

            #mobilenav {
                display: block;
            }

            .mobilefooter {
                display: block;
            }

            .footer {
                display: none;
            }

            .weblogo{
                display: none;
            }

            #mobilelogo{
                display: block;
            }

        }
        .navbar-nav {
            background-color: #f8b551;
        }

    </style>
    <div id="header">
        <!--mobile -->
        <a href="#" id="mobilelogo" style="float: left;margin-top: 8px;">
            <img src="components/header/img/logo.png" alt="logo" class="mobilelogoimg" >
        </a>
        <!-- pc -->
        <a id="header-brand" href="#" class="weblogo">
            <img src="components/header/img/logo.png" alt="logo">
        </a>
        <form ng-if="!user" class="navbar-form navbar-right" style="margin-top: 23px;">
            <button ng-click="login()" type="button" class="btn btn-green btn-border btn-xs" style="margin-right:5px;">登录</button>
            <button ng-click="regist()" type="button" class="btn btn-green btn-xs">注册</button>
        </form>
        <form ng-if="user" class="navbar-form navbar-right" style="margin-top: 23px;">
            <a ui-sref="console.dashboard" class="btn btn-green btn-xs">控制台</a>

            <div class="dropdown" ID="mobilenav">
                <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                <span class="sr-only">切换导航</span>
                        <span style="background-color: #fff" class="icon-bar"></span>
                        <span style="background-color: #fff" class="icon-bar"></span>
                        <span style="background-color: #fff" class="icon-bar"></span>

                </button>
                <div class="navbar-collapse collapse navbar-right pull-right">
                    <ul class="nav navbar-nav" id="m-navs">
                        <li><a ui-sref="home.index" target="_blank" style="color: #fff;">首页</a></li>
                        <li><a href="javascript:;" target="_blank" style="color: #fff;">应用市场</a></li>
                        <li><a href="javascript:;" target="_blank" style="color: #fff;">产品介绍</a></li>
                        <li><a href="javascript:;" target="_blank" style="color: #fff;">解决方案</a></li>
                        <li><a href="javascript:;" target="_blank" style="color: #fff;">帮助</a></li>
                    </ul>
                </div>
            </div>
        </form>
        <ul class="nav navbar-nav menu navbar-right" ID="nav">
            <li class="active"><a ui-sref="home.index">首页</a></li>
            <li><a href="javascript:;">应用市场</a></li>
            <li><a href="javascript:;">产品介绍</a></li>
            <li><a href="javascript:;">解决方案</a></li>
            <li><a href="javascript:;">帮助</a></li>
        </ul>
    </div>
    <!--loading-->
    <div class="loading-box" ng-show=loding>
        <img class="spinner" src="pub/img/loading.gif" alt="">
    </div>


    <div ui-view style="overflow: hidden;"></div>

    <!--mobile footer-->
    <div class="mobilefooter">
        <div class="minformation">
                <p>团队介绍</p>
                <p>合作方式</p>
                <p>联系我们</p>
                <p>电话:010-82166688</p>
                <p>datafoundry@asiainfo.com</p>
                <p>地址:北京市海淀区中关村软件园二期西北旺东路10院亚信大厦</p>
            </div>
        </div>
        <div>© 2016版权所有 北京亚信智慧数据科技有限公司 京ICP备11005544号-15 京公网安备110108007119号</div>
    </div>
    <!--the end of mobile footer-->

    <div class="footer">
        <div class="information">
            <div class="ifml">
                <a href="#">团队介绍</a>
                <a href="#">合作方式</a>
            </div>
            <div class="ftpic"></div>
            <div class="ftcon">
                <p>联系我们</p>
                <p>电话:010-82166688</p>
                <p>datafoundry@asiainfo.com</p>
                <p>地址:北京市海淀区中关村软件园二期西北旺东路10院亚信大厦</p>
            </div>
        </div>
       <div style="float:left; text-align: center;width: 100%;">© 2016版权所有 北京亚信智慧数据科技有限公司 京ICP备11005544号-15 京公网安备110108007119号</div>
    </div>
</div>