<div class="service-config">
    <style>
        .service-config {
            border: 1px solid #c9c9c9;
            margin: 15px 0 0 30px;
        }
    </style>
    Pod
    <div ng-repeat="container in item.spec.template.spec.containers">
        <h2>{{container.name}}</h2>
        <p>镜像信息 镜像名称:{{container.image}} 镜像版本:{{}}</p>
        <p>secret卷</p>
        <p>配置文件</p>
        <label>端口信息</label>
        <p ng-repeat="port in container.ports">
            端口:{{port.containerPort}}
            协议:{{port.protocol}}
        </p>
    </div>
    <div>
        <h2>服务高可用</h2>
        <p>服务数量:1 重启策略:{{item.spec.template.spec.restartPolicy}}</p>
    </div>
    <div>
        <h2>后端服务绑定</h2>
        <p>后端服务实例名称1,后端服务实例名称2,后端服务实例名称3</p>
    </div>
    <div>
        <h2>自动部署</h2>
        <p><input type="checkbox">镜像变化触发自动部署</p>
    </div>
</div>