<div class="timeline">
    <ul>
        <li ng-repeat="item in rcs.items">
            <label>
                <span class="dot"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                {{item.metadata.creationTimestamp | dateRelative}}
            </label>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-2">
                        <span class="icon12 icon12-{{item.status.phase}}"
                              ng-class="{'fa-spin': item.status.phase == 'Running' || item.status.phase == 'Pending'}"></span>
                        <!--switch to Chinese-->
                        {{item.metadata.annotations['openshift.io/deployment.phase'] | rcStatusFilter}}
                    </div>
                    <div class="col-sm-1">
                        #{{item.metadata.annotations['openshift.io/deployment-config.latest-version']}}
                    </div>
                    <div class="col-sm-3">
                        部署时长:
                    </div>
                    <div class="col-sm-3">
                        触发类型:
                        <span ng-if="!item.causes.length">未知</span>
                        <span ng-if="item.causes.length">
                            <span ng-repeat="cause in deployment.causes">
                              <span ng-switch="cause.type">
                                <span ng-switch-when="ImageChange">镜像变化</span>
                                <span ng-switch-when="ConfigChange">配置变化</span>
                                <span ng-switch-default>{{cause.type}}</span>
                              </span>
                            </span>
                          </span>
                    </div>
                    <div class="col-sm-3 text-right">
                        <a class="icon25 icon25-collapse" ng-click="getLog($index)" uib-tooltip="查看" href="javascript:;"></a>
                        <a class="icon25 icon25-forward" ng-click="getConfig($index)" uib-tooltip="配置" href="javascript:;"></a>
                        <a class="icon25 icon25-start" uib-tooltip="重新部署" href="javascript:;"></a>
                        <!--<a class="icon25 icon25-stop" uib-tooltip="停止" href="javascript:;"></a>-->
                    </div>
                </div>
            </div>
            <div uib-collapse="!item.showLog">
                <div class="well">
                    <pre>{{item.log}}</pre>
                </div>
            </div>
            <div uib-collapse="!item.showConfig">
                <div ng-include="'views/service_detail/config.html'"></div>
            </div>

        </li>
    </ul>
</div>

