<div class="service-ctrl">

    <h2>EVENT信息</h2>
    <hr>

    <div class="table-responsive" style="margin-bottom: 30px;">
        <table class="table table-hover table-default sub-table">
            <tr>
                <th>时间</th>
                <th>名称</th>
                <th>类型</th>
                <th>状态</th>
                <th>事件</th>
            </tr>
            <tr ng-repeat="event in eventsws.items">
                <td>

                    <span uib-tooltip="{{event.metadata.creationTimestamp | duration2}}">{{event.metadata.creationTimestamp | duration2}}</span>
                    <!--<span uib-tooltip="{{event.metadata.creationTimestamp | duration2}}" style="display: block; width: 70px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{pod.metadata.name| limitTo: 12}}</span>-->
                </td>
                <td>

                    <!--<span uib-tooltip="{{event.involvedObject.name}}"  style="display: block; width: 70px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{event.involvedObject.name | limitTo: 12}}</span>-->
                    <span uib-tooltip="{{event.involvedObject.name}}">{{event.involvedObject.name}}</span>
                </td>
                <td>{{event.involvedObject.kind}}</td>
                <td>{{event.type}}</td>
                <td>
                    <span uib-tooltip="{{event.message}}">{{event.message | limitTo: 50}}</span>
                </td>
            </tr>
        </table>
    </div>
<style>
    .table-default.sub-table > tbody > tr > td {
        padding: 12px 10px;
    }
</style>

</div>
