<div class="build-detail">

    <date-pick></date-pick>

    <div class="panel panel-default" style="margin-bottom: 50px">
        <div class="panel-heading">
            <span class="panel-title">
                <i class="faa faa-cmd"></i>&nbsp;&nbsp;{{dc.metadata.name}}&nbsp;&nbsp;
                <span ng-if="dc.status.phase == 'New' || dc.status.phase == 'Pending' || dc.status.phase == 'Running'" style="color: #55c45f;">启动中</span>
            </span>
            <a class="btn btn-gray pull-right" style=" padding: 5px 10px; margin-left: 15px; height:34px; width:36px" ng-click="delete()"><i class="fa fa-trash-o fa-lg"></i></a>
            <a class="btn btn-green pull-right" ng-if="dc.status.phase != 'New' && dc.status.phase != 'Pending' && dc.status.phase != 'Running'" ng-click="startDc()">启动</a>
            <a class="btn btn-green pull-right" ng-if="dc.status.phase == 'New' || dc.status.phase == 'Pending' || dc.status.phase == 'Running'" ng-click="stopDc()">停止</a>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4">
                    <div class="media media-sm">
                        <div class="media-left">
                            <i class="faa faa-clock"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">创建时间</h4>
                            <small style="color: #5a6378;">{{dc.metadata.creationTimestamp | dateRelative}}</small>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="media media-sm">
                        <div class="media-left">
                            <i class="faa faa-code"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">路由URL</h4>
                            <small>
                                <a class="href-orange text-overflow" href="dc.route.spec.host" target="_blank">{{dc.route.spec.host}}</a>
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="media media-sm">
                        <div class="media-left">
                            <i class="faa faa-pod"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">pod个数(正常/期望)</h4>
                            <small><span style="color: #f6a540">{{dc.status.replicas}}</span>/{{dc.spec.replicas}}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <uib-tabset class="tab-default" active="active" ng-init="active=2">
        <uib-tab index="1">
            <uib-tab-heading>
                <i class="faa faa-edit"></i> 部署记录
            </uib-tab-heading>
            <div ng-include="'views/service_detail/history.html'"></div>
        </uib-tab>
        <uib-tab index="2">
            <uib-tab-heading>
                <i class="faa faa-target"></i> 服务监控
            </uib-tab-heading>
            <div ng-include="'views/service_detail/service_ctrl.html'"></div>
        </uib-tab>
        <uib-tab index="3">
            <uib-tab-heading>
                <i class="faa faa-text"></i> 配置信息
            </uib-tab-heading>
            <div ng-include="'views/service_detail/service_config.html'"></div>
        </uib-tab>
    </uib-tabset>
</div>
