<div class="build-detail">
    <div class="panel panel-default" style="margin-bottom: 50px">
        <div class="panel-heading">
            <span class="panel-title">
                <span class="icon25 icon25-panel"></span>&nbsp;&nbsp;{{dc.metadata.name}}
            </span>
            <a class="btn btn-gray pull-right" style=" padding: 5px 10px; margin-left: 15px; height:34px; width:36px" ng-click="delete()"><i class="fa fa-trash-o fa-lg"></i></a>
            <a class="btn btn-green pull-right" ng-click="startBuild()">启动</a>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4">
                    <div class="media media-sm">
                        <div class="media-left">
                            <img class="media-object" src="views/build_detail/img/images_104.png">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">创建时间</h4>
                            <small style="color: #5a6378;">{{dc.metadata.creationTimestamp | dateRelative}}</small>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="media media-sm">
                        <div class="media-left">
                            <img class="media-object" src="views/build_detail/img/images_106.png">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">路由URL</h4>
                            <small>
                                <a class="href-orange text-overflow" href="{{data.spec.source.git.uri}}" target="_blank">{{data.spec.source.git.uri}}</a>
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="media media-sm">
                        <div class="media-left">
                            <img class="media-object" src="views/build_detail/img/images_108.png">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">正常pod个数/期望pod个数</h4>
                            <small>2/6</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <uib-tabset class="tab-default" active="active">
        <uib-tab index="1">
            <uib-tab-heading>
                <i class="fa fa-file-o"></i> 部署记录
            </uib-tab-heading>
            <div ng-include="'views/service_detail/history.html'"></div>
        </uib-tab>
        <uib-tab index="2">
            <uib-tab-heading>
                <i class="fa fa-file-o"></i> 服务监控
            </uib-tab-heading>
            服务监控
        </uib-tab>
        <uib-tab index="3">
            <uib-tab-heading>
                <i class="fa fa-file-o"></i> 配置信息
            </uib-tab-heading>
            配置信息
        </uib-tab>
    </uib-tabset>
</div>
