.pod-config {
    margin-left: 30px;
    font-size: 12px;
}
.pod-config > h2 {
    font-size: 14px;
    font-weight: normal;
    margin: 30px 0 20px 0;
}
.pod-config h3 {
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 20px;
}
.pod-config p {
    word-break: break-all;
    word-wrap: break-word;
}
.pod-config .panel-heading {
    font-size: 14px;
}
.pod-config .tag {
    display: inline-block;
    width: 30%;
    text-align: center;
    border: 1px solid #c9c9c9;
    border-radius: 2px;
    padding: 3px 15px;
}

.text-Succeeded {
    color: #55c45f;
}
.text-Pending {
    color: #FF0000;
}

.service-ctrl > h2 {
    font-size: 14px;
    font-weight: normal;
    margin: 0 0 5px 0;
}
.service-ctrl hr {
    margin: 0 0 30px 0;;
}


.service-config {
    color: #393f4f;
}
.service-config h2 {
    color: #000;
    font-size: 16px;
    margin: 0 0 5px 0;
}
.service-config > hr {
    margin: 0 0 30px 0;
}
.service-config h3 {
    font-size: 14px;
    font-weight: normal;
    margin: 0 0 20px 0;
}
.service-config h4 {
    font-size: 12px;
    font-weight: normal;
    margin: 0 0 20px 0;
    color: #393f4f;
}
.service-config .container-bar {
    padding: 10px 15px;
    border: 1px solid #c9c9c9;
    border-radius: 2px;
    color: #5a6378;
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 15px;
}
.service-config a.icon25 {
    margin: 0 5px;
}
.service-config .href-add {
    color: #55c45f;
    text-decoration: none;
}
.service-config .href-add:hover {
    color: #469450;
}
.service-config .container-box {
    margin: -15px 0 40px 0;
    padding: 30px 15px 5px 15px;
}
.service-config .bg-gray {
    background: #f7f8fb;
}
.service-config .require:after {
    content: '*';
    margin: 0 5px 0 3px;
    color: red;
    vertical-align: sub;
}
.service-config .secret-bar .fa,
.service-config .key-value-bar .fa {
    text-decoration: none;
    color: #9fa7b7;
}
.service-config .secret-bar .fa:hover,
.service-config .key-value-bar .fa:hover {
    color: #3c4251;
}

.input-small {
    width: 70px;
    border: 1px solid #c9c9c9;
    border-radius: 2px;
}