<div class="service-ctrl">
    <!--部署事件-->
    <!--<h2>EVENT信息</h2>-->
    <!--<hr>-->
    <div class="row rongqi" style="padding: 0;list-style: none;margin:0; margin-bottom: 30px;border: 1px solid #e6e9f2;border-bottom: none;">
        <div class="col-md-12" style="background-color: #e6e9f2; height: 40px;padding-top: 10px;">

            <div class="col-md-1">Time</div>
            <div class="col-md-1">Reason</div>
            <div class="col-md-10">Message</div>

           <!-- <div class="col-md-1 biaotou">时间</div>
            <div class="col-md-2 biaotou">名称</div>
            <div class="col-md-2 biaotou">类型</div>
            <div class="col-md-1 biaotou">状态</div>
            <div class="col-md-6 biaotou">事件</div>-->
            <!--<div class="col-md-2">容器个数</div>-->


        </div>
        <div class="col-md-12 event" ng-repeat="event in eventsws.items  | orderBy : 'mysort'" style="padding-top: 10px;padding-left: 0px;padding-right: 0px;padding-bottom:10px;">

            <div class="col-md-1">{{event.metadata.creationTimestamp | timescon2}}</div>
            <div class="col-md-1">{{event.type}}</div>
            <div class="col-md-10">{{event.message}}</div>
        </div>

        <div class="col-md-12" style="line-height:32px;height:32px;padding: 0;overflow: hidden;">

        </div>
    </div>



</div>
