<div class="col-sm-12 pod-bottom-xl" style="margin:20px 25px;" >
    <div>创建成功.<a ng-href="" ui-sref="console.dashboard({namespace:namespace})" >返回首页</a>.</div>
    <div>
        <div style="padding-top: 20px">管理您的应用</div>
        <p>Web控制台很方便，但如果您需要更深入的控制，您可能需要尝试我们的命令行工具.</p>
        <div>命令行工具</div>
        <p>
            <a target="_blank" href="https://lab.lo.dataos.io:8443/console/command-line">下载并安装</a> 的 <code>oc</code>命令行工具。之后，您可以登录，切换到此特定项目并显示其概述，方法是:</p>
        <pre class="code prettyprint ng-binding">oc login https://lab.lo.dataos.io
oc project jiangtong
oc status</pre>
        <p>有关命令行工具的更多信息，请查看
            <a target="_blank" href="https://docs.openshift.org/latest/cli_reference/index.html">CLI 参考</a> 和
            <a target="_blank" href="https://docs.openshift.org/latest/cli_reference/basic_cli_operations.html">基本操作</a>.
        </p>
    </div>
</div>