
<!--<div class="bounce3"></div>-->
<!--<img ng-show='lding' class="spinner" src="pub/img/loading.gif" alt="">-->
<!--</div>-->
<div class="timeline">
    <ul>
        <li ng-repeat="item in replicaset">
            <label>
                <span class="dot"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                {{item.metadata.creationTimestamp | dateRelative}}
            </label>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-3 " >
                        <span class="dList href-orange" style="cursor: pointer;" ui-sref="console.rs({name:item.metadata.name})">
                            #{{item.metadata.annotations['deployment.kubernetes.io/revision']}}
                        </span>
                    </div>
                    <div class="col-sm-3" >
                        <span>
                            {{item.metadata.name}}
                        </span>
                        <!--switch to Chinese-->

                    </div>
                    <div class="col-sm-3">

                    </div>
                    <div class="col-sm-3">
                        <span >{{item.spec.replicas}}&nbsp;&nbsp;&nbsp;&nbsp;replicas</span>

                    </div>
                </div>
            </div>
            <!--<div class="collapse" ng-class="{'in': item.showLog}">-->
            <!--<div uib-collapse="!item.showLog">-->
            <!--<div class="well well-log">-->
            <!--<pre id='sc'>{{item.log}}</pre>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div uib-collapse="!item.showConfig">-->
            <!--<div ng-include="'views/service_detail/config.html'"></div>-->
            <!--</div>-->

        </li>
    </ul>
</div>

