<div class="config-detail">
        <div class="panel panel-default" style="margin-bottom: 50px">
            <div class="panel-heading">
            <span class="panel-title">
                <span class="icon25 configicon"></span>&nbsp;&nbsp;PVC Name
            </span>
                <a class="btn btn-gray pull-right" style=" padding: 5px 10px; margin-left: 15px; height:34px; width:36px" ng-click="delete()"><i class="fa fa-trash-o fa-lg"></i></a>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="media media-sm">
                            <div class="media-left">
                                <img class="media-object" src="views/build_detail/img/images_104.png">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">更新时间</h4>
                                <small style="color: #5a6378;"></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <uib-tabset class="tab-default" active="active">
            <uib-tab index="1">
                <uib-tab-heading>
                    <i class="icon20 icon20-paper"></i> 配置卷信息
                </uib-tab-heading>
                <div class="title">

                </div>
            </uib-tab>
        </uib-tabset>
</div>