<div class="application">
       <div class="cptitle">应用中心</div>
       <div class="cptable">
              <span ng-class="{'active':grid.active==1}" ng-click="changeTb(1)">SAAS服务</span><span ng-class="{'active':grid.active==2}" ng-click="changeTb(2)">镜像中心</span>
       </div>
       <div ng-show="grid.active==1">
              <div class="cpleft">
                     <div class="panel panel-default">
                            <div class="panel-heading">
                                   <span>SAAS服务</span>
                                   <div style="float:right;margin-right:15px;">
                                          <!--<span class="color-orange" ng-click="howSaas()">如何申请使用SAAS服务?</span>-->
                                   </div>
                            </div>
                            <div class="panel-body">
                                   <div class="row" style="padding:30px 15px;">
                                          <div class="col-sm-6">
                                                 <div class="dropdown dropdown-select" style="width: 200px; height: 35px;float:left;margin:0px;">
                                                        <button class="btn dropdown-toggle" data-toggle="dropdown" style="">
                                                               <span>提供者</span>
                                                               <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu" style="height: 88px;margin-top: -1px;overflow-y: auto">
                                                               <li >
                                                                      <a href="javascript:;">222222</a>
                                                               </li>
                                                        </ul>
                                                 </div>
                                                 <div class="dropdown dropdown-select" style="width: 200px; height: 35px;float:left;margin:0px;margin-left: 20px;">
                                                        <button class="btn dropdown-toggle" data-toggle="dropdown" style="">
                                                               <span>分类</span>
                                                               <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu" style="height: 88px;margin-top: -1px;overflow-y: auto">
                                                               <li >
                                                                      <a href="javascript:;">222222</a>
                                                               </li>
                                                        </ul>
                                                 </div>
                                          </div>
                                          <div class="col-sm-6">
                                                 <div class="searchbar">
                                                        <div class="input-group">
                                                               <input type="text" class="form-control"
                                                                      ng-model="grid.txt"
                                                                      ng-keydown="search(grid.txt)"
                                                                      placeholder="搜索SAAS服务">
                                                   <span class="input-group-btn">
                                                       <a class="btn" ng-click="search(grid.txt)"></a>
                                                   </span>
                                                        </div>
                                                 </div>
                                          </div>
                                   </div>
                                   <div class="row">
                                          <div class="contitle">
                                                 <span class='biaoti'>通讯</span>
                                          </div>
                                          <div class="fen">
                                                 <div class="thumbnail">
                                                        <div class="thumb-content">
                                                               <div class="thumb-slide">
                                                                      <div class="thumb-op">
                                                                             <small>SAAS简介:啦啦啦</small>
                                                                             <p class="thumb-btn">
                                                                                    <a class="btn btn-skyblue" href="javascript:;">
                                                                                           查看详情</a>
                                                                             </p>
                                                                      </div>
                                                                      <div class="imageholder" style="background-image:url('components/card/img/image.png');height:66px;background-color: #EAEBEF;"></div>
                                                               </div>
                                                        </div>
                                                        <div class="caption">
                                                               <p>SAAS平台服务</p>
                                                               <p>提供者:平台</p>
                                                               <a class="btn btn-orange"  style='cursor:default;'>创建</a>
                                                        </div>
                                                 </div>
                                          </div>
                                   </div>
                            </div>

                     </div>
              </div>
              <div class="cpright">
                     <div class="panel panel-default">

                            <div class="panel-heading">
                                   <div class="hot-top-name"> 热门SAAS</div>
                            </div>
                            <div class="panel-body"  style="padding: 0px;padding-bottom: 30px;">
                                   <div class="row hotcon" style="padding: 0px;margin-top:20px;">
                                          <div class="listidx">1</div>
                                          <div class="col-md-3">
                                                 <div class="hotlistimg">

                                                 </div>

                                          </div>
                                          <div class="col-md-9" style="margin-top:10px;">
                                                 <p class="hotconname">SAAS服务名称</p>
                                                 <p>提供者:aaa</p>
                                                 <p>服务类型:bbb</p>
                                          </div>
                                   </div>
                            </div>
                     </div>
              </div>
       </div>
       <div ng-show="grid.active==2">

              <div class="cpleft">
                     <div class="panel panel-default">
                            <div class="panel-heading">
                                   <span>SAAS服务</span>
                                   <div style="float:right;margin-right:15px;">
                                          <span class="color-orange">查看我的收藏</span>
                                          <!--<span class="color-orange" ng-click="howpushimg()">如何拉取镜像?</span>-->
                                   </div>
                            </div>
                            <div class="panel-body">
                                   <div class="row" style="padding:30px 15px;">
                                          <div class="col-sm-6">
                                                 <div class="dropdown dropdown-select" style="width: 200px; height: 35px;float:left;margin:0px;">
                                                        <button class="btn dropdown-toggle" data-toggle="dropdown" style="">
                                                               <span>提供者</span>
                                                               <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu" style="height: 88px;margin-top: -1px;overflow-y: auto">
                                                               <li >
                                                                      <a href="javascript:;">222222</a>
                                                               </li>
                                                        </ul>
                                                 </div>
                                          </div>
                                          <div class="col-sm-6">
                                                 <div class="searchbar">
                                                        <div class="input-group">
                                                               <input type="text" class="form-control"
                                                                      ng-model="grid.txt"
                                                                      ng-keydown="search(grid.txt)"
                                                                      placeholder="搜索镜像中心">
                                                   <span class="input-group-btn">
                                                       <a class="btn" ng-click="search(grid.txt)"></a>
                                                   </span>
                                                        </div>
                                                 </div>
                                          </div>
                                   </div>
                                   <div class="row">
                                          <div class="fen">
                                                 <div class="thumbnail">
                                                        <div class="thumb-content">
                                                               <div class="thumb-slide">
                                                                      <div class="thumb-op">
                                                                             <p><i class="fa fa-clock-o"></i>&nbsp;&nbsp;1111</p>
                                                                             <p><i class="fa fa-flag-o"></i>&nbsp;&nbsp;222222</p>
                                                                             <p class="thumb-btn">
                                                                                    <a class="btn btn-green"
                                                                                       ng-if='true'
                                                                                       href="javascript:;"
                                                                                       ui-sref="">部署最新版本</a>
                                                                             </p>
                                                                      </div>
                                                                      <div style="position: relative;">
                                                                             <div class="imgwrop"></div>
                                                                             <img src="components/card/img/image.png" alt="" style="width: 66px; height: 66px;margin-top:20px;">
                                                                             <p style="margin-top:15px;">Docker官方镜像</p>
                                                                      </div>
                                                               </div>
                                                        </div>
                                                        <div class="caption">
                                                              <p class="hotconname">imagename</p>
                                                              <div class="row">
                                                                     <div class="col-md-6" ><i class="download-13" uib-tooltip="拉取"></i>&nbsp;&nbsp;1</div>
                                                                     <div class="col-md-6"><i class="star-13" uib-tooltip="收藏"></i>&nbsp;&nbsp;2</div>
                                                              </div>
                                                        </div>
                                                 </div>
                                          </div>
                                   </div>
                            </div>

                     </div>
              </div>
              <div class="cpright">
                     <div class="panel panel-default">

                            <div class="panel-heading">
                                   <div class="hot-top-name"> 热门镜像</div>
                                   <div class="hotimgtab" style="text-align: center">
                                          <span ng-class="{'hotactive':grid.hotimglist==1}" ng-click="changehotTab(1)">拉取TOP</span><span ng-class="{'hotactive':grid.hotimglist==2}" ng-click="changehotTab(2)">收藏TOP</span>
                                   </div>
                            </div>
                            <div class="panel-body"  style="padding: 0px;padding-bottom: 30px;">
                                   <div ng-if="grid.hotimglist==1" class="row hotcon" style="padding: 0px;margin-top:20px;">
                                          <div class="listidx">1</div>
                                          <div class="col-md-3">
                                                 <div class="hotlistimg">

                                                 </div>

                                          </div>
                                          <div class="col-md-9" style="margin-top:10px;">
                                                 <p class="hotconname">镜像名称</p>
                                                 <p><i class="download-13" uib-tooltip="拉取"></i>&nbsp;&nbsp;1</p>
                                                 <p><i class="star-13" uib-tooltip="收藏"></i>&nbsp;&nbsp;2</p>
                                          </div>
                                   </div>
                                   <div ng-if="grid.hotimglist==2" class="row hotcon" style="padding: 0px;margin-top:20px;">
                                          <div class="listidx">2</div>
                                          <div class="col-md-3">
                                                 <div class="hotlistimg">

                                                 </div>

                                          </div>
                                          <div class="col-md-9" style="margin-top:10px;">
                                                 <p class="hotconname">镜像名称</p>
                                                 <p><i class="download-13" uib-tooltip="拉取"></i>&nbsp;&nbsp;1</p>
                                                 <p><i class="star-13" uib-tooltip="收藏"></i>&nbsp;&nbsp;2</p>
                                          </div>
                                   </div>
                            </div>
                     </div>
              </div>
       </div>


</div>