<div class="modal-resource-action">
    <div class="modal-body">
        <div ng-if="!isList">
            <h4 style="font-weight: 400;">{{resourceKind}} '<strong>{{resourceName}}</strong>' 已存在</h4>
            <!--<p>Do you want to replace with the new content?</p>-->
        </div>
        <div ng-if="isList">
            <!--<h3>Some items already exist:</h3>-->
            <h4>以下资源已存在:</h4>
            <dl class="dl-horizontal">
                <dt ng-repeat-start="resource in updateResources">{{resource.kind}}</dt>
                <dd ng-repeat-end>{{resource.metadata.name}}</dd>
            </dl>
            <!--<p>Do you want to replace the existing resources?</p>-->
        </div>
    </div>
    <div class="modal-footer">
        <!--<button class="btn btn-lg btn-primary" type="button" ng-click="replace();">Replace</button>-->
        <button class="btn btn-orange" style="background-color: #9e9e9e;" type="button" ng-click="cancel();">关闭</button>
    </div>
</div>