<style>
    .resource_tit_set{color:#47B2FB;}
    .resource_tit_set:hover{color:#98D4FD;}
    .resource_tit_set:active{color:#168DDE;}
</style>
<div id="resource_management"class="resource_management" >
    <div>
        <div class="row tool_nav" style="">
            <div class="col-sm-7 col-xs-4">
                <a class="btn btn-green btn-green_res" style="" ui-sref="console.create_config_configMap({namespace:namespace})">
                    <i class="fa fa-plus fa-lg"></i>
                    <span class="hidden-xs"> 新建配置卷</span>
                </a>
                <a class="btn btn-skyblue btn-skyblue_res" ng-click="newreload()"
                   style="">
                    <i class="fa fa-refresh fa-lg"></i>
                </a>
            </div>
            <div class="col-sm-5 col-xs-8 search_padding_left" style="">
                <div class="pull-right">
                    <!----------------------------------------->
                    <div class="searchbar search_btn">
                        <div class="input-group">
                            <input type="text" class="form-control input_placeholder"
                                   ng-model="grid.txt"
                                   ng-keyup="search($event)"
                                   placeholder="搜索关键字"  style="">
                            <span class="input-group-btn">
                                                <a class="btn" ng-click="search('search')"></a>
                                            </span>
                        </div>
                    </div>

                    <!----------------------------------------->
                </div>
            </div>
        </div>
        <div class="table-responsive table_mar_top" style="">
            <table class="table-hover table-default table_hover"
                   style="">
                <tr>
                    <div class="row">
                        <th class='col-lg-2 col-md-2 col-sm-1'>配置卷名称</th>
                        <th class='col-lg-2 col-md-2 col-sm-2'>创建时间</th>
                    </div>
                </tr>
                <tr ng-repeat="items in configitems">
                    <td class="td_borderBottom .td_textOverflow " style="">

                        <a ui-sref="console.config_configMap({namespace:namespace,name: items.metadata.name})" uib-tooltip="{{items.metadata.name}}" tooltip-placement="top" style="color:#f6a540">{{items.metadata.name}}</a>
                    </td>
                    <td class="td_borderBottom" style=""><span
                            uib-tooltip="{{items.metadata.creationTimestamp  | timescon}}">{{items.metadata.creationTimestamp | dateRelative}} </span>
                    </td>
                </tr>
                <tr>

                    <td colspan="2" class="text_middlle td_background tr_border" style=""  ng-if="!configitems.length"><p class="blank_block">  <span class="blank_tit"> {{text2}}</span></p></td>

                </tr>
            </table>
        </div>
    </div>

    <div class="text-center" ng-if="grid.total > 10" class="table_mar_top" style="">
        <uib-pagination class="pagination pagination-sm" ng-model="grid.page" total-items="grid.total"
                        items-per-page="grid.size" boundary-links="false" max-size="12" rotate="true"
                        previous-text="<"
                        next-text=">"
        >
        </uib-pagination>

    </div>
</div>