.dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: #f6a540;
}
.timeline ul {
    list-style: none;
    border-left: 2px solid #c9c9c9;
}
.timeline ul > li {
    position: relative;
    left: -45px;
    top: -10px;
    margin: 0 -45px 50px 0;
}
.timeline ul > li > label {
    color: #393f4f;
}
.timeline ul > li > div.container-fluid {
    padding: 10px 15px;
    border: 1px solid #c9c9c9;
    border-radius: 2px;
    margin-left: 30px;
    color: #5a6378;
    font-size: 12px;
    line-height: 25px;
}
.timeline ul > li .well {
    border: none;
    border-radius: 2px;
    margin: 15px 0 0 30px;
    background: #000;
}
.well pre{
    background-color: #0f0f0f;
    border-color: #0f0f0f;
    color: #3e8f3e;
    height:300px;
}
.icon25-collapse {
    background-image: url(img/images_200.png);
}
.icon25-collapse:hover {
    background-image: url(img/images_201.png);
}
.icon25-stop {
    background-image: url(img/images_50.png);
    margin-right: 20px;
}
.icon25-stop:hover {
background-image: url(img/images_52.png);
}