<div class="apply-instance">
    <form class="form-horizontal" name="frm" style="margin-right: 90px; margin-left: 90px; margin-top: 40px">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span>创建服务的实例</span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-2 text-left">
                        <p class="require listname">服务名称</p>
                    </div>
                    <div class="col-sm-10">
                        <input ng-model="bsi.metadata.name" type="text" name="servicename" class="form-control input-block" placeholder="创建一个项目名称" required
                               ng-pattern="/^[a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*$/">
                        <small ng-show="frm.servicename.$invalid && frm.servicename.emptyName" class="fa fa-info-circle err-tip">请填写一个项目名称</small>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-2 text-left">
                        <p class="require">服务套餐</p>
                    </div>
                    <div class="col-sm-10">
                        <div style="margin-bottom: 15px;" ng-repeat="plan in data.spec.plans">
                            <div class="panel panel-default sub-panel panel-xxx" ng-class="{'active': grid.checked == $index}"  ng-click="grid.checked = $index">
                                <div class="panel-heading">
                                    <p class="subpanelname">{{plan.name}}</p>
                                </div>
                                <div class="panel-body plan">
                                    <div class="row">
                                        <div class="col-md-5" style="border-right: 1px solid #c9c9c9;">
                                            <label><i class="faa faa-price"></i>&nbsp;&nbsp;价格</label>
                                            <p ng-repeat="cost in plan.metadata.costs">
                                                {{cost.unit}}:&nbsp;€{{cost.amount.eur}}&nbsp;|&nbsp;${{cost.amount.usd}} <br>
                                            </p>
                                        </div>
                                        <div class="col-md-3" style="border-right: 1px solid #c9c9c9;">
                                            <label><i class="faa faa-content"></i>&nbsp;&nbsp;内容</label>
                                            <p ng-repeat="bullet in plan.metadata.bullets">
                                                {{bullet}} <br>
                                            </p>
                                        </div>
                                        <div class="col-md-4">
                                            <label><i class="faa faa-description"></i>&nbsp;&nbsp;描述</label>
                                            <p>{{plan.description}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <a class="btn btn-block btn-orange" ng-class="{'btn-orange':frm.servicename.$valid, 'btn-disabled': frm.servicename.$invalid}" ng-disabled="frm.servicename.$invalid" ng-click="frm.servicename.$valid && createInstance()">创建</a>
            </div>
        </div>
    </form>
</div>