/*new code*/
/*数据为空时状态*/
#resource_management .blank_block {
    margin-bottom:0;
}
#resource_management .blank_tit {
    font-size:14px;
    color:#5a6378;
    margin-left:10px;
    vertical-align:middle;
}
#resource_management .resource_management{
    background:#fff;
    padding:20px 40px 40px;
}
#resource_management .uib-tab-heading_width{
    width:180px;
}
#resource_management .tool_nav{
    margin-left:-15px;
    margin-top:20px;
}
#resource_management .btn-green_res{
    margin-right: 20px;
}
#resource_management .btn-skyblue_res{
    height: 34px;
    width: 36px;
    padding: 5px 5px;
}
#resource_management .search_padding_left{
    padding-left: 0;
}
#resource_management .input_placeholder{
    /* height: 34px; */
}
#resource_management .table_mar_top{
    margin-top: 30px;
}
#resource_management .table_hover{
    table-layout:fixed;
    width: 100%;
    border-bottom: none;
}
#resource_management .tr_border{
    border-bottom: 1px solid #CCCCCC;
}
#resource_management .td_borderBottom{
    border-top: 1px solid #CCCCCC;
}
#resource_management .td_overflow{
   color:#47B2FB;
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    overflow: hidden;
}
#resource_management {
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    overflow: hidden;
}
#resource_management .text_middlle{
    text-align: center;
}
#resource_management .td_background{
    background: #fff;
}
#resource_management .listitem {
    color: #e5993a;
}
/* 
#resource_management .listitem:hover{
    color:#5a6378;
} */
#resource_management .tab-back-zn-default {
    padding:20px 40px 40px;
    background:#fff;
}
#resource_management .tab-back-zn-default  .tab-content{
    border:none;
    padding:0px 30px;
}
#resource_management .tab-back-zn-default .nav-tabs{
    border:none;
    border-bottom:1px solid #c9c9c9;
}
#resource_management .tab-back-zn-default li.active .nav-link, .tab-default li.active .nav-link:focus, .tab-default li.active .nav-link:hover{
    border:none;
    border-bottom:2px solid #e5993a;
    color:#333;
}
/*new code end*/