<div>
    <form class="form-horizontal" name="frm">

        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="panel-title">新建构建</span>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label">构建名称</label>
                    <div class="col-sm-9">
                        <input ng-model="buildConfig.metadata.name" type="text" class="form-control" required>
                    </div>
                </div>
                <hr>
                <!--<div class="form-group">-->
                    <!--<label class="col-sm-2 control-label">代码URL</label>-->
                    <!--<div class="col-sm-10">-->
                        <!--<uib-tabset class="tab-default">-->
                            <!--<uib-tab index="1" heading="代码仓库">-->
                                <!--haha-->
                            <!--</uib-tab>-->
                            <!--<uib-tab index="2" heading="GitHub">-->
                                <!--heihei-->
                            <!--</uib-tab>-->
                            <!--<uib-tab index="3" heading="Gitlab">-->
                                <!--xixi-->
                            <!--</uib-tab>-->
                        <!--</uib-tabset>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<hr>-->
                <div class="form-group">
                    <label class="col-sm-3 control-label">代码URL</label>
                    <div class="col-sm-9">
                        <input ng-model="buildConfig.spec.source.git.uri" type="text" class="form-control" required>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label class="col-sm-3 control-label">构建超时时长</label>
                    <div class="col-sm-9">
                        <input ng-model="completionDeadlineMinutes" style="width: 80px;display: inline-block;" type="number" class="form-control" required>
                        <span style="display: inline-block;">mins</span>
                        <span>&nbsp;&nbsp;构建超时时长请不要超过30Mins</span>
                        <small ng-if="completionDeadlineMinutes > 30 || completionDeadlineMinutes <= 0" class="fa fa-exclamation-circle" style="font-size: 12px;color: #ec6941;">&nbsp;您设置的时长超过了最大限制,请重新设置</small>
                    </div>
                </div>
            </div>
        </div>

        <a class="btn btn-block" ng-class="{'btn-orange':frm.$valid, 'btn-disabled': frm.$invalid}" ng-disabled="frm.$invalid" ng-click="frm.$valid && create()">开始构建</a>
    </form>
</div>
