#newbuildcreat body, div, p, span {
    padding: 0;
    margin: 0;
}

#newbuildcreat .build-jia-default {
    border: none;

}

#newbuildcreat .build-jia-default .panel-jia-heading {
    background: none;
    /*margin-left: 21px;*/
    /*margin-right: 21px;*/
}

#newbuildcreat .panel-jia-title {
    color: #333;
}

#newbuildcreat .tab-jia-default .tab-content {
    /*padding: 30px 20px;*/
    height: auto;
    overflow: hidden;
    border: none;
}

#newbuildcreat .panel-block-jia-body {
    /*padding: 22px 52px 52px;*/
    padding: 0;
    margin-top: 11px;
}

#newbuildcreat .form-jia-line {
    /*padding-bottom: 32px;*/
    /*border-bottom: 1px solid #f2f2f2;*/
}

#newbuildcreat .view-jia-tit {
    color: #47B2FB;
}

#newbuildcreat .view-jia-tit:hover {
    color: #98D4FD
}
#newbuildcreat .greycolor {
    color: grey;
}

#newbuildcreat .nav-link,
#newbuildcreat .nav-link:hover {
    color: #47B2FB;
    /*padding: 5px 21px;*/
    font-size: 12px;
    height: 24px;
}

/*#newbuildcreat .tab-default .nav-tabs{*/
/*border: none;*/
/*!*width:240px;*!*/
/*height: 24px;*/
/*}*/
/*#newbuildcreat .tab-default li .nav-link{*/
/*!*padding: 0;*!*/
/*!*padding: 5px 20px;*!*/
/*padding-bottom: 5px;*/
/*padding-top: 5px;*/
/*}*/
/*#newbuildcreat .uib-tab{*/
/*!*border: 1px solid #CCD5E0;*!*/
/*margin: 0;*/
/*padding: 0;*/
/*height: 24px;*/
/*}*/
#newbuildcreat .tab-default .nav-tabs {
    border: none;
}

#newbuildcreat .nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

#newbuildcreat .nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}

#newbuildcreat .nav > li {
    position: relative;
    display: block;
}

#newbuildcreat .nav > li > a {
    color: #1F2D3D;
    border: solid 1px #ccd5e0;
    margin-right: 0;
}

#newbuildcreat .tab-default li.active .nav-link {
    border: 1px solid #47B2FB;
    border-radius: 4px 4px 0px 0px;
    color: #47B2FB;
}

#newbuildcreat .tab-default li .nav-link {
    font-size: 12px;
    padding: 0px;
    line-height: 24px;
    width: 80px;
    text-align: center;
}

/**/
#newbuildcreat .zhuan {
    animation: rotate 1s infinite linear;
}

#newbuildcreat

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#newbuildcreat .is-box {
    margin-top: 30px;
}

#newbuildcreat .is-box .panel {
    padding-left: 0px;
    padding-right: 0px;
    width: 30%;
    height: 200px;
    border: solid 1px #CCD5E0;
}

#newbuildcreat .is-box .panel .panel-heading {
    width: 100%;
    background-color: #f7f7f7;
    padding: 0 15px;
    font-size: 12px;
}

#newbuildcreat .col-sm-10 {
    padding-right: 42px;
}

#newbuildcreat .is-box .panel .panel-body {
    width: 100%;
    padding: 0px;
    margin-bottom: 0px;
    height: 150px;
    overflow-y: auto;
    font-size: 12px;
}

#newbuildcreat .is-box .panel .panel-body ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#newbuildcreat .is-box .panel .panel-body li {
    height: 40px;
    line-height: 40px;
}

#newbuildcreat .is-box .panel .panel-body ul li a {
    padding: 0px 15px;
}

#newbuildcreat .is-box .panel .panel-body ul li a:active {
    color: #5a6378;
}

#newbuildcreat .is-box .panel .panel-body ul li a:focus {
    text-decoration: none;
}

#newbuildcreat .is-box .panel .panel-body ul li a.active {
    background: #E0E6ED;
    color: #5a6378;
}

#newbuildcreat .is-box .panel .panel-body img {
    margin-right: 10px;
}

#newbuildcreat .gitlabbox {
    width: 100%;
    overflow: hidden;
    border: 1px solid #c9c9c9;
    padding: 40px 0px;
}

#newbuildcreat .gitlabBtn {
    width: 70%;
    height: 34px;
    background: #55c45f;
    line-height: 34px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

#newbuildcreat .gitlabBtn:hover {
    background: #469450;
}

#newbuildcreat .labcon a:link, .labcon a:visited {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#newbuildcreat .running {
    animation: rotate 1s infinite linear;
}

#newbuildcreat

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

#newbuildcreat .form-group input {
    /*width: 100%;*/
    /*width:320px;*/
}

#newbuildcreat .form-group input:hover {
    border: 1px solid #47B2FB;
}

#newbuildcreat #bc .disabled {
    /*background-color: #e6e9f2;*/
}

#newbuildcreat #bc .disabled a:hover {
    color: #c7c7c7 !important;
}

#newbuildcreat #bc .disabled a {
    color: #c7c7c7 !important;
}

#newbuildcreat #bc li.active > a {
    border: 1px solid #47B2FB;
    /*border-bottom: 2px solid #47B2FB;*/
    color: #47B2FB;
}

#newbuildcreat .creat-name-input {
    ime-mode: disabled
}

#newbuildcreat .build-url-set {
    margin: 0;
    padding: 0;
}

#newbuildcreat .build-ipt-name {
    width: 320px;
    height: 26px;
    font-size: 12px;
}
#newbuildcreat .build-ipt-name.active {
   border-radius: 2px;
}

#newbuildcreat .creat-tab-lablel {
    color: #5a6378;
    font-size: 12px;
    text-align: left;
    font-weight: normal;
}

#newbuildcreat .creat-name-lablel {
    font-weight: normal;
    text-align: left;
    font-family: MicrosoftYaHei;
    font-size: 12px;
    color: #475669;
    letter-spacing: 0;
    line-height: 14px;
}

#newbuildcreat .build-creat-center .tab-lab {
    height: 24px
}

#newbuildcreat .build-creat-center .tab-lab .tab-lab-reload {
    /*margin-top: -5px;*/
    /*margin-right: -10px*/
    /*background: yellow;*/
}

#newbuildcreat .build-creat-center .tab-lab .tab-lab-img {
    float: left;
    margin-right: 20px;
    width: 68px;
    height: 68px;
    background: #EFF2F7;
    border: 1px solid #CCD5E0;
}

#newbuildcreat .build-creat-center .tab-lab .tab-lab-text {
    font-family: MicrosoftYaHei;
    font-size: 12px;
    color: #475669;
    height: 16px;
    letter-spacing: 0;
}

#newbuildcreat .build-creat-center .tab-reg {
    /*background: red;*/
    height: 24px
}

#newbuildcreat .build-creat-center .tab-reg .tab-reg-tittle {
    font-size: 12px;
    /*padding-bottom: 10px*/
    background: blue;
}

#newbuildcreat .build-creat-center .tab-reg .tab-reg-label {
    text-align: left;
    font-size: 12px;
    font-weight: normal;
}

#newbuildcreat .build-creat-center .tab-reg .tab-reg-input {
    height: 30px;
    margin-left: -20px
}

#newbuildcreat .build-creat-center .tab-reg .tab-reg-div {
    margin-top: 30px
}

#newbuildcreat .build-creat-center .creat-box .box-div {
    margin-right: 30px;
    position: relative;
}

#newbuildcreat .build-creat-center .creat-box .box-search {
    border-left: none;
    border-right: none;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

#newbuildcreat .build-creat-center .creat-box .box-search .box-search-span {
    right: 14px;
    top: 4px;
    z-index: 999;
}

#newbuildcreat .build-creat-foot .creat-foot-time {
    color: #5a6378;
    font-size: 14px;
    text-align: left;
    font-weight: normal;
}

#newbuildcreat .build-creat-foot .creat-foot-input {
    width: 80px;
    display: inline-block;
}

#newbuildcreat .build-creat-foot .creat-foot-min {
    display: inline-block;
    margin-right: 20px
}

.view_tit_set {
    color: #47B2FB;
    cursor: pointer;
    font-size: 12px;
}
.view_tit_set_color{
    color: #98D4FD;
    font-size: 12px;
}
.view_tit_set:hover {
    color: #98D4FD;
}

.view_tit_set:active {
    color: #168DDE
}

.label-font {
    font-family: MicrosoftYaHei;
    font-size: 12px;
    color: #475669;
    letter-spacing: 0;
}

.form-control-input-line {
    width: 320px;
    height: 26px;
    line-height: 26px;
}



