<div class="buildcreat df_frame" id="newbuildcreat">
    <form class="form-horizontal" name="frm">
        <div class="panel panel-default build-jia-default" style="margin-bottom: 0;">
            <div class="panel-jia-heading">
                <span class="panel-title panel-jia-title df_tit">构建设置</span>
            </div>
            <div class="panel-body panel-block-jia-body">
                <div class="form-jia-line build-creat-top">
                    <label class="col-sm-2 control-label text-left creat-name-lablel require">构建名称</label>
                    <div class="col-sm-10 pr40">
                        <input ng-model="buildConfig.metadata.name"
                               ng-blur="nameblur()"
                               onkeypress="if((event.keyCode > 31 && event.keyCode < 44) || (event.keyCode > 46 && event.keyCode < 48) || (event.keyCode > 57 && event.keyCode < 65) || (event.keyCode > 90 && event.keyCode < 97))event.returnValue = false;"
                               ng-focus="namefocus()"
                               type="text" name="name" class="form-control creat-name-input build-ipt-name"
                               required
                               placeholder="名称只能包含小写字母">
                        <small ng-if="namerr.nil" class="fa fa-info-circle err-tip">请输入正确构建名称
                        </small>
                        <small ng-if="namerr.rexed" class="fa fa-info-circle err-tip">
                            请输入4~30位名称,名称只能包含小写英文、数字以及“-”(不能以数字开头)
                        </small>
                        <small ng-if="namerr.repeated" class="fa fa-info-circle err-tip">输入的名称已重复
                        </small>
                    </div>
                </div>
            </div>
            <div class="panel-jia-heading" style="margin-top: 20px">
                <span class="panel-title panel-jia-title df_tit">代码URL设置</span>
            </div>
            <div class="panel-body panel-block-jia-body">
                <div class="form-jia-line build-creat-center">
                    <label class="col-sm-2 control-label creat-tab-lablel">URL类型</label>
                    <div class="col-sm-10 bc creat-tab" id="bc">
                        <uib-tabset class="tab-default tab-jia-default" active="buildcheck">
                            <!--gitlab-->
                            <uib-tab index="1" heading="GitLab">
                                <div class="tabinfo tab-lab">
                                    <img class="tab-lab-img">
                                    <!--<img class="tab-lab-img" src="views/build_create/img/images02_178.png">-->
                                    <p class="tab-lab-text">DataFoundry 提供的代码仓库（<a href="https://code.dataos.io"
                                                                                   target="view_window"
                                                                                   class="view-jia-tit">https://code.dataos.io</a>）
                                    </p>
                                    <p class="tab-lab-text" style="margin-top: 5px">是可靠的自托管的Git项目仓库，
                                        可通过Web界面进行访问公开的或者私人项目。</p>
                                    <p style="height: 16px;margin-top: 14px">
                                        <!--ng-show="needbind.gitlab"-->
                                        <a class="view_tit_set"
                                           ng-class="{'greycolor':!needbind.gitlab}"
                                           style="margin-right: 32px;"
                                           ng-click="needbind.gitlab&&bindhub('gitlab')">
                                            <span style="padding-bottom: 1px;font-size: 12px;margin-right: 6px;">
                                                <i class="uex-icon-protocol-deafult"></i>
                                            </span>绑定&nbsp;Gitlab&nbsp;&nbsp;</a>
                                        <a class="view_tit_set" ng-class="{'running':labrunning }"
                                           uib-tooltip="同步代码源"
                                           ng-click="loadOwner('gitlab')">
                                            <span style="padding-bottom: 1px;font-size: 12px;margin-right: 6px;">
                                                <i class="uex-icon-refresh"></i>
                                            </span>
                                            同步代码源
                                        </a>
                                    </p>

                                </div>
                            </uib-tab>
                            <!--github-->
                            <uib-tab index="2" heading="GitHub">
                                <!--<uib-tab index="2" heading="GitHub" ng-click="checkdTab(2)">-->
                                <div class="tabinfo tab-lab">
                                    <img class="tab-lab-img"
                                         src="views/build_create/img/github.png">
                                    <p class="tab-lab-text">Github于2008年上线目前，除了Git代码仓库托管以及基本的Web管理界面以外</p>
                                    <p class="tab-lab-text" style="margin-top: 5px">还提供了订阅、讨论组 、文本渲染 、在线文件编辑器
                                        、协作图谱（报表）、代码片段分享（Gist）等功能。</p>
                                    <p style="height: 16px;margin-top: 14px">
                                        <a class="view_tit_set"
                                           style="margin-right: 32px;"
                                           ng-class="{'greycolor':!needbind.github}"
                                           ng-click="needbind.github&&bindhub('github')">
                                            <span style="padding-bottom: 1px;font-size: 12px;margin-right: 6px;">
                                                <i class="uex-icon-protocol-deafult"></i>
                                            </span>绑定&nbsp;Github</a>
                                        </a>
                                        <a class="view_tit_set"
                                           uib-tooltip="同步代码源"
                                           ng-click="loadOwner('github')">
                                            <span style="padding-bottom: 1px;font-size: 12px;margin-right: 6px;">
                                                <i class="uex-icon-refresh"></i>
                                            </span>
                                            同步代码源
                                        </a>
                                    </p>
                                </div>
                            </uib-tab>
                            <uib-tab index="3" heading="Git仓库" style="font-size: 12px;">
                                <div style="margin-left: 16px">
                                    <p style="font-size: 12px;margin-left: -15px">
                                        <label>
                                            <input type="radio" name="CodeBase" value=1
                                                   ng-model="selectCodeBase.status">
                                        </label>
                                        <span style="padding-left: 5px;">公有代码库</span>
                                        <label style="margin-left: 22px;">
                                            <input type="radio" name="CodeBase" value=2
                                                   ng-model="selectCodeBase.status">
                                        </label>
                                        <span style="padding-left: 5px;">私有代码库</span>
                                    </p>
                                    <div ng-if="selectCodeBase.status==1">
                                        <div class="form-group">
                                            <label for="address"
                                                   class="control-label require tab-reg-label label-font">仓库地址</label>
                                            <div>
                                                <input type="text"
                                                       class="form-control tab-reg-input form-control-input-line"
                                                       ng-model="buildConfig.spec.source.git.uri">
                                                <small ng-show="publicErr.urlerror"
                                                       class="fa fa-info-circle err-tip">
                                                    请输入正确仓库地址
                                                </small>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="ref"
                                                   class="control-label tab-reg-label label-font">分支/Tag/Commit</label>
                                            <div>
                                                <input type="text" placeholder=""
                                                       class="form-control tab-reg-input form-control-input-line"
                                                       ng-model="buildConfig.spec.source.git.ref">
                                            </div>
                                        </div>
                                        <div class="form-group tab-reg-div">
                                            <label for="dockeraddress"
                                                   class="control-label tab-reg-label label-font">Dockerfile路径</label>
                                            <div class="">
                                                <input type="text" placeholder="/"
                                                       class="form-control tab-reg-input form-control-input-line"
                                                       ng-model="buildConfig.spec.source.contextDir">
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if="selectCodeBase.status==2">
                                        <div class="form-group">
                                            <label for="address"
                                                   class="control-label tab-reg-label require label-font">仓库地址</label>
                                            <div>
                                                <input type="text"
                                                       class="form-control tab-reg-input form-control-input-line"
                                                       id="address"
                                                       ng-model="buildConfig.spec.source.git.uri">
                                                <small ng-show="privateErr.urlerr"
                                                       class="fa fa-info-circle err-tip">
                                                    请输入正确仓库地址
                                                </small>
                                            </div>
                                        </div>
                                        <div class="form-group tab-reg-div">
                                            <label for="susername"
                                                   class="control-label require tab-reg-label label-font">用户名</label>
                                            <div class="">
                                                <input type="text"
                                                       class="form-control tab-reg-input form-control-input-line"
                                                       id="susername"
                                                       ng-model="sername.name">
                                                <small ng-show="privateErr.usernameerr"
                                                       class="fa fa-info-circle err-tip">
                                                    请输入正确用户名,由26个英文字母组成的字符串
                                                </small>
                                            </div>
                                        </div>
                                        <div class="form-group tab-reg-div">
                                            <label for="spwd"
                                                   class="control-label text-left require tab-reg-label label-font">口令</label>
                                            <div class="">
                                                <input type="password"
                                                       class="form-control tab-reg-input form-control-input-line"
                                                       id="spwd"
                                                       ng-model="sername.pwd">
                                                <small ng-show="privateErr.pwderr"
                                                       class="fa fa-info-circle err-tip">
                                                    请输入正确口令，以字母开头，长度在6~18之间，只能包含字母、数字和下划线
                                                </small>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="ref"
                                                   class="control-label tab-reg-label label-font">分支/Tag/Commit</label>
                                            <div>
                                                <input type="text" placeholder=""
                                                       class="form-control tab-reg-input form-control-input-line"
                                                       id="ref"
                                                       ng-model="buildConfig.spec.source.git.ref">
                                            </div>
                                        </div>
                                        <div class="form-group tab-reg-div">
                                            <label for="dockeraddress"
                                                   class="control-label tab-reg-label label-font">Dockerfile路径</label>
                                            <div class="">
                                                <input type="text" placeholder="/"
                                                       class="form-control tab-reg-input form-control-input-line"
                                                       id="dockeraddress"
                                                       ng-model="buildConfig.spec.source.contextDir">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </uib-tab>
                        </uib-tabset>
                        <div class="is-box creat-box" ng-show='buildcheck!==3&&showbox' >
                            <div class="panel panel-default first col-md-4 box-div" ng-show="buildcheck==1">
                                <div class="panel-heading">
                                    <!--<img src="views/build_create/img/user.png">-->
                                    用户/组织
                                    <small ng-show="gitStatus.organization" class="fa fa-info-circle err-tip">
                                        请选择用户/组织
                                    </small>
                                </div>
                                <div class="panel-body">
                                    <ul>
                                        <li class="labcon" ng-repeat="org in gitload.gitlab">
                                            <a href="javascript:;" uib-tooltip="{{org.namespace}}"
                                               ng-class="{'active': grid.org == $index}"
                                               ng-click="selectorg($index,org)">
                                                <i class="faa faa-check"></i>&nbsp;&nbsp;{{org.namespace}}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="panel panel-default first col-md-4 box-div" ng-show="buildcheck==2">
                                <div class="panel-heading">
                                    <!--<img src="views/build_create/img/user.png">-->
                                    用户/组织
                                    <small ng-show="gitStatus.organization" class="fa fa-info-circle err-tip">
                                        请选择用户/组织
                                    </small>
                                </div>
                                <div class="panel-body">
                                    <ul>
                                        <li class="labcon" ng-repeat="org in gitload.github">
                                            <a href="javascript:;" uib-tooltip="{{org.namespace}}"
                                               ng-class="{'active': grid.org == $index}"
                                               ng-click="selectorg($index,org)">
                                                <i class="faa faa-check"></i>&nbsp;&nbsp;{{org.namespace}}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel panel-default col-md-4 box-div">
                                <div class="panel-heading">
                                    <!--<img src="views/build_create/img/project.png">-->
                                    项目
                                    <small ng-show="gitStatus.project" class="fa fa-info-circle err-tip">
                                        请选择项目
                                    </small>
                                </div>
                                <div class="panel-body">
                                    <ul style="">
                                        <li class="labcon" ng-repeat="repo in gitdata.repos">
                                            <a href="javascript:;" uib-tooltip="{{repo.name}}"
                                               ng-class="{'active': grid.repo == $index}"
                                               ng-click="selectrepo($index,repo)">
                                                <i class="faa faa-check"></i>&nbsp;&nbsp;{{repo.name}}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel panel-default third col-md-4">
                                <div class="panel-heading">
                                    <!--<img src="views/build_create/img/branch.png">-->
                                    代码分支
                                    <small ng-show="gitStatus.codeBranch" class="fa fa-info-circle err-tip">
                                        请选择代码分支
                                    </small>
                                </div>
                                <div class="panel-body">
                                    <ul>
                                        <li class="labcon" ng-repeat="branch in gitdata.branchs">
                                            <a href="javascript:;" uib-tooltip="{{branch.name}}"
                                               ng-class="{'active': grid.branch == $index}"
                                               ng-click="selectbranch($index,branch)">
                                                <i class="faa faa-check"></i>&nbsp;&nbsp;{{branch.name}}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="height: 1px;border: 1px solid #E0E6ED;;margin-bottom: 20px"></div>
            <a class="btn btn-resources"
               ng-class="{'btn-orange':true}"
               ng-click="create()"
               style="margin-right:52px;width:auto;border-radius:4px;">开始构建</a>
        </div>
    </form>
</div>


