<div class="service-config">
    <!--配置信息-->
    <h2 style="margin-bottom: 19px;">部署详情</h2>
    <div class="row">
        <div class="col-md-12 bushu_marginBottom">
            <div class="col-md-2 col-md-2_padding">Selectors</div>
            <div class="col-md-10">app = hsss deploymentconfig=hsss</div>
        </div>
        <div class="col-md-12 bushu_marginBottom">
            <div class="col-md-2 col-md-2_padding">Type:</div>
            <div class="col-md-10">ClusterIP</div>
        </div>
        <div class="col-md-12 bushu_marginBottom">
            <div class="col-md-2 col-md-2_padding">IP:</div>
            <div class="col-md-10">172.25.211.85</div>
        </div>
        <div class="col-md-12 bushu_marginBottom">
            <div class="col-md-2 col-md-2_padding">Hostname:</div>
            <div class="col-md-10">glusterfs-dynamic-hhhj.datafoundry.svc</div>
        </div>
        <div class="col-md-12 bushu_marginBottom">
            <div class="col-md-2 col-md-2_padding">Session affinity:</div>
            <div class="col-md-10">None</div>
        </div>
        <div class="col-md-12 bushu_marginBottom">
            <div class="col-md-2 col-md-2_padding">Routes:</div>
            <div class="col-md-10">Create route</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="padding-top: 10px;">
            <h3 style="border-bottom: 1px solid #eee;padding-bottom: 10px">Traffic</h3>
            <div class="serveices">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th class="ng-binding">Route</th>
                        <th role="presentation"></th>
                        <th>Service Port</th>
                        <th role="presentation"></th>
                        <th>Target Port</th>
                        <th>Hostname</th>
                        <th>TLS Termination</th>
                    </tr>
                    </thead>
                    <tbody class="ng-scope">
                    <tr class="ng-scope"></tr>
                    <tr class="ng-scope"></tr>
                    <tr class="ng-scope" style="">
                        <td data-title="Route">
                            <span class="text-muted ng-scope">none</span>
                        </td>
                        <td role="presentation" class="text-muted arrow">→</td>
                        <td data-title="Service Port" class="ng-binding">
                            1/TCP
                            <!-- ngIf: port.name -->
                        </td>
                        <td role="presentation" class="text-muted arrow">→</td>
                        <td data-title="Target Port" class="ng-binding">
                            1
                        </td>
                        <td data-title="Hostname"><span class="text-muted">none</span></td>
                        <td data-title="Termination">
                            <span class="text-muted">none</span>
                        </td>
                    </tr><!-- end ngRepeat: port in portsByRoute[''] -->
                    </tbody><!-- end ngIf: (portsByRoute | hashSize) > 0 -->
                </table>
            </div>
            <p>Learn more about
                <a ng-href="https://docs.openshift.org/latest/architecture/core_concepts/routes.html#route-types"
                   target="_blank"
                   href="https://docs.openshift.org/latest/architecture/core_concepts/routes.html#route-types">routes</a>
                and
                <a ng-href="https://docs.openshift.org/latest/architecture/core_concepts/pods_and_services.html#services"
                   target="_blank"
                   href="https://docs.openshift.org/latest/architecture/core_concepts/pods_and_services.html#services">services</a>
            </p>
            <h3 style="border-bottom: 1px solid #eee;padding-bottom: 10px">Pod</h3>
            <table class="table table-bordered table-hover table-layout-fixed">
                <colgroup>
                    <col class="col-sm-4">
                    <col class="col-sm-3">
                </colgroup>
                <thead>
                <tr>
                    <th class="ng-binding">Pod</th>
                    <th>Status</th>
                    <th>Containers Ready</th>
                    <th>Container Restarts</th>
                    <th>Age</th>
                    <th ng-if="activePods" class="ng-scope" style="">Receiving Traffic</th>
                </tr>
                </thead>
                <tbody ng-if="!sortedPods.length" class="ng-scope">
            <tr><td colspan="6"><em class="ng-binding">No pods to show</em></td></tr>
            </tbody>
            </table>
            <annotations annotations="service.metadata.annotations" class="ng-isolate-scope"><p ng-class="{'mar-bottom-xl': !expandAnnotations}" class="mar-bottom-xl">
                <a href="" ng-click="toggleAnnotations()" ng-if="!expandAnnotations" class="ng-scope">Show Annotations</a><!-- end ngIf: !expandAnnotations -->
            </p>
            </annotations>
        </div>
    </div>
</div>
<style>
    .bushu_marginBottom {
        margin-bottom: 21px;
    }

    .dropdown-menu > li > a {
        height: auto !important;
    }

    .timee ul > li {
        margin: 0;
        margin-bottom: 20px;
    }

    .col-md-2_padding {
        padding: 0px;
    }

    .table {
        background: #fff;
        width: 100%;
        max-width: 100%;
        margin-bottom: 21px;
        border-collapse: collapse;
        border-spacing: 0;
    }

    .table-bordered {
        border: 1px solid #ededed;
    }

    .table-bordered > thead > tr > th {
        border: none;
        background: #f5f5f5;
    }

    .table > thead > tr > th {
        vertical-align: bottom;
        border-bottom: none;
    }

    .table-hover > tbody > tr:hover {
        background-color: #c4eaff
    }

    .table > tbody > tr > td {
        border: none;
    }
</style>

