<div class="modal-header" style="width: 390px;height: 46px;padding: 15px;">
    <h5 class="modal-title">
        <span class="tit-name">访问信息</span>
        <a ng-click="cancel()" href="javascript:;" class="modal-close">
            <i class="fa fa-times-circle pull-right uex-icon-cross icon-style"></i>
        </a>
    </h5>
</div>
<div class="modal-body info-body">
    <div style="width: 360px;line-height: 18px;" ng-repeat="(k,v) in InfoMsg">
        <span style="display: inline-block;text-align:left;float:left;width: 100px;font-size: 12px;color: #1F2D3D;">{{k}}</span>
        <span style="display: inline-block;text-align:left;width: 260px;font-size: 12px;color: #1F2D3D;">{{v}}</span>
    </div>
        <!--<div style="width: 360px;line-height: 18px;">-->
            <!--<span style="display: inline-block;text-align:left;float:left;width: 100px;font-size: 12px;color: #1F2D3D;">HDFS_Path:</span>-->
            <!--<span style="display: inline-block;text-align:left;width: 260px;font-size: 12px;color: #1F2D3D;">zhaoyim12345678900</span>-->
        <!--</div>-->
        <!--<div style="width: 360px;line-height: 18px;">-->
            <!--<span style="display: inline-block;text-align:left;float:left;width: 100px;font-size: 12px;color: #1F2D3D;">host:</span>-->
            <!--<span style="display: inline-block;text-align:left;width: 260px;font-size: 12px;color: #1F2D3D;">10.1.236.61</span>-->
        <!--</div>-->
        <!--<div style="width: 360px;line-height: 18px;">-->
            <!--<span style="display: inline-block;text-align:left;float:left;width: 100px;font-size: 12px;color: #1F2D3D;">HDFS_Path:</span>-->
            <!--<span style="display: inline-block;text-align:left;width: 260px;font-size: 12px;color: #1F2D3D;word-wrap:break-word;">zhaoyim12345678900zhaoyim12345678900zhaoyim12345678900zhaoyim12345678900</span>-->
        <!--</div>-->
        <!--<div style="width: 360px;line-height: 18px;">-->
            <!--<span style="display: inline-block;text-align:left;float:left;width: 100px;font-size: 12px;color: #1F2D3D;">host:</span>-->
            <!--<span style="display: inline-block;text-align:left;width: 260px;font-size: 12px;color: #1F2D3D;">10.1.236.61</span>-->
        <!--</div>-->
<!--</div>-->
<style>
    .modal-content{
        width:390px;
        border: 1px solid #CCD5E0;
        border-radius: 2px;
    }
    .info-body{
         height: 200px;
         overflow-y: scroll;
     }
    .tit-name{
        font-family: MicrosoftYaHei-Bold;
        font-size: 14px;
        color: #1F2D3D;
        letter-spacing: 0;
        line-height: 16px;
    }
    .icon-style{
        font-family: uex-icon;
        font-size: 14px;
        color: #A2B0C4;
        letter-spacing: 0;
        line-height: 16px;
    }
</style>