<div id="routes">
    <style>
        #creat:focus {
            color: #ffffff;
        }
        
        #creatbtn:hover {
            z-index: 0;
        }
        #routes .creatbtn {
            padding-top:6px;padding-bottom:10px;
    box-shadow: 0 1px 0 0 rgba(224,230,237,0.50);height:42px;
    clear:both;overflow:hidden;padding-left:20px;padding-right:20px;background:#fff;
        }
       .new_deploycol{float:right;}
        .clear{clear:both;overflow:hidden;}
    </style>
    <div class="loader" ng-if="!items">
        <div class="loader-inner ball-clip-rotate-multiple">
            <div></div>
            <div></div>

        </div>
    </div>
    <div ng-if="items">
        <div class="creatbtn" style="">

                <div class="input-group col-sm-3 searchbar">
                        <input type="text" class="form-control" placeholder="搜索域名路由名称" ng-keyup=search($event) ng-model="grid.txt">
                        <span class="input-group-btn">
                                <span class="df_search uex-icon-search" ng-click="scretssearch('search')">
                                </span>
                            </span>
                    </div>

            <div class="new_deploycol" style="" role="group" aria-label="">
                <div class="btn-group" role="group">
                    <a id="creatbtn" class="btn btn-green" style="margin-top:4px;" ui-sref="console.create_routes({namespace:namespace})">
                        <i class="fa fa-plus fa-lg"></i>
                        <span class=""> 新建路由</span>
                    </a>
                    <!--<button type="button" id="creat" class="btn dropdown-toggle ser_drp_set" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                        <!--<span class="caret"></span>-->
                        <!--<span class="sr-only">Toggle Dropdown</span>-->
                    <!--</button>-->
                    <!--<ul class="dropdown-menu quick_menu">-->
                        <!--<li class="quick_bs" ui-sref="console.quick_deploy"><a href="#">快速部署</a></li>-->
                    <!--</ul>-->
                </div>


            </div>
            <!-- <div class="col-sm-4">
            </div> -->

           
        </div>
        <div class="clear"></div>
        <div class="table-responsive" style="margin-top: 20px;margin-left:20px;margin-right:20px;">
            <table class="table table-hover table-default df_table">
                <tr>
                    <th class="col-lg-2 col-md-2 col-sm-1">名称</th>
                    <th class="col-lg-4 col-md-2 col-sm-1">域名</th>
                    <th class="col-lg-2 col-md-2 col-sm-1">目标</th>
                    <th class="col-lg-2 col-md-2 col-sm-1">端口</th>
                    <th class="col-lg-2 col-md-2 col-sm-1">TLS</th>
                </tr>
                <tr ng-repeat="route in routeItem">
                    <td  data-title="Name" style="white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow: hidden;display:block">

                        <a class="a_color_org" ui-sref="console.route_detail({namespace:namespace,name: route.metadata.name})">

                            {{route.metadata.name}}
                            <span class="pficon-warning-triangle-o" ng-show="!(route | isWebRoute)"></span>
                            <!--<i >叹号</i>-->
                        </a>
                    </td>
                    <td data-title="Hostname" data-title="Hostname">
                        <span ng-if="(route | isWebRoute)">
                            <a class="a_color_org" href="{{route | routeWebURL}}" target="_blank">
                                {{route | routeLabel}} 
                                <i class="fa fa-external-link" aria-hidden="true"></i>
                            </a>
                        </span>
                        <span ng-if="!(route | isWebRoute)">
                            {{route | routeLabel}}
                        </span>

                        <!--<span ng-if="!route.status.ingress" data-toggle="popover" data-trigger="hover" data-content="The route is not accepting traffic yet because it has not been admitted by a router." style="cursor: help; padding-left: 5px;">-->
                            <!--<status-icon status="'Pending'"></status-icon>s-->
                            <!--<span class="sr-only">Pending</span>-->
                        <!--</span>-->
                    </td>
                    <!--
                    Right now only services are supported. If other types are
                    added, we'll need to change the table header.
                    -->
                    <td data-title="Service">
                        <span ng-if="route.spec.to.kind !== 'Service'">{{route.spec.to.kind}}: {{route.spec.to.name}}</span>
                        <span ng-if="route.spec.to.kind === 'Service'">
                            <!-- <a ng-href="{{route.spec.to.name | navigateResourceURL : 'Service': route.metadata.namespace}}"> -->
                                {{route.spec.to.name}}
                             </span>
                    </td>
                    <td data-title="Target Port">
                        <span ng-if="route.spec.port.targetPort">
                        <span ng-if="route.spec.to.kind !== 'Service'">{{route.spec.port.targetPort}}</span>
                        <!-- <span ng-if="route.spec.to.kind === 'Service'" ng-attr-title="{{route | routeTargetPortMapping : services[route.spec.to.name]}}"> -->
                        <span ng-if="route.spec.to.kind === 'Service'">
                            {{route.spec.port.targetPort}}
                        </span>
                        </span>
                        <span ng-if="!route.spec.port.targetPort"><i>any</i></span>
                    </td>
                    <!-- Use shorter Termination title for table-mobile to avoid overlapping text. -->
                    <td data-title="Termination">
                        {{route.spec.tls.termination | humanizeTLSTermination}}
                        <span ng-if="!route.spec.tls.termination">&nbsp;</span>
                    </td>
                </tr>
                <tr class="df_blank">
                        <td colspan="5" class="td_colspan_li" style="text-align: center;" ng-if="items.length===0">
                            <p class="blank_block"> <span class="blank_pic"></span> <span class="blank_tit">{{text}}</span></p>
                        </td>
                    </tr>

            </table>
            <div class="text-center" ng-if="grid.total > 10" class="table_mar_top" style="">
                <uib-pagination class="pagination" ng-model="grid.page" total-items="grid.total"
                                items-per-page="grid.size" boundary-links="false" max-size="12" rotate="true"
                                previous-text="<"
                                next-text=">">
                </uib-pagination>

            </div>
        </div>
    </div>

</div>
<style>
    .table>a{
       color:#47B2FB
    }
    .table>a :hover{
        color:#47B2FB;
    }
    .table-bordered>tbody>tr>td{
        border-left:none !important;
        border-right:none !important;
      }
    .new_deploycol a :hover{
         color:#fff;
    }
    .a_color_org{
        color:#47B2FB !important;
    }
    .a_color_org :hover{
        color:#98D4FD !important;
    }
</style>