
.search {
    padding: 0;
    width: 34px;
    margin-left: 15px;
    margin-top: -3px;
    height: 34px;
    background: #f7f8fb;
    line-height: 36px;
    border: 1px solid #eaebef;
}
.search:hover{
    background: #f7f8fb;

}
#tabbtn .nav-link {
    padding: 0;
    /*margin: 10px 15px;*/
    border: none;
}

#tabbtn .tab-content {
    border: none;
}

#tabbtn .nav-tabs > li {
    width: 120px;
    margin-left: 30px;
}

#tabbtn .tab-default li.active .head {
    border: 1px solid #e5993a;
    background: url(../../views/backing_service/img/images_48.png) no-repeat #fff;
}

#tabbtn .head {
    width: 120px;
    height: 36px;
    background: #eaebef;
    display: inline-block;
    line-height: 36px;
}

#tabbtn .tab-default .nav-tabs {
    border: none;
}

#tabbtn .nav-tabs {
    border: none;
}

.meiy {
    text-align: center;
    /*height: 37px;*/
    width: 100%;
    margin-bottom: 12px;
}

.planb {
    /*padding: 0 15px;*/
    margin-left: 15px;
    margin-right: 15px;
}

.planb > span {
    display: inline-block;
}

.meiyue {
    width: 120px;
    height: 36px;
    display: inline-block;
    line-height: 36px;
    border: 1px solid #f6a540;
    font-size: 16px;
    border-radius: 2px;
    font-weight: bold;
    color: #f6a540;
}

.plan p {
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
}

.plan button {
    width: 180px;
    height: 36px;
    font-size: 16px;
    border-radius: 2px;
}

.plan button:hover {
    background: #e5993a;
}

.plan {
    height: 300px;
    border: 1px solid #e6e9f2;
    text-align: center;
}

.plan figcaption {
    background: #e6e9f2;
}

.plan figcaption, .plan .planb, .plan article {
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #e6e9f2;
    color: #5a6378;
    height: 45px;
    text-align: center;
    line-height: 45px;
}

.plan article {
    /*padding: 0 12px;*/
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.plan .planb {
    font-size: 14px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0;
}

#user .tab-content {
    padding: 30px;
}

.buy {
    font-size: 16px;
    font-weight: bold;
    color: #5a6378;
    padding-left: 30px;
    margin-bottom: 30px;
}

#user {
    margin-top: 40px;
}

.nav-tabs > li {
    width: 180px;
    height: 50px;
    text-align: center;
}

.tab-default li .nav-link {
    height: 50px;
}
.subtitle {
    font-size: 12px;
}
article .peie {
    font-size: 12px;
    font-weight:normal;
}
