<div id="user">
    <uib-tabset class="tab-default">
        <uib-tab index="1" heading="套餐管理">
            <div class="row" style="margin-bottom: 30px;">
                <h5 class='col-md-12 buy'>您已订购的套餐</h5>
                <section class='col-md-12'>
                    <div class="col-md-3">
                        <figure class="taocan">
                            <figcaption>计费资源</figcaption>
                            <p class=taocanb>XS高级版套餐</p>
                            <article>
                                <div>
                                    <span class='pull-left'>CPU 1X</span>
                                    <span class='pull-right'>内存 2G</span>
                                </div>
                            </article>
                            <div class='meiy'>
                                <span class="meiyue">
                                    ￥466/月
                                </span>
                            </div>
                            <p></p>
                        </figure>
                    </div>
                    <div class="col-md-3">
                        <div class="taocan"></div>
                    </div>
                    <div class="col-md-3">
                        <div class="taocan"></div>
                    </div>
                    <div class="col-md-3">
                        <div class="taocan"></div>
                    </div>

                </section>
            </div>

        </uib-tab>
        <uib-tab index="2" heading="账户信息">

        </uib-tab>
        <uib-tab index="3" heading="用户信息">

        </uib-tab>
        <uib-tab index="4" heading="组织管理">

        </uib-tab>

    </uib-tabset>
</div>
<style>
    .meiy {
        text-align: center;
        /*height: 37px;*/
        width: 100%;
        margin-bottom: 12px;
    }
    .meiyue {
        width: 120px;
        height: 36px;
        display: inline-block;
        line-height: 36px;
        border: 1px solid #f6a540;
        font-size: 16px;
        font-weight:bold;
        color:#f6a540;
    }
    .taocan {
        height: 300px;
        border: 1px solid #e6e9f2;
        text-align: center;
        /*background-color:cyan;*/
        /*padding-left:15px;*/
        /*padding-right: 15px;*/
    }
    .taocan figcaption,.taocan .taocanb,.taocan article {
        font-size: 16px;
        font-weight:bold;
        border-bottom: 1px solid #e6e9f2;
        color: #5a6378;
        height: 45px;
        text-align: center;
        line-height: 45px;
    }
    .taocan article {
        padding: 0 12px;
        margin-bottom: 20px;
    }
    .taocan .taocanb {
        font-size: 14px;
        margin: 0;
    }
    .taocan .pull-left {

    }
    #user .tab-content {
        padding: 30px;
    }
    .buy {
        font-size: 16px;
        font-weight:bold;
        color: #5a6378;
        padding-left: 30px;
        margin-bottom: 30px;
    }
    #user {
        margin-top: 40px;
    }
    .nav-tabs>li {
        width: 180px;
        height: 50px;
        text-align: center;
    }
    .tab-default li .nav-link {
        height: 50px;
    }
</style>

