<div class="backing-service">

    <uib-tabset class="tab-default" active="check">
        <uib-tab index="1" style="width:auto;">
            <uib-tab-heading style="width:468px">
                <i class="fa2 fa2-bsi"></i>&nbsp;&nbsp;公开数据集
            </uib-tab-heading>
            <div class="tabs row" style='padding-left: 12px;position: relative;'>
                <div  class='col-mb-1' style='margin-right: 20px;'>
                    <label>服务分类</label>
                </div>
                <div class="sc col-mb-11" style='position: relative;top: -30px;left: 89px;width: 92%;'>
                    <div class="btn-group ft col-mb-1" ng-repeat='item in cation' style='margin-bottom: 8px;'>
                        <label class="btn" ng-class='{"active":grid.serviceCat == $index}'
                               ng-click='select("serviceCat", $index)'>{{item}}</label>
                    </div>
                </div>
                <div class="sc col-mb-12 pull-left">
                    <label>服务提供者</label>
                    <div class="btn-group fw" ng-repeat='item in providers'>
                        <label class="btn" ng-class="{'active':grid.vendor == $index}"
                               ng-click="selectsc('vendor',$index)">{{item}}</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-group col-sm-4 col-sm-offset-8 searchbar">
                    <input type="text"
                           class="form-control"
                           placeholder="搜索后端服务名称"
                           ng-keydown=keysearch($event)
                           ng-model="grid.txt">
                    <!--ng-model="txt" ng-focus="showTip=true;" -->
                    <span class="input-group-btn" id=inputa>
                        <a class="btn" ng-click="search()"></a>
                    </span>
                </div>
            </div>
            <!--<div ng-include="'views/Integration/backing_service_instance.html'">-->
            <!--</div>-->
            <div class='change' ng-repeat='items in market'>
                <div class="row" ng-show="items.isshow" id=n{{items.id}}>
                    <div id=t{{items.id}} class="h2-border" ng-show="items.showTab"
                         style="margin-bottom: 15px;">
                        <span class='biaoti'>{{items.name}}</span>
                        <i class='xian'></i>
                    </div>
                    <!--<h2 id=t{{items.id}} class="h2-border" ng-show="items.showTab"-->
                    <!--style="margin-bottom: 15px;">-->
                    <!--{{items.name}}</h2>-->
                    <div class="row">
                        <div class="fen"
                             ng-repeat="item in items.item | myfilter:isComplete"
                             ng-show="item.show">
                            <div id=hui class="thumbnail">
                                <div class="thumb-content">
                                    <!--<p class='hui'><img src="components/bscard/img/images01_08.png">{{item.spec.metadata.providerDisplayName}}</p>-->
                                    <!--<p><img src="components/bscard/img/images01_06.png">&nbsp;version</p>-->
                                    <div class="thumb-slide">
                                        <div class="thumb-op">
                                            <small>{{item.spec.description}}</small>
                                            <!--<p class="thumb-btn">-->
                                                <!--<a ng-if="!bkservice" class="btn btn-skyblue" href="javascript:;" ui-sref="console.backing_service_detail({name: item.metadata.name,type:item.metadata.annotations.Class})">-->
                                                    <!--查看详情</a>-->

                                            <!--</p>-->
                                        </div>
                                        <div ng-if="item.spec.metadata.imageUrl" class="imageholder" style="background-image:url('{{item.spec.metadata.imageUrl}}');">
                                            <p class='hui'><img src="components/bscard/img/images01_08.png">{{item.spec.metadata.providerDisplayName}}</p>
                                        </div>
                                        <div ng-if="!item.spec.metadata.imageUrl" class="imageholder" style="background-image:url('components/bscard/img/images01_03.png');background-color: #EAEBEF;"></div>
                                    </div>
                                </div>
                                <div class="caption">
                                    <p class="bsname">{{item.metadata.name}}</p>
                                    <a class="btn btn-disabled" ng-if='item.bianhui' style='cursor:default;'>查看详情</a>
                                    <a class="btn btn-orange" ng-if='item.biancheng' ui-sref="console.Integration_detail({name: item.metadata.name})">查看详情</a>
                                    <!--<a class="btn btn-disabled" ng-if='item.bianhui && bkservice' style='cursor:default;'>申请实例</a>-->
                                    <!--<a class="btn btn-orange" ng-if='item.biancheng && bkservice' ng-click="apply_instance(item.metadata.name)">申请实例</a>-->
                                </div>
                            </div>
                            <!--<bs-card></bs-card>-->
                        </div>
                    </div>
                </div>
            </div>

        </uib-tab>

        <uib-tab index="2" style="width:auto;">
            <uib-tab-heading style="white-space:nowrap;">
                <i class="fa2 fa2-bs"></i>&nbsp;&nbsp;数据服务集成
            </uib-tab-heading>
            <div class="tabs row" style='padding-left: 12px;position: relative;'>
                <div  class='col-mb-1' style='margin-right: 20px;'>
                    <label>服务分类</label>
                </div>

                <div class="sc col-mb-11" style='position: relative;top: -30px;left: 89px;width: 92%;'>
                    <div class="btn-group ft col-mb-1" ng-repeat='item in cation' style='margin-bottom: 8px;'>
                        <label class="btn" ng-class='{"active":grid.serviceCat == $index}'
                               ng-click='select("serviceCat", $index)'>{{item}}</label>
                    </div>
                </div>
                <div class="sc col-mb-12 pull-left">
                    <label>服务提供者</label>
                    <div class="btn-group fw" ng-repeat='item in providers'>
                        <label class="btn" ng-class="{'active':grid.vendor == $index}"
                               ng-click="selectsc('vendor',$index)">{{item}}</label>
                    </div>
                </div>
            </div>
            <div class="row" style='margin: 0;'>
                <div class="input-group col-sm-4 col-sm-offset-8 searchbar">
                    <input type="text"
                           class="form-control"
                           placeholder="搜索后端服务名称"
                           ng-keydown=mykeysearch($event)
                           ng-model="grid.mytxt">
                    <!--ng-model="txt" ng-focus="showTip=true;" -->
                    <span class="input-group-btn" id=input>
                        <a class="btn" ng-click="mysearch()"></a>
                    </span>
                </div>
            </div>
            <div class='change' ng-repeat='items in market'>
                <div class="row" ng-show="items.isshow" id=n{{items.id}}>
                    <div id=t{{items.id}} class="h2-border" ng-show="items.showTab"
                         style="margin-bottom: 15px;">
                        <span class='biaoti'>{{items.name}}</span>
                        <i class='xian'></i>
                    </div>
                    <!--<h2 id=t{{items.id}} class="h2-border" ng-show="items.showTab"-->
                    <!--style="margin-bottom: 15px;">-->
                    <!--{{items.name}}</h2>-->
                    <div class="row">
                        <div class="fen"
                             ng-repeat="item in items.item | myfilter:isComplete"
                             ng-show="item.show">
                            <bs-card></bs-card>
                        </div>
                    </div>
                </div>
            </div>
        </uib-tab>

        <uib-tab index="3" style="width:auto;">
            <uib-tab-heading style="white-space:nowrap;">
                <i class="fa2 fa2-bs"></i>&nbsp;&nbsp;DataHub
            </uib-tab-heading>


            <div ng-include="'views/Integration/backing_service_custom.html'">
            </div>
        </uib-tab>
    </uib-tabset>
</div>
<!--[if !IE]><!-->
<script>
    // 针对IE10
    if (/*@cc_on!@*/false) {
        document.documentElement.className += ' ie' + document.documentMode;
    }
    // 针对IE11及非IE浏览器，
    // 因为IE11下document.documentMode为11，所以html标签上会加ie11样式类；
    // 而非IE浏览器的document.documentMode为undefined，所以html标签上会加ieundefined样式类。
    if (/*@cc_on!@*/true) {
        document.documentElement.className += ' ie' + document.documentMode;
    }
</script>
<!--<![endif]-->
<style type="text/css">
    .ie11 #inputa {
        top: 9px;
    }
</style>

<style>
    .h2-border::after {
        content: '';
        border-bottom:none;
    }
    .h2-border {
        height: 30px;
        line-height: 30px;
        position: relative;
    }

    .h2-border .xian {
        /*float: left;*/
        display: inline-block;
        border-bottom: 1px solid #c9c9c9;
        width: 100%;
        /*margin-bottom: 5px;*/
        position: absolute;
        top: 50%;
    }
    .h2-border .biaoti {
        float: left;
        display: inline-block;
        padding-right: 15px;
        position: relative;
        left: 0;
        top: 0;
        z-index: 2;
    }
    .fen {
        float: left;
        width:25%;
        padding: 0 15px;
    }
    .btn.active, .btn:active {
        box-shadow: none;
        -webkit-box-shadow: none;
    }

    .backing-service .sc .btn {
        width: 85px;
    }

    .fw:last-child .btn {
        width: 85px;
    }
    /*#t0:after {*/
        /*left: 75px;*/
    /*}*/
    /*#t4:after {*/
        /*left: 80px;*/
    /*}*/


</style>
