<!-- detail -->
<div id="rc">
    <!-- Status -->
    <h2>Status</h2>
    <div class="detail_set">
        <div class="list_block">
            <div class="list_b_l"><p class="tit">Status:</p></div>
            <div class="list_b_r"><p class="tit">Error, ran for 10 minutes, 1 second</p></div>
        </div>

        <div class="list_block">
            <div class="list_b_l"><p class="tit">IP:</p></div>
            <div class="list_b_r"><p class="tit">172.26.1.44</p></div>
        </div>

        <div class="list_block">
            <div class="list_b_l"><p class="tit">Node:</p></div>
            <div class="list_b_r"><p class="tit">10.23.4.26</p></div>
        </div>

        <div class="list_block">
            <div class="list_b_l"><p class="tit">Restart Policy:</p></div>
            <div class="list_b_r"><p class="tit">Never</p></div>
        </div>

        <div class="list_block">
            <div class="list_b_l"><p class="tit">Active Deadline:</p></div>
            <div class="list_b_r"><p class="tit">6 hours</p></div>
        </div>
    </div>

    <!-- Container deployment -->
    <h2>Container deployment</h2>
    <div class="detail_set">
        <div class="list_block">
            <div class="list_b_l"><p class="tit">State:</p></div>
            <div class="list_b_r"><p class="tit">Terminated at Dec 12, 2017 3:38:52 PM with exit code 1 (Error)</p></div>
        </div>

        <div class="list_block">
            <div class="list_b_l"><p class="tit">Ready:</p></div>
            <div class="list_b_r"><p class="tit">false</p></div>
        </div>

        <div class="list_block">
            <div class="list_b_l"><p class="tit">Restart Count:</p></div>
            <div class="list_b_r"><p class="tit">0</p></div>
        </div>
    </div>

    <!-- Annotations -->
    <h2>Annotations</h2>
    <div class="detail_set">
        <div class="list_block">
            <div class="list_n_l"><p class="tit">openshift.io/deployment.name</p></div>
            <div class="list_n_r"><p class="tit">gogo-1</p></div>
        </div>

        <div class="list_block">
            <div class="list_n_l"><p class="tit">openshift.io/scc</p></div>
            <div class="list_n_r"><p class="tit">restricted</p></div>
        </div>
    </div>

    <!-- Template -->
    <h2>Template</h2>
    <p class="h_tit">Containers</p>
    <p class="h_tit_sm">CONTAINER: DEPLOYMENT</p>
    <div class="detail_set">
        <div class="list_block">
            <div class="list_b_l"><p class="tit">Image:</p></div>
            <div class="list_b_r"><p class="tit">w_openshift/origin-deployer</p></div>
        </div>

        <div class="list_block">
            <div class="list_b_l"><p class="tit">Mount: </p></div>
            <div class="list_b_r"><p class="tit">deployer-token-6xrfl → /var/run/secrets/kubernetes.io/serviceaccount<span class="redy_tit"> read-only</span></p></div>
        </div>
    </div>

    <p class="h_tit">Volumes</p>
    <p class="h_tit_sm">deployer-token-6xrfl</p>
    <div class="detail_set">
        <div class="list_block">
            <div class="list_b_l"><p class="tit">Type:</p></div>
            <div class="list_b_r"><p class="tit">secret<span class="redy_tit"> (populated by a secret when the pod is created)</span></p></div>
        </div>

        <div class="list_block">
            <div class="list_b_l"><p class="tit">Secret:</p></div>
            <div class="list_b_r"><p class="tit">deployer-token-6xrfl</p></div>
        </div>
    </div>



</div>