.searchbar {
    overflow: hidden;
    height: 36px;
    border: 1px solid #c9c9c9;
    border-radius: 2px;
}
.searchbar .form-control {
    border: none;
    box-shadow: none;
    color: #5a6378;
}
.searchbar .btn {
    height: 100%;
    background: url(img/search.png) no-repeat;
    box-shadow: none;
}

.searchbar .btn:hover {
    background-image: url(img/search-focus.png);
}