<!--the origin regist-->
<div class="modal-header">
    <h5 class="modal-title">
        注册
        <a ng-click="cancel()" class="close"><span aria-hidden="true">&times;</span></a>
    </h5>
</div>
<div class="modal-body" style="padding: 20px 40px 30px 40px;">
    <form class="form-horizontal" name="frm">
        <!--<button ng-click=look()>查看</button>-->
        <p class="modal-msg text-left" style="margin: 0 0 5px 0;font-size:14px;color:#5a6378;">
            <span class="require">用户名</span>&nbsp;&nbsp;
            <small ng-if="credentials.usernamechange&&frm.username.$dirty && frm.username.$error.required"
                   class="err-tip pull-right">
                <i class="fa fa-info-circle"></i>&nbsp;用户名不能为空
            </small>
            <small ng-if="credentials.usernamechange&&frm.username.$dirty && frm.username.$error.minlength"
                   class="err-tip pull-right">
                <i class="fa fa-info-circle"></i>&nbsp;用户名太短
            </small>
            <small ng-if="credentials.usernamechange&&frm.username.$dirty && frm.username.$error.maxlength"
                   class="err-tip pull-right">
                <i class="fa fa-info-circle"></i>&nbsp;用户名太长
            </small>
            <small ng-if="credentials.usernamechange&&frm.username.$dirty && frm.username.$error.pattern&&!frm.username.$error.maxlength&&!frm.username.$error.minlength"
                   class="err-tip pull-right">
                <i class="fa fa-info-circle"></i>&nbsp;用户名不合法
            </small>
        </p><!--ng-blur='usernamelose()'-->
        <input type="text" name="username"
               class="form-control"
               ng-blur="credentials.usernamechange=true"
               ng-focus="credentials.usernamechange=false"
               ng-model="credentials.username"
               required ng-minlength="4"
               ng-maxlength="12"
               ng-pattern="/^[a-zA-Z\d]\w+[a-zA-Z\d]$/"/>

        <p class="modal-msg text-left" style="margin: 20px 0 5px 0;font-size:14px;color:#5a6378;">
            <span class="require">邮箱</span>&nbsp;&nbsp;
            <small ng-if="credentials.emailchange&&frm.email.$dirty && frm.email.$error.required"
                   class="err-tip pull-right">
                <i class="fa fa-info-circle"></i>&nbsp;邮箱不能为空
            </small>
            <small ng-if="credentials.emailchange&&frm.email.$dirty && frm.email.$error.pattern"
                   class="err-tip pull-right">
                <i class="fa fa-info-circle"></i>&nbsp;这不是一个有效的邮箱
            </small>
        </p>

        <!--<input name="email"-->
        <!--class="form-control"-->
        <!--ng-model="credentials.email"-->
        <!--required>-->
        <input type="email"
               name="email"
               class="form-control"
               ng-blur="credentials.emailchange=true"
               ng-focus="credentials.emailchange=false"
               ng-model="credentials.email"
               required
               ng-pattern="/^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/"/>
        <p class="modal-msg text-left" style="margin: 20px 0 5px 0;font-size:14px;color:#5a6378;">
            <span class="require">密码</span>&nbsp;&nbsp;
            <small ng-if="credentials.passwordchange&&frm.password.$dirty && frm.password.$error.required"
                   class="err-tip pull-right">
                <i class="fa fa-info-circle"></i>&nbsp;密码不能为空
            </small>
            <small ng-if="credentials.passwordchange&&frm.password.$dirty && frm.password.$error.pattern"
                   class="err-tip pull-right">
                <i class="fa fa-info-circle"></i>&nbsp;密码必须为6-18位的字母，数字，特殊符号
            </small>
        </p>
        <input type="password"
               name="password"
               class="form-control"
               ng-blur="credentials.passwordchange=true"
               ng-focus="credentials.passwordchange=false"
               ng-model="credentials.password"
               onpaste="return false;"
               required
               ng-pattern="/^[\@A-Za-z0-9\!\#\$\%\^\&\*\.\~]{6,18}$/"/>

        <p class="modal-msg text-left" style="margin: 20px 0 5px 0;font-size:14px;color:#5a6378;">
            <span class="require">确认密码</span>&nbsp;&nbsp;
            <small ng-if="credentials.cfmPasswordchange&&frm.password.$dirty && frm.cfmPassword.$error.required"
                   class="err-tip pull-right">
                <i class="fa fa-info-circle"></i>&nbsp;确认密码不能为空
            </small>
            <small ng-if="frm.cfmPassword.$dirty && credentials.password != credentials.cfmPassword" class="err-tip pull-right"><i class="fa fa-info-circle"></i>&nbsp;两次输入密码不相同</small>
        </p>
        <input name="cfmPassword"
               type="password"
               ng-blur="credentials.cfmPasswordchange=true"
               ng-focus="credentials.cfmPasswordchange=false"
               class="form-control"
               ng-model="credentials.cfmPassword" required/>

        <button class="btn btn-block btn-disabled" ng-disabled="frm.$invalid"
                ng-class="{'btn-orange':credentials.password === credentials.cfmPassword&&frm.$valid, 'btn-disabled': credentials.password !== credentials.cfmPassword||frm.$invalid}"
                ng-click="credentials.password === credentials.cfmPassword&&frm.$valid && regist()"
                style="margin: 30px 0 0 0;">
            注册
        </button>
    </form>
</div>
<style>
    .modal-default {
        margin-top: -200px;
    }
</style>

<!--<div class="modal-header">-->
    <!--<h5 class="modal-title">-->
        <!--注册-->
        <!--<a ng-click="cancel()" class="close"><span aria-hidden="true">&times;</span></a>-->
    <!--</h5>-->
<!--</div>-->
<!--<div class="modal-body" style="padding: 20px 40px 30px 40px;">-->
    <!--<p>请发送 NT 账号、邮箱名、部门名称、产品名称至邮箱 <a href="mailto:datafoundry@asiainfo.com?Subject=申请账号">datafoundry@asiainfo.com</a> 申请账号。</p>-->
<!--</div>-->
