.zhuan {
    transform-origin: 50% 50%;
    animation: rotateq 1s infinite linear;
}

@-webkit-keyframes rotateq {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

.pagination>li>a,
.pagination-sm>li>span {
    margin-left: 5px;
    border: none;
    color:#A2B0C4;
    background: #EFF2F7;
border: 1px solid #E0E6ED;
}

.pagination>li>a:hover {
    color: black;
}

.pagination>.disabled>a {
    background: #EFF2F7;
border: 1px solid #E0E6ED;
color:#A2B0C4;
}

.pagination>.disabled>a:hover {
    background: #EFF2F7;
border: 1px solid #E0E6ED;
    
}


/*����Ϊ��ʱ״̬*/

.blank_block {
    margin-bottom: 0;
}

.blank_tit {
    font-size: 14px;
    color: #5a6378;
    margin-left: 10px;
    vertical-align: middle;
}

.serv_jia_btn {
    padding-left: 15px !important;
}

.ser_drp_set {
    background-color: #47B2FB;
    width: 30px;
    border-left: 1px solid rgba(0, 0, 0, .125)
}

.quick_menu {
    min-width: 124px;
}

.quick_menu .quick_bs a {
    padding: 0px;
    width: 128px !important;
    background: #47B2FB;
    display: block;
    height: 34px !important;
    line-height: 34px !important;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    text-indent: 30px;
}

.quick_menu .quick_bs a:focus,
.quick_menu .quick_bs a:hover {
    background: #98D4FD;
    color: #fff;
}

.btn-group.open .ser_drp_set {
    width: 30px;
}

.dl-horizontal .left dt {
    text-align: left;
}

.dl-horizontal .left dd {
    text-align: left;
}


/*a {*/


/*color: #666;*/


/*}*/


/* 
a :hover {
    color: #e5993a;
}
 */

#creatbtn span {
    color: #ffffff;
}

#creatbtn i {
    color: #ffffff;
}

.nav-tabs>li.active>a {
    color: #e5993a;
}

.nav-tabs>li.active>a:focus {
    color: #e5993a;
}

tr:hover {
    background: #f5f5f5;
}

.table-bordered>tbody>tr>td {
    border-left: none !important;
    border-right: none !important;
}