
.zhuan {
    transform-origin:50% 50%;
    animation: rotate 1s infinite linear;
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

/*数据为空时状态*/
.blank_block{margin-bottom:0;}
.blank_tit{font-size:14px;color:#5a6378;margin-left:10px;vertical-align:middle;}