<div id="service">
    <div class="row">
        <div class="col-sm-6 col-xs-4">
            <a class="btn btn-green" ui-sref="console.service_create" style="margin-right:20px;">
                <i class="fa fa-plus fa-lg"></i>
                <span class="hidden-xs"> 新建服务</span>
            </a>
            <a class="btn btn-skyblue" ng-click="refresh(page)" style="height: 34px; width: 36px; padding: 5px 5px;">
                <i class="fa fa-refresh fa-lg" ng-class="{'zhuan':running}"></i>
            </a>
        </div>
        <div class="col-sm-6 col-xs-8" style="padding-left: 0;">
            <div class="pull-right">
                <div class="">
                    <div class="" style="padding-left: 0;">
                        <div class="pull-right">
                            <c-search search="search"></c-search>
                        </div>
                    </div>
                    <ul class="tip-board" ng-show="txt && showTip">
                        <li>
                            <a href="javascript:;" ng-click="search('metadata.name', txt)">
                                <div class="col-sm-4">服务名称: </div>
                                <div class="col-sm-8">{{txt}}</div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" ng-click="search('metadata.labels.build', txt)">
                                <div class="col-sm-4">label: </div>
                                <div class="col-sm-8">{{txt}}</div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" ng-click="search('route', txt)">
                                <div class="col-sm-4">路由URL: </div>
                                <div class="col-sm-8">{{txt}}</div>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="table-responsive" style="margin-top: 20px;">
        <table class="table table-hover table-default">
            <tr>
                <th style="vertical-align: middle;padding-top:13px;padding-bottom:13px;">服务名称</th>
                <th style="vertical-align: middle;padding-top:13px;padding-bottom:13px;">最近部署时间</th>
                <th style="vertical-align: middle;padding-top:13px;padding-bottom:13px;">状态</th>
                <th style="vertical-align: middle;padding-top:13px;padding-bottom:13px;">pod个数<br>正常/期望</th>
                <th style="vertical-align: middle;padding-top:13px;padding-bottom:13px;">路由URL</th>
                <th style="vertical-align: middle;padding-top:13px;padding-bottom:13px;">后端服务</th>
                <th style='text-align: left; padding-left: 17px;vertical-align: middle;padding-top:13px;padding-bottom:13px;'>操作</th>
            </tr>
            <!--<tr ng-repeat="bc in items">-->
            <tr ng-repeat="dc in items">
                <td>
                    <a class="href-orange" ui-sref="console.service_detail({name: dc.metadata.name})">
                        {{dc.metadata.name}}
                    </a>
                </td>
                <td><span uib-tooltip="{{dc.metadata.creationTimestamp  | timescon}}">{{dc.metadata.creationTimestamp | dateRelative}}</span></td>
                <td>{{dc.ismn}}</td>
                <td><span style="color: #f6a540">{{dc.rc.spec.replicas || 0}}</span>/{{dc.spec.replicas}}</td>
                <td>
                    <a class="href-orange" ng-if="dc.ismn=='正常'" href="http://{{dc.route.spec.host}}" target="_blank">{{dc.route.spec.host}}</a>
                    <a class="href-orange" style="color: #5B6177;cursor: no-drop;" ng-if="dc.ismn!=='正常'" target="_blank">{{dc.route.spec.host}}</a>
                </td>
                <td>{{dc.bsi || '未绑定'}}</td>
                <td>
                    <a class="icon25 icon25-start" ng-click="startDc($index)"  ng-if="dc.ismn=='未启动'" uib-tooltip="启动" href="javascript:;"></a>
                    <a class="icon25 icon25-stop" ng-click="stopDc($index)" ng-if="dc.ismn!='未启动'" uib-tooltip="停止" href="javascript:;"></a>
                </td>
            </tr>
        </table>
        <div class="text-right" ng-if="grid.total > 10">
            <uib-pagination class="pagination"
                            ng-model="grid.page"
                            total-items="grid.total"
                            items-per-page="grid.size"
                            class="pagination-sm"
                            boundary-links="true"
                            max-size="12"
                            rotate="true"
                            previous-text="上一页"
                            next-text="下一页"
                            first-text="首页"
                            last-text="末页">
            </uib-pagination>
        </div>
    </div>
</div>
