<div id="user">
    <uib-tabset class="tab-default">
        <uib-tab index="1">
            <uib-tab-heading>
                <i class="fa2 fa2-bs"></i>&nbsp;&nbsp;套餐管理
            </uib-tab-heading>
            <div class="row" style="margin-bottom: 30px;">
                <h5 class='col-md-12 buy'>您已订购的套餐</h5>
                <section class='col-md-12'>
                    <div class="col-md-3">
                        <figure class="plan">
                            <figcaption>计费资源</figcaption>
                            <p class=planb><span>XS高级版套餐</span></p>
                            <article>
                                <div>
                                    <div class="cpu  pull-left" style='margin-left: 5px;'>
                                        <span class="subtitle">CPU</span>
                                        <span class=peie style='margin-left: 10px;'>1X</span>
                                    </div>
                                    <div class="memory pull-right" style='margin-right: 5px;'>
                                        <span class="subtitle">内存</span>
                                        <span class=peie style='margin-left: 10px;'>2G</span>
                                    </div>

                                </div>
                            </article>
                            <div class='meiy'>
                                <span class="meiyue">
                                    ￥466/月
                                </span>
                            </div>
                            <p>还有20天到期</p>
                            <button class='btn btn-orange'>更改套餐</button>
                        </figure>
                    </div>
                    <div class="col-md-3">
                        <figure class="plan">
                            <figcaption>储存资源</figcaption>
                            <p class=planb><span>XS高级版套餐</span></p>
                            <article>
                                <div>
                                    <div class="cpu  pull-left" style='margin-left: 5px;'>
                                        <span class="subtitle">CPU</span>
                                        <span class=peie style='margin-left: 10px;'>1X</span>
                                    </div>
                                    <div class="memory pull-right" style='margin-right: 5px;'>
                                        <span class="subtitle">内存</span>
                                        <span class=peie style='margin-left: 10px;'>2G</span>
                                    </div>

                                </div>
                            </article>
                            <div class='meiy'>
                                <span class="mianfei">
                                    免费
                                </span>
                            </div>
                            <p>还有20天到期</p>
                            <button class='btn btn-orange'>更改套餐</button>
                        </figure>
                    </div>
                    <div class="col-md-3">
                        <figure class="plan">
                            <figcaption>网络资源</figcaption>
                            <div class=circle>

                            </div>
                            <p class='notbuy'>您还没有订购套餐</p>
                            <button class='btn btn-orange'>更改套餐</button>
                        </figure>
                    </div>
                    <div class="col-md-3">
                        <figure class="plan">
                            <figcaption>团队协作</figcaption>
                            <p class=planb><span>XS高级版套餐</span></p>
                            <article>
                                <div>
                                    <div class="cpu  pull-left" style='margin-left: 5px;'>
                                        <span class="subtitle">CPU</span>
                                        <span class=peie style='margin-left: 10px;'>1X</span>
                                    </div>
                                    <div class="memory pull-right" style='margin-right: 5px;'>
                                        <span class="subtitle">内存</span>
                                        <span class=peie style='margin-left: 10px;'>2G</span>
                                    </div>

                                </div>
                            </article>
                            <div class='meiy'>
                                <span class="meiyue">
                                    ￥466/月
                                </span>
                            </div>
                            <p>还有20天到期</p>
                            <button class='btn btn-orange'>更改套餐</button>
                        </figure>
                    </div>

                </section>
            </div>

        </uib-tab>
        <uib-tab index="2">
            <uib-tab-heading>
                <i class="fa2 fa2-bsi"></i>&nbsp;&nbsp;账户信息
            </uib-tab-heading>
            <div class="row" style="margin-bottom: 30px;">
                <h5 class='col-md-12 buy'>账户余额:
                    <span style='color:#F8B551'>34.54</span>元
                    <a class='btn btn-green' style='width: 45px;height: 24px;padding: 0;margin-left: 5px;'>充值</a></h5>
                <div id="tabbtn">
                <uib-tabset class="tab-default">
                    <uib-tab index="1">
                            <uib-tab-heading class='head'>
                                充值记录
                            </uib-tab-heading>
                            <!--<date-pick st="grid.st" et="grid.et"></date-pick>-->
                            <div style="margin-bottom: 15px;">
                                <div class="dropdown dropdown-select userselect" style="width: 120px;">
                                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                                        <span>{{data || '储值方式'}}</span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="javascript:;" ng-click="dc.spec.template.spec.restartPolicy = 'Always'">Always</a>
                                            <a href="javascript:;" ng-click="dc.spec.template.spec.restartPolicy = 'OnFailure'">OnFailure</a>
                                            <a href="javascript:;" ng-click="dc.spec.template.spec.restartPolicy = 'Never'">Never</a>
                                        </li>
                                    </ul>
                                </div>
                                <date-pick st="grid.st" et="grid.et"></date-pick>
                                <a style="" href="javascript:;" class="btn btn-orange search"
                                   ng-click="search()"></a>
                            </div>
                            <div>
                                <div>
                                    <div class="timeline" style="padding-top:20px;">
                                        <ul>
                                            <li>
                                                <label uib-tooltip="1111">
                                                    <span class="dot"></span>&nbsp;&nbsp;&nbsp;&nbsp;11:11
                                                </label>
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-md-4">充值金额: <b class='blod'>￥123</b></div>
                                                        <div class="col-md-4">账户余额:<b class='blod'>￥123</b></div>
                                                        <div class="col-md-4" style="text-align: right">
                                                           <span class='payway'>支付方式:<b class='blod'>支付宝</b></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <!--<c-timeline name="bcName" type="taobao"></c-timeline>-->
                            </div>
                    </uib-tab>
                    <uib-tab index="2">
                        <uib-tab-heading class='head'>
                            账单查询
                        </uib-tab-heading>
                        <div>
                            <div style="margin-bottom: 15px;">
                                <date-pick st="grid.st" et="grid.et"></date-pick>
                                <a style="" href="javascript:;" class="btn btn-orange search"
                                   ng-click="search()"></a>
                            </div>
                        </div>
                       <div class="timeline" style="padding-top:20px;">
                           <ul>
                               <li>
                                   <label uib-tooltip="账单查询">
                                       <span class="dot"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                                   </label>
                                   <div class="container-fluid">
                                        <div class="row">
                                             <div class="col-md-4">账单月:2015-2</div>
                                             <div class="col-md-4">金额:2345</div>
                                             <div class="col-md-4" style="text-align: right">
                                                 <a class="icon25 icon25-collapse" uib-tooltip="费用明细" ng-click=""  data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" href="javascript:;"></a>
                                             </div>
                                        </div>
                                   </div>
                                   <div class="container-fluid collapse" style="margin-top:30px;" id="collapseExample">
                                       <table class="table searchbill">
                                           <tr>
                                               <th style="border-top: none;">扣费时间</th>
                                               <th style="border-top: none;">套餐类别</th>
                                               <th style="border-top: none;">费用项目</th>
                                               <th style="border-top: none;">金额</th>
                                           </tr>
                                           <tr>
                                               <td>2016-2-10</td>
                                               <td>网络资源</td>
                                               <td>XL专业版</td>
                                               <td>2345</td>
                                           </tr>
                                       </table>
                                   </div>
                               </li>
                           </ul>
                       </div>
                    </uib-tab>
                </uib-tabset>
            </div>
            </div>
        </uib-tab>
        <uib-tab index="3">
            <uib-tab-heading>
                <i class="fa2 fa2-bs"></i>&nbsp;&nbsp;用户信息
            </uib-tab-heading>
        </uib-tab>
        <uib-tab index="4">
            <uib-tab-heading>
                <i class="fa2 fa2-bs"></i>&nbsp;&nbsp;组织管理
            </uib-tab-heading>
        </uib-tab>

    </uib-tabset>
</div>
<style>
    ul,li,ol{
        list-style: none;
    }
    .searchbill{
        margin-bottom: 0px;
    }


</style>

