<div class="col-sm-10 child-no-padding" style="">
    <c-checkbox checked="container.open.volment"></c-checkbox>
    <div ng-show="container.open.volment" style="margin-top:10px;">
        <div style="margin-bottom:5px;"><span>密钥卷</span></div>
        <div class="service-ctrl" style="">
            <div ng-if="container.volments.secret.length > 0" class="row" style="margin-bottom: 10px;"
                 ng-repeat="secret in container.volments.secret"
                 ng-init="innerIndex = $index">


                <div class="dropdown dropdown-select col-sm-4" style="width:167px;height: 26px;">
                    <button ng-class="{'input-error':secret.nameerr}" class="btn dropdown-toggle" data-toggle="dropdown" style="height: 26px;line-height:26px;padding: 0px 12px;">
                        <span style="color: #999999" ng-show="!secret.secretName">请选择卷名称</span>
                        <span style="color: #333333;display: inline-block;width: 135px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;" ng-show="secret.secretName">{{secret.secretName}}</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu"
                        style="max-height: 250px;overflow-y:auto;width:167px;;border-color: #c9c9c9">
                        <li ng-repeat="Sec in SecretList" style="font-size: 12px;line-height: 26px;"
                            ng-click="secret.secretName=Sec.metadata.name">
                            <a href="javascript:;">{{Sec.metadata.name}}</a>

                        </li>
                    </ul>

                </div>
                <div class="envlist col-sm-4" style="width:167px;height: 26px;margin-left:20px;">
                    <input ng-class="{'input-error':secret.mountPatherr}" type="text" ng-model="secret.mountPath" placeholder="请填写挂载路径"
                           style="line-height:24px;border-radius: 4px; width: 167px;padding: 0px 12px;height:26px;">

                </div>
                <div class="envlist col-sm-4" style="padding-left:15px;">
                    <a href="javascript:;" style='color: #9fa7b7;margin-top:10px;'
                       ng-click="delconvol(outerIndex,$index,'secret')"
                       class="fa fa-lg fa-times-circle">
                    </a>
                </div>
            </div>
            <div class="" ng-click="addconvol(outerIndex,'secret','secretName')"
                 style="cursor: pointer;margin-top: 3px; font-size: 12px;margin-bottom: 15px;">
                <i class="fa fa-plus-circle fa-lg uex-icon-add" style="cursor:pointer;margin-top:5px;color: #47B2FB;"></i>
                &nbsp;<span style="color: #47B2FB;">增加密钥卷</span>
            </div>
        </div>
        <div style="margin-bottom:5px;"><span>配置卷</span></div>
        <div class="service-ctrl" style="">
            <div ng-if="container.volments.configMap.length > 0" class="row" style="margin-bottom: 10px;"
                 ng-repeat="config in container.volments.configMap"
                 ng-init="innerIndex = $index">

                <div class="dropdown dropdown-select col-sm-4" style="width:167px;height: 26px;">
                    <button  ng-class="{'input-error':config.nameerr}" class="btn dropdown-toggle" data-toggle="dropdown" style="height: 26px;line-height:26px;padding:0px 12px;">

                        <span style="color: #999999" ng-show="!config.name">请选择卷名称</span>
                        <span style="color: #333333;display: inline-block;width: 135px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;" ng-show="config.name">{{config.name}}</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu"
                        style="max-height: 250px;overflow-y:auto;min-width:167px;;border-color: #c9c9c9">
                        <li ng-repeat="con in ConfigMapList" style="font-size: 12px;line-height: 26px;"
                            ng-click="config.name=con.metadata.name">
                            <a href="javascript:;">{{con.metadata.name}}</a>
                        </li>
                    </ul>
                </div>


                <div class="envlist col-sm-4" style="width:167px;height: 26px;margin-left:20px;">
                    <input  ng-class="{'input-error':config.mountPatherr}" type="text" ng-model="config.mountPath" placeholder="请填写挂载路径"
                            style="line-height:24px;border-radius: 4px; width: 167px; padding: 0px 12px;height:26px;">
                </div>

                <div class="envlist col-sm-4" style="padding-left:15px">
                    <a href="javascript:;" style='color: #9fa7b7;margin-top:10px;'
                       ng-click="delconvol(outerIndex,$index,'configMap')"
                       class="fa fa-lg fa-times-circle">
                    </a>
                </div>
            </div>
            <div class="" ng-click="addconvol(outerIndex,'configMap','name')"
                 style="cursor: pointer;margin-top: 3px; font-size: 12px;margin-bottom: 15px;">
                <i class="fa fa-plus-circle fa-lg uex-icon-add" style="cursor:pointer;margin-top:5px;color: #47B2FB;"></i>
                &nbsp;<span style="color: #47B2FB;">增加配置卷</span>
            </div>
        </div>
        <div style="margin-bottom:5px;"><span>存储卷</span></div>
        <div class="service-ctrl" style="">
            <div ng-if="container.volments.persistentVolumeClaim.length > 0" class="row" style="margin-bottom: 10px;"
                 ng-repeat="persistentVolume in container.volments.persistentVolumeClaim"
                 ng-init="innerIndex = $index">

                <div class="dropdown dropdown-select col-sm-4" style="width:167px;height: 26px;">
                    <button  ng-class="{'input-error':persistentVolume.nameerr}" class="btn dropdown-toggle" data-toggle="dropdown" style="height: 26px;line-height:26px;padding: 0px 12px;">
                        <span style="color: #999999" ng-show="!persistentVolume.claimName">请选择卷名称</span>
                        <span style="color: #333333;display: inline-block;width: 135px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;" ng-show="persistentVolume.claimName">{{persistentVolume.claimName}}</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu"
                        style="max-height: 250px;overflow-y:auto;min-width:167px;;border-color: #c9c9c9">
                        <li ng-repeat="Persistent in PersistentVolumeClaimList" style="font-size: 12px;"
                            ng-click="persistentVolume.claimName=Persistent.metadata.name">
                            <a href="javascript:;">{{Persistent.metadata.name}}</a>
                        </li>
                    </ul>
                </div>
                <div class="envlist col-sm-4" style="width:167px;height: 26px;margin-left:20px;">
                    <input ng-class="{'input-error':persistentVolume.mountPatherr}" type="text" ng-model="persistentVolume.mountPath" placeholder="请填写挂载路径"
                           style="line-height:24px;border-radius: 4px; width: 167px;padding: 0px 12px;height:26px;">
                </div>
                <div class="envlist col-sm-4" style="padding-left:15px;">
                    <a href="javascript:;" style='color: #9fa7b7;margin-top:10px;'
                       ng-click="delconvol(outerIndex,$index,'persistentVolumeClaim')"
                       class="fa fa-lg fa-times-circle">
                    </a>
                </div>
            </div>
            <div class="" ng-click="addconvol(outerIndex,'persistentVolumeClaim','claimName')"
                 style="cursor: pointer;margin-top: 3px; font-size: 12px;margin-bottom: 15px;">
                <i class="fa fa-plus-circle fa-lg uex-icon-add" style="cursor:pointer;margin-top:5px;color: #47B2FB;"></i>
                &nbsp;<span style="color: #47B2FB;">增加存储卷</span>
            </div>
        </div>
        <div ng-if="container.emptyDir.length>0"><span>emptyDir</span></div>
        <div class="service-ctrl" style="">
            <div style="margin-bottom: 10px;"
                 ng-repeat="empty in container.emptyDir"
                 ng-init="innerIndex = $index">

                <div class="dropdown dropdown-select" style="min-width:300px;height: 32px;">
                    <button class="btn dropdown-toggle"  style="height: 26px;background-color:#EFF2F7;">
                        {{empty.name}}
                    </button>
                </div>

                <div class="envlist" style="width: 20px;">

                </div>
                <div class="envlist">
                    <!--<span style="margin-right:12px;padding-right:0;">值</span>-->
                    <input  type="text" ng-model="empty.mountPath" placeholder="挂载路径" ng-disabled="true"
                            style="width: 300px;;height: 32px;padding:6px 12px;background-color:#EFF2F7;">
                </div>
                <div class="envlist" style="width: 13px;">

                </div>
                <div class="envlist" style="padding-left:0;">
                    <a href="javascript:;" style='color: #9fa7b7;'
                       ng-click="delempty(outerIndex,$index)"
                       class="fa fa-lg fa-times-circle">
                    </a>
                </div>

            </div>

        </div>
    </div>
</div>