<div class="col-sm-10 child-no-padding">
    <c-checkbox checked="quota.rubustCheck"></c-checkbox>
    <div style="width: 100%;overflow: hidden;">
        <p>密钥卷</p>
        <div class="col-sm-5">
            <div class="dropdown dropdown-select" style="width: 100%;">
                <button  class="btn dropdown-toggle" data-toggle="dropdown" style="height: 34px;">
                    <span>{{checked.image}}</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu"
                    style="max-height: 156px; min-width: 156px;margin-top: -1px;overflow-y: auto">
                    <li ng-repeat="image in imageslist" style="height: 34px;font-size: 12px;">
                        <a href="javascript:;" style="" ng-click="checkedimage(image)">{{image.metadata.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-5">
            <input type="text" class="form-control" placeholder="">
        </div>
        <div class="col-sm-1" style="text-align: right">
            <a class="fa fa-times-circle fa-lg del-margin" style="text-decoration: none;color: #9fa7b7;" href="javascript:;"></a>
        </div>
    </div>
    <div>
        <a href="javascript:;" style="line-height: 40px; margin-bottom: 10px" class="href-add" ng-click="">
            <i class="fa fa-plus-circle fa-lg"></i>&nbsp;&nbsp;<span style="font-size: 12px">增加密钥卷</span>
        </a>
    </div>
    <div style="width: 100%;overflow: hidden;">
        <p>配置卷</p>
        <div class="col-sm-5">
            <div class="dropdown dropdown-select" style="width: 100%;">
                <button  class="btn dropdown-toggle" data-toggle="dropdown" style="height: 34px;">
                    <span>{{checked.image}}</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu"
                    style="max-height: 156px; min-width: 156px;margin-top: -1px;overflow-y: auto">
                    <li ng-repeat="image in imageslist" style="height: 34px;font-size: 12px;">
                        <a href="javascript:;" style="" ng-click="checkedimage(image)">{{image.metadata.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-5">
            <input type="text" class="form-control" placeholder="">
        </div>
        <div class="col-sm-1" style="text-align: right">
            <a class="fa fa-times-circle fa-lg del-margin" style="text-decoration: none;color: #9fa7b7;" href="javascript:;"></a>
        </div>
    </div>
    <div>
        <a href="javascript:;" style="line-height: 40px; margin-bottom: 10px" class="href-add" ng-click="">
            <i class="fa fa-plus-circle fa-lg"></i>&nbsp;&nbsp;<span style="font-size: 12px">增加配置卷</span>
        </a>
    </div>
    <div style="width: 100%;overflow: hidden;">
        <p>存储卷</p>
        <div class="col-sm-5">
            <div class="dropdown dropdown-select" style="width: 100%;">
                <button  class="btn dropdown-toggle" data-toggle="dropdown" style="height: 34px;">
                    <span>{{checked.image}}</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu"
                    style="max-height: 156px; min-width: 156px;margin-top: -1px;overflow-y: auto">
                    <li ng-repeat="image in imageslist" style="height: 34px;font-size: 12px;">
                        <a href="javascript:;" style="" ng-click="checkedimage(image)">{{image.metadata.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-5">
            <input type="text" class="form-control" placeholder="">
        </div>
        <div class="col-sm-1" style="text-align: right">
            <a class="fa fa-times-circle fa-lg del-margin" style="text-decoration: none;color: #9fa7b7;" href="javascript:;"></a>
        </div>
    </div>
    <div>
        <a href="javascript:;" style="line-height: 40px; margin-bottom: 10px" class="href-add" ng-click="">
            <i class="fa fa-plus-circle fa-lg"></i>&nbsp;&nbsp;<span style="font-size: 12px">增加储存卷</span>
        </a>
    </div>
</div>