<div class="row chang-image-box" style="margin:0;margin-top:20px;">
    <div class="col-md-2" style="width: 120px;">
        <h3 class="require" style="font-weight:normal;font-size:12px;margin:0px;">镜像地址</h3>
    </div>
    <div class="col-md-10 create_deploy_nanji" style="position: relative">
        <span ng-if="containersImagesIsNull" class="fa fa-info-circle err-tip err" style="position: absolute;left: 195px;top:7px;">请选择镜像</span>
        <uib-tabset class="tab-default" active="checkimage">
            <uib-tab index="1" select="imageTopC(1)">
                <uib-tab-heading>
                    <!-- <i class="myimage"></i>&nbsp;&nbsp; -->

                    构建镜像
                </uib-tab-heading>
                <div class="input-group divradio">
                    <div>
                        <div style="min-width: 156px;margin-bottom:5px;margin-right: 47px;display: inline-block;">image stream</div>
                        <div style="min-width: 156px;margin-bottom:5px;display: inline-block;">标签</div>
                    </div>
                    <div>
                        <div class="dropdown dropdown-select" style="min-width: 167px;height: 26px;margin-right: 36px;">
                            <button  class="btn dropdown-toggle" data-toggle="dropdown" style="height: 26px;padding: 0px 12px;">
                                <span>{{checked.image}}</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu"
                                style="max-height: 100px; min-width: 167px;margin-top: -1px;overflow-y: auto">
                                <li ng-repeat="image in imageslist" style="height: 26px;font-size: 12px;">
                                    <a href="javascript:;" style="" ng-click="checkedimage(image)">{{image.metadata.name}}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="dropdown dropdown-select" style="min-width: 167px;height: 26px;">
                            <button  class="btn dropdown-toggle" data-toggle="dropdown" style="height: 26px;padding: 0px 12px;"
                            >
                                <span>{{checked.tag}}</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu"
                                style="max-height: 100px; min-width: 167px;margin-top: -1px;overflow-y: auto">
                                <li ng-repeat="tag in tagslist">
                                    <a href="javascript:;" ng-click="checkedtag(tag)">{{tag.name}}</a>

                                </li>
                            </ul>
                        </div>
                    </div>


                </div>

            </uib-tab>
            <uib-tab index="2" select="imageTopC(2)">
                <uib-tab-heading>
                    <!-- <i class="myimage"></i>&nbsp;&nbsp; -->
                    镜像地址
                </uib-tab-heading>
                <div class="row" style="">
                    <div class="col-md-10" style="padding: 0px; ">

                        <input autocomplete="off" type="text"
                               name="serviceName"
                               ng-model="postobj.spec.images[0].from.name"
                               class="form-control"
                               style="float:left;width:320px ; height: 26px;"
                               type="text" name="name"
                               ng-keyup="myKeyup($event)"
                               placeholder="例如：nginx">
                        <span class="input-group-btn" style="position: relative;border-radius: 4px;">
                                                        <a class="btn" style="margin-top:3px;margin-left:7px;background-size: contain;" ng-click="find()"></a>
                                                    </span>
                        <p style="margin: 0px;padding-top: 0px;">
                            <small ng-show="err.url.null" class="fa fa-info-circle err-tip">请输入正确的镜像地址</small>
                            <small ng-show="err.url.notfind" class="fa fa-info-circle err-tip">找不到镜像</small>
                            <small ng-show="err.url.role" class="fa fa-info-circle err-tip">没有访问权限</small>
                        </p>
                        <div style="height: 24px;margin-top: 5px;">
                            <p  style="margin:0px;">
                                <label ng-class="{'active':institution.configregistry}"
                                       ng-click="institution.configregistry=!institution.configregistry"
                                       style="cursor: pointer;">
                                    <i class="faa faa-check"></i>

                                </label>
                                <span>
                                                            remote registry is insecure
                                                        </span>
                            </p>

                        </div>


                    </div>

                </div>
            </uib-tab>
        </uib-tabset>
        <div class="row" >
            <div class="" style="height: 60px;border: 1px solid #CCD5E0;border-radius: 4px;width: 375px;" ng-show="dc.spec.template.spec.containers[0].name && dc.spec.template.spec.containers[0].creattime">
                <div class="col-md-2" style="height: 60px;text-align: center;padding: 0px;">
                    <span style="display: inline-block;width: 40px;height: 40px;margin-top:10px;border-radius: 4px;position:relative;">
                            <svg viewBox="0 0 64 64" style="width:40px;height:40px;fill:#A2B0C4;position:absolute;left:50%;top:50%;margin-left:-20px;margin-top:-20px;"><path d="M26.49,15.76l.1,0-16.13-5a2.77,2.77,0,0,0-.56-.05,2.7,2.7,0,0,0-2.7,2.7V52a2.7,2.7,0,0,0,2.7,2.71,3.36,3.36,0,0,0,.56-.05L27,49.5a3.37,3.37,0,0,0,1.83-3V19A3.39,3.39,0,0,0,26.49,15.76ZM24.77,45.32l-13.51,3.6V16.49l13.51,3.6ZM53.14,10.69a3.36,3.36,0,0,0-.56.05l-15.94,5h.05A3.38,3.38,0,0,0,34.21,19V46.49a3.38,3.38,0,0,0,1.83,3l16.52,5.16a2.83,2.83,0,0,0,.57.05A2.7,2.7,0,0,0,55.83,52V13.4a2.69,2.69,0,0,0-2.69-2.7Z"/></svg>
                    </span>
                </div>
                <div class="col-md-10" style="padding-left: 0px;">
                     <p style="margin:0px;height: 24px;line-height: 24px;font-weight: bold;margin-top:5px;">{{dc.spec.template.spec.containers[0].name}}</p>
                     <div class="row">
                         <div class="col-md-6" style="padding:0px;"><span class="service-label-color">创建时间：</span>{{dc.spec.template.spec.containers[0].creattime|timescon3}}</div>
                         <div class="col-md-6" style="padding:0px;"><span class="service-label-color">导出端口：</span>{{dc.spec.template.spec.containers[0].firstStrPort || "-"}}</div>
                     </div>
                </div>
            </div>
        </div>
    </div>

</div>