<div ng-repeat="container in dc.spec.template.spec.containers" ng-init="outerIndex = $index"
     style="border:1px solid #c9c9c9;border-radius:2px;margin-bottom: 10px; margin-top: 10px"; class="containerval">
    <div class="container-fluid container-bar" style="border: none;background: #f7f8fb;padding:0px;">
        <div class="row" style="height: 30px;line-height: 30px;background: #EFF2F7;padding:0px;">
            <div class="col-sm-6" style="padding-left:15px;">
                容器: <span style="color: #00262D;padding-left: 10px;">{{container.name}}</span>
            </div>
            <div class="col-sm-6 text-right" style="padding-right: 0px;">
                <span class="df_jx_set" style="float: right;margin-left: 22px;" ng-click="pickdown(outerIndex)" >
                        <i class="uex-icon-arrow-up" ng-if="container.retract"></i>
                        <i class="uex-icon-arrow-down" ng-if="!container.retract"></i>
                </span>
                <a class="fa fa-lg" ng-if="dc.spec.template.spec.containers.length>1" ng-click="rmContainer(outerIndex)"
                   style="text-decoration: none;color: #9fa7b7;" href="javascript:;">
                    <i class="uex-icon-cross"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="container-box" style="margin-bottom: 0;margin-top:20px;" ng-show="container.retract">
        <div class="row" ng-if="outerIndex == 0">
            <div class="col-sm-2" style="width: 105px;">镜像</div>
            <div  class="col-sm-10" style="width: 362px;height: 60px;">
                <div class="row" style="border: 1px solid #CCD5E0;border-radius: 4px;">
                    <div class="col-sm-2" style="height: 60px;text-align: center;padding: 0px;">
                            <span style="display: inline-block;width: 40px;height: 40px;margin-top:10px;border-radius: 4px;position:relative;">
                                    <svg viewBox="0 0 64 64" style="width:40px;height:40px;fill:#A2B0C4;position:absolute;left:50%;top:50%;margin-left:-20px;margin-top:-20px;"><path d="M26.49,15.76l.1,0-16.13-5a2.77,2.77,0,0,0-.56-.05,2.7,2.7,0,0,0-2.7,2.7V52a2.7,2.7,0,0,0,2.7,2.71,3.36,3.36,0,0,0,.56-.05L27,49.5a3.37,3.37,0,0,0,1.83-3V19A3.39,3.39,0,0,0,26.49,15.76ZM24.77,45.32l-13.51,3.6V16.49l13.51,3.6ZM53.14,10.69a3.36,3.36,0,0,0-.56.05l-15.94,5h.05A3.38,3.38,0,0,0,34.21,19V46.49a3.38,3.38,0,0,0,1.83,3l16.52,5.16a2.83,2.83,0,0,0,.57.05A2.7,2.7,0,0,0,55.83,52V13.4a2.69,2.69,0,0,0-2.69-2.7Z"/></svg>
                            </span>
                    </div>
                    <div class="col-sm-10" style="padding:0;">
                        <p style="line-height: 24px;height: 24px;margin-bottom: 0px;margin-top: 7px;">{{container.name}} <span ng-click="selectImage(outerIndex)" style="float: right;color: #47B2FB;cursor:pointer;margin-right: 10px;">更改镜像</span></p>
                        <div style="padding-bottom: 8px;">
                            <span class="service-label-color">创建时间:</span>{{container.creattime|dateRelative}}
                            <span class="service-label-color" style="margin-left:15px;">导出端口:</span>{{container.firstStrPort || "-"}}
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="row"  ng-if="outerIndex != 0 && !container.name">
            <div class="col-sm-2" style="width: 105px;">镜像</div>
            <div  class="col-sm-10" style="">
                <div class="row" style="border: 1px solid #CCD5E0;border-radius: 4px;width: 362px;height: 60px;line-height: 60px; text-align: center">
                    <span ng-click="selectImage(outerIndex)" style="color: #47B2FB;cursor:pointer;line-height: 60px;text-align: center">更改镜像</span>
                </div>
            </div>
        </div>
        <div class="row"  ng-if="outerIndex != 0 && container.name">
            <div class="col-sm-2" style="width: 105px;">镜像</div>
            <div  class="col-sm-10" style="width: 362px;height: 60px;">
                <div class="row" style="border: 1px solid #CCD5E0;border-radius: 4px;">
                    <div class="col-sm-2" style="height: 60px;text-align: center;padding: 0px;">
                            <span style="display: inline-block;width: 40px;height: 40px;margin-top:10px;border-radius: 4px;position:relative;">
                                    <svg viewBox="0 0 64 64" style="width:40px;height:40px;fill:#A2B0C4;position:absolute;left:50%;top:50%;margin-left:-20px;margin-top:-20px;"><path d="M26.49,15.76l.1,0-16.13-5a2.77,2.77,0,0,0-.56-.05,2.7,2.7,0,0,0-2.7,2.7V52a2.7,2.7,0,0,0,2.7,2.71,3.36,3.36,0,0,0,.56-.05L27,49.5a3.37,3.37,0,0,0,1.83-3V19A3.39,3.39,0,0,0,26.49,15.76ZM24.77,45.32l-13.51,3.6V16.49l13.51,3.6ZM53.14,10.69a3.36,3.36,0,0,0-.56.05l-15.94,5h.05A3.38,3.38,0,0,0,34.21,19V46.49a3.38,3.38,0,0,0,1.83,3l16.52,5.16a2.83,2.83,0,0,0,.57.05A2.7,2.7,0,0,0,55.83,52V13.4a2.69,2.69,0,0,0-2.69-2.7Z"/></svg>
                            </span>
                    </div>
                    <div class="col-sm-10">
                        <p style="line-height: 24px;height: 24px;margin-bottom: 0px;margin-top: 7px;"><span style="font-weight: bold;">{{container.name}}</span> <span ng-click="selectImage(outerIndex)" style="float: right;color: #47B2FB;cursor:pointer;margin-right: 10px;">更改镜像</span></p>
                        <div style="padding-bottom: 8px;">
                            <span class="service-label-color">创建时间:</span>{{container.creattime|dateRelative}}
                            <span class="service-label-color" style="margin-left:15px;">导出端口:</span>{{container.strport || "-"}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="col-sm-2" style="width: 105px;">容器名称：</div>
            <div class="col-sm-10"><input class="form-control service-input-style" ng-model="container.name" type="text" placeholder="请输入容器名称" ></div>
        </div>
        <div class="row" style="margin-top:20px;" ng-show="container.annotate.ismy">
            <div class="col-sm-2" style="width: 105px;">部署执行</div>
            <div class="col-sm-10">
                <p  style="margin:0px;">
                    <label ng-class="{'active':container.imageChange}"
                           ng-click="container.imageChange=!container.imageChange"
                           style="cursor: pointer;">
                        <i class="faa faa-check"></i>
                    </label>
                                        <span>
                                          镜像变化触发自动部署
                                     </span>
                </p>
            </div>
        </div>
        <div class="row" style="margin-top:20px">
            <div class="col-sm-2" style="width: 105px;">挂载卷</div>
            <add-secrets></add-secrets>
        </div>
        <div class="row" style="margin-top:20px;padding-bottom: 20px;">
            <div class="col-sm-2" style="width: 105px;">环境变量</div>
            <div class="col-sm-10 child-no-padding" >
                <div  class="col-sm-12" ng-repeat="env in container.env.envArr" style="padding-bottom: 10px;">
                    <div class="col-sm-5 service-small-input">
                        <input ng-model="env.name" class="form-control service-small-input" type="text" placeholder="请输入“键”">
                    </div>
                    <div class="col-sm-5 service-small-input" style="margin-left:20px;">
                        <input ng-model="env.value" class="form-control service-small-input" type="text" placeholder="请输入“值”"></div>
                    <div class="col-sm-1" style="padding-left:15px">
                        <a ng-if="container.env.envArr.length>1" class="fa fa-times-circle fa-lg del-margin" ng-click="delenv(container,$index)" style="text-decoration: none;color: #9fa7b7;" href="javascript:;"></a>
                    </div>
                </div>
                <div  class="col-sm-12" ng-repeat="form in container.env.valueFromArr" ng-init="enterIndex = $index" style="padding-bottom: 10px;">
                    <div class="col-sm-3 service-small-input">
                        <input ng-model="form.name" class="form-control service-small-input" type="text" placeholder="请输入“键”">
                    </div>
                    <div class="col-sm-4 service-small-input" style="margin-left:20px;">
                        <div class="dropdown dropdown-select col-sm-4" style="width:167px;height: 26px;">
                            <button class="btn dropdown-toggle" data-toggle="dropdown" style="height: 26px;line-height:26px;padding: 0px 12px;">
                                <span style="color: #333333;display: inline-block;width: 135px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;" ng-show="form.valueFrom.secretKeyRef.name || form.valueFrom.configMapKeyRef.name">{{form.valueFrom.secretKeyRef.name || form.valueFrom.configMapKeyRef.name}}</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu"
                                style="max-height: 250px;overflow-y:auto;width:167px;;border-color: #c9c9c9">
                                <li ng-repeat="list in envAllList" style="font-size: 12px;line-height: 26px;"
                                    ng-click="changeEnvSectrt(container,list,enterIndex)">
                                    <a href="javascript:;">{{list.metadata.name}}</a>

                                </li>
                            </ul>

                        </div>
                     </div>
                    <div class="col-sm-4 service-small-input" style="margin-left:20px;">
                        <div class="dropdown dropdown-select col-sm-4" style="width:167px;height: 26px;">
                            <button class="btn dropdown-toggle" data-toggle="dropdown" style="height: 26px;line-height:26px;padding: 0px 12px;">
                                <span style="color: #333333;display: inline-block;width: 135px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;" ng-show="form.valueFrom.secretKeyRef.key || form.valueFrom.configMapKeyRef.key">{{form.valueFrom.secretKeyRef.key || form.valueFrom.configMapKeyRef.key}}</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu"
                                style="max-height: 250px;overflow-y:auto;width:167px;;border-color: #c9c9c9">
                                <li ng-repeat="(key, val) in secretsListData" style="font-size: 12px;line-height: 26px;"
                                    ng-click="changeEnvData(container,key,enterIndex)">
                                    <a href="javascript:;">{{key}}</a>

                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-sm-1" style="padding-left:15px">
                        <a ng-if="container.env.valueFromArr.length>1" class="fa fa-times-circle fa-lg del-margin" ng-click="delenvSecret(container,$index)" style="text-decoration: none;color: #9fa7b7;" href="javascript:;"></a>
                    </div>
                </div>

                <div class="col-sm-12">
                    <a href="javascript:;" style="margin-bottom: 10px" class="href-add" ng-click="addenv(container)">
                        <i class="fa fa-plus-circle fa-lg uex-icon-add" style="margin-top:5px;"></i>&nbsp;&nbsp;<span style="font-size: 12px">增加环境变量</span>
                    </a>
                    <a href="javascript:;" style="margin-bottom: 10px" class="href-add" ng-click="addenvSecret(container)">
                        <i class="fa fa-plus-circle fa-lg uex-icon-add" style="margin-top:5px;"></i>&nbsp;&nbsp;<span style="font-size: 12px">添加挂载卷</span>
                    </a>
                </div>
            </div>
        </div>
        <div  class="row" style="padding-bottom: 20px;">
            <div class="col-sm-2" style="width: 105px;">配额限制</div>
            <set-quota></set-quota>
        </div>
        <div  class="row" style="padding-bottom: 20px;">
            <div class="col-sm-2" style="width: 105px;">健康检查</div>
            <container-liveness-check></container-liveness-check>

        </div>
        <div  class="row" style="padding-bottom: 20px;">
            <div class="col-sm-2" style="width: 105px;">就绪检查</div>
            <container-readiness-check></container-readiness-check>

        </div>
        <div class="row" style="padding-bottom: 20px;">
            <div class="col-sm-2" style="width: 105px;">ENTRYPOINT</div>
            <div class="col-sm-10 " >
                <input class="form-control" style="width: 354px;" ng-model="container.entrypoint" type="text" placeholder="(default)">
            </div>
        </div>
        <div class="row" style="padding-bottom: 20px">
            <div class="col-sm-2" style="width: 105px;">CMD</div>
            <div class="col-sm-10 ">
                <input class="form-control" style="width: 354px;" ng-model="container.cmd" type="text" placeholder="(default)">
            </div>
        </div>

    </div>
</div>