<div class="col-sm-10" style="">
    <c-checkbox checked="container.open.resources"></c-checkbox>
    <div ng-show="container.open.resources">
        <div class="col-md-12" style="padding:10px 0px 5px;">CPU</div>
        <div class="col-md-12" style="padding: 0;">
            <div class="col-md-4 quota-box-wrop"style="padding: 0;">
                <div class="">
                    
                    <input class="form-control quota-input"
                           placeholder="最小值"
                           onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9.]+/,'');}).call(this)"
                           ng-model="container.resources.requests.cpu"
                           style="display: inline-block;border-top-left-radius: 4px;border-bottom-left-radius: 4px;"
                           type="text"
                           name="num">
                    <div class="dropdown" style="display: inline-block">
                        <button class="btnout btn btn-default dropdown-toggle select quota-dropdown" style="" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {{container.resourcesunit.mincpu}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" style="min-width:80px;" aria-labelledby="dropdownMenu1">
                            <li><a style="padding:3px 10px;" ng-click="container.resourcesunit.mincpu='cores'">cores</a></li>
                            <li><a style="padding:3px 10px;" ng-click="container.resourcesunit.mincpu='millcores'">millcores</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-md-4 quota-box-wrop"style="padding: 0;margin-left: 20px;">
                <div class="">
                    <input class="form-control quota-input"
                           ng-class="{'input-error':quotaerr.cpuminbig}"
                           placeholder="最大值"
                           onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9.]+/,'');}).call(this)"
                           ng-model="container.resources.limits.cpu"
                           style="display: inline-block;border-top-left-radius: 4px;border-bottom-left-radius: 4px;"
                           type="text"
                           name="num">
                    <div class="dropdown" style="display: inline-block">
                        <button class="btnout btn btn-default dropdown-toggle select quota-dropdown"
                                style="" type="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="true">
                            {{container.resourcesunit.maxcpu}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" style="min-width:80px;" aria-labelledby="dropdownMenu1">
                            <li><a style="padding:3px 10px;" ng-click="container.resourcesunit.maxcpu='cores'">cores</a></li>
                            <li><a style="padding:3px 10px;" ng-click="container.resourcesunit.maxcpu='millcores'">millcores</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-12" style="padding:10px 0px 5px ;">MEMORRY</div>
        <div class="col-md-12" style="padding: 0;">
            <div class="col-md-4 quota-box-wrop"style="padding: 0;">
                <div class="">
                    <input class="form-control quota-input"
                           placeholder="最小值"
                           onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9.]+/,'');}).call(this)"
                           ng-model="container.resources.requests.memory"
                           style="display: inline-block;border-top-left-radius: 4px;border-bottom-left-radius: 4px;"
                           type="text"
                           name="num">
                    <div class="dropdown" style="display: inline-block">
                        <button class="btnout btn btn-default dropdown-toggle select quota-dropdown" style="" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {{container.resourcesunit.minmem}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" style="min-width: 80px;" aria-labelledby="dropdownMenu1">
                            <li>
                                <a style="padding:3px 10px;" ng-click="container.resourcesunit.minmem='MB'">MB</a>
                            </li>
                            <li>
                                <a style="padding:3px 10px;" ng-click="container.resourcesunit.minmem='GB'">GB</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 quota-box-wrop"style="padding: 0;margin-left: 20px;">
                <div class="">
                    <input class="form-control quota-input"
                           ng-class="{'input-error':quotaerr.memoryminbig}"
                           placeholder="最大值"
                           onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9.]+/,'');}).call(this)"
                           ng-model="container.resources.limits.memory"
                           style="display: inline-block;border-top-left-radius: 4px;border-bottom-left-radius: 4px;"
                           type="text"
                           name="num">
                    <div class="dropdown" style="display: inline-block">
                        <button class="btnout btn btn-default dropdown-toggle select quota-dropdown" style="" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {{container.resourcesunit.maxmem}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" style="min-width:80px;" aria-labelledby="dropdownMenu1">
                            <li><a style="padding:3px 10px;" ng-click="container.resourcesunit.maxmem='MB'">MB</a></li>
                            <li><a style="padding:3px 10px;" ng-click="container.resourcesunit.maxmem='GB'">GB</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <!--<div class="col-md-2" style="padding: 0;text-align: center;line-height: 54px;">-->

                <!--<span  >可用CPU:{{grid.cpunum}}个</span>-->
            <!--</div>-->

        </div>
    </div>
</div>