<div class="container-fluid" style="padding: 0;">
    <h4 style="margin:20px;font-size: 12px;color: #1f2d3d;">Edit &nbsp;<span>{{newData.resource.kind}}</span>&nbsp;&nbsp;{{newData.resource.metadata.name}}</h4>
    <h4 style="margin:20px;font-size: 12px" ng-if="textError">
        <small class="fa fa-info-circle err-tip">{{textErrorMessage}}</small>
    </h4>
        <form name="editor.form">
        <div ng-if="newData.resource">
            <ui-ace-yaml resource="newData.resource" ng-required="true"></ui-ace-yaml>
        </div>
        <div class="buttons gutter-bottom" style="margin: 25px;">
            <button type="submit"
                    class="btn btn-orange pull-right"
                    ng-click="cancel()"
                    style="margin-left: 20px;">
                取消
           </button>
            <!--<button type="submit"-->
                    <!--ng-click="save()"-->
                    <!--ng-disabled="editor.form.$pristine || editor.form.$invalid || resourceChanged || resourceDeleted || updatingNow"-->
                    <!--class="btn btn-orange pull-right">-->
                <!--保存-->
            <!--</button>-->
            <button type="submit"
                    ng-click="save()"
                    ng-disabled="editor.form.$pristine || editor.form.$invalid"
                    class="btn btn-orange pull-right">
                保存
            </button>
        </div>
    </form>
</div>

