<div class="resource-details" id="detail">
  <div class="row">
    <div class="col-lg-12">
      <h3 class="tit">
        Status
        <small ng-if="pod | isDebugPod">
          debugging
          <a ng-href="{{pod | debugPodSourceName | navigateResourceURL : 'Pod' : pod.metadata.namespace}}">{{pod | debugPodSourceName}}</a>
        </small>
      </h3>
      <dl class="dl-horizontal left">
        <dt>Status:</dt>
        <dd class="dl_right_tit">
          <status-icon status="pod | podStatus"></status-icon>
          {{pod | podStatus | sentenceCase}}
          <!-- {{(pod | podStartTime) | duration : (pod | podCompletionTime)}} -->
          <span ng-if="pod | podCompletionTime">, ran for  {{(pod | podStartTime) | durationtwo : (pod | podCompletionTime)}}</span>
          <span ng-if="pod.metadata.deletionTimestamp">(expires {{pod.metadata.deletionTimestamp | date : 'medium'}})</span>
        </dd>
        <dt ng-if-start="pod.status.message">Message:</dt>
        <dd ng-if-end>{{pod.status.message}}</dd>
        <dt ng-if-start="pod.metadata.labels.deploymentconfig">
          Deployment:
        </dt>
        <dd ng-if-end>
          <span id="dt_set" ui-sref="console.deploymentconfig_detail({name:pod.metadata.labels.deploymentconfig})">
            {{pod.metadata.labels.deploymentconfig}}</span>, 
          <span id="dt_set" ui-sref="console.rc({name:pod.metadata.labels.deployment})">
            #{{pod.metadata.annotations["openshift.io/deployment-config.latest-version"]}}
          </span>
          <!-- <a ng-href="{{dcName | navigateResourceURL : 'DeploymentConfig' : Pod.metadata.namespace}}">{{dcName}}</a><span ng-if="rcName">,
                <a ng-href="{{rcName | navigateResourceURL : 'ReplicationController' : Pod.metadata.namespace}}"
                  ><span ng-if="deploymentVersion">#{{deploymentVersion}}</span><span ng-if="!deploymentVersion">{{rcName}}</span></a></span> -->
        </dd>
        <dt ng-if-start="pod.metadata.labels['pod-template-hash']">
          Replica Set:
        </dt>
       
        <dd ng-if-end>
            <span id="dt_set" ui-sref="console.rs({name:pod.metadata.ownerReferences[0].name})">
            {{pod.metadata.ownerReferences[0].name}} 
            </span>
        </dd>
        <dt ng-if-start="pod.metadata.deletionTimestamp && pod.spec.terminationGracePeriodSeconds">Grace Period:</dt>
        <dd ng-if-end>

          <span ng-if="pod.spec.terminationGracePeriodSeconds < 60">
            {{pod.spec.terminationGracePeriodSeconds}} seconds
          </span>
          <span ng-if="pod.spec.terminationGracePeriodSeconds >= 60">
            {{pod.spec.terminationGracePeriodSeconds | humanizeDurationValue : 'seconds'}}
          </span>
        </dd>
        <dt>IP:</dt>
        <dd class="dl_right_tit">{{pod.status.podIP || 'unknown'}}</dd>
        <dt>Node:</dt>
        <dd class="dl_right_tit">{{pod.spec.nodeName || 'unknown'}}
          <span ng-if="pod.status.hostIP && pod.spec.nodeName != pod.status.hostIP">({{pod.status.hostIP}})</span>
        </dd>
        <dt>Restart Policy:</dt>
        <dd class="dl_right_tit">{{pod.spec.restartPolicy || 'Always'}}</dd>
        <dt ng-if-start="pod.spec.activeDeadlineSeconds">Active Deadline:</dt>
        <dd ng-if-end>

          <span ng-if="pod.spec.activeDeadlineSeconds < 60">
            {{pod.spec.activeDeadlineSeconds}} seconds
          </span>
          <span ng-if="pod.spec.activeDeadlineSeconds >= 60">
            {{pod.spec.activeDeadlineSeconds | humanizeDurationValue : 'seconds'}}
          </span>
          <!-- <span >
                  (<duration-until-now timestamp="Pod.status.startTime"></duration-until-now> elapsed)
                </span> -->
        </dd>
      </dl>
      <div>
        <container-statuses pod="pod" on-debug-terminal="debugTerminal" detailed="true"></container-statuses>
      </div>
    </div>
    <div class="col-lg-12">

      <h3 class="tit">Template</h3>
      <pod-template pod-template="pod" images-by-docker-reference="imagesByDockerReference" builds="builds" detailed="true">
      </pod-template>

      <h4 class="tit tit_vol">Volumes</h4>
      <volumes ng-if="pod.spec.volumes.length" volumes="pod.spec.volumes" namespace="project.metadata.name"></volumes>
      <div ng-if="!pod.spec.volumes.length">none</div>
      <!-- <p ng-if="dcName && ('deploymentconfigs' | canI : 'update')">
              <a ng-href="project/{{project.metadata.name}}/attach-pvc?kind=DeploymentConfig&name={{dcName}}">Add Storage to {{dcName}}</a>
              <span class="action-divider" aria-hidden="true">|</span>
              <a ng-href="project/{{project.metadata.name}}/add-config-volume?kind=DeploymentConfig&name={{dcName}}">Add Config Files to {{dcName}}</a>
            </p> -->
    </div>
  </div>
  <!-- <annotations annotations="pod.metadata.annotations"></annotations> -->
</div>