<div class="resource-details">
        <div class="row">
          <div class="col-lg-6">
            <h3>
              Status
              <small ng-if="pod | isDebugPod">
                debugging
                <a ng-href="{{pod | debugPodSourceName | navigateResourceURL : 'Pod' : pod.metadata.namespace}}">{{pod | debugPodSourceName}}</a>
              </small>
            </h3>
            <dl class="dl-horizontal left">
              <dt>Status:</dt>
              <dd>
                    <status-icon status="Pod | podStatus"></status-icon>
                     {{Pod | podStatus | sentenceCase}}
                
                <span ng-if="Pod | podCompletionTime">, ran for {{(Pod | podStartTime) | duration : (Pod | podCompletionTime)}}</span>
                <span ng-if="Pod.metadata.deletionTimestamp">(expires {{Pod.metadata.deletionTimestamp | date : 'medium'}})</span>
              </dd>
              <dt ng-if-start="Pod.status.message">Message:</dt>
              <dd ng-if-end>{{Pod.status.message}}</dd>
              <dt ng-if-start="dcName">
                Deployment:
              </dt>
              <dd ng-if-end>
                <a ng-href="{{dcName | navigateResourceURL : 'DeploymentConfig' : Pod.metadata.namespace}}">{{dcName}}</a><span ng-if="rcName">,
                <a ng-href="{{rcName | navigateResourceURL : 'ReplicationController' : Pod.metadata.namespace}}"
                  ><span ng-if="deploymentVersion">#{{deploymentVersion}}</span><span ng-if="!deploymentVersion">{{rcName}}</span></a></span>
              </dd>
              <!-- <dt ng-if-start="!dcName && controllerRef">
                {{controllerRef.kind | humanizeKind : true}}:
              </dt>
              <dd ng-if-end>
                <a ng-href="{{controllerRef.name | navigateResourceURL : controllerRef.kind : pod.metadata.namespace}}">{{controllerRef.name}}</a>
              </dd> -->
              <dt ng-if-start="Pod.metadata.deletionTimestamp && Pod.spec.terminationGracePeriodSeconds">Grace Period:</dt>
              <dd ng-if-end>
                
                <span ng-if="Pod.spec.terminationGracePeriodSeconds < 60">
                  {{pod.spec.terminationGracePeriodSeconds}} seconds
                </span>
                <span ng-if="Pod.spec.terminationGracePeriodSeconds >= 60">
                  {{pod.spec.terminationGracePeriodSeconds | humanizeDurationValue : 'seconds'}}
                </span>
              </dd>
              <dt>IP:</dt>
              <dd>{{Pod.status.podIP || 'unknown'}}</dd>
              <dt>Node:</dt>
              <dd>{{Pod.spec.nodeName || 'unknown'}} <span ng-if="pod.status.hostIP && pod.spec.nodeName != pod.status.hostIP">({{pod.status.hostIP}})</span></dd>
              <dt>Restart Policy:</dt>
              <dd>{{Pod.spec.restartPolicy || 'Always'}}</dd>
              <dt ng-if-start="Pod.spec.activeDeadlineSeconds">Active Deadline:</dt>
              <dd ng-if-end>
                
                <span ng-if="Pod.spec.activeDeadlineSeconds < 60">
                  {{Pod.spec.activeDeadlineSeconds}} seconds
                </span>
                <span ng-if="Pod.spec.activeDeadlineSeconds >= 60">
                    {{Pod.spec.activeDeadlineSeconds | humanizeDurationValue : 'seconds'}}
                  </span>
                <!-- <span >
                  (<duration-until-now timestamp="Pod.status.startTime"></duration-until-now> elapsed)
                </span> -->
              </dd>
            </dl>
            <div>
              <container-statuses
                pod="pod"
                on-debug-terminal="debugTerminal"
                detailed="true"></container-statuses>
            </div>
          </div>
          <div class="col-lg-6">
      
            <h3>Template</h3>
            <!-- <pod-template
              pod-template="pod"
              images-by-docker-reference="imagesByDockerReference"
              builds="builds"
              detailed="true">
            </pod-template> -->
      
            <h4>Volumes</h4>
            <!-- <volumes ng-if="pod.spec.volumes.length" volumes="pod.spec.volumes" namespace="project.metadata.name"></volumes> -->
            <div ng-if="!pod.spec.volumes.length">none</div>
            <!-- <p ng-if="dcName && ('deploymentconfigs' | canI : 'update')">
              <a ng-href="project/{{project.metadata.name}}/attach-pvc?kind=DeploymentConfig&name={{dcName}}">Add Storage to {{dcName}}</a>
              <span class="action-divider" aria-hidden="true">|</span>
              <a ng-href="project/{{project.metadata.name}}/add-config-volume?kind=DeploymentConfig&name={{dcName}}">Add Config Files to {{dcName}}</a>
            </p> -->
          </div>
        </div>
        <!-- <annotations annotations="pod.metadata.annotations"></annotations> -->
      </div>
      