<!-- pods详情页 -->
<div id="pods_detail">
    <p>
        <span class="pd_name">{{pod.metadata.name}}</span>
        &nbsp;&nbsp;
        <span class="pd_dt">created&nbsp;{{pod.metadata.creationTimestamp | dateRelative}}</span>
    </p>
    <uib-tabset class="tab-default tab-pods">
            <uib-tab index="1">
                <uib-tab-heading>
                    Details
                </uib-tab-heading>
                <div ng-include="'views/pods_detail/details.html'"></div>
            </uib-tab>
            <uib-tab index="2">
                <uib-tab-heading>
                    Environment
                </uib-tab-heading>
                <div ng-include="'views/pods_detail/Environment.html'"></div>
            </uib-tab>
            <uib-tab index="3">
                <uib-tab-heading>
                    Metrics
                </uib-tab-heading>
                <div ng-include="'views/pods_detail/Metrics.html'"></div>
            </uib-tab>
            <uib-tab index="4">
                <uib-tab-heading>
                    Logs
                </uib-tab-heading>
                <pod-logs  pod-name="{{pod.metadata.name}}"
                           pod-container-name="{{pod.spec.containers[0].name}}"
                           pod-resource-version="{{pod.metadata.resourceVersion}}"
                           type="pods"
                           api="k8s"
                ></pod-logs>
            </uib-tab>
            <uib-tab index="5">
                <uib-tab-heading>
                    Terminal
                </uib-tab-heading>
                <kubernetes-container-terminal pod="pod" container="pod.spec.containers[0].name" style="width:100%;">
                </kubernetes-container-terminal>
            </uib-tab>
            <uib-tab index="6">
                <uib-tab-heading>
                    Events
                </uib-tab-heading>
                <div ng-include="'views/pods_detail/pods_event.html'"></div>
            </uib-tab>
    
        </uib-tabset>

</div>