
#pods_detail .contains-actions{font-size:24px;font-weight:normal;color:#333;}
/* pods详情页选项卡设置 */
#pods_detail .tab-default li .nav-link{font-size:14px;color:#333;}
#pods_detail .tab-default li .nav-link:hover{font-size:14px;color:#333;}
#pods_detail .tab-default li.active a,
#pods_detail .tab-default li.active a:focus,
#pods_detail .tab-default li.active a:hover{border:0px;border-bottom:2px solid #F8A632;
color:#333;font-size:14px;}
#pods_detail .nav-tabs>li>a{color:#333;}
#pods_detail .nav-tabs>li>a:hover{background:none;color:#333;border-color:#fff #fff #ddd;}

#pods_detail .tab-default .nav-tabs{border-bottom:1px solid #E0E6ED;}
#pods_detail .tab-default .tab-content{border:0px;padding:20px 0px;}

#pods_detail .pd_name{font-size:24px;color:#333;}
#pods_detail .pd_dt{font-size:14px;color:#9c9c9c;}


/* detail 模块 */
#detail h2{font-size:14px;color:#000;font-weight:bold;margin:0px;margin-bottom:20px;}
#detail .list_block{height:auto;overflow:hidden;margin-bottom:14px;}
#detail .list_block .list_b_l{float:left;width:16%;}
#detail .list_block .list_b_r{float:left;width:84%;}
#detail .list_block .list_n_l{float:left;width:30%;}
#detail .list_block .list_n_r{float:left;width:70%;}
#detail .list_b_l .tit{font-size:14px;color:#666;}
#detail .list_b_r .tit{font-size:14px;color:#333;}
#detail .h_tit{font-size:14px;color:#666;}
#detail .h_tit_sm{font-size:14px;color:#666;}
#detail .redy_tit{font-size:14px;color:#9c9c9c;}

.fa-refresh:before{content:"\f021";}


/* Environment 模块 */
#Environment h2{font-size:14px;color:#000;font-weight:bold;margin:0px;margin-bottom:20px;}
#Environment .form-control{width:100%;height:27px;padding:2px 6px;background-color:#fff;border:1px solid #bbb;border-radius:1px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s}
#Environment .form-control:-ms-input-placeholder{color:#999;font-style:italic}
#Environment .form-control::-webkit-input-placeholder{color:#999;font-style:italic}
#Environment .form-control:-moz-placeholder{color:#999;font-style:italic}
#Environment .form-control::-moz-placeholder{color:#999;font-style:italic;opacity:1}
#Environment .envi_main{display:table;position:relative;table-layout:fixed;width:100%;margin-bottom:20px;}
#Environment .form_block{width:50%;float:left;padding-right:5px;}
#Environment .form-control[disabled], #Environment .form-control[readonly]{background-color:#f5f5f5;color:#8b8d8f;}

/* Metrics  模块*/
#Metrics h2{font-size:14px;color:#000;font-weight:bold;margin:0px;margin-bottom:20px;}

