 <!-- pods详情页 -->
<div id="pods_detail">
    <p>
        <span class="pd_name">{{pod.metadata.name}}</span>
        &nbsp;&nbsp;
        <span class="pd_dt">创建于&nbsp;{{pod.metadata.creationTimestamp | dateRelative}}</span>
        <a class="btn btn-gray pull-right" style="height:34px; width:36px;padding:6px;" ng-click="delete(pod.metadata.name)">
            <i class="fa fa-trash-o fa-lg"></i>
        </a>
    </p>
    <uib-tabset class="tab-default tab-pods">
            <uib-tab index="1">
                <uib-tab-heading>
                    详情
                </uib-tab-heading>
                <div ng-include="'views/pods_detail/details.html'"></div>
            </uib-tab>
            <uib-tab index="2">
                <uib-tab-heading>
                    环境变量
                </uib-tab-heading>
                <div ng-include="'views/pods_detail/Environment.html'"></div>
            </uib-tab>
            <uib-tab index="3">
                <uib-tab-heading>
                    指标
                </uib-tab-heading>
                <public-metrics conname="pod.spec.containers[0].name"
                                podid="pod.metadata.uid"
                                podname="pod.metadata.name">

                </public-metrics>
            </uib-tab>
            <uib-tab index="4">
                <uib-tab-heading>
                    日志
                </uib-tab-heading>
                <pod-logs  pod-name="{{pod.metadata.name}}"
                           pod-container="pod.spec.containers"
                           pod-resource-version="{{pod.metadata.resourceVersion}}"
                           type="pods"
                           api="k8s"
                ></pod-logs>
            </uib-tab>
            <uib-tab index="5">
                <uib-tab-heading>
                    终端
                </uib-tab-heading>
                <kubernetes-container-terminal pod-container="pod.spec.containers" pod="pod" container="pod.spec.containers[0].name" class="pod_term">
                </kubernetes-container-terminal>
            </uib-tab>
            <uib-tab index="6">
                <uib-tab-heading>
                    事件
                </uib-tab-heading>
                <deployments-event dcname="pod.metadata.name" dcfit="Pod"></deployments-event>
            </uib-tab>

        </uib-tabset>
        
</div>