<div id="rs">
    <p>
        <span class="pd_name">{{replicaSet.metadata.name}}</span>
        &nbsp;&nbsp;
        <span class="pd_dt">created&nbsp;{{replicaSet.metadata.creationTimestamp | dateRelative}}</span>
    </p>
    <uib-tabset class="tab-default tab-image-jia-defautl" active="check">
        <uib-tab index="1">
            <uib-tab-heading>
                Details
            </uib-tab-heading>
            <div>
                <div class="row matgin-txt">
                    <div class="col-md-2">Deployment:</div>
                    <div class="col-md-10">
                        <span class="jumpUrl"
                              ui-sref="console.deployment_detail({name:replicaSet.metadata.labels.app})">
                                                 {{replicaSet.metadata.labels.app}}

                        </span>
                    </div>
                </div>
                <div class="row matgin-txt">
                    <div class="col-md-2">Selectors:</div>
                    <div class="col-md-10"><span ng-repeat="(name , value) in replicaSet.spec.selector.matchLabels">{{name}}={{value}}&nbsp;&nbsp;<br/></span>
                    </div>
                </div>
                <div class="row matgin-txt">
                    <div class="col-md-2">Replicas:</div>
                    <div class="col-md-10">
                        <div>
                            <span ng-show="isShow">{{replicaSet.spec.replicas}} current / {{replicaSet.status.replicas}} desired &nbsp;&nbsp;
                            <i class="glyphicon glyphicon-pencil jumpUrl"
                               ng-click="changeScale();$event.stopPropagation();"></i>
                            </span>
                            <form ng-show="!isShow">
                                <input type="number" ng-model="iptReplicas" min="1" max="20"
                                       value={{replicaSet.status.replicas}}>
                                <i class="glyphicon glyphicon-ok" ng-click="confirm(iptReplicas)"></i>
                                <i class="glyphicon glyphicon-remove" ng-click="cancel()"></i>
                            </form>
                        </div>
                    </div>
                </div>

                <h3 class="subtitle">Template</h3>
                <pod-template
                        pod-template="replicaSet.spec.template"
                        images-by-docker-reference="imagesByDockerReference"
                        builds="builds"
                        detailed="true"
                        add-health-check-url="{{((!deploymentConfig || isActive)) ? healthCheckURL : ''}}">
                </pod-template>

                <h4 class="subtitle">Volumes</h4>
                <div ng-if="replicaSet.spec.template.spec.volumes"
                     ng-repeat="volume in replicaSet.spec.template.spec.volumes">
                    <div class="row matgin-txt">
                        <div class="col-md-2">volumeName:</div>
                        <div class="col-md-10">{{volume.name}}</div>
                    </div>
                    <div ng-if="volume.secret">
                        <div class="row matgin-txt">
                            <div class="col-md-2">Type:</div>
                            <div class="col-md-10">secret<span class="small text-muted">(populated by a secret when the pod is created)</span>
                            </div>
                        </div>
                        <div class="row matgin-txt">
                            <div class="col-md-2">Secret:</div>
                            <div class="col-md-10">{{volume.secret.secretName}}</div>
                        </div>
                        <div class="row matgin-txt" ng-repeat="item in volume.secret.items">
                            <div class="col-md-2">Key to File:</div>
                            <div class="col-md-10">{{item.key}}&#8201;&#8594;&#8201;{{item.path}}</div>
                        </div>
                    </div>
                    <div ng-if="volume.configMap">
                        <div class="row matgin-txt">
                            <div class="col-md-2">Type:</div>
                            <div class="col-md-10">config map<span
                                    class="small text-muted">((populated by a config map)</span></div>
                        </div>
                        <div class="row matgin-txt">
                            <div class="col-md-2">Secret:</div>
                            <div class="col-md-10">{{volume.configMap.name}}</div>
                        </div>
                        <div class="row matgin-txt" ng-repeat="item in volume.configMap.items">
                            <div class="col-md-2">Key to File:</div>
                            <div class="col-md-10">{{item.key}}&#8201;&#8594;&#8201;{{item.path}}</div>
                        </div>
                    </div>
                    <div ng-if="volume.persistentVolumeClaim">
                        <div class="row matgin-txt">
                            <div class="col-md-2">Type:</div>
                            <div class="col-md-10">persistent volume claim<span class="small text-muted">(reference to a persistent volume claim)</span>
                            </div>
                        </div>
                        <div class="row matgin-txt">
                            <div class="col-md-2">Claim name:</div>
                            <div class="col-md-10">{{volume.persistentVolumeClaim.claimName}}</div>
                        </div>
                        <div class="row matgin-txt">
                            <div class="col-md-2">Mode:</div>
                            <div class="col-md-10" ng-if="volume.persistentVolumeClaim.readOnly">read-only</div>
                            <div class="col-md-10" ng-if="!volume.persistentVolumeClaim.readOnly">read-write</div>
                        </div>
                    </div>

                </div>
                <div ng-if="!replicaSet.spec.template.spec.volumes" class="row matgin-txt">
                    <div class="col-md-10">none</div>
                </div>
                <h4 class="subtitle">Pods</h4>
                <div class="table-responsive" style="margin-top: 20px;">
                    <table class="table table-hover table-default">
                        <tr>
                            <th style="vertical-align: middle;padding-top:13px;padding-bottom:13px;">Name</th>
                            <th style="vertical-align: middle;padding-top:13px;padding-bottom:13px;">Status</th>
                            <th style="vertical-align: middle;padding-top:13px;padding-bottom:13px;">Containers Ready
                            </th>
                            <th style="vertical-align: middle;padding-top:13px;padding-bottom:13px;">Containers
                                Restart
                            </th>
                            <th style="vertical-align: middle;padding-top:13px;padding-bottom:13px;">Age</th>
                        </tr>
                        <tr ng-repeat="pod in replicaPods">
                            <td data-title="Name" class="poda"
                                style="white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow: hidden;display:block">
                                <!-- <a class="href-orange" ui-sref="console.service_detail({name: pod.metadata.name})">
                                    {{pod.metadata.name}}
                                </a> -->
                                <a class="href-orange" ui-sref="console.pods_detail({namespace:namespace,name: pod.metadata.name})">
                                    {{pod.metadata.name}}
                                </a>
                            </td>
                            <td data-title="Status">
                                <!-- {{pod.status}} -->
                                <status-icon status="pod | podStatus" disable-animation></status-icon>
                                <span flex>{{pod | podStatus | humanizePodStatus}}</span>
                            </td>
                            <td data-title="Ready">
                                {{pod | numContainersReady}}/{{pod.spec.containers.length}}
                            </td>
                            <td data-title="Restarts">{{pod | numContainerRestarts}}</td>
                            <td data-title="Age"><span uib-tooltip="{{pod.metadata.creationTimestamp | timescon}}">{{pod.metadata.creationTimestamp  | dateRelative}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="7" style="text-align: center;background: #fff;position:relative"
                                ng-if="items.length===0">
                                <p class="blank_block"><span class="blank_tit"> {{text}}</span></p>
                            </td>
                        </tr>
                    </table>
                    <div class="text-center" style="text-align:center;" ng-if="grid.total > 10">
                        <uib-pagination class="pagination" ng-model="grid.page" total-items="grid.total"
                                        items-per-page="grid.size"
                                        class="pagination-sm" boundary-links="false" max-size="12" rotate="true"
                                        previous-text="<"
                                        next-text=">">
                        </uib-pagination>
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="2">
            <uib-tab-heading>
                Environment
            </uib-tab-heading>
            <div id="Environment">
                <div class="detail_set">
                    <div ng-if="envOrigin.name">
                        <div class='subtit'>容器 {{envOrigin.name}} 的环境变量</div>
                        <div ng-if="envOrigin.env">
                            <div class="form_block">Name</div>
                            <div class="form_block">Value</div>
                            <div class="envi_main" ng-repeat="env in envOrigin.env">
                                <div class="form_block">
                                    <input type="text" class="form-control" readonly="readonly" value={{env.name}}>
                                </div>

                                <div class="form_block">
                                    <input type="text" class="form-control" readonly="readonly" value={{env.value}}>
                                </div>
                            </div>
                        </div>
                        <div ng-if="!envOrigin.env" class="envi_main">
                            <div class="col-md-10 tit">此容器没有设置环境变量.
                            </div>
                        </div>
                    </div>
                    <div ng-if="envProxy.name">
                        <div class='subtit'>容器 {{envProxy.name}} 的环境变量</div>
                        <div ng-if="envProxy.env">
                            <div class="form_block">Name</div>
                            <div class="form_block">Value</div>
                            <div class="envi_main" ng-repeat="envv in envProxy.env">
                                <div class="form_block">
                                    <input type="text" class="form-control" readonly="readonly" value={{envv.name}}>
                                </div>

                                <div class="form_block">
                                    <input type="text" class="form-control" readonly="readonly" value={{envv.value}}>
                                </div>
                            </div>
                        </div>
                        <div ng-if="!envProxy.env" class="envi_main">
                            <div class="col-md-10 tit">此容器没有设置环境变量.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="3">
            <uib-tab-heading>
                Metrics
            </uib-tab-heading>
            <public-metrics conname="conname"
                            podid="poduid"
                            stateful-pods="replicaPods">
            </public-metrics>
        </uib-tab>
        <uib-tab index="4">
            <uib-tab-heading>
                Events
            </uib-tab-heading>
            <deployments-event dcname="replicaSet.metadata.name" dcfit="ReplicaSet"></deployments-event>
        </uib-tab>
    </uib-tabset>
</div>