<div id="services_detail" class="df_frame">
    <div class="loader" ng-show="!service">
        <div class="loader-inner ball-clip-rotate-multiple">
            <div></div>
            <div></div>
        </div>
    </div>
    <div ng-show="service">
        <!-- <div class="panel panel-default" style="margin-bottom: 50px">
            <div class="panel-heading">
                <span class="panel-title">
                <i class="faa faa-cmd"></i>&nbsp;&nbsp;{{service.metadata.name}}-&nbsp;&nbsp;
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="media media-sm">
                            <div class="media-left">
                                <i class="faa faa-clock"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">创建时间</h4>
                                <small style="color: #5a6378;">{{service.metadata.creationTimestamp | dateRelative}}
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="media media-sm">
                            <div class="media-left">
                                <i class="faa faa-pod"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">pod个数(正常/期望)</h4>
                                <small>
                                    <span ng-repeat="pod in podsForService">
                                        <a class="href-orange"
                                           ui-sref="console.pods_detail({namespace:namespace,name: pod.metadata.name})">{{pod.metadata.name}}</a>
                                    </span>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->




        <!-- module common 公共-->
        <div class="module-heading">
                <div class="module_block_l">
                    <div class="img-block"></div>
                    <div class="img-detail">
                        <p class="img-tit">{{service.metadata.name}}</p>
                        <p class="img-time">
                            <span classs="module_tit">创建时间：</span>
                            <span class="module_time">{{service.metadata.creationTimestamp | timescon}}</span>
                        </p>
                        <p class="img-new">
                            <span class="module_tit">容器个数：</span>
                            <small>
                                    <span ng-repeat="pod in podsForService">
                                        <a class="href-orange"
                                           ui-sref="console.pods_detail({namespace:namespace,name: pod.metadata.name})">{{pod.metadata.name}}</a>
                                    </span>
                                </small>
                        </p>
                    </div>
                   

                </div>
                <div class="module_block_r">
                </div>
            </div>
            <!-- module common 公共-->

            <uib-tabset class="tab-default tab-jia-default" active="active">
                    <uib-tab index="1">
                        <uib-tab-heading>
                        地址信息
                        </uib-tab-heading>
        <!-- /middle-header-->
        <div class="middle-content" persist-tab-state>
            <div class="container-fluid" style="padding-right:0;padding-left:0">
                <div class="row" ng-if="service">
                    <div class="col-md-12">
                        <!-- <uib-tabset>
                            <uib-tab active="selectedTab.details">
                                <uib-tab-heading>Details</uib-tab-heading> -->
                        <div class="resource-details">
                                <h4 class="df_tit">概况</h4>
                            <dl class="dl-horizontal left">
                                <dt>选择器:</dt>
                                <dd>
                                    <span ng-if="!service.spec.selector"><em>none</em></span>
                                    <span ng-repeat="(selectorLabel, selectorValue) in service.spec.selector"> {{selectorLabel}}={{selectorValue}}<span
                                            ng-show="!$last">, </span></span>
                                </dd>
                                <dt>类型:</dt>
                                <dd>{{service.spec.type}}</dd>
                                <dt>IP:</dt>
                                <dd>{{service.spec.clusterIP}}</dd>
                                <dt>主机名:</dt>
                                <dd>
                                    {{service.metadata.name}}.{{service.metadata.namespace}}.svc
                                    <span data-toggle="popover" data-trigger="hover"
                                          data-content="{{'This address is only resolvable from within the cluster.'}}"
                                          style="cursor: help; padding-left: 5px;">
                          <span class="pficon pficon-info" aria-hidden="true" data-toggle="tooltip"
                                style="cursor: help;"></span>
                                    </span>
                                </dd>
                                <dt ng-if-start="service.spec.externalName">
                                    外部主机名:
                                </dt>
                               
                                <dd ng-if-end>{{service.spec.externalName}}</dd>
                                <dt style="margin-bottom:2px;text-align:left">会话亲和性:</dt>
                               
                                <dd>{{service.spec.sessionAffinity}}</dd>
                                
                                <dt style="margin-bottom:2px;text-align:left"
                                    ng-if-start="service.spec.externalIPs.length">外部 IPs:
                                </dt>
                                
                                <dd ng-if-end>
                                    <span ng-repeat="externalIP in service.spec.externalIPs">{{externalIP}}<span
                                            ng-if="!$last">, </span></span>
                                </dd>
                            </dl>
                            
                            <h4 class="df_tit">流量</h4>
                            <div>
                                <traffic-table ports-by-route="portsByRoute" routes="routesForService"
                                               services="services" show-node-ports="showNodePorts"
                                               custom-name-header="'路由'"></traffic-table>
                            </div>
                            <h4 class="df_tit">容器组</h4>
                            <div>
                                <pods-table pods="podsForService" active-pods="podsWithEndpoints"
                                            custom-name-header="'容器组'"
                                            pod-failure-reasons="podFailureReasons"></pods-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </uib-tab>
</uib-tabset>
    </div>
</div>