<div class="loading-box" ng-show='loaded'>
    <div class="loader">
        <div class="loader-inner ball-clip-rotate-multiple">
            <div></div>
            <div></div>
        </div>
    </div>
</div>
<div class="df_frame">
    <form class="form-horizontal" name="frm">
        <div class="panel panel-default">
            <div class="panel-heading" style="padding: 0;line-height: 0;">
                <span class="df_tit create_secret_tit">新建密钥卷</span>
            </div>
            <div class="panel-body ">
                <div class="row">
                    <label class="col-sm-2 require text-left create_secret_name">密钥卷名称</label>
                    <div class="col-sm-10" style="padding: 0">
                        <input type="text" name="name"
                               class="form-control create_secret_name_ipt"
                               ng-blur="nameblur()"
                               onkeypress="if((event.keyCode > 31 && event.keyCode < 44) || (event.keyCode > 46 && event.keyCode < 48) || (event.keyCode > 57 && event.keyCode < 65) || (event.keyCode > 90 && event.keyCode < 97))event.returnValue = false;"
                               ng-focus="namefocus()"
                               ng-model="secrets.metadata.name"
                               placeholder="名称只能包含小写字母">
                        <small ng-if="namerr.nil" class="fa fa-info-circle err-tip">请输入正确构建名称
                        </small>
                        <small ng-if="namerr.rexed" class="fa fa-info-circle err-tip">
                            请输入4~30位名称,名称只能包含小写英文、数字以及“-”(不能以数字开头)
                        </small>
                        <small ng-if="namerr.repeated" class="fa fa-info-circle err-tip">输入的名称已重复
                        </small>
                    </div>
                </div>
                <div class="row" style="margin-top: 28px;">
                    <label class="col-sm-2 require text-left create_secret_file">密钥卷文件</label>
                    <div class="col-sm-10 create_secret_content" ng-repeat="item in secrets.secretsarr">
                        <div style="padding: 15px;" >
                            <p class="create_secret_key">
                                <span>键</span>
                                <span ng-click="deletekv($index)" class="create_secret_delete">
                                    <i class="uex-icon-delete"></i>
                                </span>
                            </p>
                            <p class="create_secret_content_p">
                                <input class="create_secret_content_ipt" type="text" placeholder="请输入键"
                                       ng-model="item.key">
                            </p>
                            <p class="create_secret_content_p">
                                <span>值</span>
                                <span class="create_secret_add" ng-click="addFile()">
                                    <i class="uex-icon-add"></i>
                                    添加文件
                                </span>
                                <span class="create_secret_delete">清空代码</span>
                            </p>
                            <p class="create_secret_content_p">
                                <textarea ng-model="item.value" class="testt" id='sa'></textarea>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row add_file">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10" style="padding-left: 0;" ng-click="AddConfigurationFile()">
                        <span class="uex-icon-add" style="cursor:pointer;font-size: 12px;color: #47B2FB;">添加配置文件</span>
                    </div>
                </div>
            </div>
        </div>
        <div style="width: 100%;height: 1px;border: solid 1px #e0e6ed"></div>
        <a href="javascript:;" ng-if="grid.secreteno" class="btn create btn-orange"
           style="margin-top: 20px;color: white;font-size: 12px;" ng-click="postsecret()">创建密钥卷</a>
        <a href="javascript:;" ng-if="!grid.secreteno" disabled="disabled" class="btn create"
           style="background-color: #ccc; margin-top: 20px; color: white;font-size: 12px;">创建密钥卷</a>

    </form>
</div>
<style>
    .create_secret_tit {
        font-size: 12px;
        color: #1F2D3D;
        line-height: 16px;
    }

    .create_secret_name {
        color: #5a6378;
        font-size: 12px;
        text-align: left;
        font-weight: normal;
    }

    .create_secret_name_ipt {
        width: 358px;
        height: 26px;
        color: #A2B0C4;
    }

    .create_secret_file {
        margin-top: 10px;
        color: #5a6378;
        font-size: 12px;
        text-align: left;
        font-weight: normal;
    }

    .create_secret_content {
        padding: 0;
        width: 889px;
        height: 230px;
        border: solid 1px #e0e6ed;
        border-radius: 2px;
    }

    .create_secret_key {
        width: 100%;
        margin: 0;
        font-size: 12px;
    }

    .create_secret_delete {
        cursor: pointer;
        font-size: 12px;
        float: right;
        color: #47B2FB;
    }

    .create_secret_add {
        cursor: pointer;
        font-size: 12px;
        color: #47B2FB;
    }

    .create_secret_content_p {
        width: 100%;
        margin: 10px 0 0;
        font-size: 12px;
    }

    .create_secret_content_ipt {
        width: 358px;
        height: 26px;
        border-radius: 2px;
        font-size: 12px;
        color: #A2B0C4;
    }

    .uex-icon-delete:before {
        content: '\e925';
    }

    .uex-icon-add:before {
        content: '\e913';
    }

    .testt {
        font-size: 12px;
        line-height: 20px;
        background: none;
        border: none;
        color: #333333;
        height: 300px;
        word-break: break-all;
        word-wrap: break-word;
        white-space: pre-wrap;
        display: block;
        max-height: 100px;
        width: 100%;
        max-width: 100%;
        border: solid 1px #e0e6ed;
    }
</style>
