<div id="console">

    <c-header></c-header>

    <div style="width:100%;">
        <a class="navbar-toggle" data-toggle="collapse" data-target="#sidebar-container" aria-expanded="false" href="javascript:;">
            <span class="caret"></span>
        </a>
        <div ng-if="showsidebar" id="sidebar-container" style="position: fixed;left: 0;top:55px;bottom:0px;background:#F5F6F9;z-index:100;overflow-x:hidden;overflow-y: auto;
        box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.33);-webkit-box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.33);-moz-box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.33);z-index:9999;"
             class="navbar-collapse">
            <c-sidebar></c-sidebar>
        </div>

        
        <div id="sidebar-right-fixed" class="service-pad"  style="margin-left:180px;" full-height>
                <div class="bread_set" ng-if="hasBack()" add-classes-map>
                        <span class="bread_tit" add-classes-map ng-click="back()">{{console.state | stateNameFilter}}</span>
                        <span class="bread_line">/</span>
                        <span class="bread_tit_back">{{console.state | stateTitleFilter}}</span>
                        <!-- {{console.state}} -->
                </div>
            <div>
                <div ui-view></div>
            </div>

        </div>
    </div>
</div>
