#console .navbar-toggle {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    background: #efefef;
    border-radius: 0;
}

#console #sidebar-container {
    width: 180px;
    padding: 0;
    -moz-transition:all 0.3s linear;transition:all 0.3s linear;
    position:fixed;/*侧边栏固定*/
}


#console #sidebar-right-fixed {
    overflow: hidden;
    /*padding: 40px 40px;*/
    /* padding: 10px 0px;by zn for zhongxin */
    min-height: 600px;
    margin-left: 180px;
    -webkit-transition:all 0.3s linear ;-moz-transition:all 0.3s linear;transition:all 0.3s linear;
}

@media (max-width: 758px) {
    #console #sidebar-container {
        width: 100%;
    }

    #console #sidebar-right-fixed {
        overflow: hidden;
        padding: 15px;
    }
}

.bread_set{height:40px;box-shadow: 0 1px 0 0 rgba(224,230,237,0.50);line-height:40px;background:#fff;}
.bread_tit{float: left;cursor: pointer;font-size: 12px;color: #475669;margin-left:20px;}
.bread_line{float:left;color:#A2B0C4;margin-left:5px;margin-right:5px;}
.bread_tit_back{float:left;font-size: 12px;color: #A2B0C4;}