<div id="console">

    <c-header></c-header>
    <!--<div style="width: 100%;height: 55px;">-->

    <!--</div>-->
    <div style="width:100%;min-width:1290px;">
        <a class="navbar-toggle" data-toggle="collapse" data-target="#sidebar-container" aria-expanded="false" href="javascript:;">
            <span class="caret"></span>
        </a>
        <div ng-if="showsidebar" id="sidebar-container" style="position: fixed;left: 0;top:55px;bottom:0px;background:#e6e9f2;z-index:100;" class="collapse navbar-collapse">
            <c-sidebar></c-sidebar>
        </div>


        <div id="sidebar-right-fixed" class="service-pad" style="margin-left:188px;background:#fafafa;" full-height>
            <div ui-view></div>
        </div>
    </div>
</div>
<!--<script>-->
<!--$('#console').on('click','.tab-pane .text-right a',function(){-->
<!--console.log('ll');-->
<!--if(!$(this).parent().hasClass('disabled')){-->
<!--$(document.body).animate({-->
<!--scrollTop:0-->
<!--},200);-->
<!--}-->
<!--})-->
<!--</script>-->