<div class="deploy-create df_frame" style="">

    <form name="frm">
        <div class="row">
            <create-deployment></create-deployment>
            <dc-loading></dc-loading>
            <image-message></image-message>
            <dc-name></dc-name>
            <con-env></con-env>
            <dc-label></dc-label>
            <div class="col-md-12" ng-show="showall">
                <a href="javascript:;" ng-click="createDc()"
                   class="btn btn-block btn-orange"
                   style="color: white">
                    创建服务
                </a>
            </div>
        </div>
</form>
</div>