<div class="service-create" style="margin-top:-30px">

    <form name="frm">
        <div class="row">
            <div class="col-md-12 service-createlist" style="margin-top: 30px;">
                <div class="service-createheader">
                    Create deployment
                </div>
                <div class="service-createbody">
                    <div class="input-group divradio" style="margin-bottom: 30px;">
                        <label>
                            <input type="radio" class="service-createradio" name="changetype" value="1"
                                   ng-model="institution.display"
                                   ng-checked="1">
                        </label>
                        <span class="radioname">
                            镜像地址
                        </span>
                        <input autocomplete="off" type="text"
                               name="serviceName"
                               ng-disabled="institution.display==2"
                               ng-model="postobj.spec.images[0].from.name"
                               class="service-createinput"
                               type="text" name="name" class="form-control"
                               ng-keyup="myKeyup($event)"
                               placeholder="例如：nginx">
                        <!--<small ng-if="namerr.urlnull" class="fa fa-info-circle err-tip">请输入正确的镜像地址-->
                        <!--</small>-->
                        <!--<small ng-if="namerr.url" class="fa fa-info-circle err-tip">找不到镜像</small>-->
                        <!--<small ng-if="namerr.quanxian" class="fa fa-info-circle err-tip">没有访问权限-->
                        <!--</small>-->

                    </div>
                    <div class="input-group divradio">
                        <label>
                            <input type="radio" name="changetype" class="service-createradio" value="2"
                                   ng-model="institution.display">
                        </label>
                        <span class="radioname">
                            image stream
                        </span>
                        <div class="dropdown dropdown-select" style="min-width: 156px;height: 32px;margin-right: 58px;">
                            <button class="btn dropdown-toggle" data-toggle="dropdown" style="height: 34px;" ng-disabled="institution.display==1">
                                <span>{{checked.image}}</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu"
                                style="max-height: 156px; min-width: 156px;margin-top: -1px;overflow-y: auto">
                                <li ng-repeat="image in imageslist" style="height: 34px;font-size: 12px;">
                                    <a href="javascript:;" style="" ng-click="checkedimage(image)">{{image.metadata.name}}</a>
                                </li>
                            </ul>
                        </div>
                        <span class="radioname">
                            tag
                        </span>
                        <div class="dropdown dropdown-select" style="min-width: 156px;height: 32px;margin-right: 58px;">
                            <button class="btn dropdown-toggle" data-toggle="dropdown" style="height: 34px;" ng-disabled="institution.display==1">
                                <span>{{checked.tag}}</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu"
                                style="max-height: 156px; min-width: 156px;margin-top: -1px;overflow-y: auto">
                                <li ng-repeat="tag in tagslist" >
                                    <a href="javascript:;" ng-click="checkedtag(tag)">{{tag.name}}</a>

                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-12 service-createlist">
                <div class="service-createheader">
                    镜像详情
                </div>
                <div class="service-createbody">

                    <p>
                        <span>{{curl}}</span><span>&nbsp;{{creattime|dateRelative}}</span>
                    </p>
                    <p></p>
                    <p><span>{{fuwuname}}</span>&nbsp;&nbsp;导出端口&nbsp;&nbsp;{{strport || 'null'}}</p>
                    <p></p>

                </div>
            </div>
            <div class="col-md-12 service-createlist">
                <div class="service-createheader">
                    服务名称
                </div>
                <div class="service-createbody input-group">
                    <input autocomplete="off" type="text" name="serviceName" ng-model="fuwuname"
                           class="form-control service-createname"
                           onkeypress="if((event.keyCode > 31 && event.keyCode < 44) || (event.keyCode > 46 && event.keyCode < 48) || (event.keyCode > 57 && event.keyCode < 65) || (event.keyCode > 90 && event.keyCode < 97))event.returnValue = false;"
                           type="text" name="name" class="form-control">


                </div>
                <!--<small ng-if="namerr.nil" class="fa fa-info-circle err-tip">请输入正确构建名称-->
                <!--</small>-->
                <!--<small ng-if="namerr.rexed" class="fa fa-info-circle err-tip">-->
                    <!--请输入4~30位名称,名称只能包含英文、数字以及“-”-->
                <!--</small>-->
                <!--<small ng-if="namerr.repeated" class="fa fa-info-circle err-tip">输入的名称已重复-->
                <!--</small>-->
            </div>
            <div class="col-md-12 service-createlist">
                <div class="service-createheader">
                    环境变量设置
                </div>
                <div class="service-createbody">
                    <div class="envone"  ng-repeat="env in dc.spec.template.spec.containers[0].env">
                        <span class="service-createevenname">键</span>
                        <input type="text" class="service-createenv" ng-model="env.name"
                               style="width:354px;height: 32px;">
                        <span class="service-createevenname">值</span>
                        <input type="text" ng-model="env.value" style="width:354px;height: 32px;">

                            <span ng-click="delcontainerEnv($index)"
                                  class="fa fa-lg fa-times-circle"
                                  style="color: #a0a8b8;cursor: pointer;margin-left: 10px;">
                            </span>
                    </div>
                    <div ng-click="addContainerEnv()" style="margin-top: 31px;">
                        <i class="fa fa-plus-circle fa-lg" style="color: #00cc66"></i>
                        &nbsp;&nbsp;增加环境变量
                    </div>
                </div>

            </div>
            <div class="col-md-12 service-createlist">
                <div class="service-createheader">
                    labels
                </div>
                <div class="service-createbody">
                    <div  class="envone" ng-repeat="label in dc.metadata.labels">
                        <span class="service-createevenname">键</span>
                        <input ng-disabled="$index==0" type="text" class="service-createenv" ng-model="label.name"
                               style="width:354px;height: 32px;">
                        <span class="service-createevenname">值</span>
                        <input ng-disabled="$index==0"  type="text" ng-model="label.value" style="width:354px;height: 32px;">

                            <span ng-show="$index!==0"  ng-click="delcontainerlabel($index)"
                                  class="fa fa-lg fa-times-circle"
                                  style="color: #a0a8b8;cursor: pointer;margin-left: 10px;">
                            </span>
                    </div>
                    <div ng-click="addContainerlabel()" style="margin-top: 31px;">
                        <i class="fa fa-plus-circle fa-lg" style="color: #00cc66"></i>
                        &nbsp;&nbsp;增加labels
                    </div>
                </div>

            </div>
            <div class="col-md-12">
                <a href="javascript:;" ng-click="createDc()"
                   class="btn btn-block btn-orange"
                   style="color: white">
                    创建服务
                </a>
            </div>
        </div>
</form>
</div>