<div id="resource_management"class="resource_management">
    <div>
        <div class="row tool_nav" style="">
           
            <div class="search_padding_left" style="">
                        <div class="input-group col-sm-4 searchbar">
                            <input type="text" class="form-control input_placeholder"
                                   ng-model="secrets.txt"
                                   ng-keyup="scretssearch($event)"
                                   placeholder="搜索密钥卷名称" style="">
                                            <span class="input-group-btn">
                                                    <span class="df_search uex-icon-search" ng-click="scretssearch('search')">
                                                    </span>
                                                </span>

                        </div>
            </div>

            <div class="resource_secret_btn" style="float:right;">
                    <a class="btn btn-green btn-green_res" style="" ui-sref="console.create_secret({namespace:namespace})">
                        <i class="fa fa-plus fa-lg"></i>
                        <span class="hidden-xs"> 新建密钥卷</span>
                    </a>
                </div>
        </div>
        <div class="table-responsive table_mar_top" style="">
            <table class="table-hover table-default table_hover"
                   style="">
                <tr>
                    <div class="row">
                        <th class='col-lg-2 col-md-2 col-sm-1'>密钥卷名称</th>
                        <th class='col-lg-2 col-md-2 col-sm-2'>创建时间</th>
                    </div>
                </tr>
                <tr ng-repeat="items in secretitems">
                    <td class="td_borderBottom td_overflow" style="">
                        <a class="listitem" uib-tooltip="{{items.metadata.name}}" tooltip-placement="top"
                           ui-sref="console.secret_secret({namespace:namespace,name:items.metadata.name})"
                           style="">
                            {{items.metadata.name}}
                        </a>
                    </td>
                    <td class="td_borderBottom" style=""><span
                            uib-tooltip="{{items.metadata.creationTimestamp  | timescon}}">{{items.metadata.creationTimestamp | dateRelative}}</span>
                    </td>
                </tr>
                <tr>

                    <td colspan="2" class="td_borderBottom text_middlle td_background" style="" ng-if="secretitems.length===0"><p class="blank_block">  <span class="blank_tit">{{text3}}</span></p></td>

                </tr>
            </table>
        </div>
    </div>

    <div class="text-center" ng-if="secrets.total > 10" class="table_mar_top" style="">
        <uib-pagination class="pagination pagination-sm" ng-model="secrets.page" total-items="secrets.total"
                        items-per-page="secrets.size" boundary-links="false" max-size="12" rotate="true"
                        previous-text="<"
                        next-text=">">
        </uib-pagination>

    </div>
</div>